{% extends "templates/base.html" %}

{% block title %}安全启动{{ title }}{% endblock %}
{% block meta_description %}{{ meta_description }}Ubuntu Core，物联网OS，Linux操作系统，嵌入式Linux，网关，机器人，智能驾驶，snap，snapcraft{% endblock %}

{% block content %}
{% include "internet-of-things/features/secondary-nav.html" %}

<section class="p-strip--suru-topped">
    <div class="row u-equal-height">
      <div class="col-7">
        <h1>安全启动</h1>
        <p class="p-heading--4">在启动时防御安全漏洞</p>
        <p>如果计算机不受保护，则在引导过程中很容易受到攻击。内核，硬件外围设备和用户空间进程都是在引导时启动的，引导固件中的任何漏洞都可能对整个系统产生连锁效应。</p>
        <p>在启动固件受到攻击的情况下，损失是如此巨大以至于只能通过经常更换硬件，这唯一的方法来解决。在工业物联网场景中，这意味着大量的停机时间，可能需要在多个位置进行手动维护以及用于硬件更换的资本支出。这是完全不希望看到的结果。</p>
        <p>
          <a class="p-link--external" href="https://ubuntu.com/core/docs/security-and-sandboxing">了解Ubuntu Core上安全和沙箱的相关信息</a>
        </p>
      </div>
      <div class="col-5 u-hide--small u-vertically-center u-align--center">
        {{ image (
          url="https://assets.ubuntu.com/v1/6ed19d21-UC20_Secure_boot.svg",
          alt="Secure boot",
          width="190",
          height="190",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </div>
    </div>
  </section>
  
  <section class="p-strip--light">
    <div class="row u-align--center">
      {{ image (
        url="https://assets.ubuntu.com/v1/720e50fa-UC20_advanced_security_features.svg",
        alt="Advanced security features",
        width="900",
        height="264",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </section>
  
  <section class="p-strip">
    <div class="row">
      <h2>完整性验证</h2>
      <p>在用户空间进程建立信任之前，必须先验证引导固件的完整性。因此，需要一个安全机制来建立完整性。</p>
      <p>这种机制应在底层计算机初始化固件（例如UEFI）中实施，因为这样底层的引导过程完整性验证可确保设备在安全状态下启动。</p>
      <p>适用于启动完整性检测的标准要求和建议如下（<a class="p-link--external" href="https://csrc.nist.gov/publications/detail/sp/800-155/draft">NIST 800-155</a>）：</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">使端点能够在启动时检测所有可执行文件和配置元数据的完整性</li>
        <li class="p-list__item is-ticked">完整性检测传输安全</li>
        <li class="p-list__item is-ticked">提供必要的硬件支持，以实现用于完整性检测的可信信任根</li>
      </ul>
      <p>信任根是确定完整性的最关键元素。其可以通过安全元素或受信任的平台模块（TPM）在硬件中实现，或使用加密库（受信任的执行环境）在软件中进行编码。</p>
    </div>
  </section>
  
  <section class="p-strip--light">
    <div class="row u-sv3">
      <h2>Ubuntu Core上的安全启动</h2>
    </div>
    <div class="row u-vertically-center">
      <div class="p-card col-6 u-vertically-center">
        <h3 class="p-card__title">ARM和x86</h3>
        <p class="p-card__content">Ubuntu Core为其安全启动过程抽象了信任根的实现。因此，可为ARM和X86 SoC开启Ubuntu Core安全启动。</p>
      </div>
      <div class="p-card col-6 u-vertically-center">
        <h3 class="p-card__title">预认证的开发板免费</h3>
        <p class="p-card__content">安全启动已在<a class="p-link--external" href="https://certification.ubuntu.com/iot">认证的设备</a>上可用，比如树莓派，无需额外成本。在未认证的开发板上，完整的认证Ubuntu Core需要适配费用。</p>
      </div>
    </div>
  </section>
  
  <section class="p-strip">
    <div class="row">
      <h2>如何工作</h2>
      <p>Ubuntu Core 20默认对启动过程进行认证，认证基于数字签名的验证。</p>
    </div>
    <div class="row u-equal-height">
      <div class="col-8">
        <h3>信任链</h3>
        <p>引导顺序中的每个组件都以密码方式验证引导顺序中后续组件的真实性。在将每个组件加载到内存空间运行时之前，都要对其进行检测。如果检测到不正常或未签名的组件，引导过程将停止。</p>
      </div>
      <div class="col-4 u-vertically-center u-align--center u-hide--small">
        {{ image (
          url="https://assets.ubuntu.com/v1/146a6eba-2+assessment_AW.svg",
          alt="Assessment",
          width="263",
          height="150",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </div>
    </div>
    <div class="u-fixed-width">
      <hr class="p-separator" />
    </div>
    <div class="row u-equal-height">
      <div class="col-8">
        <h3>数字密钥</h3>
        <p>Ubuntu Core支持硬件和软件信任根，以实现安全启动。安全管理员可通过在安全元素，TPM设备或软件TEE中创建和存储用于验证启动顺序的数字密钥。</p>
      </div>
      <div class="col-4 u-vertically-center u-align--center u-hide--small">
        {{ image (
          url="https://assets.ubuntu.com/v1/2131b805-We+transfer+control.svg",
          alt="Transfer control",
          width="150",
          height="150",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </div>
    </div>
  </section>
  
  <section class="p-strip--light">
    <div class="row u-equal-height">
      <div class="col-5 u-align--center u-hide--small">
        {{ image (
          url="https://assets.ubuntu.com/v1/c4b290c8-Contact+us.svg",
          alt="",
          width="281",
          height="200",
          hi_def=True,
          loading="lazy"
          ) | safe
        }}
      </div>
      <div class="col-7">
        <h2>保护您的设备</h2>
        <p>与Ubuntu安全专家联系，讨论您应用程序的高级安全要求。</p>
        <p>
          <a href="/contact" class="p-button--positive js-invoke-modal">联系我们</a>
        </p>
      </div>
    </div>
  </section>


{% endblock %}