{% extends "templates/base.html" %}

{% block title %} 产品和服务 {{ title }}{% endblock %}
{% block meta_description %}{{ meta_description }}Ubuntu企业版，物联网OS，Linux企业级操作系统，Linux支持，Linux私有云，企业容器，容器方案{% endblock %}

{% block content %}
{% include "enterprise/secondary-nav.html" %}

<section class="p-strip-suru-half-top">
  <div class="row">
    <div class="col-12">
      <h1>
        Ubuntu 产品和服务
      </h1>
    </div>
  </div>
</section>

<section class="p-strip--light u-no-padding--top">
  <div class="row u-vertically-center u-pull-up--large">
    <div class="col-6">
      <h2>
        <a href="/support">
          Ubuntu企业级订阅服务&nbsp;&rsaquo;
        </a>
      </h2>
      <p>适用于企业级安全，支持和托管的开源支持服务。Ubuntu Advantage（简称<strong>“UA”</strong>）是一站式、每节点的支持方案，为最全面的企业开源基础设施和应用程序提供安全和支持服务</p>
      <p>
        <strong>想要与我们聊聊您的基础设施支持？</strong><a href="/contact">联系我们</a>
      </p>
    </div>
    <div class="col-6 u-align--center u-hide--small">
      {{ image (
      url="https://assets.ubuntu.com/v1/e9d3cf66-We+support+your+operations.svg",
      alt="",
      width="180",
      height="180",
      hi_def=True,
      loading="auto"
      ) | safe
      }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr style="margin: 0 0 3rem 0;">
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-1 u-hide--small u-vertically-center u-align--center">
      {{
      image(
      url="https://assets.ubuntu.com/v1/02611fe5-apps.svg",
      alt="ua-apps",
      width="80",
      height="50",
      hi_def=True,
      loading="auto",
      ) | safe
      }}
    </div>
    <div class="col-5 u-vertically-center">
      <h4>UA—应用程序版</h4>
      <span>对开源数据库、LMA（日志、监控、警报）、服务器和云原生应用程序的安全和支持服务。<br />
        <a href="/support#apps-support">查看支持的应用程序</a>
      </span>
    </div>
    <div class="col-1 u-hide--small u-vertically-center u-align--center">
      {{
      image(
      url="https://assets.ubuntu.com/v1/9c362815-server-icon.svg",
      alt="ua-i",
      width="60",
      height="60",
      hi_def=True,
      loading="auto",
      ) | safe
      }}
    </div>
    <div class="col-5 u-vertically-center">
      <h4>UA—基础设施版</h4>
      <span>对开源基础设施的安全和 IAAS（基础设施即服务）的支持，包括对 OpenStack、KVM、MAAS的技术支持。<br />
        <a href="/support#ua-srv">查看支持内容</a>
      </span>
    </div>
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-12">
      <h2>基础设施解决方案</h2>
    </div>
  </div>  
  <div class="row">
    <div class="col-6 u-sv3">
      <h3>
        <a href="/cloud/openstack">
          OpenStack 私有云&nbsp;&rsaquo;
        </a>
      </h3>
      <p>Canonical 是<a href="/blog/ubuntu-becomes-number-one-os-for-openstack-deployment-post-1">领先的且提供代管的 OpenStack 的提供商</a>。我们还提供企业支持、培训、咨询等服务，并且将帮助您设计和交付新的电信级私有云。</p>
    </div>
    <div class="col-6 u-sv3">
      <h3>
        <a href="/kubernetes">
          多云运营的 Kubernetes&nbsp;&rsaquo;
        </a>
      </h3>
      <p>Canonical 支持认证的公有云合作伙伴、裸机上的Kubeadm、MicroK8s 和 Charmed Kubernetes。从云到端高效的容器编排，云原生自动化框架确保开发人员生产率和业务创新。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 u-sv3">
      <h3>
        <a href="/internet-of-things">
          安全的 IoT 物联网&nbsp;&rsaquo;
        </a>
      </h3>
      <p>嵌入式 Ubuntu 为您提供最佳的开发者体验、安全性和长期支持。可为您的智能无人机、机器人、网关、工业系统设备选择 Ubuntu Server 或 <a href="/internet-of-things/core">Ubuntu Core</a>。</p>
    </div>
    <div class="col-6 u-sv3">
      <h3>
        <a href="https://maas.io/">
          裸机云 MAAS
        </a>
      </h3>
      <p>为企业数据中心提供非常快速的服务器系统安装和配置，支持 Windows、CentOS、ESXi和 Ubuntu 无人值守、远程的安装以构建企业裸机云，裸机即服务。</p>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-12">
      <h2>云上的安卓和公有云</h2>
    </div>
  </div>  
  <div class="row">
    <div class="col-6 u-sv3">
      <h3>
        <a href="https://anbox-cloud.io">
          Anbox-Cloud 和 Anbox Appliance
        </a>
      </h3>
      <p>Anbox-Cloud 让您可以安全地、以任意规模地串流移动安卓应用到任意设备。在认证的公有云或私有云系统容器中运行安卓应用（非模拟器）。支持单机开发测试和集群部署。</p>
    </div>
    <div class="col-6 u-sv3">
      <h3>
        <a href="/cloud/public-cloud">
          公有云上的 Ubuntu Pro&nbsp;&rsaquo;
        </a>
      </h3>
      <p>Ubuntu是世界上最流行的跨公有云的云操作系统。由于其安全性、多功能性和定期更新政策，Ubuntu是领先的云客户机操作系统，也是唯一具有可选的企业级商业支持的免费云操作系统。</p>
    </div>
  </div>
</section>

{% include "shared/_release_schedule.html" %}

<div class="p-strip p-contextual-footer">
  <div class="row p-divider">

    <div class="col-4 p-divider__block">
      <h3 class="p-heading--4">Ubuntu 企业订阅服务</h3>
        <p>从 Canonical 获得 Ubuntu server 的专业支持</p>
        <p><a href="https://ubuntu.com/advantage/subscribe" class="p-button" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Contextual footer link', 'eventAction' : 'server contact-us', 'eventLabel' : 'Ubuntu Advantage store', 'eventValue' : undefined });"><span>访问商店</span></a></p>
        <p><a href="/contact" class="js-invoke-modal" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Contextual footer link', 'eventAction' : 'server contact-us', 'eventLabel' : 'For business', 'eventValue' : undefined });">联系我们&nbsp;›</a></p>
    </div>

    <div class="col-4 p-divider__block">
      <h3 class="p-heading--4">下载</h3>
        <p>无论您是要配置简单的文件服务器还是构建五万个节点的云，都可以依靠Ubuntu Server及其五年的免费升级保证。</p>
        <p><a href="/download/server/step1" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Contextual footer link', 'eventAction' : 'server download', 'eventLabel' : 'Download', 'eventValue' : undefined });">下载 Ubuntu server&nbsp;›</a></p>
    </div>
   
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--4">阅读更多</h3>
        <ul class="p-list" id="latest-articles">
          <li class="p-list__item">
          <a class="article-link article-title" href="/blog/migrating-to-ubuntu-lts-six-facts-for-centos-users-2">CentOS用户迁移到Ubuntu LTS的六大事实</a>
          </li>

          <li class="p-list__item">
          <a class="article-link article-title" href="/blog/ubuntu-16-04-lts-esm-support-extended-maintenance">Ubuntu 16.04 LTS过渡到扩展的安全维护阶段（ESM）</a>
          </li>

          <li class="p-list__item">
          <a class="article-link article-title" href="/blog/android-applications-running-in-the-cloud-now-easily-scale-from-prototype-to-production-with-the-new-anbox-cloud-appliance-on-aws-post-1">AWS上的新的 Anbox Cloud Appliance 使在云上从原型到生产扩展运行安卓应用程序变得更容易</a>
          </li>
        </ul>
    </div>
  </div>
</div>

{% endblock %}