<nav class="p-navigation--secondary">
  <div class="row">
    <div class="col-12 u-equal-height">
      <a class="p-navigation--secondary__banner u-hide--nav-threshold-down" href="/enterprise">
        <h5 class="p-navigation--secondary__logo">
          产品和服务
        </h5>
      </a>
      <ul class="breadcrumbs--secondary">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path == '/enterprise' %}p-link--active{% else %}p-link--soft{% endif %}" href="/enterprise">概览</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link p-link--soft" href="/cloud/openstack">Openstack私有云</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link p-link--soft" href="/kubernetes">Kubernetes</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link p-link--soft" href="/internet-of-things/core">Ubuntu Core</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link p-link--soft" href="https://maas.io/">MAAS</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link p-link--soft" href="https://anbox-cloud.io">Anbox Cloud</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link p-link--soft" href="/cloud/public-cloud">Ubuntu Pro</a>
        </li>
      </ul>
     
    </div>
  </div>
</nav>
