{% extends "about/base_about.html" %}
{% load markdown_deux_tags %}

{% block title %}{{ title }}{% endblock %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block meta_keywords %}{{ meta_keywords }}{% endblock %}

{% block second_level_nav_items %}
    {% include "templates/_nav_breadcrumb.html" with section_title="关于" page_title="关于"  %}
{% endblock second_level_nav_items %}

{% block content %}
<section class="row row-hero">
    <div class="col-8">
        {% include "templates/_cms-block.html" with block_content=ubuntu_story %}
    </div>
</section>

<section class="row">
    <div class="col-8">
        {% include "templates/_cms-block.html" with block_content=beginning %}
    </div>
</section>

<section class="row">
    <div class="col-8">
        {% include "templates/_cms-block.html" with block_content=releases %}
    </div>
</section>

<section class="row">
    <div class="col-8">
        {% include "templates/_cms-block.html" with block_content=governance %}
    </div>
</section>

<section class="row no-border">
    <div class="col-8">
        {% include "templates/_cms-block.html" with block_content=flavours %}
    </div>
    <div class="col-8">
        {% include "templates/_cms-block.html" with block_content=flavours_list extra_classes="list-ubuntu" %}
    </div>
    <div class="col-8">
        {% include "templates/_cms-block.html" with block_content=localisations %}
    </div>
    <div class="col-8">
        {% include "templates/_cms-block.html" with block_content=other_editions %}
    </div>
</section>
{% endblock %}
