{% extends "base_index.html" %}

{% block title %}About{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block content %}
<div class="row row-hero">
	<h1>About</h1>
		<div class="eight-col">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ligula nibh, tincidunt quis metus pretium, ullamcorper egestas lectus. Nullam iaculis ullamcorper sem, at fringilla felis fringilla id. Etiam varius, risus a vestibulum hendrerit, mi elit.</p>
		</div><!-- ./eight-col -->
</div><!-- /.row -->

{% endblock %}