{% extends "cloud/base_cloud.html" %}
{% load markdown_deux_tags %}

{% block title %}{{ title }}{% endblock %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block meta_keywords %}{{ meta_keywords }}{% endblock %}
{% block extra_body_class %}cloud-home{% endblock %}

{% block second_level_nav_items %}
    {% include "templates/_nav_breadcrumb.html" with section_title="云" page_title="云"  %}
{% endblock second_level_nav_items %}

{% block content %}
{# ================ 1. Ubuntu for cloud ================ #}
<div class="row">
    <div class="seven-col">
        {% include "templates/_cms-block.html" with block_content=hero %}
    </div>
    <div class="five-col last-col text-center">
        <img src="{{ STATIC_URL }}img/cloud/image-ecosystem.svg" width="250" height="250" alt="" />
    </div>
</div>

{# ================ 2. What Ubuntu offers you ================ #}
<div id="ubuntu-offers" class="row no-border strip-dark">
    <div class="col-12">
        {% include "templates/_cms-block.html" with block_content=ubuntu_offers %}
    </div>
</div>

{# ================ 3. Build your own cloud with Ubuntu OpenStack ================ #}
<div id="build-with-openstack" class="row">
    <div class="col-8">
        {% include "templates/_cms-block.html" with block_content=openstack %}
    </div>
    <div class="four-col last-col">
        <blockquote class="pull-quote">
            <p><span>“</span>Ubuntu 始终是用来部署 OpenStack 的最流行的操作系统&nbsp;<span>”</span></p>
            <p><cite>OpenStack 用户调查（2013 年 11 月&#65289;</cite></p>
        </blockquote>
    </div>
</div>

{# ================ 4. Using Ubuntu in the public cloud ================ #}
<div id="public-cloud" class="row">
    <div class="col-8">
        {% include "templates/_cms-block.html" with block_content=public_cloud %}
    </div>
    <div class="col-12">
        <ul class="inline-logos no-bullets no-margin">
            <li class="first-item"><img src="{{ STATIC_URL }}img/logos/logo-amazonwebservices-160.png" alt="AWS"></li>
            <li><img src="{{ STATIC_URL }}img/logos/logo-hp-cloud-160.png" alt="HP cloud"></li>
            <li class="last-item"><img src="{{ STATIC_URL }}img/logos/logo-joyent-160.png" alt="Joyent"></li>
            <li><img src="{{ STATIC_URL }}img/logos/logo-ibm-160.png" alt="IBM"></li>
            <li class="last-item"><img src="{{ STATIC_URL }}img/logos/logo-microsoftazure.svg" alt="Azure"></li>
        </ul>
    </div>
</div>

{# ================ 5. A complete set of cloud tools ================ #}
<div id="cloud-tools" class="row row-cloud-tools">
    <div class="col-8">
        {% include "templates/_cms-block.html" with block_content=cloud_tools %}
    </div>
    <div class="twelve-col vertical-divider">
        <div class="four-col">
            <p class="u-align--center"><img src="{{ STATIC_URL }}img/cloud/image-maascharts.png" alt="MAAS"></p>
            {% include "templates/_cms-block.html" with block_content=tools_maas %}
        </div>
        <div class="four-col">
            <p class="u-align--center"><img src="{{ STATIC_URL }}img/cloud/image-jujucharms.png" alt="Juju"></p>
            {% include "templates/_cms-block.html" with block_content=tools_juju %}
        </div>
        <div class="four-col last-col">
            <p class="u-align--center"><img src="{{ STATIC_URL }}img/cloud/image-autopilot.jpg" alt="Autopilot"></p>
            {% include "templates/_cms-block.html" with block_content=tools_autopilot %}
        </div>
    </div>
</div>

{# ================ 6. Number one for network operators ================ #}
<div id="network-operators" class="row">
    <div class="col-8">
        {% include "templates/_cms-block.html" with block_content=network_operators %}
    </div>
</div>

{# ================ 7. Need services or support? ================ #}
<div id="services-or-support" class="row row-services no-border">
    <div class="six-col">
        {% include "templates/_cms-block.html" with block_content=support %}
    </div>
    <img src="{{ STATIC_URL }}img/cloud/image-landscape.jpg" alt="Landscape" />
</div>
{% endblock %}
