<nav class="p-navigation--secondary">
 <div class="row">
   <div class="col-12 u-equal-height">
     <a class="p-navigation--secondary__banner u-hide--nav-threshold-down" href="/cloud">
       <h5 class="p-navigation--secondary__logo">
         云
       </h5>
     </a>
     <ul class="breadcrumbs--secondary">
       <li class="breadcrumbs__item">
         <a class="breadcrumbs__link {% if request.path == '/cloud' %}p-link--active{% else %}p-link--soft{% endif %}" href="/cloud">概览</a>
       </li>
       <li class="breadcrumbs__item">
         <a class="breadcrumbs__link {% if request.path == '/cloud/public-cloud' %}p-link--active{% else %}p-link--soft{% endif %}" href="/cloud/public-cloud">公有云</a>
       </li>
       <li class="breadcrumbs__item">
        <a class="breadcrumbs__link p-link--soft" href="/cloud/openstack">OpenStack私有云</a>
      </li>        
     </ul>
   </div>
 </div>
</nav>
