{% extends "templates/base.html" %}

{% block title %}Ubuntu上的多云Kubernetes{{ page_title }}{% endblock %}
{% block meta_description %}容器，container，LXD，Kubernetes，k8s，Docker{{ meta_description }}{% endblock %}

{% block content %}
{% include "containers/secondary-nav.html" %}

<section class="p-strip--suru-topped is-bordered">
    <div class="row u-equal-height u-vertically-center">
      <div class="col-6">
        <h1>Ubuntu上的<br \>多云Kubernetes</h1>
        <p>
          Ubuntu是所有主要公有云上Kubernetes的参考平台，包括Google的GKE，微软的AKS和亚马逊的EKS CAAS等产品。我们提供经过广泛云测试的纯上游Kubernetes——从公有云到私有数据中心，从裸机到虚拟化基础架构。
        </p>
        <p>
          <a class="p-button--positive p-link--external" href="https://ubuntu.com/kubernetes/install">马上试试</a>
          <a class="js-invoke-modal" href="/contact">联系我们&nbsp;&rsaquo;</a>
        </p>
      </div>
      <div class="col-6 u-align--center u-hide--small">
        {{
          image(
          url="https://assets.ubuntu.com/v1/dba11aee-kubernetes.svg?w=275",
          alt="",
          width="264",
          height="256",
          hi_def=True,
          loading="auto",
          ) | safe
        }}
      </div>
    </div>
  </section>
  
  <section class="p-strip--light is-bordered">
    <div class="u-fixed-width">
      <h2>由Canonical支持的上游K8s选项</h2>
    </div>
  
    <div class="row u-equal-height">
      <div class="col-4 p-card">
        <h2 class="p-heading--four">MicroK8s</h2>
        <p><em>工作站，开发运维，边缘计算 &amp; IoT</em></p>
        <hr class="u-sv1" />
        <ul class="p-list">
          <li class="p-list__item is-ticked">单一软件包安装</li>
          <li class="p-list__item is-ticked">上游发布追踪</li>
          <li class="p-list__item is-ticked">支持Istio</li>
          <li class="p-list__item is-ticked">支持GPU</li>
          <li class="p-list__item is-ticked">支持本地registry</li>
          <li class="p-list__item is-ticked">主机存储</li>
        </ul>
        <p>开发者喜欢将MicroK8作为简单，一致的Kubernetes，用于快速迭代和CI/CD测试。其还流行在物联网和设备上，是安全而强大的K8s选项。</p>
        <p><a href="https://microk8s.io/" class="p-link--external">了解更多和安装MicroK8s</a></p>
      </div>
  
      <div class="col-4 p-card">
        <h2 class="p-heading--four">Charmed Kubernetes</h2>
        <p><em>多云集群</em></p>
        <hr class="u-sv1" />
        <ul class="p-list">
          <li class="p-list__item is-ticked">裸机，Vmware基础设施</li>
          <li class="p-list__item is-ticked">AWS，Azure，Google，OpenStack，Oracle，Rackspace clouds</li>
          <li class="p-list__item is-ticked">公有云LBAAS，存储，网络集成</li>
          <li class="p-list__item is-ticked">内建registry</li>
          <li class="p-list__item is-ticked">内建高可用（HA）</li>
          <li class="p-list__item is-ticked">就地升级</li>
          <li class="p-list__item is-ticked">自动扩展</li>
        </ul>
        <p>使用Charmed Kubernetes在多个物理或虚拟机上部署，扩展和升级Kubernetes集群。Charmed Kubernetes包括长期支持，运营自动化能力以及集成Graylog，Prometheus和Grafana。</p>
  
        <p><a href="https://ubuntu.com/kubernetes/install" class="p-link--external">安装说明&nbsp;&rsaquo;</a></p>
        <p><a href="https://ubuntu.com/kubernetes/managed" class="p-link--external">全面托管的Kubernetes选项&nbsp;&rsaquo;</a></p>
        <p><a href="https://assets.ubuntu.com/v1/b5f9ae49-Enterprise_Kubernetes_Datasheet.pdf" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Internal Link', 'eventAction' : 'Download the Services datasheet', 'eventLabel' : 'Download the Services datasheet' : undefined });">Charmed Kubernetes产品手册&nbsp;&rsaquo;</a></p>
      </div>
  
      <div class="col-4 p-card">
        <h2 class="p-heading--four">kubeadm</h2>
        <p><em>手动运营</em></p>
        <hr class="u-sv1" />
        <ul class="p-list">
          <li class="p-list__item is-ticked">实验性升级支持</li>
          <li class="p-list__item is-ticked">用定制化运营计划来手动搭建集群</li>
        </ul>
        <p>
          <a href="https://kubernetes.io/docs/setup/independent/install-kubeadm/" class="p-link--external">安装说明</a>
        </p>
        <p>
          <a href="/contact">获得kubeadm的支持&nbsp;&rsaquo;</a>
        </p>
      </div>
    </div>
  </section>
  
  <section class="p-strip is-bordered">
    <div class="row u-equal-height u-vertically-center">
      <div class="col-7">
        <h2>企业支持</h2>
        <p>
          Canonical提供了对Ubuntu上的Kubernetes的企业支持，这也是在大量基础上的，适用于基础设施的<a href="/support">Ubuntu订阅支持服务</a>（<abbr title="Ubuntu Advantage for Infrastructure">UA-I</abbr>）的一部分。UA-I还包括长期安全维护，内核热补丁和对从内核到容器的整个堆栈的关键任务基础架构的支持。Canonical支持在公有云，VMware，OpenStack和裸机上的Ubuntu上的K8s。
        </p>
        <p><a href="/support">了解更多关于 UA-I 的内容&nbsp;&rsaquo;</a></p>
      </div>
      <div class="col-4 col-start-large-9 u-align--center u-hide--small">
        {{
          image(
          url="https://assets.ubuntu.com/v1/f880a3bd-Enterprise+support.svg",
          alt="",
          width="200",
          height="200",
          hi_def=True,
          loading="lazy",
          ) | safe
        }}
      </div>
    </div>
  </section>
  
  <section class="p-strip is-bordered">
    <div class="u-fixed-width">
      <h2 class="p-muted-heading u-align--center">在公有云和企业内部部署</h2>
      <ul class="p-inline-images">
        <li class="p-inline-images__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/79a533b8-google-cloud.png?w=144",
            alt="Google Cloud Platform",
            width="144",
            height="88",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-inline-images__logos"},
            ) | safe
          }}
        </li>
        <li class="p-inline-images__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/208cd3a7-azure-logo-blue-on-white.svg",
            alt="Azure",
            width="144",
            height="41",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-inline-images__logo"},
            ) | safe
          }}
        </li>
        <li class="p-inline-images__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/d584bd83-logo-vmware.svg",
            alt="VMware",
            width="144",
            height="22",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-inline-images__logo"},
            ) | safe
          }}
        </li>
        <li class="p-inline-images__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/39002345-AmazonWebservices_Logo.svg",
            alt="AWS",
            width="144",
            height="54",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-inline-images__logo"},
            ) | safe
          }}
        </li>
        <li class="p-inline-images__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/f7f8709c-logo-joyent.svg",
            alt="Joyent",
            width="144",
            height="40",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-inline-images__logo"},
            ) | safe
          }}
        </li>
        <li class="p-inline-images__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/33409c7b-logo-maas.svg",
            alt="MAAS",
            width="144",
            height="47",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-inline-images__logo"},
            ) | safe
          }}
        </li>
        <li class="p-inline-images__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/eed716e9-logo-openstack.svg",
            alt="OpenStack",
            width="89",
            height="90",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-inline-images__logo", "style": "max-height:90px;"},
            ) | safe
          }}
        </li>
        <li class="p-inline-images__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/f1d885ce-Oracle-cloud.png?w=144",
            alt="Oracle Cloud",
            width="144",
            height="44",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-inline-images__logo"},
            ) | safe
          }}
        </li>
        <li class="p-inline-images__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/4d6054f9-logo-cisco.svg",
            alt="Cisco",
            width="144",
            height="76",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-inline-images__logo"},
            ) | safe
          }}
        </li>
        <li class="p-inline-images__item">
          {{
            image(
            url="https://assets.ubuntu.com/v1/4fabe174-local+host.svg",
            alt="Local host",
            width="144",
            height="50",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-inline-images__logo"},
            ) | safe
          }}
        </li>
      </ul>
    </div>
  </section>
  
  <section class="p-strip is-bordered">
    <div class="u-fixed-width">
      <h2>
        Kubernetes的默认平台
      </h2>
      <p>
        所有领先的云服务提供商，例如Google，Microsoft，Amazon，Cisco和IBM都在Ubuntu上运行云Kubernetes服务，因为我们专注于现代内核中的最新容器功能。Canonical提供对MicroK8，kubeadm和Charmed Kubernetes支持，这也说明了为什么Ubuntu也是企业内部Kubernetes部署的首选。
      </p>
    </div>
  
    <div class="u-fixed-width">
      <ul class="p-matrix is-trisected">
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title p-heading--four">支持Multi-cloud</h3>
            <p class="p-matrix__desc">在AWS，Azure，Google，Oracle，Rackspace，SoftLayer或私有VMware和OpenStack云上进行一致部署和操作。</p>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title p-heading--four">更新和升级</h3>
            <p class="p-matrix__desc">Canonical使升级覆盖每个新的稳定的上游K8s版本以及边缘版本，因此您可以在需要时迁移到最新版本。</p>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title p-heading--four">安全</h3>
            <p class="p-matrix__desc">Canonical的Kubernetes发行版的每个组件都能接收安全维护，并且所有组件都使用TLS加密进行通信。</p>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title p-heading--four">支持</h3>
            <p class="p-matrix__desc">Ubuntu企业订阅服务K8s支持包括一系列SLA和物理，虚拟和/或云选择。Canonical支持从内核到K8s的完整堆栈。</p>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title p-heading--four">可扩展性</h3>
            <p class="p-matrix__desc">轻松集成标准开源日志记录，监控，警报，存储，网络和容器运行时。提供更深入的定制咨询。</p>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title p-heading--four">全面托管</h3>
            <p class="p-matrix__desc">根据您的要求，Canonical的远程运营团队可以在内部或选择的公有云上为您构建和运行Kubernetes。只要需要，我们可以随时移交该集群的控制权给到您的运营团队。</p>
            <p class="p-matrix__desc p-link--external"><a href="https://ubuntu.com/kubernetes/managed">了解更多托管的kubernetes内容&nbsp;&rsaquo;</a></p>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title p-heading--four">支持GPU和CUDA</h3>
            <p class="p-matrix__desc">自动检测和配置GPU资源，以加速K8s上的机器学习，AI和转码工作负载。</p>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title p-heading--p-heading--four">融合</h3>
            <p class="p-matrix__desc">存储，网络和计算已叠加在我们的超融合参考体系结构中，从而确保资源的有效利用和高可用（HA）故障转移。</p>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title p-heading--four">一致性</h3>
            <p class="p-matrix__desc">Charmed Kubernetes一直是K8s测试套件性能和API标准一致性方面的领导者。</p>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title p-heading--four">弹性</h3>
            <p class="p-matrix__desc">Charmed Kubernetes部署通过设计和零停机时间原地升级实现了高可用性。</p>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title p-heading--four">裸机</h3>
            <p class="p-matrix__desc">在裸机服务器上部署，以提供高可用（HA），GPU自动检测和软件定义的存储，从而实现最佳性能。</p>
          </div>
        </li>
        <li class="p-matrix__item">
          <div class="p-matrix__content">
            <h3 class="p-matrix__title p-heading--four">原生</h3>
            <p class="p-matrix__desc">与基础公有云SAAS集成以优化LBAAS，存储，一致性和其他服务。</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  
  <section class="p-strip--light is-bordered">
    <div class="u-fixed-width">
      <h2>
        从Kubernetes咨询服务包开始
      </h2>
      <p>
        Canonical提供咨询以帮助您建立您的Kubernetes运营。我们也提供长期支持和托管的K8s。
      </p>
    </div>
    {% include "containers/shared/_kubernetes-consulting.html" %}
  </section>
  
  <section class="p-strip--light is-bordered">
    <div class="u-fixed-width">
      <h3>
        适用于发现版和发现版Plus的AI/ML附加组件
      </h3>
      <p>
        扩展您的Kubernetes培训以涵盖机器学习。构建从开发者工作站到您的数据中心，公共云和边缘的完整的机器学习分析管道。培训涵盖了关于GPU集成，公有云优化，Kubeflow和Tensorflow的基本材料。研讨会包括独立数据科学家对您当前的数据对AI/ML适用性的就绪性评估。Canonical与领先的硬件，云和数据科学公司合作，以确保您有最广泛的选择以集成Kubernetes到您的企业AI策略中。
      </p>
    </div>
  
    {% include "containers/shared/_kubernetes-consulting-add-ons.html" %} 

    <div class="u-fixed-width">
      <p>
        <a href="https://assets.ubuntu.com/v1/b5f9ae49-Enterprise_Kubernetes_Datasheet.pdf" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Internal Link', 'eventAction' : 'Download the Services datasheet', 'eventLabel' : 'Download the Services datasheet' : undefined });">
          下载企业Kubernetes产品手册&nbsp;&rsaquo;
        </a>
      </p>
    </div>
  </section>
  
  <section class="p-strip is-bordered">
    <div class="row u-equal-height">
      <div class="col-8">
        <h2>
            Kubernetes培训
        </h2>
        <p>培训您的系统管理员和运维工程师，使其成为Ubuntu OpenStack，Ubuntu Server或Charmed Kubernetes专家。 Canonical运行培训计划以适合所有环境和所有级别的经验。充分利用您的投资。</p>
        <p>
          <a href="https://ubuntu.com/training" class="p-link--external">了解更多关于培训相关的内容&nbsp;&rsaquo;</a>
        </p>
      </div>
      <div class="col-4 u-vertically-center u-align--center u-hide--small">
        {{
          image(
          url="https://assets.ubuntu.com/v1/0e5f4269-questions.svg",
          alt="",
          width="200",
          height="200",
          hi_def=True,
          loading="lazy",
          ) | safe
        }}
      </div>
    </div>
  </section>
   
  <section class="p-strip--light is-deep is-bordered">
    <div class="u-fixed-width">
      <h3>
        了解更多关于Kubernetes的内容
      </h3>
    </div>
  
    <div class="row p-divider">
      <div class="col-4 p-divider__block">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            {{
              image(
              url="https://assets.ubuntu.com/v1/6e184942-Webinar.svg",
              alt="",
              width="32",
              height="28",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
              ) | safe
            }}
            <h4 class="p-heading-icon__title">研讨会</h4>
          </div>
        </div>
        <h3 class="p-heading--four p-link--external"><a href="https://www.brighttalk.com/webcast/6793/383698">A decision maker's guide to Kubernetes deployment in your data centre</a></h3>
      </div>
      <div class="col-4 p-divider__block">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            {{
              image(
              url="https://assets.ubuntu.com/v1/6e184942-Webinar.svg",
              alt="",
              width="32",
              height="28",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
              ) | safe
            }}
            <h4 class="p-heading-icon__title">研讨会</h4>
          </div>
        </div>
        <h3 class="p-heading--four p-link--external"><a href="https://www.brighttalk.com/webcast/6793/347227">Moving to Production-Ready, Fast, Affordable Kubernetes</a></h3>
      </div>
      <div class="col-4 p-divider__block">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            {{
              image(
              url="https://assets.ubuntu.com/v1/b061c401-White+paper.svg",
              alt="",
              width="32",
              height="28",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
              ) | safe
            }}
            <h4 class="p-heading-icon__title">白皮书</h4>
          </div>
        </div>
        <h3 class="p-heading--four"><a href="https://ubuntu.com/engage/whitepaper-containers">The no-nonsense way to accelerate your business with containers&nbsp;&rsaquo;</a></h3>
      </div>
    </div>
  </section>


{% endblock %}


