{% extends "templates/base.html" %}

{% block title %}404 - Page not found{% endblock %}

{% block header %}

<div class="p-strip">
  <div class="row">
    <div class="u-equal-height u-vertically-center">
      <div class="col-6">
        <img src="{{ STATIC_URL }}img/image-404.svg" alt="Error owl" />
      </div>
      <div class="col-6">
        <h1>404: Page not found.</h1>
        <p>Sorry, we couldn&rsquo;t find that page</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block content %}
{% endblock content %}
