{% extends "templates/base.html" %}

{% block title %}500 - Internal server error{% endblock %}

{% block header %}

<div class="p-strip">
  <div class="row">
    <div class="u-equal-height u-vertically-center">
      <div class="col-6">
        <img src="{{ STATIC_URL }}img/image-404.svg" alt="Error owl" />
      </div>
      <div class="col-6">
        <h1>500: Server error.</h1>
        <p>Sorry for the inconvenience, please pop back soon.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block content %}
{% endblock content %}
