<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en" dir="ltr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js{% block extra_html_class %}{% endblock %}" lang="zh" dir="ltr"> <!--<![endif]-->
<head>

<meta charset="UTF-8" />
<meta name="description" content="{% block meta_description %}Ubuntu 是一个开源的软件平台。应用广泛，包括智能手机，平板电脑，PC，服务器和云&#12290;{% endblock %}" />
<meta name="keywords" content="{% block meta_keywords %}Ubuntu, Ubuntu Kylin/优麒麟, Ubuntu 操作系统, OS, 平台, Linux, 分布, OpenStack, Ubuntu OpenStack, Ubuntu 云, 服务器, 平板电脑, 智能手机, 电话, Windows 替代, 苹果替代,免费软件, 开源软件, 瘦终端, Juju, MAAS, Landscape, Ubuntu Advantage, 下载 Ubuntu, 部署, 配置, 服务编排, 服务, 商务支持, 付费服务, 长期支持, LTS, 14.04, Trusty Tahr, Icehouse, Utopic Unicorn{% endblock %}" />
<meta name="author" content="Canonical" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=8">
<![endif]-->

<title>{% block title %}{% endblock %} | Ubuntu</title>

<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}img/apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/apple-touch-icon-precomposed.png">
<link type="text/plain" rel="author" href="{{ STATIC_URL }}files/humans.txt" />

<!-- google fonts -->
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,700,700italic%7CUbuntu+Mono' rel='stylesheet' type='text/css' />

<!-- Ubuntu guidlines -->
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/ubuntu-styles.css" />

<!-- global nav -->
<link rel="stylesheet" type="text/css" media="screen and (min-width: 768px)" href="{{ STATIC_URL }}css/global.css" />

<!-- site specific -->
<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/styles.css" />
<link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}css/core-print.css" />

<!-- scripts -->
<script src="{{ STATIC_URL }}js/plugins/modernizr.2.7.1.js"></script>
<script src="{{ STATIC_URL }}js/plugins/Imager.js"></script>

{% block head_extra %}{% endblock %}

</head>
<body class="{% if level_1 != "" %}{% if level_1 == '2012' %}body-{% endif %}{{ level_1 }}{% endif %}{% if level_2 %} {% if level_1 == '2012' %}body-{% endif %}{{ level_1 }}-{{ level_2 }}{% endif %}{% if level_3 %} {% if level_1 == '2012' %}body-{% endif %}{{ level_1 }}-{{ level_2 }}-{{ level_3 }} {% endif %} {% if extra_body_class != "" %} {% block extra_body_class %}{% endblock %}{% endif %}">

<header class="banner global" role="banner">
{% block header_banner %}
	<nav role="navigation" class="nav-primary nav-right">
		<div class="logo">
			<a class="logo-ubuntu" href="/">
				<img width="106" height="25" src="{{ STATIC_URL }}img/logos/logo-ubuntu-orange.svg" alt="" />
			</a>
		</div>
		<ul>
			<li class="accessibility-aid"><a accesskey="s" href="#main-content">Jump to content</a></li>
			<li>
				<a class="first{% if level_1 == 'desktop' %} active{% endif %}" href="/desktop">Ubuntu 桌面系统</a>
			</li>
			<li>
				<a{% if level_1 == 'phone' %} class="active"{% endif %} href="/phone">手机</a>
			</li>
			<li>
				<a{% if level_1 == 'tablet' %} class="active"{% endif %} href="/tablet">平板电脑</a>
			</li>
			<!-- <li>
				<a{% if level_1 == 'server' %} class="active"{% endif %} href="/server">Server</a>
			</li> -->
			<!-- <li>
				<a{% if level_1 == 'cloud' %} class="active"{% endif %} href="/cloud">Cloud</a>
			</li> -->
			<li>
				<a{% if level_1 == 'download' %} class="active"{% endif %} href="/download">下载</a>
			</li>
			<li>
				<a{% if level_1 == 'news' %} class="active"{% endif %} href="/news">News</a>
			</li>
			<li> 
				<a{% if level_1 == 'about' %} class="active"{% endif %} href="/about">关于</a>
			</li>
		</ul>
		<a href="#canonlist" class="nav-toggle no-script">☰</a>
		{# include "templates/search.html" #}
	</nav>
{% endblock header_banner %}
</header>
<div class="wrapper">
<div id="main-content" class="inner-wrapper">
{% comment %}
{% if level_1 %}
{% block second_level_nav %}
<nav role="navigation" class="nav-secondary clearfix">{% spaceless %}{% block second_level_nav_items %}{% endblock second_level_nav_items %}{% endspaceless %}</nav>
{% endblock second_level_nav %}
{% endif %}{% endcomment %}

{% block header %}{% endblock %}
{% block content_container %}
{% block outer_content %}
{% endblock outer_content %}
{% endblock content_container %}

</div><!-- /.inner-wrapper -->
</div><!-- /.wrapper -->

<!-- footer content goes here -->
{% include "templates/footer.html" %}

<!-- Use this only until Modernizr fixes Opera Mini background-size detection -->
<script>
	var isOperaMini = (navigator.userAgent.indexOf('Opera Mini') > -1);
	if(isOperaMini) {
		var root = document.documentElement;
		root.className += " opera-mini";
	}
</script>
<script src="{{ STATIC_URL }}js/plugins/yui-combined.min.js"></script>
<script>
	if(!core){ var core = {}; }
	core.globalPrepend = 'body';
</script>
<script src="{{ STATIC_URL }}js/core.js"></script>
<script src="{{ STATIC_URL }}js/scratch.js"></script>
<script src="{{ STATIC_URL }}js/global.js"></script>
<script src="{{ STATIC_URL }}js/plugins/respond.min.js"></script>

{% block footer_extra %}{% endblock %}

</body>
</html>