{% load versioned_static %}
<!doctype html>
<html class="no-js" lang="zh" dir="ltr">
<head>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K92JCQ');</script>
  <!-- End Google Tag Manager -->

  <meta charset="UTF-8" />
  <meta name="description" content="{% block meta_description %}Ubuntu是世界领先的开源操作系统。目前广泛应用于个人电脑，IoT/智能物联网，容器，服务器和云端上。{% endblock %}" />
  <meta name="author" content="Canonical" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}{% endblock %} | Ubuntu</title>
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}img/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/apple-touch-icon-precomposed.png">
  <link type="text/plain" rel="author" href="{% versioned_static 'files/humans.txt' %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% versioned_static 'css/styles.css' %}" />


  {% block head_extra %}{% endblock %}
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K92JCQ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  <!-- footer content goes here -->
  {% include "templates/header.html" %}

  <div class="wrapper u-no-margin--top">
    <main id="main-content">
      {% block header %}
      {% endblock %}
      {% block content_container %}
          {% block outer_content %}
            {% block content %}{% endblock %}
          {% endblock outer_content %}
      {% endblock content_container %}
    </main>
  </div>

  <!-- footer content goes here -->
  {% include "templates/footer.html" %}


  <script src="{% versioned_static 'global-nav/build/js/global.js' %}"></script>
<script>ubuntu.globalNav.setup();</script>

</body>
</html>
