{% block footer %}
<div class="footer-wrapper strip-light">
<footer class="global clearfix">
<div class="legal clearfix">
	<div class="legal-inner">
		<p class="twelve-col">&copy; {% now "Y" %} Canonical Ltd. Ubuntu and Canonical are registered trademarks of <a href="http://canonical.com" title="Visit the Canonical website">Canonical Ltd</a></p>
		<ul class="no-bullets inline">
			<li><a href="http://www.ubuntu.com/legal">Legal information</a></li>
			<li><a href="http://www.ubuntu.com/privacy-policy">Privacy policy</a></li>
			<li><a class="screen-only" href="https://bugs.launchpad.net/resource-centre">Report a bug on this site</a></li>
		</ul>
		<span class="accessibility-aid"><a href="#">Got to the top of the page</a></span>
	</div>
</div><!-- /.legal -->
</footer>
</div>
{% endblock footer %}