{% block footer %}
<div class="footer-wrapper">
	<footer class="global clearfix">
		<div class="wrapper">
			<div class="seven-col">
				<div class="legal">
					<p class="twelve-col">&copy; {% now "Y" %} Canonical Ltd. Ubuntu and Canonical are registered trademarks of <a class="external" href="http://canonical.com" title="Visit the Canonical website">Canonical Ltd</a></p>
					<p class="twelve-col">沪ICP备15021102号 <a class="external" href="http://www.ubuntu.com/legal">&nbsp;&nbsp;Legal information</a></p>
					<span class="accessibility-aid"><a href="#">Go to the top of the page</a></span>
				</div><!-- /.legal-inner-col -->
			</div><!-- /.six-col -->
			<div class="five-col last-col">
				<ul class="list--social">
					<li class="list--social__item list--social__item--weibo"><a href="http://weibo.com/u/1278359237">Weibo</a></li>
					<li class="list--social__item list--social__item--wechat"><a href="http://weixin.qq.com/r/-3WAmA7EM1NMrUr79yDt">WeChat</a></li>
				</ul>
			</div><!-- /.five-col -->
		</div>
	</footer>
</div>
{% endblock footer %}
