{% block footer %}
  <footer class="p-strip p-footer u-no-margin--top">
    <div class="grid-row--25-75">
      <hr class="p-rule--muted" />
      <div class="grid-col">
        <div class="p-cta-block is-borderless u-no-padding--bottom">
          <p class="u-no-margin--bottom">产品和服务</p>
        </div>
      </div>
      <div class="grid-col">
        <ul class="p-list p-footer-list">
          <li class="p-list__item p-footer-list__item">
            <a href="/pro">Ubuntu Pro</a>
          </li>
          <li class="p-list__item p-footer-list__item">
            <a href="/openstack">OpenStack</a>
          </li>
          <li class="p-list__item p-footer-list__item">
            <a href="/microcloud">MicroCloud</a>
          </li>
          <li class="p-list__item p-footer-list__item">
            <a href="/kubernetes">Kubernetes</a>
          </li>
          <li class="p-list__item p-footer-list__item">
            <a href="/certified">认证硬件</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-row--25-75">
      <hr class="p-rule--muted" />
      <div class="grid-col">
        <div class="p-cta-block is-borderless u-no-padding--bottom">
          <p class="u-no-margin--bottom">解决方案</p>
        </div>
      </div>
      <div class="grid-col">
        <ul class="p-list p-footer-list">
          <li class="p-list__item p-footer-list__item">
            <a href="/ai">AI人工智能</a>
          </li>
          <li class="p-list__item p-footer-list__item">
            <a href="/infrastructure">云基础设施</a>
          </li>
          <li class="p-list__item p-footer-list__item">
            <a href="/internet-of-things">物联网</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-row--25-75">
      <hr class="p-rule--muted" />
      <div class="grid-col">
        <div class="p-cta-block is-borderless u-no-padding--bottom">
          <p class="u-no-margin--bottom">Ubuntu</p>
        </div>
      </div>
      <div class="grid-col">
        <ul class="p-list p-footer-list">
          <li class="p-list__item p-footer-list__item">
            <a href="/download">下载Ubuntu</a>
          </li>
          <li class="p-list__item p-footer-list__item">
            <a href="/pricing">价格列表</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-row--25-75">
      <hr class="p-rule--muted" />
      <div class="grid-col">
        <div class="p-cta-block is-borderless u-no-padding--bottom">
          <a href="/contact" class="p-button--positive">联系我们</a>
        </div>
      </div>
      <div class="grid-col">
        <div class="grid-row">
          <div class="grid-col-5 grid-col-medium-3">
            <div class="p-section--shallow">
              <ul class="p-list p-footer-list u-no-margin--bottom">
                <li class="p-list__item p-footer-list__item">
                  <a href="/blog">博客</a>
                </li>
                <li class="p-list__item p-footer-list__item">
                  <a href="/engage">案例和资源</a>
                </li>
              </ul>
            </div>
            <hr class="p-rule--muted u-no-margin--bottom" />
            <div class="p-section--shallow">
              <p class="u-no-margin--bottom">
                &copy;&nbsp;{{ now("%Y") }} Canonical Ltd. Ubuntu and Canonical are registered trademarks.
              </p>
            </div>
            <ul class="p-list p-footer-list">
              <li class="p-list__item p-footer-list__item">
                <a href="https://beian.miit.gov.cn/">京ICP备20013621号-2</a>
              </li>
              <li class="p-list__item p-footer-list__item">
                <a href="https://www.canonical.com/legal">Legal information</a>
              </li>
              <li class="p-list__item p-footer-list__item">
                <a href="#" class="js-revoke-cookie-manager">管理您的追踪器设置</a>
              </li>
              <li class="p-list__item p-footer-list__item">
                <a href="https://github.com/canonical-websites/cn.ubuntu.com/issues/new"
                   class="u-truncate">Report a bug on this site</a>
              </li>
            </ul>
          </div>
          <div class="grid-col-1 grid-col-medium-1">
            <div class="p-footer__qr-code">
              {{ image(url="https://assets.ubuntu.com/v1/ce2100fc-wechat-qr-96.png",
                            alt="WeChat QR code",
                            width="96",
                            height="96",
                            hi_def=True,
                            loading="lazy") | safe
              }}
              <p class="p-text--small u-align--left">添加企业微信</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

{% endblock footer %}
