{% block header_banner %}
  <header id="navigation"
          class="p-navigation--sliding is-dark is-sticky js-enabled">
    <div class="p-navigation__row--25-75">
      <div class="p-navigation__banner">
        <div class="p-navigation__tagged-logo">
          <a class="p-navigation__link" href="/">
            <div class="p-navigation__logo-tag">
              <img class="p-navigation__logo-icon"
                    src="https://assets.ubuntu.com/v1/82818827-CoF_white.svg"
                    alt="" />
            </div>
            <span class="p-navigation__logo-title">Canonical Ubuntu</span>
          </a>
        </div>
        <div>
          <a href="#navigation"
             class="p-navigation__toggle--open js-menu-button"
             title="menu">Menu</a>
          <button href="#navigation-closed"
                  class="p-navigation__toggle--close js-menu-button"
                  title="close menu">Close menu</button>
        </div>
      </div>
      <nav class="p-navigation__nav js-show-nav" role="menubar">
        <ul class="p-navigation__items js-navigation-items global-nav"
            role="menu">
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link"
               href="/internet-of-things"
               onclick='dataLayer.push({ event: "GAEvent", eventCategory: "Primary navigation", eventAction: "from:" + window.location.href + " to: /internet-of-things", eventLabel: "IoT", eventValue: undefined, });'>物联网</a>
          </li>
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link"
               href="/infrastructure"
               onclick='dataLayer.push({ event: "GAEvent", eventCategory: "Primary navigation", eventAction: "from:" + window.location.href + " to: /infrastructure", eventLabel: "Infrastructure", eventValue: undefined, });'>基础架构</a>
          </li>
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link"
               href="/ai"
               onclick='dataLayer.push({ event: "GAEvent", eventCategory: "Primary navigation", eventAction: "from:" + window.location.href + " to: /ai", eventLabel: "AI", eventValue: undefined, });'>开源 AI</a>
          </li>
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link"
               href="/support"
               onclick='dataLayer.push({ event: "GAEvent", eventCategory: "Primary navigation", eventAction: "from:" + window.location.href + " to: /support", eventLabel: "Enterprise", eventValue: undefined, });'>产品和支持</a>
          </li>
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link"
               href="/desktop"
               onclick='dataLayer.push({ event: "GAEvent", eventCategory: "Primary navigation", eventAction: "from:" + window.location.href + " to: /desktop", eventLabel: "Desktop", eventValue: undefined, });'>桌面系统</a>
          </li>
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link"
               href="/server"
               onclick='dataLayer.push({ event: "GAEvent", eventCategory: "Primary navigation", eventAction: "from:" + window.location.href + " to: /server", eventLabel: "Server", eventValue: undefined, });'>服务器</a>
          </li>
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link"
               href="/download"
               onclick='dataLayer.push({ event: "GAEvent", eventCategory: "Primary navigation", eventAction: "from:" + window.location.href + " to: /download", eventLabel: "Download", eventValue: undefined, });'>下载</a>
          </li>
          <li class="p-navigation__item" role="menuitem">
            <a class="p-navigation__link"
               href="/blog"
               onclick='dataLayer.push({ event: "GAEvent", eventCategory: "Primary navigation", eventAction: "from:" + window.location.href + " to: /blog", eventLabel: "Blog", eventValue: undefined, });'>博客</a>
          </li>
        </ul>
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
      </nav>
    </div>
  </header>

  <style>
    .p-navigation__items {
      width: 100%;
    }

    .p-navigation__items>li#all-canonical {
      margin-left: auto;
    }
  </style>
{% endblock header_banner %}
