{% block header_banner %}
  <header id="navigation" class="p-navigation">
    <div class="row">
      <div class="p-navigation__banner">
        <div class="p-navigation__logo">
          <a class="p-navigation__link" href="/">
	    <img class="p-navigation__image" width="106" height="25" src="{{ STATIC_URL }}img/logos/logo-ubuntu-orange.svg" alt="" />
          </a>
        </div>
        <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
        <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
      </div>
      <nav class="p-navigation__nav" role="menubar">
        <span class="u-off-screen">
          <a href="#main-content">Jump to main content</a>
        </span>
        <ul class="p-navigation__links" role="menu">
          <li class="p-navigation__link{% if level_1 == 'internet-of-things' %} is-selected{% endif %}" role="menuitem"><a href="/internet-of-things">物联网</a></li>
          <li class="p-navigation__link{% if level_1 == 'desktop' %} is-selected{% endif %}" role="menuitem"><a href="/desktop">桌面系统</a></li>
          <li class="p-navigation__link{% if level_1 == 'cloud' %} is-selected{% endif %}" role="menuitem"><a href="/cloud">云</a></li>
          <li class="p-navigation__link{% if level_1 == 'server' %} is-selected{% endif %}" role="menuitem"><a href="/server">服务器</a></li>          
          <li class="p-navigation__link{% if level_1 == 'containers' %} is-selected{% endif %}" role="menuitem"><a href="/containers">容器</a></li>
          
        </ul>
        {# include "templates/search.html" #}
      </nav>
    </div>
  </header>
{% endblock header_banner %}
