{% extends "engage/base_engage.html" %}

{% block title %}Ubuntu 20.04 LTS发布活动{% endblock %}
{% block meta_description %}Ubuntu 20.04 LTS线上发布活动回顾{% endblock %}
{% block meta_image %}https://assets.ubuntu.com/v1/a68a11b7-Dell+XPS+13-1804-1.png{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1bqD9QKDj6ZfRkn-vbDrHHE_Zrk81cA5hFLRHZYFzzSA{% endblock meta_copydoc %}

{% block content %}

<section class="p-takeover--grad js-takeover">
    <div class="row u-equal-height">
      <div class="col-6 u-vertically-center">
        <div>
          <h1>Ubuntu 20.04 LTS发布线上活动回顾</h1>
          <h4>为迎接新版本发布，我们为您精心准备一场线上发布派对活动。</h4>
        </div>
      </div>
      <div class="col-6 u-hide--small u-vertically-center u-align--center u-align--left-medium">
          <img src="https://assets.ubuntu.com/v1/6d623607-Focal+Fossa_orange_RGB.svg" alt="" height="290" width="380" loading="auto">
      </div>
    </div>
</section>

<section class="p-strip is-shallow">
    <div class="row">
      <div class="col-7">
          <p>在Ubuntu 20.04 LTS发布线上活动中有来自Ubuntu的技术专家和销售总监以及开源社区嘉宾，他们带来了最为全面的新版本介绍，Ubuntu在云端、物联网设备端相关产品介绍以及如何构建开源社区等内容。这不仅是一次新版本发布派对，还是一次技术分享干货盛会。</p>
          <h3>Ubuntu 20.04 LTS主要新功能介绍：</h3>
          <ul class="p-list">
            <li class="p-list__item is-ticked">GNOME 3.36及性能提升</li>
            <li class="p-list__item is-ticked">Yaru主题和新壁纸</li>
            <li class="p-list__item is-ticked">Linux内核 5.4</li>
            <li class="p-list__item is-ticked">启动界面显示品牌厂商LOGO</li>
            <li class="p-list__item is-ticked">改善ZFS支持</li>
            <li class="p-list__item is-ticked">更小的系统镜像文件</li>
            <li class="p-list__item is-ticked">GDM支持多显示器</li>
          </ul>
          <h3>主题内容：</h3>
          <ul class="p-list">
              <li class="p-list__item is-ticked">Snap应用和Ubuntu Core</li>
              <li class="p-list__item is-ticked"><a href="https://buy.ubuntu.com">Ubuntu UA，UAI，UAA介绍</a></li>
              <li class="p-list__item is-ticked">Ubuntu MAAS和Kubernetes</li>
              <li class="p-list__item is-ticked">Ubuntu 20.04 LTS内核新特性</li>
              <li class="p-list__item is-ticked">如何围绕Linux构建社区</li>
          </ul>
       </div>

      <div class="col-5">

        <!-- MARKETO FORM -->
  <form action="https://ubuntu.com/marketo/submit" method="post" id="mktoForm_3563" style="margin-top: -1rem;" >
   <fieldset class="u-no-padding--top" style="border-bottom-width: 1px; border-color:#cdcdcd;">
     <ul class="p-list">
       <li class="p-list__item">
         <label for="firstName">名字：</label>
         <input required="" id="firstName" name="firstName" maxlength="255" type="text" aria-label="First Name" aria-required="true">
       </li>
       <li>
         <label for="lastName">姓氏：</label>
         <input required="" id="lastName" name="lastName"maxlength="255" type="text" aria-label="Last Name" aria-required="true">
       </li>
       <li>
         <label for="email">工作邮箱：</label>
         <input required="" id="email" name="email" maxlength="255" type="email" aria-label="Email" aria-required="true" pattern="^[^ ]+@[^ ]+\.[a-z]{2,26}$">
       </li>
       <li>
         <label for="company">公司名称：</label>
         <input required="" id="company" name="company" maxlength="255" type="text" aria-label="Company Name" aria-required="true">
       </li>
       <li>
         <label for="title">职位：</label>
         <input required="" id="title" name="title" maxlength="255" type="text" aria-label="Job Title" aria-required="true">
       </li>
       <li>
         <label for="phone">电话号码：</label>
         <input required="" id="phone" name="phone"maxlength="255" type="tel" aria-label="Phone Number" aria-required="true">
       </li>
       <li>
        <input name="canonicalUpdatesOptIn" aria-label="canonicalUpdatesOptIn" id="canonicalUpdatesOptIn" value="yes" type="checkbox"><label for="canonicalUpdatesOptIn"><small>我同意接收有关Canonical的产品和服务信息。</small></label>
       </li>
       <li>
        <p><small>在提交此表格的同时，我确认已阅读和同意<a href="https://www.ubuntu.com/legal/data-privacy/contact">的隐私声明</a>和<a href="https://www.ubuntu.com/legal/data-privacy">隐私政策</a></small>。
          <input name="RichText" aria-label="RichText" type="hidden">
        </p>
       </li>
       <li>
         <button type="submit" class="u-no-margin--bottom">观看录制视频</button>
         <input name="formid" aria-label="formid" value="3563" type="hidden">
         <input type="hidden" aria-hidden="true" aria-label="hidden field" name="Consent_to_Processing__c" value="yes" />
         <input type="hidden" name="acquisition_url" aria-label="acquisition_url" value="{{ shorten_acquisition_url(request.url) }}">
         <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_campaign" id="utm_campaign" value="" />
         <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_medium" id="utm_medium" value="" />
         <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_source" id="utm_source" value="" />
         <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_content" id="utm_content" value="" />
        <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_term" id="utm_term" value="" />
         <input type="hidden" name="returnURL" aria-label="returnURL" value="https://live.polyv.cn/watch/12å80807">
       </li>
     </ul>
   </fieldset>
  </form>
  <!-- /MARKETO FORM -->
  </div>
</section>

{% endblock content %}
