{% extends "templates/base.html" %}
{% from "_macros/vf_hero.jinja" import vf_hero %}

{% set section_title = "Engage Page" %}
{% set section_path = "/engage" %}

{% block title %}{{ metadata['topic_name'] }}{% endblock %}

{% block meta_description %}{{ metadata['subtitle'] }}{% endblock %}

{% block meta_image %}{{ metadata['meta_image'] }}{% endblock %}

{% block meta_copydoc %}
  {metadata["meta_copydoc]}
{% endblock meta_copydoc %}

{% block content %}

  {% call(slot) vf_hero(
    title_text=metadata["topic_name"],
    layout='25/75',
    blocks=[
      {
        "type": "description",
        "padding": "shallow",
        "item": {
          "type": "html",
          "content": '<h2 class="p-heading--4">' + metadata["subtitle"] + '</h2>'
        }
      },
      {
        "type": "cta-block",
        "item": {
          "primary": {
            "content_html": metadata["primary_cta"],
            "attrs": {
              "href": metadata['primary_link']
            }
          },
          "link": {
            "content_html": metadata["secondary_cta"],
            "attrs": {
              "href": metadata['secondary_link']
            }
          }
        }
      },
      {
        "type": "signpost_image",
        "item": {
          "is_highlighted": false,
          "attrs": {
            "src": metadata['image'],
            "alt": ""
          }
        }
      },
    ]
  ) -%}
  {%- endcall -%}

  <section class="p-section">
    <div class="u-fixed-width">
      <hr class="p-rule" />
    </div>
    <div class="p-strip is-shallow grid-row">
      <div class="grid-col-start-large-3 grid-col-4">
        {{ metadata["body_html"] | safe }}
      </div>
      {% if metadata["form_id"] != "" %}
        <div class="grid-col-2" id="the-form">
          {% if "form_cta" in metadata and metadata["form_cta"] != '' %}
            {% with id=metadata["form_id"], returnURL=metadata['path']+"/thank-you", cta=metadata['form_cta'] %}
              {% include "engage/shared/_engage_form.html" %}
            {% endwith %}
          {% else %}
            {% with id=metadata["form_id"], returnURL=metadata['path']+"/thank-you", cta="提交" %}
              {% include "engage/shared/_engage_form.html" %}
            {% endwith %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </section>

  {% if metadata["webinar_code"] != "" %}
    {% if "channel_id" in metadata %}
      {% set channel_id = metadata["channel_id"] %}
    {% else %}
      {% set channel_id = 6793 %}
    {% endif %}
    <!-- webinar -->
    <section class="p-strip is-shallow" id="register-section">
      <div class="row" id="webinar">
        <div class="jsBrightTALKEmbedWrapper"
             style="width:100%;
                    height:100%;
                    position:relative;
                    background: #ffffff">
          <script class="jsBrightTALKEmbedConfig" type="application/json">
            {
              "channelId": {
                {
                  channel_id
                }
              },
              "language": "cn-ZH",
              "commId": {
                {
                  metadata["webinar_code"]
                }
              },
              "displayMode": "standalone",
              "height": "auto"
            }
          </script>
          <script src="https://www.brighttalk.com/clients/js/player-embed/player-embed.js"
                  class="jsBrightTALKEmbed"></script>
        </div>
      </div>
    </section>
  {% endif %}

{% endblock content %}
