{% extends "templates/base.html" %}
{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/shared/vf_article_block.jinja" import vf_article_block %}

{% set section_title = "Engage Page" %}
{% set section_path = "/engage" %}

{% block title %}{{ metadata['topic_name'] }}{% endblock %}

{% block meta_description %}{{ metadata['subtitle'] }}{% endblock %}

{% block meta_image %}{{ metadata['meta_image'] }}{% endblock %}

{% block head_extra %}
  {% if 'active' in metadata and metadata['active'] == "false" %}
    <meta name="robots" content="nofollow" />
  {% endif %}

  <meta name="discourse-url" value="{{ metadata['topic_path'] }}" />
{% endblock %}

{% block meta_copydoc %}
  {metadata["meta_copydoc]}
{% endblock meta_copydoc %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  {% if metadata["webinar_code"] is defined %}
    {% set show_webinar = true %}
  {% endif %}

  {# identify the last section to apply deep padding to #}
  {% set last_section = "body" %}
  {% if show_webinar or 'youtube_id' in metadata or 'vimeo_id' in metadata %}
    {% set last_section = "embedded_video" %}
  {% endif %}
  {% if related_pages_metadata|length > 0 %}
    {% set last_section = "related" %}
  {% endif %}

  {# whichever content section renders last gets deep bottom padding #}
  {% set body_section_class = "p-section--deep" if last_section == "body" else "p-section" %}
  {% set video_section_class = "p-strip is-shallow p-section--deep" if last_section == "embedded_video" else "p-strip is-shallow" %}

  <span id="publish_date" class="u-hide">{{ metadata["publish_date"] }}</span>
  <span id="created_date" class="u-hide">{{ metadata["created_at"] }}</span>

  {% call(slot) vf_hero(
    title_text=metadata["topic_name"],
    layout='25/75',
    blocks=[
      {
        "type": "description",
        "padding": "shallow",
        "item": {
          "type": "html",
          "content": '<h2 class="p-heading--4">' + metadata["subtitle"] + '</h2>'
        }
      },
      {
        "type": "cta-block",
        "item": {
          "primary": {
            "content_html": metadata["primary_cta"],
            "attrs": {
              "href": metadata['primary_link']
            }
          },
          "link": {
            "content_html": metadata["secondary_cta"],
            "attrs": {
              "href": metadata['secondary_link']
            }
          }
        }
      },
      {
        "type": "signpost_image",
        "item": {
          "is_highlighted": false,
          "attrs": {
            "src": metadata['image'],
            "alt": ""
          }
        }
      },
    ]
  ) -%}
  {%- endcall -%}

  <section class="{{ body_section_class }}">
    <div class="u-fixed-width u-hide--small u-hide--medium">
      <hr class="p-rule" />
    </div>
    <div class="grid-row">
      <div class="grid-col-start-large-3 grid-col-4 grid-col-medium-4 p-engage-body">
        {{ metadata["body_html"] | safe }}
      </div>
      <div class="grid-col-2 grid-col-medium-4">
        {% if metadata["form_id"] != "" %}
          <div class="p-engage-form" id="the-form">
            {% with id=metadata["form_id"], returnURL=metadata['path']+"/thank-you", cta=metadata["form_cta"] | default("提交", true) %}
              {% include "engage/shared/_engage_form.html" %}
            {% endwith %}
          </div>
        {% elif (metadata["primary_link"] | default("")).startswith("https") %}
          {% if not metadata["webinar_code"] %}
            {% if metadata['meta_image'] %}
              <div class="p-section--shallow u-hide--small u-hide--medium">
                <div class="p-image-container--16-9 is-highlighted">
                  <img class="p-image-container__image"
                      src="{{ metadata['meta_image'] or 'https://assets.ubuntu.com/v1/1199af9d-fallback-thumbnail-dark.jpg' }}"
                      alt=""
                      width="{{ metadata['image_width'] }}" />
                </div>
              </div>
            {% endif %}
            <a href="{{ metadata['primary_link'] }}" class="p-button--positive">{{ metadata["primary_cta"] }}</a>
          {% endif %}
        {% endif %}
        <hr class="p-rule u-hide--large" />
      </div>
    </div>
  </section>

  {% if metadata["webinar_code"] != "" %}
    {% if "channel_id" in metadata %}
      {% set channel_id = metadata["channel_id"] %}
    {% else %}
      {% set channel_id = 6793 %}
    {% endif %}
    <!-- webinar -->
    <section class="{{ video_section_class }}" id="register-section">
      <div class="row" id="webinar">
        <div class="jsBrightTALKEmbedWrapper"
             style="width:100%;
                    height:100%;
                    position:relative;
                    background: #f3f3f3">
          <script class="jsBrightTALKEmbedConfig" type="application/json">
            {
              "channelId": {
                {
                  channel_id
                }
              },
              "language": "cn-ZH",
              "commId": {
                {
                  metadata["webinar_code"]
                }
              },
              "displayMode": "standalone",
              "height": "auto"
            }
          </script>
          <script src="https://www.brighttalk.com/clients/js/player-embed/player-embed.js" class="jsBrightTALKEmbed"></script>
        </div>
      </div>
    </section>
  {% endif %}

  {% if "youtube_id" in metadata %}
    <!-- Youtube webinars -->
    <section class="{{ video_section_class }}" id="youtube-section">
      <div class="row" id="webinar">
        <iframe title="Webinar"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/{{ metadata['youtube_id'] }}"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </section>
  {% endif %}

  {% if "vimeo_id" in metadata %}
    <!-- Vimeo webinars -->
    <section class="{{ video_section_class }}" id="vimeo-section">
      <div class="row" id="webinar">
        <iframe title="Webinar"
                src="https://player.vimeo.com/video/{{ metadata['vimeo_id'] }}"
                width="560"
                height="315"
                frameborder="0"
                allow="autoplay; fullscreen"
                allowfullscreen></iframe>
      </div>
    </section>
  {% endif %}

{% endblock content %}
