{% extends "engage/base_engage.html" %}

{% block title %}开发者选择Ubuntu桌面的六大理由{% endblock %}
{% block meta_description %}最流行的linux os操作系统，开放者选择Ubuntu的六大理由{% endblock %}
{% block meta_image %}https://assets.ubuntu.com/v1/a68a11b7-Dell+XPS+13-1804-1.png{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1bqD9QKDj6ZfRkn-vbDrHHE_Zrk81cA5hFLRHZYFzzSA{% endblock meta_copydoc %}

{% block content %}
<section class="p-strip p-takeover--developer-desktop">
  <div class="u-fixed-width navigation-logo-engage">
    <a href="/"><img src="https://assets.ubuntu.com/v1/f263d9c4-logo-ubuntu-white.svg" width="143" height="auto" alt="Ubuntu"></a>
  </div>
  <div class="row u-equal-height">
    <div class="col-7 u-vertically-center">
      <h1 class="p-takeover__title">开发者选择Ubuntu桌面的六大理由</h1>
    </div>
    <div class="col-5 u-vertically-center ">
      <div class="u-align-text--center u-hide--small">
        <img src="https://assets.ubuntu.com/v1/a68a11b7-Dell+XPS+13-1804-1.png?w=413" width="413" alt="Dell XPS laptop for developers running Ubuntu Desktop by default"/>
      </div>
      <p class="u-hide--medium u-hide--large ">
        <a href="#the-form" class="p-button--positive"> 下载白皮书 </a>
      </p>
    </div>
  </div>

  <style>
    .p-takeover--developer-desktop {
      background-image: linear-gradient(74deg, #2C3037 0%, #1E1E1E 100%);
      background-color: #2C3037;
      background-size: cover;
    }
    .p-takeover--developer-desktop .p-takeover__title {
      font-weight: 100;
      color: #ffffff;
      margin-bottom: 1rem;
    }
  </style>
</section>

<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-7">
        <p>全球排名第一的Linux操作系统（OS）Ubuntu桌面已被240多个国家/地区的政府，企业和消费者广泛使用。Ubuntu适用于各种应用程序（如机器人技术，人工智能，全栈Web开发和嵌入式设备）开发且具有强大的吸引力，很多技术领先的公司都在使用Ubuntu。</p>

        <div class="u-align--center col-12 u-hide--small">
              <img src="https://assets.ubuntu.com/v1/9406095a-Screenshot+from+2018-11-23+12-29-32.png?h=230" height="230" style="height:230px;" alt="Developers use Ubuntu all around the world">
        </div>
        <p>但是为什么如此受欢迎？ 本白皮书分析了开发人员转向Ubuntu的六个关键原因。 从AI，机器学习兴起到更安全的snap应用，开发者对Ubuntu的使用不断增加。</p>
        <h3>白皮书亮点：</h3>
        <ul class="p-list">
            <li class="p-list__item is-ticked">无论是产品开始，还是平台端选择（云、服务器、IoT设备），Ubuntu桌面都是理想的平台。</li>
            <li class="p-list__item is-ticked">Ubuntu社区提供了广泛的支持和知识库，更广泛的Linux生态系统和Canonical企业支持服务<a href="https://cn.ubuntu.com/blog/how-to-buy-ubuntu-subscription">Ubuntu Advantage</a> 。</li>
            <li class="p-list__item is-ticked">广泛的软硬件兼容性认证使得开发过程更畅通无阻。</li>
        </ul>


    </div>
    <div class="col-5">

      <!-- MARKETO FORM -->
<script src="https://assets.ubuntu.com/v1/37b1db88-jquery.min.js"></script>
<script src="https://assets.ubuntu.com/v1/d55f58bb-jquery.validate.js"></script>
<script src="https://assets.ubuntu.com/v1/6ce35d3e-jquery-ui.min.js"></script>&zwnj;&#8203;
<form action="https://pages.ubuntu.com/index.php/leadCapture/save" method="post" id="mktoForm_3488" style="margin-top: -1rem;" novalidate="novalidate">
 <fieldset class="u-no-padding--top" style="border-bottom-width: 1px;">
   <ul class="p-list">
     <li class="mktFormReq mktField p-list__item">
       <label for="FirstName" class="mktoLabel">名字：</label>
       <input required="" id="FirstName" name="FirstName" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="First Name" aria-required="true">
     </li>
     <li class="mktFormReq mktField">
       <label for="LastName" class="mktoLabel ">姓氏：</label>
       <input required="" id="LastName" name="LastName" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Last Name" aria-required="true">
     </li>
     <li class="mktFormReq mktField">
       <label for="Email" class="mktoLabel ">工作邮箱：</label>
       <input required="" id="Email" name="Email" maxlength="255" class="mktoField mktoEmailField  mktoRequired" type="email" aria-label="Email" aria-required="true">
     </li>
     <li class="mktFormReq mktField">
       <label for="Company" class="mktoLabel ">公司名称：</label>
       <input required="" id="Company" name="Company" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Company Name" aria-required="true">
     </li>
     <li class="mktFormReq mktField">
       <label for="Title" class="mktoLabel ">职位：</label>
       <input required="" id="Title" name="Title" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Job Title" aria-required="true">
     </li>
     <li class="mktFormReq mktField">
       <label for="Phone" class="mktoLabel ">电话号码：</label>
       <input required="" id="Phone" name="Phone" maxlength="255" class="mktoField mktoTelField  mktoRequired" type="tel" aria-label="Phone Number" aria-required="true">
     </li>
     <li class="mktField">
      <input name="canonicalUpdatesOptIn" aria-label="canonicalUpdatesOptIn" id="canonicalUpdatesOptIn" value="yes" class="mktoField" type="checkbox"><label for="canonicalUpdatesOptIn" class="mktoLabel "><small>我同意接收有关Canonical的产品和服务信息。</small></label>
     </li>
     <li class="mktField">           
      <p><small>在提交此表格的同时，我确认已阅读和同意<a class="p-link--external" href="https://www.ubuntu.com/legal/data-privacy/contact">的隐私声明</a>和<a class="p-link--external" href="https://www.ubuntu.com/legal/data-privacy">隐私政策</small></a>。
        <input name="RichText" aria-label="RichText" type="hidden">
      </p>
     </li>
     <li class="mktField">
       <input name="utm_campaign" aria-label="utm_campaign" class="mktoField  mktoFormCol" value="None" type="hidden">
     </li>
     <li class="mktField">
       <input name="utm_medium" aria-label="utm_medium" class="mktoField  mktoFormCol" value="None" type="hidden">
     </li>
     <li class="mktField">
       <input name="utm_source" aria-label="utm_source" class="mktoField  mktoFormCol" value="None" type="hidden">
     </li>
     <li class="mktField">
       <input name="Consent_to_Processing__c" aria-label="Consent" class="mktoField  mktoFormCol" value="Yes" type="hidden">
     </li>
     <li class="mktField">
       <br />
     </li>
     <li class="mktField">
       <button type="submit" class="mktoButton u-no-margin--bottom">下载白皮书</button>
       <input name="formid" aria-label="formid" class="mktoField" value="3488" type="hidden">
       <input name="lpId" aria-label="lpId" class="mktoField " value="" type="hidden">
       <input name="subId" aria-label="subId" class="mktoField " value="" type="hidden">
       <input name="munchkinId" aria-label="munchkinId" class="mktoField " value="" type="hidden">
       <input name="lpurl" aria-label="lpurl" class="mktoField " value="" type="hidden">
       <input name="cr" aria-label="cr" class="mktoField " value="" type="hidden">
       <input name="kw" aria-label="kw" class="mktoField " value="" type="hidden">
       <input name="q" aria-label="q" class="mktoField " value="" type="hidden">
     </li>
   </ul>
 </fieldset>
 <input type="hidden" name="returnURL" aria-label="returnURL" value="https://cn.ubuntu.com/engage/thank_you_dd.html">
 <input type="hidden" name="retURL" aria-label="retURL" value="https://cn.ubuntu.com/engage/thank_you_dd.html">
</form>
<script>
 $("#mktoForm_3488").validate({
   errorElement: "span",
   errorClass: "mktFormMsg mktError",
   onkeyup: false,
   onclick: false,
   onblur: false
 });
 $(function () {
   $("#comments").hide()
 });
 $('#Ubuntu_User__c').on('change', function () {
   var selection = $(this).val();
   if (selection == 'Commercially only') {
     $('#comments').show();
   } else {
     $('#comments').hide();
   }
 });
</script>
<script src="https://assets.ubuntu.com/v1/f97fa297-stateCountry.js"></script>

<!-- /MARKETO FORM -->
  </div>
</section>
{% endblock content %}