{% set hide_nav = False %}
{% extends "engage/base_engage.html" %}

{% from "_macros/vf_hero.jinja" import vf_hero %}

{% block title %}Ubuntu case studies, whitepapers and webinars{% endblock %}

{% block meta_description %}Resources from across Ubuntu and Canonical combined into a single portal{% endblock %}

{% block meta_copydoc %}https://docs.google.com/spreadsheets/d/1UdExqv3PMnejaCISed340IehIhUmpKL-0AK5kumFk2M/edit#gid=0{% endblock meta_copydoc %}

{% block content %}

<section class="p-section--hero grid-row">
  <div class="grid-col-start-large-3 grid-col-small-4 grid-col-medium-4 grid-col-6">
    <h1 class="u-text-align">Ubuntu 案例分享、白皮书和网络研讨会</h1>
  </div>
</section>

{% call(slot) vf_hero(
  title_text='Ubuntu 案例分享、白皮书和网络研讨会',
  layout='25/75',
) -%}
{%- endcall -%}

<section>
  {% if metadata | length > 0 %}
    <div class="grid-row">
      {% for item in metadata %}
        {% if loop.index <= 2 and item.image %}
          {% with
            title=item.topic_name,
            title_link=item.path,
            description=item.subtitle,
            type=item.type,
            image_src=item.meta_image,
            image_alt=item.topic_name %}
            {% include "/engage/shared/_featured-article-card.html" %}
          {% endwith %}
        {% else %}
          {% with
            title=item.topic_name,
            title_link=item.path,
            description=item.subtitle,
            type=item.type %}
            {% include "/engage/shared/_article-card.html" %}
          {% endwith %}
        {% endif %}
      {% endfor %}
    </div>
    <section class="p-section--deep">
      {% with %}
        {% set total_pages = total_pages %}
        {% set current_page = page %}
        {% include "shared/_pagination.html" %}
      {% endwith %}
    </section>
  {% else %}
    <div class="u-fixed-width p-section">
      <h3>No results &mdash; why not try widening your search?</h3>
      <p>You can do this by clearing and selecting new filters.</p>
    </div>
  {% endif %}
</section>

{% endblock content %}
