{% set hide_nav = False %}
{% extends "engage/base_engage.html" %}

{% from "_macros/vf_hero.jinja" import vf_hero %}

{% block title %}Ubuntu case studies, whitepapers and webinars{% endblock %}

{% block meta_description %}Resources from across Ubuntu and Canonical combined into a single portal{% endblock %}

{% block meta_copydoc %}https://docs.google.com/spreadsheets/d/1UdExqv3PMnejaCISed340IehIhUmpKL-0AK5kumFk2M/edit#gid=0{% endblock meta_copydoc %}

{% block content %}

  {% call(slot) vf_hero(
    title_text='Ubuntu 案例分享、白皮书和网络研讨会',
    layout='25/75',
    display_blank_signpost_image_space=True,
  ) -%}
  {%- endcall -%}

  <section>
    {% if metadata | length > 0 %}
      <div class="grid-row p-engage-list">
        {% for item in metadata %}
          {% set is_featured = page == 1 and loop.index <= 2 and item.image %}
          {% with
            title=item.topic_name,
            title_link=item.path,
            description=item.subtitle,
            type=item.type,
            image_src=(item.meta_image if is_featured else None) %}
            {% include "/engage/shared/_article-card.html" %}
          {% endwith %}
        {% endfor %}
      </div>
      {% with %}
        {% set total_pages = total_pages %}
        {% set current_page = page %}
        {% include "shared/_pagination.html" %}
      {% endwith %}
    {% else %}
      <div class="u-fixed-width p-section">
        <h3>No results &mdash; why not try widening your search?</h3>
        <p>You can do this by clearing and selecting new filters.</p>
      </div>
    {% endif %}
  </section>

{% endblock content %}
