{% extends_with_args "engage/base_engage.html" with title="将Ubuntu桌面与Active Directory集成"  %}
{% block meta_copydoc %}https://docs.google.com/document/d/1zAv3ouUrzQcQDw2DSefaePXcMu35BAumIMpzqmIkycs/edit{% endblock meta_copydoc %}
{% if meta_description %}{% block meta_description %}Ubuntu 16.04下载, Ubuntu 18.04下载, Ubuntu服务器下载， Ubuntu系统下载， Ubuntu中文官网， Ubuntu OpenStack, MicroK8s, Ubuntu容器{{ meta_description }}{% endblock %}{% endif %}
{% block content %}

<section class="p-strip p-strip--dark p-takeover--directory">
  <div class="row u-equal-height">
    <div class="col-8 u-vertically-center">
      <h1 class="u-no-margin--bottom">
        如何将 Ubuntu 集成到 Active Directory 域
      </h1>
      <br class="u-hide--medium u-hide--large">
      <p class="u-hide--medium u-hide--large">
        <a href="#the-form" class="p-button--neutral">
          下载白皮书
        </a>
      </p>
    </div>
    <div class="col-4 u-hide--small">
      <p class="u-align--center u-vertically-center">
        <img
          src="https://assets.ubuntu.com/v1/563fa732-ubuntu+and+active+directory.svg"
          alt="ubuntu and active directory"
        />
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-7">
      <p>
        随着微软工具和企业开源Linux软件的广泛地使用，这给需要与Active Directory无缝集成进行身份验证和身份管理的非微软系操作系统提出了新的挑战。造成此问题是原因是Active Directory一开始就没被设计为跨平台目录服务。
      </p>
      <p>
          使用PBIS Open可以自动、一劳永逸地将整合<a href="/download">Ubuntu 18.04 LTS</a>桌面系统到现有的Active Directory架构中。Powerbroker Identity Service Open tool (PBIS Open)是<a href="https://www.beyondtrust.com/tools/ad-bridging" class="p-link--external">BeyondTrust&rsquo;s</a>的开源Open-Source Active Directory Bridging的衍生品。
      </p>
      <blockquote class="p-pull-quote">
        <p>自动、一劳永逸地将整合 Ubuntu 桌面系统到现有的Active Directory架构中</p>
      </blockquote>
      <p>        
        此白皮书不仅介绍了整合的步骤，还提供了其他相关工具的介绍。
      </p>
      <h4>
        我能此次白皮书里学到些什么?
      </h4>
      <ul class="p-list">
        <li class="p-list__item is-ticked">
          使用 PBIS Open 将第三方操作系统集成到现有的微软 Active Directory架构中的概述，优点和缺点。
        </li>
        <li class="p-list__item is-ticked">
          PBIS Open 设置和集成 Ubuntu 到 Active Directory的步骤详解。
        </li>
        <li class="p-list__item is-ticked">
          集成 Ubuntu 到 Active Directory的其他工具。
        </li>
      </ul>
    </div>
    <div class="col-5">

    <!-- MARKETO FORM -->
<script src="//assets.ubuntu.com/v1/37b1db88-jquery.min.js"></script>
<script src="//assets.ubuntu.com/v1/d55f58bb-jquery.validate.js"></script>
<script src="//assets.ubuntu.com/v1/6ce35d3e-jquery-ui.min.js"></script>&zwnj;&#8203;
<form action="https://pages.ubuntu.com/index.php/leadCapture/save" method="post" id="mktoForm_3446" style="margin-top: -1rem;" novalidate="novalidate">
  <fieldset class="u-no-padding--top" style="border-bottom-width: 1px;">
    <ul class="p-list">
      <li class="mktFormReq mktField p-list__item">
        <label for="FirstName" class="mktoLabel">名字：</label>
        <input required="" id="FirstName" name="FirstName" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="First Name" aria-required="true">
      </li>
      <li class="mktFormReq mktField">
        <label for="LastName" class="mktoLabel ">姓氏：</label>
        <input required="" id="LastName" name="LastName" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Last Name" aria-required="true">
      </li>
      <li class="mktFormReq mktField">
        <label for="Email" class="mktoLabel ">工作邮箱：</label>
        <input required="" id="Email" name="Email" maxlength="255" class="mktoField mktoEmailField  mktoRequired" type="email" aria-label="Email" aria-required="true">
      </li>
      <li class="mktFormReq mktField">
        <label for="Company" class="mktoLabel ">公司名称：</label>
        <input required="" id="Company" name="Company" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Company Name" aria-required="true">
      </li>
      <li class="mktFormReq mktField">
        <label for="Title" class="mktoLabel ">职位：</label>
        <input required="" id="Title" name="Title" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Job Title" aria-required="true">
      </li>
      <li class="mktFormReq mktField">
        <label for="Phone" class="mktoLabel ">电话号码：</label>
        <input required="" id="Phone" name="Phone" maxlength="255" class="mktoField mktoTelField  mktoRequired" type="tel" aria-label="Phone Number" aria-required="true">
      </li>
      <li class="mktField">
        <input name="utm_campaign" aria-label="utm_campaign" class="mktoField  mktoFormCol" value="None" type="hidden">
      </li>
      <li class="mktField">
        <input name="utm_medium" aria-label="utm_medium" class="mktoField  mktoFormCol" value="None" type="hidden">
      </li>
      <li class="mktField">
        <input name="utm_source" aria-label="utm_source" class="mktoField  mktoFormCol" value="None" type="hidden">
      </li>
      <li class="mktField">
        <input name="Consent_to_Processing__c" aria-label="Consent" class="mktoField  mktoFormCol" value="Yes" type="hidden">
      </li>
      <li class="mktField">
        <br />
      </li>
      <li class="mktField">
        <button type="submit" class="mktoButton u-no-margin--bottom">下载白皮书</button>
        <input name="formid" aria-label="formid" class="mktoField" value="3446" type="hidden">
        <input name="lpId" aria-label="lpId" class="mktoField " value="" type="hidden">
        <input name="subId" aria-label="subId" class="mktoField " value="" type="hidden">
        <input name="munchkinId" aria-label="munchkinId" class="mktoField " value="" type="hidden">
        <input name="lpurl" aria-label="lpurl" class="mktoField " value="" type="hidden">
        <input name="cr" aria-label="cr" class="mktoField " value="" type="hidden">
        <input name="kw" aria-label="kw" class="mktoField " value="" type="hidden">
        <input name="q" aria-label="q" class="mktoField " value="" type="hidden">
      </li>
    </ul>
  </fieldset>
  <input type="hidden" name="returnURL" aria-label="returnURL" value="https://cn.ubuntu.com/engage/thank_you_ad.html">
  <input type="hidden" name="retURL" aria-label="retURL" value="https://cn.ubuntu.com/engage/thank_you_ad.html">
</form>
<script>
  $("#mktoForm_3346").validate({
    errorElement: "span",
    errorClass: "mktFormMsg mktError",
    onkeyup: false,
    onclick: false,
    onblur: false
  });

  $(function () {
    $("#comments").hide()
  });

  $('#Ubuntu_User__c').on('change', function () {
    var selection = $(this).val();
    if (selection == 'Commercially only') {
      $('#comments').show();
    } else {
      $('#comments').hide();
    }
  });

</script>
<script src="//assets.ubuntu.com/v1/f97fa297-stateCountry.js"></script>
<!-- /MARKETO FORM -->

    </div>


  </div>
</section>




{% endblock content %}
