{% extends "engage/base_engage.html" %}

{% block meta_description %}Extended Security Maintenance (ESM) will be available for Ubuntu 14.04 LTS Trusty Tahr after End of Life for continued security and compliance of the most popular linux operating system.{% endblock %}

{% block title %}选择最合适的机器人操作系统{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1zAv3ouUrzQcQDw2DSefaePXcMu35BAumIMpzqmIkycs/edit{% endblock meta_copydoc %}

{% block content %}

<div class="p-strip">
  <div class="row">
    <div class="col-7">
<h1 class="p-heading--two">谢谢！</h1>
<h3>你的白皮书现已可下载...</h3>
<p><a href="https://pages.ubuntu.com/rs/066-EOV-335/images/Robotics_WP_Canonical_CN.pdf" class="link-cta-ubuntu cta-large" target="download">立即下载</a></p>
    </div>
    <div class="col-5 u-align-center u-vertically-center">
      <img src="https://pages.ubuntu.com/rs/066-EOV-335/images/Devices-Thankyou.svg" width="200" height="200">
    </div>
  </div>
</div>



{% endblock content %}
