{% extends "engage/base_engage.html" %}

{% block title %}Ubuntu Tech Live第四期：Ubuntu Core的网络安全分析{% endblock %}
{% block meta_description %}IoT物联网开发，Ubuntu snap开发{% endblock %}

{% block content %}

<section class="p-strip is-deep u-no-padding--top u-no-padding--bottom">
  <div class="p-strip p-takeover--dark js-takeover">
    <div class="row u-vertically-center">
      <div class="col-6">
        <h1>Ubuntu Tech Live第四期：Ubuntu Core的网络安全分析</h1>
          <p class="p-heading--four">我们邀请了独立第三方测评机构Rule4一起来讨论和分析Ubuntu Core的安全性</p>
      </div>
      <div class="u-vertically-center col-5 col-start-large-8 u-align--center u-hide--small">      
          <img src="https://assets.ubuntu.com/v1/53cbe6de-rule4logo-rev.png" style="width: 400px;" alt="security">
      </div>
    </div>
  </div>
</section>
  
  <section class="p-strip--light is-shallow">
    <div class="row">
      <div class="col-7">          
          <h2>内容介绍: </h2>
          <p>我们提供了大量文档和内容来支持Ubuntu Core架构。但是我们不希望任何人在选择Ubuntu时是因为我们一家之言。因此，我们引入<a class="p-link--external" href="https://www.rule4.com">Rule4</a>来对Ubuntu Core的安全体系结构控制进行独立的第三方评估。</p>
          <p>在本次研讨会中，我们将讨论测试过程和发现，深入研究强化，复杂性管理，DevOps和SOAR校准，高速部署，生命周期管理，沙盒化等等。同时，我们也将讨论优势分析和运营安全性考虑因素，并找出为什么Rule4得出的如下结论：</p>
          <blockquote class="p-pull-quote--small">
          <p class="p-pull-quote__quote">Ubuntu Core提供了一个全面，安全的生态系统，该生态系统解决了与传统Linux发行模型相关的许多挑战，同时为开发人员提供了灵活性和控制力。</p>
          </blockquote>
          <div class="u-align--center col-12 u-hide--small">
            <img src="https://assets.ubuntu.com/v1/2fa31b13-iot-webinar-4.jpg" alt="物联网">
          </div>
          <br>
          <small style="font-style:italic"><strong>Ubuntu Tech Live</strong>是全新一档由Ubuntu / Canonical官方开设，并专为开发者和企业所设计的栏目。活动以视频直播的方式向大家介绍Ubuntu最新的技术和产品。
            设置有问答环节，Canonical专家现场为您解答相关问题。同时，也将不定期邀请合作伙伴、业内专家分享相关有趣的主题。</small>        
      </div>

      <div class="col-5">
  
        <!-- MARKETO FORM -->
  <script src="https://assets.ubuntu.com/v1/37b1db88-jquery.min.js"></script>
  <script src="https://assets.ubuntu.com/v1/d55f58bb-jquery.validate.js"></script>
  <script src="https://assets.ubuntu.com/v1/6ce35d3e-jquery-ui.min.js"></script>&zwnj;&#8203;
  <form action="https://pages.ubuntu.com/index.php/leadCapture/save" method="post" id="mktoForm_3773" style="margin-top: -1rem;" novalidate="novalidate">
   <fieldset class="u-no-padding--top" style="border-bottom-width: 1px;">
     <ul class="p-list">
       <li class="mktFormReq mktField p-list__item">
         <label for="FirstName" class="mktoLabel">名字：</label>
         <input required="" id="FirstName" name="FirstName" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="First Name" aria-required="true">
       </li>
       <li class="mktFormReq mktField">
         <label for="LastName" class="mktoLabel ">姓氏：</label>
         <input required="" id="LastName" name="LastName" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Last Name" aria-required="true">
       </li>
       <li class="mktFormReq mktField">
         <label for="Email" class="mktoLabel ">工作邮箱：</label>
         <input required="" id="Email" name="Email" maxlength="255" class="mktoField mktoEmailField  mktoRequired" type="email" aria-label="Email" aria-required="true">
       </li>
       <li class="mktFormReq mktField">
         <label for="Company" class="mktoLabel ">公司名称：</label>
         <input required="" id="Company" name="Company" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Company Name" aria-required="true">
       </li>
       <li class="mktFormReq mktField">
         <label for="Title" class="mktoLabel ">职位：</label>
         <input required="" id="Title" name="Title" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Job Title" aria-required="true">
       </li>
       <li class="mktFormReq mktField">
         <label for="Phone" class="mktoLabel ">电话号码：</label>
         <input required="" id="Phone" name="Phone" maxlength="255" class="mktoField mktoTelField  mktoRequired" type="tel" aria-label="Phone Number" aria-required="true">
       </li>
       <li class="mktField">
        <input name="canonicalUpdatesOptIn" aria-label="canonicalUpdatesOptIn" id="canonicalUpdatesOptIn" value="yes" class="mktoField" type="checkbox"><label for="canonicalUpdatesOptIn" class="mktoLabel "><small>我同意接收有关Canonical的产品和服务信息。</small></label>
       </li>
       <li class="mktField">           
        <p><small>在提交此表格的同时，我确认已阅读和同意<a class="p-link--external" href="https://www.ubuntu.com/legal/data-privacy/contact">的隐私声明</a>和<a class="p-link--external" href="https://www.ubuntu.com/legal/data-privacy">隐私政策</small></a>。
          <input name="RichText" aria-label="RichText" type="hidden">
        </p>
       </li>
       <li class="mktField">
         <input name="utm_campaign" aria-label="utm_campaign" class="mktoField  mktoFormCol" value="None" type="hidden">
       </li>
       <li class="mktField">
         <input name="utm_medium" aria-label="utm_medium" class="mktoField  mktoFormCol" value="None" type="hidden">
       </li>
       <li class="mktField">
         <input name="utm_source" aria-label="utm_source" class="mktoField  mktoFormCol" value="None" type="hidden">
       </li>
       <li class="mktField">
         <input name="Consent_to_Processing__c" aria-label="Consent" class="mktoField  mktoFormCol" value="Yes" type="hidden">
       </li>
       <li class="mktField">
         <br />
       </li>
       <li class="mktField">
         <button type="submit" class="mktoButton u-no-margin--bottom">提交</button>
         <input name="formid" aria-label="formid" class="mktoField" value="3773" type="hidden">
         <input name="lpId" aria-label="lpId" class="mktoField " value="" type="hidden">
         <input name="subId" aria-label="subId" class="mktoField " value="" type="hidden">
         <input name="munchkinId" aria-label="munchkinId" class="mktoField " value="" type="hidden">
         <input name="lpurl" aria-label="lpurl" class="mktoField " value="" type="hidden">
         <input name="cr" aria-label="cr" class="mktoField " value="" type="hidden">
         <input name="kw" aria-label="kw" class="mktoField " value="" type="hidden">
         <input name="q" aria-label="q" class="mktoField " value="" type="hidden">
       </li>
     </ul>
   </fieldset>
   <input type="hidden" name="returnURL" aria-label="returnURL" value="https://live.polyv.cn/watch/2007989">
   <input type="hidden" name="retURL" aria-label="retURL" value="https://live.polyv.cn/watch/2007989">
  </form>
  <script>
   $("#mktoForm_3773").validate({
     errorElement: "span",
     errorClass: "mktFormMsg mktError",
     onkeyup: false,
     onclick: false,
     onblur: false
   });
   $(function () {
     $("#comments").hide()
   });
   $('#Ubuntu_User__c').on('change', function () {
     var selection = $(this).val();
     if (selection == 'Commercially only') {
       $('#comments').show();
     } else {
       $('#comments').hide();
     }
   });
  </script>
  <script src="https://assets.ubuntu.com/v1/f97fa297-stateCountry.js"></script>
  
  <!-- /MARKETO FORM -->
    </div>
  </section>

{% endblock content %}
