{% extends "engage/base_engage.html" %}

{% block title %}Ubuntu Tech Live第一期{% endblock %}
{% block meta_description %}Ubuntu Tech Live第一期专题网络直播研讨会活动将正式开启{% endblock %}

{% block content %}

<section class="p-strip is-deep u-no-padding--top u-no-padding--bottom">
  <div class="p-strip--suru-topped">
    <div class="row u-vertically-center">
      <div class="col-6">
        <h1>Ubuntu Tech Live第一期：如何在Ubuntu上构建物联网项目</h1>
          <p class="p-heading--four">诚邀您参加由Canonical技术专家带来的“在Ubuntu上快速构建高效和低成本的物联网项目”专题直播活动</p>
      </div>
      <div class="u-vertically-center col-5 col-start-large-8 u-align--center u-hide--small">
      <div class=" lazyloaded" data-noscript="">
          <img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_150,h_200/https://assets.ubuntu.com/v1/805f2b3a-core_black-orange_st_hex.svg">
      </div>
      </div>
    </div>
  </div>
</section>
  
  <section class="p-strip--light is-shallow">
    <div class="row">
      <div class="col-7">
          <p><strong>Ubuntu Tech Live</strong>是全新一档专门为开发者和企业所设计的栏目，旨在分享和传递关于Ubuntu最新的技术内容资讯。栏目的内容将覆盖Ubuntu系统介绍，软件开发，系统安全，设备产品认证，企业商业项目服务支持等内容。</p>
          <h2>您将了解到：</h2>
          <ul class="p-list">
            <li class="p-list__item is-ticked">Canonical与Ubuntu最新产品技术资讯</li>
            <li class="p-list__item is-ticked">为什么要选择Ubuntu作为物联网项目操作系统</li>
            <li class="p-list__item is-ticked">企业和开发者如何正确使用Ubuntu</li>
            <li class="p-list__item is-ticked">Ubuntu如何帮助企业降低商业项目成本</li>
          </ul>
          <div class="u-align--center col-12 u-hide--small">
            <img src="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_720,h_440/https://assets.ubuntu.com/v1/6afcb0d6-iot-webinar-1.jpg" alt="物联网">
           
          </div>
      </div>
      <div class="col-5">
  
        <!-- MARKETO FORM -->
  <script src="https://assets.ubuntu.com/v1/37b1db88-jquery.min.js"></script>
  <script src="https://assets.ubuntu.com/v1/d55f58bb-jquery.validate.js"></script>
  <script src="https://assets.ubuntu.com/v1/6ce35d3e-jquery-ui.min.js"></script>&zwnj;&#8203;
  <form action="https://pages.ubuntu.com/index.php/leadCapture/save" method="post" id="mktoForm_3674" style="margin-top: -1rem;" novalidate="novalidate">
   <fieldset class="u-no-padding--top" style="border-bottom-width: 1px;">
     <ul class="p-list">
       <li class="mktFormReq mktField p-list__item">
         <label for="FirstName" class="mktoLabel">名字：</label>
         <input required="" id="FirstName" name="FirstName" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="First Name" aria-required="true">
       </li>
       <li class="mktFormReq mktField">
         <label for="LastName" class="mktoLabel ">姓氏：</label>
         <input required="" id="LastName" name="LastName" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Last Name" aria-required="true">
       </li>
       <li class="mktFormReq mktField">
         <label for="Email" class="mktoLabel ">工作邮箱：</label>
         <input required="" id="Email" name="Email" maxlength="255" class="mktoField mktoEmailField  mktoRequired" type="email" aria-label="Email" aria-required="true">
       </li>
       <li class="mktFormReq mktField">
         <label for="Company" class="mktoLabel ">公司名称：</label>
         <input required="" id="Company" name="Company" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Company Name" aria-required="true">
       </li>
       <li class="mktFormReq mktField">
         <label for="Title" class="mktoLabel ">职位：</label>
         <input required="" id="Title" name="Title" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Job Title" aria-required="true">
       </li>
       <li class="mktFormReq mktField">
         <label for="Phone" class="mktoLabel ">电话号码：</label>
         <input required="" id="Phone" name="Phone" maxlength="255" class="mktoField mktoTelField  mktoRequired" type="tel" aria-label="Phone Number" aria-required="true">
       </li>
       <li class="mktField">
        <input name="canonicalUpdatesOptIn" aria-label="canonicalUpdatesOptIn" id="canonicalUpdatesOptIn" value="yes" class="mktoField" type="checkbox"><label for="canonicalUpdatesOptIn" class="mktoLabel "><small>我同意接收有关Canonical的产品和服务信息。</small></label>
       </li>
       <li class="mktField">           
        <p><small>在提交此表格的同时，我确认已阅读和同意<a class="p-link--external" href="https://www.ubuntu.com/legal/data-privacy/contact">的隐私声明</a>和<a class="p-link--external" href="https://www.ubuntu.com/legal/data-privacy">隐私政策</small></a>。
          <input name="RichText" aria-label="RichText" type="hidden">
        </p>
       </li>
       <li class="mktField">
         <input name="utm_campaign" aria-label="utm_campaign" class="mktoField  mktoFormCol" value="None" type="hidden">
       </li>
       <li class="mktField">
         <input name="utm_medium" aria-label="utm_medium" class="mktoField  mktoFormCol" value="None" type="hidden">
       </li>
       <li class="mktField">
         <input name="utm_source" aria-label="utm_source" class="mktoField  mktoFormCol" value="None" type="hidden">
       </li>
       <li class="mktField">
         <input name="Consent_to_Processing__c" aria-label="Consent" class="mktoField  mktoFormCol" value="Yes" type="hidden">
       </li>
       <li class="mktField">
         <br />
       </li>
       <li class="mktField">
         <button type="submit" class="mktoButton u-no-margin--bottom">提交</button>
         <input name="formid" aria-label="formid" class="mktoField" value="3674" type="hidden">
         <input name="lpId" aria-label="lpId" class="mktoField " value="" type="hidden">
         <input name="subId" aria-label="subId" class="mktoField " value="" type="hidden">
         <input name="munchkinId" aria-label="munchkinId" class="mktoField " value="" type="hidden">
         <input name="lpurl" aria-label="lpurl" class="mktoField " value="" type="hidden">
         <input name="cr" aria-label="cr" class="mktoField " value="" type="hidden">
         <input name="kw" aria-label="kw" class="mktoField " value="" type="hidden">
         <input name="q" aria-label="q" class="mktoField " value="" type="hidden">
       </li>
     </ul>
   </fieldset>
   <input type="hidden" name="returnURL" aria-label="returnURL" value="https://live.polyv.cn/watch/1871761">
   <input type="hidden" name="retURL" aria-label="retURL" value="https://live.polyv.cn/watch/1871761">
  </form>
  <script>
   $("#mktoForm_3674").validate({
     errorElement: "span",
     errorClass: "mktFormMsg mktError",
     onkeyup: false,
     onclick: false,
     onblur: false
   });
   $(function () {
     $("#comments").hide()
   });
   $('#Ubuntu_User__c').on('change', function () {
     var selection = $(this).val();
     if (selection == 'Commercially only') {
       $('#comments').show();
     } else {
       $('#comments').hide();
     }
   });
  </script>
  <script src="https://assets.ubuntu.com/v1/f97fa297-stateCountry.js"></script>
  
  <!-- /MARKETO FORM -->
    </div>
  </section>


{% endblock content %}
