{% extends "engage/base_engage.html" %}

{% block title %}Ubuntu Core 18介绍{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1zAv3ouUrzQcQDw2DSefaePXcMu35BAumIMpzqmIkycs/edit{% endblock meta_copydoc %}
{% if meta_description %}{% block meta_description %}Ubuntu 16.04下载, Ubuntu 18.04下载, Ubuntu服务器下载， Ubuntu系统下载， Ubuntu中文官网， Ubuntu OpenStack, MicroK8s, Ubuntu容器{{ meta_description }}{% endblock %}{% endif %}
{% block content %}

<section class="p-strip--dark p-takeover--directory">
  <div class="row u-equal-height">
    <div class="col-8 u-vertically-center">
      <h1 class="u-no-margin--bottom">
        Ubuntu Core 18——用于安全可靠的物联网设备
      </h1>
      <br class="u-hide--medium u-hide--large">
      <p class="u-hide--medium u-hide--large">
        <a href="#the-form" class="p-button--neutral">
          提交并观看
        </a>
      </p>
    </div>
    <div class="col-4 u-hide--small">
      <p class="u-align--center u-vertically-center">
        <img src="/static/img/internet-of-things/iot.png" alt="ubuntu iot"/>
      </p>
    </div>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="row">
    <div class="col-7">
      <p>
        Ubuntu Core 18将获得10年的低成本安全维护，使得在工业级或关键性部署成为可能。 更新通过特定于设备的SLA提供，确保更改由制造商或企业管理，并对在设备生命周期内检测到的任何漏洞提供快速响应。</p>
      <p>
        Ubuntu和Ubuntu Core现已在Dell，Rigado，Intel，Qualcomm，三星NXP，Orange Pi等领先制造商的设备上稳定运行。</p>
      <blockquote class="p-pull-quote">
        <p>今天有1700个独立出版商发布了4600个snap应用。</p>
      </blockquote>
      <h4>
        本视频版介绍将包含以下内容：</h4>
      <ul class="p-list">
        <li class="p-list__item is-ticked">
          IoT物联网商业模式分析
        </li>
        <li class="p-list__item is-ticked">
          Ubuntu Core 18新特性及功能
        </li>
        <li class="p-list__item is-ticked">
          Ubuntu Core路线规划图
        </li>
      </ul>
    </div>

    <div class="col-5">

       <!-- MARKETO FORM -->
  <script src="https://assets.ubuntu.com/v1/37b1db88-jquery.min.js"></script>
  <script src="https://assets.ubuntu.com/v1/d55f58bb-jquery.validate.js"></script>
  <script src="https://assets.ubuntu.com/v1/6ce35d3e-jquery-ui.min.js"></script>&zwnj;&#8203;
  <form action="https://pages.ubuntu.com/index.php/leadCapture/save" method="post" id="mktoForm_3452" style="margin-top: -1rem;" novalidate="novalidate">
    <fieldset class="u-no-padding--top" style="border-bottom-width: 1px; border-color:#cdcdcd;">
      <ul class="p-list">
        <li class="mktFormReq mktField p-list__item">
          <label for="FirstName" class="mktoLabel">名字：</label>
          <input required="" id="FirstName" name="FirstName" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="First Name" aria-required="true">
        </li>
        <li class="mktFormReq mktField">
          <label for="LastName" class="mktoLabel ">姓氏：</label>
          <input required="" id="LastName" name="LastName" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Last Name" aria-required="true">
        </li>
        <li class="mktFormReq mktField">
          <label for="Email" class="mktoLabel ">工作邮箱：</label>
          <input required="" id="Email" name="Email" maxlength="255" class="mktoField mktoEmailField  mktoRequired" type="email" aria-label="Email" aria-required="true">
        </li>
        <li class="mktFormReq mktField">
          <label for="Company" class="mktoLabel ">公司名称：</label>
          <input required="" id="Company" name="Company" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Company Name" aria-required="true">
        </li>
        <li class="mktFormReq mktField">
          <label for="Title" class="mktoLabel ">职位：</label>
          <input required="" id="Title" name="Title" maxlength="255" class="mktoField   mktoRequired" type="text" aria-label="Job Title" aria-required="true">
        </li>
        <li class="mktFormReq mktField">
          <label for="Phone" class="mktoLabel ">电话号码：</label>
          <input required="" id="Phone" name="Phone" maxlength="255" class="mktoField mktoTelField  mktoRequired" type="tel" aria-label="Phone Number" aria-required="true">
        </li>
        <li class="mktFormReq mktField p-list__item">
          <label for="Comments_from_lead__c" class="mktoLabel">您的留言:</label>
          <textarea required id="Comments_from_lead__c" name="Comments_from_lead__c" rows="4" class="mktoField mktoRequired" maxlength="2000"></textarea>
          </li>
        <li class="mktField">
          <input name="utm_campaign" aria-label="utm_campaign" class="mktoField  mktoFormCol" value="None" type="hidden">
        </li>
        <li class="mktField">
          <input name="utm_medium" aria-label="utm_medium" class="mktoField  mktoFormCol" value="None" type="hidden">
        </li>
        <li class="mktField">
          <input name="utm_source" aria-label="utm_source" class="mktoField  mktoFormCol" value="None" type="hidden">
        </li>
        <li class="mktField">
          <input name="Consent_to_Processing__c" aria-label="Consent" class="mktoField  mktoFormCol" value="Yes" type="hidden">
        </li>
        <li class="mktField">
          <br />
        </li>
        <li class="mktField">
          <button type="submit" class="mktoButton u-no-margin--bottom p-card--content" style="width:50%"> 提交并观看 </button>
          <input name="formid" aria-label="formid" class="mktoField" value="3452" type="hidden">
          <input name="lpId" aria-label="lpId" class="mktoField " value="" type="hidden">
          <input name="subId" aria-label="subId" class="mktoField " value="" type="hidden">
          <input name="munchkinId" aria-label="munchkinId" class="mktoField " value="" type="hidden">
          <input name="lpurl" aria-label="lpurl" class="mktoField " value="" type="hidden">
          <input name="cr" aria-label="cr" class="mktoField " value="" type="hidden">
          <input name="kw" aria-label="kw" class="mktoField " value="" type="hidden">
          <input name="q" aria-label="q" class="mktoField " value="" type="hidden">
        </li>
      </ul>
    </fieldset>
    <input type="hidden" name="returnURL" aria-label="returnURL" value="https://www.bilibili.com/video/av68076400/">
    <input type="hidden" name="retURL" aria-label="retURL" value="https://www.bilibili.com/video/av68076400/">
  </form>
  <script>
    $("#mktoForm_3452").validate({
      errorElement: "span",
      errorClass: "mktFormMsg mktError",
      onkeyup: false,
      onclick: false,
      onblur: false
    });
    $(function () {
      $("#comments").hide()
    });
    $('#Ubuntu_User__c').on('change', function () {
      var selection = $(this).val();
      if (selection == 'Commercially only') {
        $('#comments').show();
      } else {
        $('#comments').hide();
      }
    });
  </script>
  <script src="https://assets.ubuntu.com/v1/f97fa297-stateCountry.js"></script>
  <!-- /MARKETO FORM -->

    </div>
  </div>
</section>

{% endblock content %}
