canonicalwebteam.flask_base==1.1.0
canonicalwebteam.discourse==5.4.3
canonicalwebteam.http==1.0.4
canonicalwebteam.blog==6.4.0
canonicalwebteam.templatefinder==1.0.0
canonicalwebteam.image-template==1.5.0
pyyaml==6.0
gunicorn[gevent]
djlint==1.34.1
