{% extends "phone/base_phone.html" %}

{% block title %}手机{% endblock %}
{% block meta_description %}Ubuntu 的用户界面美观而、易用，是移动业界久候的新生类开源操作系统。{% endblock %}
{% block meta_keywords %}Ubuntu, 乌邦图, 电话, 智能手机, 移动手机, 手机, OS, 操作系统, 平台, 开源软件, Linux, 内容, 服务, Canonical, OEM, 服务界面,  Android, 触摸, 手握, 多重触摸, 边缘导航, Ubuntu Scopes, 设备, 种类, 姿势, 边幻效果, PC, 桌面, 融合, Scope, 新范例, 新一代, 移动生态环境{% endblock %}

{% block extra_body_class %}phone-home{% endblock %}

{% block second_level_nav_items %}
	{% include "templates/_nav_breadcrumb.html" with section_title="Phone" page_title="Phone"  %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero">
	<div class="five-col">
		<h1>Ubuntu 手机系统</h1>
		<p>世界首款运载Ubuntu的手机已经着陆欧洲市场，目前在欧洲由手机制造商BQ开始售卖。 Ubuntu手机即将在2015年搭乘Meizu设备来到中国。</p>
	</div><!-- /.five-col -->
	<div class="seven-col last-col text-center">
		<img src="{{ STATIC_URL }}img/phone/image-phone-overview.png" width="519" height="277" alt="Ubuntu phones with different state of screens" />
	</div>
</div><!-- /.row -->

{# ================ 2. Life at your fingertips ================ #}
<div id="fingertips" class="row">
	<div class="append-one five-col priority-0">
		<img src="{{ STATIC_URL }}img/phone/image-music---soundcloud.jpg" alt="" />
		<img src="{{ STATIC_URL }}img/phone/image-video---news.jpg" alt="" />
	</div>
	<div class="six-col last-col">
		<h2>触指生活</h2>
		<p>首次，将有一台这样的手机， 它会围绕着你提供对你来说最重要的内容和服务。 是时候向每天重复开关多个应用的时代说再见了 - 让Ubuntu Scope把一切都直接带到你的屏幕上吧。</p>
		<p>Ubuntu Scope是Ubuntu特有的一款范例, 它是为能够直接将内容和服务分类呈现在屏幕上定制而成的。 它为用户提供了一个丰富、快速且不碎片化的体验，同时为开发者们提供了一种新的创造类似传统应用的方式，但却更加容易被发现、简便创建及维护、而且可以被深入的结合到手机上。</p>
		<p>Ubuntu手机会默认自带几个类型的主页屏幕，包括音乐、照片和新闻， 这些内容将会定义设备自身的体验。这些集合类的Scope将不同渠道源的内容和服务用统一的体验展现出来。 例如， 视频Scope将会呈现不同渠道源的视频内容， 音乐Scope能拥有不同音乐提供商的音乐 - 他们都会被呈现在一个Scope之内</p>
		<p>每个单独的渠道源同样可以展开成为一个类似传统应用形式的完全独立品牌化的体验。 对于开发者来说， 这也是创造丰富移动体验最快捷的途径， 相比传统应用只需一小部分精力来完成。 通过使用现有Scope集合来展示品牌化的Scope, 用户可以在默认集合类Scopes和商店中两处发现他们。并且当用户将一个Scope添加为最爱时， 它会自动成为设备上默认屏幕.</p>
	</div>
</div><!-- /.row -->


{# ================ 3. Life on the edge ================ #}
<div class="row row-edge">
	<h2 class="twelve-col">边缘导航</h2>

	<div class="three-col">

		<div class="first swipe-from-left">
				<h3>从左向内划</h3>
				<p class="three-col">从屏幕左边缘向内轻划，可以展开启动栏，提供快捷访问你最喜爱的内容和应用</p>
			<div class="three-col">
				<img class="right" src="{{ STATIC_URL }}img/phone/image-swipe-from-left.png" alt="" />
			</div>
		</div><!--/#swipe-from-left -->

		<div class="three-col swipe-from-top">
			<div class="three-col">
				<img src="{{ STATIC_URL }}img/phone/image-swipe-from-top.png" alt="" />
			</div>
			<h3>从上往下划</h3>
			<p class="three-col">从屏幕上边缘往下划，可以访问提示栏和关键手机设置，而且这个操作不会打断你正在进行的某个事情。</p>
		</div><!--/#swipe-from-top -->

	</div><!-- /.three-col -->

	<div class="six-col align-center">
		<img src="{{ STATIC_URL }}img/phone/phone-greeter-14.10.png" alt="" />
	</div><!-- /.six-col -->

	<div class="three-col last-col">

		<div class="three-col first swipe-from-right">
			<h3>从右向内划</h3>
			<p class="three-col">从屏幕右边缘向内全幅划过，可以展开你所有正在运行的Scopes和应用。 屏幕内左右滑动可以在不同应用中切换。</p>
			<div class="clearfix">
				<img src="{{ STATIC_URL }}img/phone/image-swipe-from-right.png" alt="" />
			</div>
		</div><!-- /#swipe-from-right -->

		<div class="three-col swipe-from-bottom">
			<div class="three-col">
				<img class="right" src="{{ STATIC_URL }}img/phone/image-swipe-from-bottom.png" alt="" />
			</div>
			<h3>从下往上划</h3>
			<p>当你想要看到所有控件时, 你只需要从屏幕最下边缘轻轻一划。</p>
		</div><!-- /#swipe-from-bottom -->

	</div><!-- /.three-col -->

</div><!-- /.row -->

{# ================ 4. A unique opportunity for industry partners ================ #}
<div class="row">
	<div class="eight-col">
		<h2>为行业伙伴们开启的独特机遇</h2>
		<p>对于移动运营商和硬件制造商来说除了硬件和连通性， 更加至关重要的是需要为用户创造价值，分异化以及新的盈利模式。 而当服务层是由平台主操控，或当所谓的开源仅仅是针对内核层面时；这都将是一个非常大的挑战。</p>
		<p>Ubuntu手机平台是专门为实现您的生态环境而打造的。 它为运营商，硬件制造商和互联网公司提供了一个前所未有的机遇，它将整个服务层面都授权于行业伙伴们， 这包括用户身份、付费、整套数据生活服务、甚至应用商店。 而这一切都是为了保证在Ubuntu设备上能有一个一致，不碎片化的用户体验.</p>
	</div>
</div>

{# ================ 5. Easy for developers to adopt ================ #}
<div class="row">
	<div class="six-col align-center priority-0">
		<img src="{{ STATIC_URL }}img/phone/image-developers.jpg" alt="收集关于Ubuntu的手机可用的应用程序顶部"/>
	</div>
	<div class="six-col last-col">
		<h2>方便开发者采用</h2>
		<p>应用合作伙伴和开发者可从多个切入点将内 容和服务带入 Ubuntu 平台。Scopes 易于创 建，仅需最少的开发工作。但它却可以将内容和服务在手机上最大限度的呈现出来。</p>
		<p>而且通过使用Webkit/Blink渲染引擎和Apache Cordova API来进行离线封包，现有的HTML5应用可以快速方便地移植。丰富的本地应用则可以通过Qt框架来完成开发。</p>
		<p><a href="http://cn.developer.ubuntu.com" class="external">访问 Ubuntu 开发者网站&nbsp;&rsaquo;</a></p>
	</div>
</div>

<div class="row no-border">
	<div class="eight-col">
		<p><a class="external" href="http://ubuntu.com/phone">登录 www.ubuntu.com 进一步了解 Ubuntu 手机系统</a></p>
	</div>
</div><!-- / .row -->

{% endblock %}