{% extends "phone/base_phone.html" %}

{% block title %}手机{% endblock %}
{% block meta_description %}Ubuntu 手机系统的用户界面美观而、易用，是移动业界久候的新生类开源操作系统。{% endblock %}
{% block meta_keywords %}ubuntu, Ubuntu, 乌班图, 手机操作系统, 手机, 智能手机, 电话, OS, operating system, 操作系统, 平台, 开源, open source, 开源软件, Linux, android, 安卓, oem, OEM, 触屏,设备, 电信运营商, 多重触摸, form factor, 外形规格, 设计规格, 手势识别, PC, 个人电脑, desktop, 桌面电脑, convergence, 融合, 技能融合, 软件集合, 硬件集合, 商企, ios, 运营商, 服务层面开放, scope, scopes, SCOPE, Scope, app, APP, 应用, 应用开发, bq, meizu, 魅族, MX4, 四妹{% endblock %}

{% block extra_body_class %}phone-home{% endblock %}

{% block second_level_nav_items %}
    {% include "templates/_nav_breadcrumb.html" with section_title="Phone" page_title="Phone"  %}
{% endblock second_level_nav_items %}

{% block content %}

{# ================ 1. Life at your fingertips ================ #}
<div id="fingertips" class="row row-hero no-border">
    <div class="twelve-col for-mobile">
        <img src="{{ STATIC_URL }}img/phone/image-life-at-your-fingertips.jpg" class="for-mobile" />
    </div>
    <div class="five-col">
        <h1>让触指生活更简单</h1>
        <p>Ubuntu带来了智能手机的一种新玩法，无需依赖传统APP来填满你的主屏。通过Ubuntu的Scope，你可以将自己最关心的内容直接呈现到你的主屏，你查询的内容和服务无需隐藏在迷宫般的APP网格背后</p>
    </div>
</div>

{# ================ 2. Introducing scopes ================ #}
<div id="scopes" class="row row-slideshow">
    <div class="carousel-container-overlay not-for-small"></div>
    <div id="carousel-container" class="carousel not-for-small">
        <div class="carousel-topbar"></div>
        <ul>
            <li><img src="{{ STATIC_URL }}img/phone/slideshow/slide-one.png" alt="Cave"></li>
            <li><img src="{{ STATIC_URL }}img/phone/slideshow/slide-two.png" alt="Cave"></li>
            <li><img src="{{ STATIC_URL }}img/phone/slideshow/slide-three.png" alt="Cave"></li>
            <li><img src="{{ STATIC_URL }}img/phone/slideshow/slide-four.png" alt="Cave"></li>
            <li><img src="{{ STATIC_URL }}img/phone/slideshow/slide-one.png" alt="Cave"></li>
            <li><img src="{{ STATIC_URL }}img/phone/slideshow/slide-two.png" alt="Cave"></li>
            <li><img src="{{ STATIC_URL }}img/phone/slideshow/slide-three.png" alt="Cave"></li>
            <li><img src="{{ STATIC_URL }}img/phone/slideshow/slide-four.png" alt="Cave"></li>
        </ul>
    </div>
    <div class="six-col for-mobile">
        <img class="left" src="{{ STATIC_URL }}img/phone/image-introducing-scopes.png" alt="" />
    </div>

    <div id="scopes-content" class="six-col last-col prepend-five">
        <h2>Scope是什么</h2>
        <p>Ubuntu的Scope可以理解为手机上根据不同内容类别呈现的一页页的主屏，通过主屏你可以直接看到听到所有你需要的内容服务， 从电影、音乐、周边服务、头条新闻、以及日程提醒。 根据每个用户的喜好习惯，每一页的Scope内容都可以按用户习惯个性化调整。 </p>
    </div>
</div>

{# ================ 3. Life on the edge ================ #}
<div class="row row-edge">
    <h2 class="twelve-col">边缘导航</h2>

    <div class="three-col">

        <div class="first swipe-from-left">
            <h3>从左向内划</h3>
            <p class="three-col">从屏幕左边缘向内轻划，可以展开启动栏，提供快捷访问你最常用的内容和应用</p>
            <div class="three-col not-for-small">
                <img class="right" src="{{ STATIC_URL }}img/phone/image-swipe-from-left.png" alt="" />
            </div>
        </div><!--/#swipe-from-left -->

        <div class="three-col swipe-from-top">
            <div class="three-col not-for-small">
                <img src="{{ STATIC_URL }}img/phone/image-swipe-from-top.png" alt="" />
            </div>
            <h3>从上往下划</h3>
            <p class="three-col">从屏幕上边缘往下划，可以访问提示栏和关键手机设置，而且这个操作也不会打断你正在进行中的某个事情。</p>
        </div><!--/#swipe-from-top -->

    </div><!-- /.three-col -->

    <div class="six-col align-center">
        <img src="{{ STATIC_URL }}img/phone/phone-meizu-greeter-14.10.png" alt="Meizu phone" />
    </div><!-- /.six-col -->

    <div class="three-col last-col">

        <div class="first swipe-from-right">
            <h3>从右向内划</h3>
            <p class="three-col">从屏幕右边缘向内全幅划过，可以展开你所有正在运行的Scopes和应用。 屏幕内左右滑动可以在不同应用中切换。</p>
            <div class="clearfix not-for-small">
                <img src="{{ STATIC_URL }}img/phone/image-swipe-from-right.png" alt="" />
            </div>
        </div><!-- /#swipe-from-right -->

        <div class="three-col swipe-from-bottom">
            <div class="three-col not-for-small">
                <img class="right" src="{{ STATIC_URL }}img/phone/image-swipe-from-bottom.png" alt="" />
            </div>
            <h3>从下往上划</h3>
            <p>当你想要看到所有控件时, 你只需要从屏幕最下边缘轻轻一划。</p>
        </div><!-- /#swipe-from-bottom -->

    </div><!-- /.three-col -->

</div><!-- /.row -->

{# ================ 4. For developers by design ================ #}
<div id="developers" class="row row-developers">
    <div class="six-col">
        <h2>为开发者贴心打造</h2>
        <p>通过巧妙使用Scope， 你的内容和服务可以更加紧密的结合到手机的核心体验中。 相比开发及维护更新一个传统APP所需要的时间和精力投资，开发一个Scope是微乎其微的。开发一款移动体验从未如此轻松。Ubuntu的SDK同时还完美的支持主流HTML5应用， 而通过使用Qt/QML框架，可以开发出丰富多元化本地应用，例如本地游戏等等。</p>
        <p><a href="http://cn.developer.ubuntu.com/zh-cn/start/" class="link-cta-ubuntu">安装SDK</a></p>
    </div>
</div>

{# ================ 5. HTML5 and SDK ================ #}
<div id="html5" class="row row-grey no-border row-html5">
    <div class="four-col align-center">
        <img src="{{ STATIC_URL }}img/phone/image-html5-logo.png" alt="HTML5" />
    </div>
    <div class="eight-col last-col">
        <h3>HTML5和网页APP:搭乘Ubuntu的最快捷径 </h3>
        <p>如果你曾为其他平台创建 HTML5 应用或移动网页的话，我们有一个超棒的消息和你分享：这是通往 Ubuntu 平台的最短捷径。我们同时支持 Webkit/Blink 和 Cordova 开发标准 - 能快速的让网页转化并脱离浏览器运转，同时所有的网页应用有额外API 能够让应用全面访问手机提示和设置内容。目前我们已有在线打包表格，上传现有应用只是一键之远。</p>
        <p><a href="https://developer.ubuntu.com/webapp-generator/" class="link-cta-ubuntu">立刻上传</a></p>
    </div>
</div>

<div id="qt" class="row row-qt">
    <div class="eight-col">
        <h3>本地应用</h3>
        <p>Ubuntu SDK 包含了众多你需要的功能；可以用来打造你自己的Scope，转化你现有的网页或HTML5版本的内容，或开发本地应用。</p>
        <ul class="list-ubuntu">
            <li>QtCreator IDE (2.8.1) 拥有增强的设备检测及管理功能    </li>
            <li>全面本地的 OpenGL    </li>
            <li>可以访问硬件传感器和闹钟的系统及服务类API  </li>
            <li>可自由结合QML, C 或 C++ 以及 JavaScript</li>
            <li>最新的Ubuntu设计纲要，让你的应用符合UI</li>
        </ul>
    </div>
    <div class="not-for-small four-col last-col align-center">
        <img src="{{ STATIC_URL }}img/phone/logo-qt.svg" alt="QT" />
    </div>
</div>

{# ================ 6. China Mobile and Ubuntu Developer Program ================ #}
<div id="deveoper-programme" class="row row-developer-programme">
    <div class="five-col append-one">
        <img src="{{ STATIC_URL }}img/phone/image-competition.png" alt="Meizu phones" />
    </div>
    <div class="six-col last-col">
        <div class="six-col">
            <img src="{{ STATIC_URL }}img/logos/china-mobile-white.svg" alt="China mobile" />
        </div>
        <h2>中国移动 &amp; Ubuntu开发者创新大赛</h2>
        <p>2014年底，&ldquo;中国移动 &amp; Ubuntu开发者创新大赛&rdquo;正式开启。旨在为青年开发者率先接触新兴的移动生态系统，从而获得崭新的创业机遇。&ldquo;中国移动 &amp; Ubuntu开发者创新大赛”是中国移动“和你圆梦&rdquo;百万青年创业就业计划最新开启的子赛事。</p>
        <p>大赛时间：2014年12月18日 &mdash; 2015年8月23日</p>
        <p>其他大赛详情请关注页面下方微博微信</p>
    </div>
</div>

{# ================ Links ================ #}
<div class="row row-links no-border">
    <div class="six-col">
        <p>关注我们：</p>
        <div class="six-col">
            <ul class="list--social">
                <li class="list--social__item list--social__item--weibo"><a href="http://weibo.com/u/1278359237">Weibo</a></li>
                <li class="list--social__item list--social__item--wechat"><a href="http://weixin.qq.com/r/-3WAmA7EM1NMrUr79yDt">WeChat</a></li>
            </ul>
        </div>
        <p><a href="http://ubuntu.com/phone" class="external">Learn more about Ubuntu on phones at www.ubuntu.com</a></p>
        <p><a href="http://cn.developer.ubuntu.com/ " class="external">访问 Ubuntu 开发者网站</a></p>
    </div>
</div>
{% endblock %}
