# -*- coding: utf-8 -*-
from __future__ import unicode_literals

# Modules
from django.db import migrations

# Local
from website.models import Page
from website.db_helpers import import_page_from_json_file


def import_page(apps, schema_editor):
    """
    Import a new page from a JSON data in the "page-data" directory
    """

    Page.objects.get(url="{{ page_url }}").delete()

    import_page_from_json_file('{{ filepath }}')


class Migration(migrations.Migration):

    dependencies = [
        ('website', '{{ previous_migration }}'),
    ]

    operations = [
        migrations.RunPython(import_page)
    ]
