<div class="u-fixed-width">
    <div style="overflow-x: auto;">
      <table class="p-table">
        <thead>
          <tr>
            <th style="width: 50%;">&nbsp;</th>
            <th class="u-align--right">无支持</th>
            <th class="u-align--right">工作日支持</th>
            <th class="u-align--right">7x24支持</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>每管理的机器 - 每年</td>
            <td class="u-align--right">$30</td>
            <td class="u-align--right">$50</td>
            <td class="u-align--right">$100</td>
          </tr>
          <tr>
            <td>电话和工单支持</td>
            <td class="u-align--right">无</td>
            <td class="u-align--right">工作日小时</td>
            <td class="u-align--right">24/7</td>
          </tr>
          <tr>
            <td>响应时间 - SLA Sev 1</td>
            <td class="u-align--right">-</td>
            <td class="u-align--right">4 小时</td>
            <td class="u-align--right">1 小时</td>
          </tr>
          <tr>
            <td>知识库访问</td>
            <td class="u-align--right">已包含</td>
            <td class="u-align--right">已包含</td>
            <td class="u-align--right">已包含</td>
          </tr>
          <tr>
            <td>基于角色的访问控制 (RBAC)</td>
            <td class="u-align--right">已包含</td>
            <td class="u-align--right">已包含</td>
            <td class="u-align--right">已包含</td>
          </tr>
          <tr>
            <td>高可用</td>
            <td class="u-align--right">已包含</td>
            <td class="u-align--right">已包含</td>
            <td class="u-align--right">已包含</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>