<div class="u-fixed-width">
  <h2>固定价格的交付</h2>
  <p class="p-heading--4">根据您的需求量身打造的咨询服务包</p>
  <p>没有隐藏费用。没有惊喜。一切从一开始就很清楚。我们设计云，我们构建云。</p>
  <p>选择您的服务包：</p>
</div>
<div class="row">
  <div class="col-6 p-card">
    <h2 class="p-heading--four">私有云构建</h2>
    <p><span class="p-heading--two">$75,000</span> 固定价格</p>
    <hr class="u-sv1">
    <p>基于参考架构的基准 OpenStack 云的设计和部署。</p>
    <p>包含内容： <sup><a href="#os-footnote">*</a></sup></p>
    <ul class="p-list">
      <li class="p-list__item is-ticked">硬件配置的指引和大小调整</li>
      <li class="p-list__item is-ticked">可参考的架构</li>
      <li class="p-list__item is-ticked">简化的网络</li>
      <li class="p-list__item is-ticked">超融合和融合</li>
      <li class="p-list__item is-ticked">容器化的控制面板</li>
      <li class="p-list__item is-ticked">可观测堆栈</li>
      <li class="p-list__item is-ticked">块和对象存储</li>
      <li class="p-list__item is-ticked">高可用（HA）</li>
    </ul>
    <p>在认证的硬件上设计和交付。</p>
    <p><a href="https://ubuntu.com/openstack/consulting" class="p-link--external">获取 OpenStack 咨询服务</a></p>
  </div>
  <div class="col-6 p-card">
    <h2 class="p-heading--four">私有云构建 Plus</h2>
    <p><span class="p-heading--two">$150,000</span> 固定价格</p>
    <hr class="u-sv1">
    <p>基于自定义架构的电信运营商级，功能丰富的 OpenStack 云的设计和部署。</p>
    <p>包含内容：<sup><a href="#os-footnote">*</a></sup></p>
    <p>所有“私有云构建”中的内容，加：</p>
    <ul class="p-list">
      <li class="p-list__item is-ticked">自定义架构</li>
      <li class="p-list__item is-ticked">容器化或隔离的控制面板</li>
      <li class="p-list__item is-ticked">复杂的网络集成</li>
      <li class="p-list__item is-ticked">LDAP 或 Active Directory 集成</li>
      <li class="p-list__item is-ticked">合规性</li>
      <li class="p-list__item is-ticked">动态和静态加密</li>
      <li class="p-list__item is-ticked">EPA 调谐选项</li>
      <li class="p-list__item is-ticked">块，对象和文件存储</li>
      <li class="p-list__item is-ticked">Layer&ndash;7 负载均衡器</li>
      <li class="p-list__item is-ticked">信任凭据管理</li>
    </ul>
    <p>研讨以确定适合您的工作负载和集成要求的最佳架构。</p>
    <p><a href="https://ubuntu.com/openstack/consulting" class="p-link--external">从 VMware 迁移</a></p>
  </div>
</div>
<div class="u-fixed-width">
  <p id="os-footnote">* 附加的特性、功能和集成可通过附加组件获得</p>
</div>