<div class="u-fixed-width">
    <div style="overflow-x: auto;">
      <table class="p-table">
        <thead>
          <tr>
            <th style="width: 50%;">&nbsp;</th>
            <th class="u-align--right">每个虚拟机</th>
            <th class="u-align--right">每个主机</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>公有云，VMware 或者 OpenStack 上<a href="https://www.ubuntu.com/kubernetes/managed">托管的Kubernetes</a></td>
            <td class="u-align--right">$1,305</td>
            <td class="u-align--right">$2,925 <sup><a href="#k8s-per-host">*</a></sup></td>
            <td></td>
          </tr>
          <tr>
            <td>裸机上<a href="https://www.ubuntu.com/openstack/managed">托管的OpenStack</a></td>
            <td class="u-align--right">&nbsp;</td>
            <td class="u-align--right">$5,475</td>
            <td></td>
          </tr>
          <tr>
            <td>裸机上<a href="https://www.ubuntu.com/kubernetes/managed">托管的Kubernetes</a></td>
            <td class="u-align--right">&nbsp;</td>
            <td class="u-align--right">$3,985</td>
            <td></td>
          </tr>
          <tr>
            <td>裸机上<a href="https://www.ubuntu.com/ceph">托管的Ceph</a></td>
            <td class="u-align--right">&nbsp;</td>
            <td class="u-align--right">$3,485</td>
            <td></td>
          </tr>
          <tr>
            <td>组合产品 - 在完全托管的 OpenStack 上托管的按需供给的 kubernetes</td>
            <td class="u-align--right">&nbsp;</td>
            <td class="u-align--right">$6,351</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <p id="k8s-per-host"><sup>*</sup> <small>在 VMware 或 OpenStack 集群上，托管的客户机可以按集群中的主机定价。</small></p>
  </div>