<div class="u-fixed-width">
  <div style="overflow-x: auto;">
    <table class="p-table">
      <thead>
        <tr>
          <th style="width: 50%;"></th>
          <th class="u-align--right">Ubuntu Pro （基础设施）</th>
          <th class="u-align--right">Ubuntu Pro</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>物理服务器</td>
          <td class="u-align--right">$225</td>
          <td class="u-align--right">$500</td>
          <td></td>
        </tr>
        {% if no_desktop != "true" %}
        <tr>
          <td>桌面 - 每台每年</td>
          <td class="u-align--right">无</td>
          <td class="u-align--right">$25</td>
          <td></td>
        </tr>
        {% endif %}
        <tr>
          <td>用于基础设施的<a href="/support/esm">扩展的安全维护服务</a>（ESM-基础设施）</td>
          <td class="u-align--right">包含</td>
          <td class="u-align--right">包含</td>
          <td></td>
        </tr>
        <tr>
          <td>用于应用程序的<a href="/support/esm">扩展的安全维护服务</a>（ESM-应用程序）&mdash; 测试中</td>
          <td class="u-align--right">不包含</td>
          <td class="u-align--right">包含</td>
          <td></td>
        </tr>
        <tr>
          <td><a href="https://www.ubuntu.com/livepatch">内核实时补丁</a>服务避免补丁后需重启</td>
          <td class="u-align--right">包含</td>
          <td class="u-align--right">包含</td>
          <td></td>
        </tr>
        <tr>
          <td>Ubuntu 系统管理工具&mdash;<a href="https://landscape.canonical.com">Landscape</a></td>
          <td class="u-align--right">包含</td>
          <td class="u-align--right">包含</td>
          <td></td>
        </tr>
        <tr>
          <td>Ubuntu 桌面的<a href="https://www.ubuntu.com/engage/microsoft-active-directory">高级 Active Directory</a> 策略</td>
          <td class="u-align--right">不包含</td>
          <td class="u-align--right">包含</td>
          <td></td>
        </tr>        
        <tr>
          <td>知识库访问</td>
          <td class="u-align--right">包含</td>
          <td class="u-align--right">包含</td>
          <td></td>
        </tr>
        <tr>
          <td>用于 KVM 客户机的认证的Windows驱动</td>
          <td class="u-align--right">包含</td>
          <td class="u-align--right">包含</td>
          <td></td>
        </tr>
        <tr>
          <td><a href="https://www.ubuntu.com/security/certifications">FIPS 140</a> 认证加密模块</td>
          <td class="u-align--right">包含</td>
          <td class="u-align--right">包含</td>
          <td></td>
        </tr>
        <tr>
          <td><a href="https://www.ubuntu.com/security/certifications#common-criteria">认证的 Common Criteria EAL2</a></td>
          <td class="u-align--right">包含</td>
          <td class="u-align--right">包含</td>
          <td></td>
        </tr>
        <tr>
          <td>具有 <a href="https://www.ubuntu.com/security/certifications#cis">CIS Benchmark</a> 和 DISA-STIG 配置文件的 Ubuntu 安全指南(USG) </td>
          <td class="u-align--right">包含</td>
          <td class="u-align--right">包含</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  {% if extra %}
  <p><small>{{ extra|safe }}</small></p>
  {% endif %}
</div>