<div class="u-fixed-width">
    <div style="overflow-x: auto;">
      <table>
        <thead>
          <tr>
            <th style="width: 50%;">Ubuntu订阅高级存储</th>
            <th class="u-align--right">阶梯价格</th>
            <th class="u-align--right">额外每TB</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>150 TB 以内</td>
            <td class="u-align--right">0</td>
            <td class="u-align--right">$33.33</td>
            <td></td>
          </tr>
          <tr>
            <td>150 - 1500 TB</td>
            <td class="u-align--right">$5,000</td>
            <td class="u-align--right">$25.00</td>
            <td></td>
          </tr>
          <tr>
            <td>1500 - 3000 TB</td>
            <td class="u-align--right">$38,750</td>
            <td class="u-align--right">$13.33</td>
            <td></td>
          </tr>
          <tr>
            <td>3000 to 15000 TB</td>
            <td class="u-align--right">$58,750</td>
            <td class="u-align--right">$6.67</td>
            <td></td>
          </tr>
          <tr>
            <td>15000 to 30000 TB</td>
            <td class="u-align--right">$138,750</td>
            <td class="u-align--right">$3.33</td>
            <td></td>
          </tr>
          <tr>
            <td>30000 TB 以上</td>
            <td class="u-align--right">$188,750</td>
            <td class="u-align--right">$0.00</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>价格适用于 Ubuntu Pro + 7x24 支持合同。工作日支持级别目前为五折。</p>
  </div>