{% extends "templates/base.html" %}

{% block title %}价格{{ page_title }}{% endblock %}
{% block meta_description %}Ubuntu系统集中管理 Ubuntu订阅 Ubuntu企业版 Linux企业服务{{ meta_description }}{% endblock %}

{% block content %}
{% include "landscape/secondary-nav.html" %}

<section class="p-strip">
    <div class="u-fixed-width u-sv4">
      <h1>选择最适合的Landscape服务包</h1>
      <p class="u-sv4">订阅<a href="/support/pro">Ubuntu Pro</a>即可使用Landscape。自托管的Landscape有一个10台机器的免费额度，供个人使用或评估目的。Landscape SaaS目前没有免费选项。</p>
      <table class="p-table">
        <thead>
          <tr>
            <th style="font-size: 20px;">特点</th>            
            <th class="u-align--center"><span style="font-size: 20px;">Landscape SaaS</span> 
              <br>无需维护服务器软件
              <br>
              <a href="/contact" class="p-button--positive is-small">获得Landscape SaaS</a>              
            </th>
            <th class="u-align--center"><span style="font-size: 20px;">自托管的Landscape</span> <br>在内部或任意云上运行</th>
            <th class="u-align--center"><span style="font-size: 20px;">代管的Landscape</span> 
              <br>在您的防火墙后运行
              <br>
              <a href="/contact" class="p-button--positive is-small">获得代管的Landscape</a>   
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>软件和库存机器管理</td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
          </tr>
          <tr>
            <td>安全补丁和通告</td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
          </tr>
          <tr>
            <td>系统监控和自定义报告</td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
          </tr>
          <tr>
            <td>库存机器管理</td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
          </tr>
          <tr>
            <td>合规管理</td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
          </tr>
          <tr>
            <td>基于角色的访问控制（RBAC）</td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
          </tr>
          <tr>
            <td>管理虚拟化主机（KVM，VMware，LXD等）上的全部客户机</td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
          </tr>
          <tr>
            <td>UbuntuOne与SSO集成</td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
          </tr>
          <tr>
            <td>第三方SSO集成</td>
            <td></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>            
          </tr>
          <tr>
            <td>自定义软件仓库</td>
            <td></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
          </tr>
          <tr>
            <td>私有软件仓库托管</td>
            <td></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
          </tr>
          <tr>
            <td>由Canonical代管</td>           
            <td class="u-align--center"><i class="p-icon--success"></i></td>
            <td></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
          </tr>
          <tr>
            <td>管理4万台机器且具有SLA</td>
            <td></td>
            <td></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
          </tr>
          <tr>
            <td>内网运行</td>
            <td></td>
            <td class="u-align--center"><i class="p-icon--success"></i></td>
          </tr>          
          <tr>
            <td>价格</td>
            <td>Landscape SaaS已包含在任意的Ubuntu Pro订阅服务中。</td>
            <td>个人或项目评估使用最多可免费10台机器。<br /><br />除了免费额度，如果自托管的Landscape上的机器超过10台时，则需要<a href="/support/pro">Ubuntu Pro</a>订阅服务。</td>
            <td>Canonical 的标准<a href="https://ubuntu.com/managed/apps">托管应用程序</a>定价也适用</td>
            
          </tr>
          <tr>    
            <td></td>       
            <td><a class="p-button--positive is-small" href="/contact">获取Landscape SaaS</a></td>
            <td><a href="/landscape/install">安装自托管的Landscape</a></td>
            <td><a class="p-button--positive is-small" href="/contact">获取代管的Landscape</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  
  <section class="p-strip--light">
    <div class="row u-equal-height">
      <div class="col-6 u-vertically-center">
        <div>
          <h2>与我们团队的成员交谈</h2>
          <p>如果您想详细地了解Landscape或我们的专业服务选项，请联系我们讨论您的需求。</p>
          <p><a href="/contact" class="p-button--positive">联系我们</a></p>
        </div>
      </div>
      <div class="col-5 u-hide--small u-hide--medium u-align--right">
        {{
          image(
            url="https://assets.ubuntu.com/v1/c4b290c8-Contact+us.svg",
            alt="",
            height="280",
            width="280",
            hi_def=True,
            loading="lazy",
          ) | safe
        }}
      </div>
    </div>
  </section>

  <script src="https://ubuntu.com/static/js/src/landscape-form.js"></script> 

{% endblock %}