<nav class="p-navigation--secondary">
    <div class="row">
      <div class="col-12 u-equal-height">
        <a class="p-navigation--secondary__banner u-hide--nav-threshold-down" href="/landscape">
          <h5 class="p-navigation--secondary__logo">
            Landscape
          </h5>
        </a>
        <ul class="breadcrumbs--secondary">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link {% if request.path == '/landscape/features' %}p-link--active{% else %}p-link--soft{% endif %}" href="/landscape/features">特点</a>
          </li> 
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link {% if request.path == '/landscape/pricing' %}p-link--active{% else %}p-link--soft{% endif %}" href="/landscape/pricing">价格</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link {% if request.path == '/landscape/install' %}p-link--active{% else %}p-link--soft{% endif %}" href="/landscape/install">安装</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link p-link--soft" href="https://docs.ubuntu.com/landscape/en/">文档</a>
          </li>   
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link p-link--soft" href="https://landscape.canonical.com/login/authenticate">登录到Landscape</a>
          </li>                      
        </ul>
      </div>
    </div>
  </nav>
  