{% extends "templates/base.html" %}

{% block title %}Ubuntu驱动的智能显示屏{{ title }}{% endblock %}
{% block meta_description %}{{ meta_description }}Ubuntu Core，物联网OS，Linux操作系统，嵌入式Linux，网关，机器人，智能驾驶，snap，snapcraft{% endblock %}

{% block content %}

<section class="p-strip--image is-dark is-deep u-no-padding--top u-no-padding--bottom" style="background-image: url(https://assets.ubuntu.com/v1/2c3ad93c-digital-signage-2.png); background-position: right bottom; background-size: 980px auto;">
  <div class="p-strip--suru-half-and-half-reversed">
    <div class="row u-equal-height u-vertically-center">
      <div class="col-6">
        <h1>
          由Ubuntu支持的<br \>数字标牌和信息亭
        </h1>
        <p class="p-heading--4">为您的企业构建智能显示屏的简单，安全，可靠的方式。</p>        
        <p><a href="https://ubuntu.com/core/services" class="p-button--positive">通过IoT专业服务构建数字标牌</a></p>
        <p><a href="/engage/embedding-IoT-GUI-with-Ubuntu-Frame" class="p-link--inverted">使用我们的指南为IoT开发图形应用程序&nbsp;&rsaquo;</a></p>
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <h2 class="u-sv3">适用于所有企业的 Linux 显示屏方案</h2>
  </div>
  <div class="row">
    <div class="col-4">
      <h3 class="p-heading--4">安全</h3>
      <p>使用经过工业验证的操作系统保护敏感信息的安全。享受具有内置安全性和全面功能的操作系统，如严格限制的应用程序、全盘加密、安全启动，以及与您的设备使用寿命相匹配的十年安全维护。</p>
    </div>
    <div class="col-4">
      <h3 class="p-heading--4">可靠</h3>
      <p>Ubuntu拥有超过15年的行业经验，是当今可用于嵌入式设备的最成熟的图形服务器之一。</p>
      <p>Ubuntu已被成功地用于信息亭、物联网和数字标牌解决方案，包括智能镜子、健康信息亭和工业监控面板。</p>
    </div>
    <div class="col-4">
      <h3 class="p-heading--4">简单</h3>
      <p>开发人员首选，Ubuntu的灵活性让您可以做更多事情。连同用于部署、配置和无线更新的工具，您可以在几秒钟内启动并运行智能显示器。简单的集成，让您专注于业务价值。</p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-sv3">
    <div class="col-12">
      <h2>即刻开始</h2>
      <p class="p-heading--4">想构建一个智能显示屏方案吗？Ubuntu Core和Ubuntu Frame可满足您的全部需要。完全开源并由Canonical提供长期的支持。</p>
      <p class="p-heading--4">或联系我们，让我们将您的设备快速推向市场。</p>
      <p><a href="/contact" class="p-button">联系以了解更多</a></p>
    </div>
  </div>

  <div class="row">
    <div class="p-card col-6">
      <div class="u-sv1">
        {{ image (
          url="https://assets.ubuntu.com/v1/8498283b-Ubuntu+Core-logo-RGB-2022.png",
          alt="Ubuntu core",
          width="156",
          height="36",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-card__thumbnail"}
          ) | safe
        }}
      </div>
      <p class="p-heading--4">专为边缘设计的操作系统</p>
      <div class="p-card__content">        
        <p><a href="/internet-of-things/core">Ubuntu Core</a>占用空间小且功能强大，在降低硬件成本的同时仍然可运行4k视频。作为一种低成本的开源解决方案，Ubuntu Core基于服务器版本而构建，带来了一个安全稳定的平台，专为全天候的可用性而设计，并能抵御屏幕接管和其他攻击。</p>
        <p>Ubuntu Core 提供了您所需的所有安全功能和设备管理解决方案以部署、配置和维护您的设备。</p>
      </div>
      <p><a href="/internet-of-things/core">了解更多关于Ubuntu Core的内容&nbsp;&rsaquo;</a></p>
    </div>
    <div class="p-card col-6">
      <div class="u-sv1">
        {{ image (
          url="https://assets.ubuntu.com/v1/cac4e35c-Ubuntu+Frame-logo-RGB-2022.png",
          alt="Ubuntu frame",
          width="172",
          height="36",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-card__thumbnail"}
          ) | safe
        }}
      </div>
      <p class="p-heading--4">用于嵌入式显示器的全屏框架</p>
      <div class="p-card__content">
        <p><a href="https://mir-server.io/ubuntu-frame/">Ubuntu Frame</a>解锁了可帮助您创建专用和锁定的用户体验的信息亭模式。 您的图形应用程序将立即以所有支持的输入方式全屏运行，而无需处理特定硬件。</p>
        <p>Ubuntu Frame支持由GTK、Qt、Flutter、Electron和SDL2构建的一系列应用程序。其还为基于HTML5和Java的应用程序提供了解决方案。</p>
        <p><a href="https://mir-server.io/ubuntu-frame/">了解更多关于Ubuntu Frame的内容</a></p>
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <h2>获得最佳的智能显示屏体验</h2>
    <p class="p-heading--4">通过Canonical的开源技术实现无缝且安全的物联网图形应用体验。</p>
    <p>为您的显示屏提供所需的正常运行时间和稳健性，同时简化图形应用程序的集成。从安全到大规模设备管理，通过Ubuntu，您可以获得：</p>
    <ul class="p-list">
      <li class="p-list__item is-ticked"><strong>更快的创新：</strong>广泛的外围设备支持、Wi-Fi、3G/4G、NFC、蓝牙、软件定义无线电、深度学习、音频以及摄像头的支持（包括 RealSense）</li>
      <li class="p-list__item is-ticked"><strong>简化开发：</strong>使用将通信协议、输入协议和安全策略捆绑到单个工具包中的服务以简化图形输出的构建</li>
      <li class="p-list__item is-ticked"><strong>安全性：</strong>内置如严格限制、安全启动、磁盘加密等安全特性，具有长达十年的安全维护</li>
      <li class="p-list__item is-ticked"><strong>可更新的基础设施：</strong>通过无线低带宽更新和自动故障恢复以实现可靠的软件管理基础设施</li>
      <li class="p-list__item is-ticked"><strong>远程维护：</strong>无需现场工作人员使用管理工具来部署、监控和管理您的Ubuntu设备</li>
    </ul>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <h2 class="u-sv2">
      了解更多关于Ubuntu上的智能显示屏内容
    </h2>
  </div>
  <div class="row p-divider">
    <div class="col-4 p-divider__block">
      <div class="p-heading-icon--muted">
        <div class="p-heading-icon__header">
          {{ 
            image (
            url="https://assets.ubuntu.com/v1/b061c401-White+paper.svg",
            alt="whitepaper",
            width="171",
            height="150",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
            ) | safe
          }}
          <h4 class="p-heading-icon__title">教程</h4>
        </div>
      </div>
      <h3 class="p-heading--4"><a href="/engage/embedding-IoT-GUI-with-Ubuntu-Frame">通过Ubuntu Frame开发物联网图形应用&nbsp;&rsaquo;</a></h3>
    </div>
    <div class="col-4 p-divider__block">
      <div class="p-heading-icon--muted">
        <div class="p-heading-icon__header">
          {{ image (
            url="https://assets.ubuntu.com/v1/3769b4a7-webinar-icon.svg",
            alt="",
            width="88",
            height="72",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
            ) | safe
          }}
          <h4 class="p-heading-icon__title">研讨会</h4>
        </div>
      </div>
      <h3 class="p-heading--4"><a href="https://ubuntu.com/engage/webinarintrotoframe">在嵌入式设备中构建图形应用</a></h3>
    </div>
    <div class="col-4 p-divider__block">
      <div class="p-heading-icon--muted">
        <div class="p-heading-icon__header">
          {{
            image(
              url="https://assets.ubuntu.com/v1/f6d6f78b-Case+study.svg",
              alt="",
              width="32",
              height="32",
              hi_def=True,
              attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
            ) | safe
          }}
          <h4 class="p-heading-icon__title">案例分享</h4>
        </div>
      </div>
      <h3 class="p-heading--4"><a href="https://ubuntu.com/engage/secure-digital-signage-screenly">Screenly创新物联网大规模设备管理以实现安全数字标牌</a></h3>
    </div>        
  </div>
</section>

<section class="p-strip is-bordered">
  <div class="row">
    <div class="col-8">
      <h2>合作伙伴和用户</h2>
      <p><a href="https://snapcraft.io/store">Ubuntu Core应用商店</a>使系统集成商和设备制造商可以轻松地找到解决方案，同时使OEM厂商能够在其产品的整个生命周期内从其设备中获得营收。</p>
      <p><a href="/contact">联系Ubuntu</a></p>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-4 p-card">
      <header class="no-border u-align--center u-vertically-center u-hide--small" style="min-height: 7rem;">
        <a href="https://www.screenly.io/">
          {{
            image(
              url="https://assets.ubuntu.com/v1/3eb6002c-screenly+box-logo-horizontal+purple+%281%29.png",
              alt="Screenly",
              width="166",
              height="80",
              hi_def=True,
              loading="lazy"
            ) | safe
          }}
        </a>
      </header>
      <hr class="u-sv1 u-hide--small" />
      <h3 class="p-card__title">Screenly</h3>
      <p class="p-card__content">用于树莓派的全球最受欢迎的数字标牌播放器。</p>
      <a href="https://www.brighttalk.com/webcast/6793/206421?utm_source=ubuntuweb&utm_medium=dspage&utm_campaign=DSwebinar" title="View Screenly webinar">观看研讨会</a>
    </div>
    <div class="col-4 p-card">
      <header class="no-border u-align--center u-vertically-center u-hide--small" style="min-height: 7rem;">
        <a href="https://www.4yousee.com.br/">
          {{
            image(
              url="https://assets.ubuntu.com/v1/391ea778-logo-4yousee.png",
              alt="4YouSee",
              height="65",
              width="238",
              hi_def=True,
              loading="lazy"
            ) | safe
          }}
        </a>
      </header>
      <hr class="u-sv1 u-hide--small" />
      <h3 class="p-card__title">4YouSee</h3>
      <p class="p-card__content">一个完整的数字标牌解决方案，用于创建、管理和播放您的数字内容，并分析您的观众。</p>
    </div>
    <div class="col-4 p-card">
      <header class="no-border u-align--center u-vertically-center u-hide--small" style="min-height: 7rem;">
        <a href="https://www.risevision.com/">
          {{
            image(
              url="https://assets.ubuntu.com/v1/f2396b21-logo-risevision.png",
              alt="Rise Vision",
              height="65",
              width="171",
              hi_def=True,
              loading="lazy"
            ) | safe
          }}
        </a>
      </header>
      <hr class="u-sv1 u-hide--small" />
      <h3 class="p-card__title">Rise Vision</h3>
      <p class="p-card__content">一种简单的可将值得分享的内容传送到任何地方的数字标牌的解决方案。</p>
    </div>
</section>

<section class="p-strip">
  <div class="row">
    <div class="col-8">
      <h2>适用的所有板、框架和应用程序</h2>
      <p>最大限度地减少您的成本和上市时间：Ubuntu Frame与最流行的主板和芯片兼容。</p>
      <p>点击<a href="https://ubuntu.com/certified/devices">完整的Ubuntu认证硬件列表</a>并找到适合您的应用程序的硬件。</p>
    </div>
  </div>
  <div class="row u-equal-height">
    <div class="col-4 p-card u-align--center">
      <div class="p-card__content">
        <h3 class="u-sv3 u-vertically-center">树莓派</h3>
        <a href="https://ubuntu.com/download/raspberry-pi-core" class="u-hide--small u-hide--medium">
        {{ image (
          url="https://assets.ubuntu.com/v1/a999bb5f-Raspberry+Pi+4.png",
          alt="",
          width="470",
          height="300",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-card__image"}
          ) | safe
        }}
        </a>
      </div>
    </div>
    <div class="col-4 p-card u-align--center">
      <div class="p-card__content">
        <h3 class="u-sv3 u-vertically-center">Intel NUC</h3>
        <a href="/download/iot/intel-iotg" class="u-hide--small u-hide--medium">
          {{ image (
            url="https://assets.ubuntu.com/v1/09356811-intel-nuc-chip.png",
            alt="",
            width="1089",
            height="838",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-card__image"}
            ) | safe
          }}         
        </a>
      </div>
    </div>
    <div class="col-4 p-card u-align--center">
      <div class="p-card__content">
        <h3 class="u-sv3 u-vertically-center">Dragonboard</h3>
        <a href="https://ubuntu.com/download/qualcomm-dragonboard-410c" class="u-hide--small u-hide--medium">
          {{ image (
            url="https://assets.ubuntu.com/v1/a64b7ee2-dragonboard.png",
            alt="",
            width="2394",
            height="1476",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-card__image"}
            ) | safe
          }}
        </a>
      </div>
    </div>
  </div>
  <div class="u-fixed-width">
    <p><a href="https://discourse.ubuntu.com/t/where-does-ubuntu-frame-work/23193">更多关于Ubuntu Frame图形支持的内容</a></p>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-equal-height">
    <div class="col-4 u-align--left u-hide--small u-hide--medium">
      {{
        image(
          url="https://assets.ubuntu.com/v1/c4b290c8-Contact+us.svg",
          alt="",
          width="280",
          height="280",
          hi_def=True,
        ) | safe
      }}
    </div>
    <div class="col-8 u-vertically-center">
      <div>
        <h2>让我们将您的设备快速推向市场</h2>
        <p>构建智能显示解决方案？联系我们，看看我们如何为您将您的设备推向市场。</p>
        <p><a href="/contact">联系我们</a></p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
