<div tabindex="0"
     role="tabpanel"
     id="overview-tab"
     aria-labelledby="overview"
     aria-hidden="false">
  <div class="u-fixed-width p-strip is-shallow u-no-padding--top">
    <div class="p-image-container">
      {{ image(url="https://assets.ubuntu.com/v1/6e6a56d4-image-1.jpg",
            alt="",
            width="1800",
            height="1044",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-image-container__image"}) | safe
      }}
    </div>
    <p>Ubuntu 是您的开发环境。Ubuntu Core 是您的部署操作系统。</p>
    <p>无论您使用 C++、Rust、Python 还是其他语言来开发应用程序，无论采用何种技术栈，都可在 Ubuntu Core 上实现无缝打包与部署。</p>
  </div>
</div>
<div tabindex="0"
     role="tabpanel"
     id="ubuntu-vision-tab"
     aria-labelledby="ubuntu-vision"
     aria-hidden="false">
  <div class="u-fixed-width p-strip is-shallow u-no-padding--top">
    <div class="p-image-container">
      {{ image(url="https://assets.ubuntu.com/v1/27f89818-image-2.jpg",
            alt="",
            width="1800",
            height="1045",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-image-container__image"}) | safe
      }}
    </div>
    <p>二十多年来，Ubuntu 一直为开发者提供卓越的开发环境。凭借出色的响应速度、简洁易用、定期持续的软件更新、与高度安全性，Ubuntu 让开发过程的每个环节都更加可靠。</p>
    <a href="/desktop">关于 Ubuntu 桌面系统 &rsaquo;</a>
  </div>
</div>
<div tabindex="0"
     role="tabpanel"
     id="snapcraft-tab"
     aria-labelledby="snapcraft"
     aria-hidden="false">
  <div class="u-fixed-width p-strip is-shallow u-no-padding--top">
    <div class="p-image-container">
      {{ image(url="https://assets.ubuntu.com/v1/1b84970e-image-3.jpg",
            alt="",
            width="1800",
            height="1045",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-image-container__image"}) | safe
      }}
    </div>
    <p>
      Snapcraft 是用于将软件打包为 snap 的命令行工具。Snaps 是为部署嵌入式应用程序而设计的容器化包，与<a href="https://ubuntu.com/engage/docker-containers-for-IoT-whitepaper">其他技术</a>相比，性能更佳。Ubuntu Core 架构基于 snaps 构建，每个组件都受益于其工具。
    </p>
    <a href="https://ubuntu.com/core/docs/snaps-in-ubuntu-core">关于 Ubuntu Core 中的 Snaps &rsaquo;</a>
  </div>
</div>
<div tabindex="0"
     role="tabpanel"
     id="snap-store-tab"
     aria-labelledby="snap-store"
     aria-hidden="false">
  <div class="u-fixed-width p-strip is-shallow u-no-padding--top">
    <div class="p-image-container">
      {{ image(url="https://assets.ubuntu.com/v1/27f8d290-image-6.jpg",
            alt="",
            width="1800",
            height="1044",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-image-container__image"}) | safe
      }}
    </div>
    <p>Canonical 的 Snap Store 让开发人员能够托管，并管理其设备的软件更新。这个安全可靠的应用商店包括 OTA 更新、delta 更新等功能。</p>
    <p>企业更可选择为自己的设备创建专属的私有应用商店，实现对设备群的软件管理。</p>
    <a href="https://ubuntu.com/internet-of-things/appstore">关于 Snap Stores &rsaquo;</a>
  </div>
</div>
<div tabindex="0"
     role="tabpanel"
     id="ubuntu-core-tab"
     aria-labelledby="ubuntu-core"
     aria-hidden="false">
  <div class="u-fixed-width p-strip is-shallow u-no-padding--top">
    <div class="p-image-container">
      {{ image(url="https://assets.ubuntu.com/v1/60d58bf5-image-4.jpg",
            alt="",
            width="1800",
            height="1045",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-image-container__image"}) | safe
      }}
    </div>
    <p>适合您设备的操作系统。</p>
    <p>Ubuntu Core 是一款严格隔离且不可变的嵌入式 Linux 系统。基于您的应用程序和目标硬件构建 Ubuntu Core 镜像，可享受完全托管、安全可靠、12 年长期支持的生产环境镜像。</p>
  </div>
</div>
