{% extends "templates/base.html" %}

{% block title %}下载用于RISC-V平台的Ubuntu{% endblock %}

{% block meta_description %}在RISC-V平台上使用Ubuntu以获得相似的开发者体验，RISC-V开发板，RISC-V Ubuntu，RISC-V OS，RISC-V操作系统。{% endblock meta_description %}

{% block meta_copydoc%}https://docs.google.com/document/d/1kkJeq9HdH3iWV35HwihcJd3CxZw9Jy21W66lJl8VbWs/edit#{% endblock meta_copydoc %}

{% block content %}

{% include "download/secondary-nav.html" %}

<section class="p-strip--suru-topped">
  <div class="row u-vertically-center">
    <div class="col-6">
      <h1>下载适用于RISC-V平台的Ubuntu</h1>
      <h2 class="p-heading--3">Ubuntu—现已支持多个RISC-V平台</h2>
      <p>在您喜爱的RISC-V开发板上运行Ubuntu。Ubuntu近期在Ubuntu 22.04.1中已支持SiFive Unmatched，赛昉（StarFive） VisionFive和全志（Allwinner）哪吒开发板，在下方可下载对应开发板的镜像。</p>
      <p>选择与您的硬件相匹配的操作系统镜像，将系统镜像刷入到 SD/microSD 卡上，再将其加载到您的板上即可开始体验Ubuntu。</p>
      <p>
        <a href="/contact" class="p-button">联系我们</a>
      </p>
    </div>
    <div class="col-6 u-hide--medium u-hide--small u-align--center">
        {{
            image (
            url="https://assets.ubuntu.com/v1/4d5b8d51-riscv-color.svg",
            alt="",
            width="300",
            height="48",
            hi_def=True,
            loading="auto"
            ) | safe
          }}
    </div>
  </div>
</section>

<section class="p-strip is-shallow">
  <div class="u-fixed-width">
    <div class="p-tabs">
      <div class="p-tabs__list js-tabbed-content" role="tablist" aria-label="Install RISC-V">
        <div class="p-tabs__item">
          <button class="p-tabs__link" role="tab" aria-selected="true" aria-controls="quemu-sifive-image-tab" id="quemu-sifive-image" tabindex="-1">SiFive Unmatched, QEMU</button>
        </div>
        <div class="p-tabs__item">
          <button class="p-tabs__link" role="tab" aria-selected="false" aria-controls="starfive-visionfive-board-tab" id="starfive-visionfive-board">赛昉VisionFive</button>
        </div>
        <div class="p-tabs__item">
            <button class="p-tabs__link" role="tab" aria-selected="false" aria-controls="allwinner-nezha-tab" id="allwinner-nezha">全志哪吒</button>
        </div>
        <div class="p-tabs__item">
            <button class="p-tabs__link" role="tab" aria-selected="false" aria-controls="live-installer-tab" id="live-installer">在线安装器</button>
        </div>
      </div>
      {% include "download/risc-v/tab-1.html" %}
      {% include "download/risc-v/tab-2.html" %}
      {% include "download/risc-v/tab-3.html" %}
      {% include "download/risc-v/tab-4.html" %}
    </div>
  </div>
</section>

<script src="/static/js/src/tabbedContent.js"></script>

{% endblock content %}