<div tabindex="0" role="tabpanel" id="quemu-sifive-image-tab" aria-labelledby="quemu-sifive-image">
	<div class="row u-vertically-center u-no-padding">
		<div class="col-6">
			<h2>下载预安装的Ubuntu Server镜像</h2>
			<h3 class="p-heading--4">Ubuntu Server 22.04.1</h3>
			<div class="p-notification--information is-inline">
				<div class="p-notification__content">
					<h4 class="p-notification__title">注意：</h4>
				    <p class="p-notification__message">这是通过 Ubuntu 22.04.1 访问 RISC-V 的早期开发人员的预安装版镜像，如果您有 NVMe 驱动器，我们建议您使用 Ubuntu Server 在线安装器，可在<a href="https://cdimage.ubuntu.com/releases/22.04.1/release/ubuntu-22.04.1-live-server-riscv64.img.gz">此处</a>找到。</p>
				</div>
			</div>
			<p>
				<a class="p-button--positive" href="https://cdimage.ubuntu.com/releases/22.04.1/release/ubuntu-22.04.1-preinstalled-server-riscv64+unmatched.img.xz">下载64位镜像</a>
			</p>
			<p>适用于：</p>
			<ul class="p-list">
				<li class="p-list__item is-ticked">Unmatched开发板</li>
				<li class="p-list__item is-ticked">QEMU</li>
			</ul>
		</div>
		<div class="col-6 u-hide--medium u-hide--small u-align--center">
			{{ image (
				url="https://assets.ubuntu.com/v1/37c094a9-SiFive+Unmatched+Board.jpg",
				alt="",
				width="720",
				height="480",
				hi_def=True,
				loading="auto"
				) | safe
			  }}
		</div>
	</div>
	<div class="u-fixed-width">
		<h4>第一次在QEMU/Unmatched上安装Ubuntu？</h4>
		<p>请阅读<a href="https://wiki.ubuntu.com/RISC-V"> wiki.ubuntu.com/RISC-V </a>以获得更多信息</p>
	</div>
</div>