<div tabindex="0" role="tabpanel" id="allwinner-nezha-tab" aria-labelledby="allwinner-nezha" aria-hidden="true">
	<div class="row u-vertically-center u-no-padding">
		<div class="col-6">
			<h2>下载Ubuntu Server</h2>
			<h3 class="p-heading--4">Ubuntu Server 22.04.2</h3>
			<div class="p-notification--information is-inline">
				<div class="p-notification__content">
					<h4 class="p-notification__title">注意：</h4>
					<p class="p-notification__message">这是一个开发者早期版本的 Ubuntu 22.04.2</p>
				</div>
			</div>
			<p>
				<a class="p-button--positive" href="https://cdimage.ubuntu.com/releases/22.04.2/release/ubuntu-22.04.2-preinstalled-server-riscv64+nezha.img.xz">下载64位镜像</a>
			</p>
			<p>适用于：</p>
			<ul class="p-list">
				<li class="p-list__item is-ticked">哪吒开发板</li>
			</ul>
		</div>
		<div class="col-6 u-hide--medium u-hide--small u-align--center">
			{{ image (
				url="https://assets.ubuntu.com/v1/0cc9bac3-Allwinner+Nezha+Board.png",
				alt="",
				width="500",
				height="300",
				hi_def=True,
				loading="auto"
				) | safe
			  }}
		</div>
	</div>
	<div class="u-fixed-width">
		<h4>第一次在哪吒开发板上安装Ubuntu？</h4>
		<p>请阅读<a href="https://discourse.ubuntu.com/t/ubuntu-on-the-visionfive-and-the-nezha-boards/29858"> 如何在哪吒开发板上安装 Ubuntu </a>以获得更多信息。</p>
	</div>
</div>