<div tabindex="0"
     role="tabpanel"
     id="milk-v-mars-tab"
     aria-labelledby="allwinner-nezha"
     aria-hidden="true">
    <div class="row u-vertically-center u-no-padding">
        <div class="col-4">
            <h2>Milk-V Mars</h2>
            <ul class="p-list--divided">
                <li class="p-list__item">
                    <h3 class="p-heading--4">Ubuntu Server预安装镜像</h3>
                    <p>
                        <a class="p-button--positive"
                           href="https://cdimage.ubuntu.com/releases/{{ releases.lts.full_version }}/release/ubuntu-{{ releases.lts.full_version }}-preinstalled-server-riscv64+milkvmars.img.xz">下载 {{ releases.lts.full_version }}</a>
                    </p>
                </li>
                <li class="p-list__item">
                    <h3 class="p-heading--4">Ubuntu Server在线安装程序</h3>
                    <p>
                        <a class="p-button--positive"
                           href="https://cdimage.ubuntu.com/releases/24.04/release/ubuntu-24.04-live-server-riscv64.img.gz"> [ 下载 24.04 实时安装程序]   </a>
                    </p>
                </li>
            </ul>
            <ul class="p-list">
                <li class="p-list__item">
                    <a href="https://wiki.ubuntu.com/RISC-V/Milk-V%20Mars">如何在Milk-V Mars上安装Ubuntu</a>
                </li>
            </ul>
        </div>
        <div class="col-4 u-hide--medium u-hide--small u-align--center">
            {{ image (
            url="https://assets.ubuntu.com/v1/34878485-(6).png",
            alt="",
            width="800",
            height="414",
            hi_def=True,
            loading="auto"
            ) | safe
            }}
        </div>
    </div>
</div>
