<div tabindex="0"
     role="tabpanel"
     id="quemu-sifive-image-tab"
     aria-labelledby="quemu-sifive-image">
    <div class="row u-vertically-center u-no-padding">
        <div class="col-4">
            <h2>SiFive Unmatched</h2>
            <ul class="p-list--divided">
                <li class="p-list__item">
                    <h3 class="p-heading--4">Ubuntu Server预安装镜像</h3>
                    <div class="p-notification--information is-inline">
                        <div class="p-notification__content">
                            <h4 class="p-notification__title">注意：</h4>
                            <p class="p-notification__message">如果您拥有一块NVMe驱动器，我们建议您使用 Ubuntu Server 在线安装程序。</p>
                        </div>
                    </div>
                    <p>
                        <a class="p-button--positive"
                           href="https://cdimage.ubuntu.com/releases/{{ releases.lts.full_version }}/release/ubuntu-{{ releases.lts.full_version }}-preinstalled-server-riscv64+unmatched.img.xz">下载 {{ releases.lts.full_version }}</a>
                    </p>
                </li>
                <li class="p-list__item">
                    <h3 class="p-heading--4">Ubuntu Server在线安装程序</h3>
                    <p>
                        <a class="p-button--positive"
                           href="https://cdimage.ubuntu.com/releases/24.04/release/ubuntu-24.04-live-server-riscv64.img.gz">[ 下载 24.04 在线安装程序]</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-4 u-hide--medium u-hide--small u-align--center">
            {{ image (
            url="https://assets.ubuntu.com/v1/37c094a9-SiFive+Unmatched+Board.jpg",
            alt="",
            width="720",
            height="480",
            hi_def=True,
            loading="auto"
            ) | safe
            }}
        </div>
    </div>
    <div class="u-fixed-width">
        <p>
            <a href="https://wiki.ubuntu.com/RISC-V/SiFive%20HiFive%20Unmatched">如何在SiFive HiFive Unmatched上安装Ubuntu</a>
        </p>
    </div>
</div>
