{% extends "templates/base.html" %}

{% block title %}扩展安全维护{{ page_title }}{% endblock %}
{% block meta_description %}Ubuntu安全维护 Ubuntu订阅 ESM Ubuntu生命周期 Ubuntu 16.04 Ubuntu企业订阅{{ meta_description }}{% endblock %}

{% block content %}
{% include "support/secondary-nav.html" %}

<section class="p-strip--suru-topped is-bordered">
    <div class="row u-equal-height">
      <div class="col-8">
        <span class="u-sv3"><h1>扩展安全维护</h1></span>
        <span class="u-sv3"><p class="p-heading--four">为Ubuntu LTS提供额外3到5年的安全更新</p></span>
        <p>通过扩展安全维护（Extended Security Maintenance，简称“ESM”）从而继续接收Ubuntu基础系统，关键软件包和基础结构组件的安全更新。<a href="#how-long">根据LTS版本</a>，ESM提供3到5年的额外安全维护。</p>
        <p>ESM已包含在Ubuntu Advantage订阅服务内，适用于物理服务器、虚拟机、容器和桌面，免费提供给个人使用。在公有云上，Ubuntu Pro高级镜像已为<a class="p-link--external" href="https://ubuntu.com/aws/pro">AWS</a>和<a class="p-link--external" href="https://ubuntu.com/azure/pro">Azure</a>优化，且为Ubuntu预载的整个软件包集的高优先级、关键CVE（通用漏洞披露）提供安全维护。</p>
        <p>
          <a href="/support" class="p-button--positive">获取Ubuntu订阅服务</a>
          <a href="/contact" class="p-button--neutral">联系我们</a  >
        </p>
      </div>
      <div class="col-4 u-vertically-center u-align--center u-hide--small">
        {{
          image(
            url="https://assets.ubuntu.com/v1/92a095cb-Shield-greentick.svg",
            alt="",
            height="226",
            width="190",
            hi_def=True,
            loading="auto",
          ) | safe
        }}
      </div>
    </div>
  </section>
  
  <div class="p-strip is-shallow">
    <div class="u-fixed-width">
      <div class="p-heading-icon--small">
        <div class="p-heading-icon__header">
          <h4 class="p-heading-icon__title u-no-max-width u-no-margin--bottom">Ubuntu 16.04 LTS的ESM服务将于2021年4月可用，支持至2024年。<a class="p-link--external" href="https://ubuntu.com/blog/ubuntu-16-04-lts-esm-migration-path">了解更多</a></h4>
        </div>
      </div>
    </div>
  </div>
  
  <section class="p-strip--suru">
    <div class="row p-divider is-dark">
      <div class="col-6 p-divider__block">
        <div class="p-heading-icon--small">
          <div class="p-heading-icon__header">
            {{
              image(
                url="https://assets.ubuntu.com/v1/fc781c43-Case+study+-+white.svg",
                alt="",
                height="32",
                width="32",
                hi_def=True,
                loading="lazy",
                attrs={"class": "p-heading-icon__img"},
              ) | safe
            }}
            <p class="p-muted-heading u-sv3" style="color: #fff; line-height: 1.5rem;">案例分享</p>
          </div>
          <h4>Interana在计划将公共云升级到18.04的同时使用ESM</h4>          
          <p>由于Interana处理大量客户的数据，确保安全性是首要任务。Interana并没有选择急于从Ubuntu 14.04LTS进行升级，给客户带来了极大的不便，而是转向了Canonical和ESM。</p>
          <p><a class="p-link--external p-button--neutral" href="https://ubuntu.com/blog/interana-uses-esm-to-maintain-system-security-while-upgrading-its-customers-to-ubuntu-18-04-lts-across-public-clouds" class="p-button--neutral">阅读更多</a></p>
        </div>
      </div>
      <div class="col-6 p-divider__block">
        <div class="p-heading-icon--small">
          <div class="p-heading-icon__header">
            {{
              image(
                url="https://assets.ubuntu.com/v1/fc781c43-Case+study+-+white.svg",
                alt="",
                height="32",
                width="32",
                hi_def=True,
                loading="lazy",
                attrs={"class": "p-heading-icon__img"},
              ) | safe
            }}
            <p class="p-muted-heading u-sv3" style="color: #fff; line-height: 1.5rem;">案例分享</p>
          </div>
          <h4>TIM通过ESM维护系统安全和客户信心</h4>          
          <p>为了确保正运行Ubuntu 14.04 LTS的机器的持续安全性，ESM为世界上最大的贸易推荐网络——TIM提供了在自己的时间表内进行升级的自由。这种方法为这个金融服务（Finserv）组织节省了时间和金钱。</p>
          <p><a class="p-link--external p-button--neutral" href="https://ubuntu.com/engage/case-study-acuris" class="p-button--neutral">阅读更多</a></p>
        </div>
      </div>
    </div>
  </section>
  <section class="p-strip is-bordered">
    <div class="row">
      <div class="col-8">
        <h2>Ubuntu 16.04 LTS在2021年4月后还会支持吗？</h2>
        <p>Ubuntu 16.04 LTS在初始的5年免费维护期后仍会被支持，因为它将过渡到扩展安全维护阶段。Canonical提供通过ESM提供额外3年的安全维护。</p>
        <p>
          <a class="p-link--external" href="https://ubuntu.com/16-04">了解更多关于将Ubuntu 16.04 LTS迁移到ESM的信息</a>
        </p>
      </div>
    </div>
  </section>
  <section class="p-strip is-deep is-bordered" id="get-esm">
    <div class="row">
      <div class="col-8">
        <h2>个人免费使用</h2>
        <p>Canonical提供的Ubuntu基础版订阅服务，其中就包括了ESM，个人可免费在最多3台计算机上使用ESM。对于我们的<a class="p-link--external" href="https://wiki.ubuntu.com/Membership">Ubuntu社区成员</a>，我们将很高兴将数量增加到50台。此订阅服务还覆盖了<a class="p-link--external" href="https://ubuntu.com/livepatch">Livepatch</a>。</p>
        <a href="https://ubuntu.com/advantage" class="p-button--positive u-no-margin--bottom p-link--external">获取ESM</a>
      </div>
    </div>
  
    <div class="u-fixed-width">
      <hr class="p-separator">
    </div>
  
    <div class="row" id="benefits">
      <div class="col-10">
        <h2>涵盖范围</h2>
        <p>ESM继续针对以下范围内的高危CVE进行安全更新，如：</p>
        <ul class="u-no-margin--bottom">
          <li>Ubuntu基础系统和横向扩展的基础设施</li>
          <li>64位 X86架构/英特尔的安装环境</li>
        </ul>
      </div>
    </div>
  
    <div class="u-fixed-width">
      <hr class="p-separator">
    </div>
  
    <div class="row">
      <div class="col-8">
        <h2>Azure、AWS和Google上的Ubuntu Pro的ESM</h2>
        <p>如果您正在公有上运行Ubuntu 16.04 LTS镜像，并且希望通过ESM继续获得安全覆盖，建议您在Azure、AWS和Google云（即将推出）上启动新的Ubuntu Pro镜像。Ubuntu Pro镜像是付费的高级镜像，针对云上用例进行优化和定价，并且内置了安全性和合规性的功能。</p>
        <p>了解更多关于Ubuntu Pro 16.04 LTS在<a class="p-link--external" href="https://ubuntu.com/azure/pro">Azure</a> | <a class="p-link--external" href="https://ubuntu.com/aws/pro">AWS</a> | <a class="p-link--external" href="https://ubuntu.com/gcp/pro">Google云</a>上的内容</p>
      </div>
    </div>
    <div class="u-fixed-width">
      <hr class="p-separator">
    </div>
  
    <div class="row" id="faq">
      <div class="col-8">
        <h2>常见问题</h2>  
        <h4 class="u-no-max-width">全部的Ubuntu Advantage订阅级别都可以访问Ubuntu ESM吗？</h4>
        <p>是的。Ubuntu ESM已包含在基础、标准、高级版订阅服务内。关于不同级别的内容请访问我们<a href="/support">价格页面</a>。现有的Ubuntu Advantage（简称“UA”）客户可通过<a class="p-link--external" href="https://ubuntu.com/advantage">UA入口页</a>取得他们的凭据。</p>
        <h4 class="u-no-max-width">标准安全维护结束后，我们如何确保Ubuntu系统的安全性？</h4>
        <p>当特定版本到达其“标准安全维护”窗口末尾时，为确保安全的连续性，前往<a class="p-link--external" href="https://ubuntu.com/advantage">UA入口页</a>注册以获得最多3台计算机的ESM服务，或通过付费的企业订阅使用。</p>
        <p><a class="p-link--external" href="https://ubuntu.com/about/release-cycle">了解更多关于版本发布日期和维护周期的信息</a></p>
        <p><a class="p-link--external p-button" href="https://ubuntu.com/advantage">注册以获得Ubuntu Advantage订阅</a></p>
        <h4 id="how-long" class="u-no-max-width">Ubuntu ESM将维护多长时间？</h4>
        <p>维护时间取决于版本. 在“标准安全维护”窗口结束后，Ubuntu 14.04（Trusty Tahr）和16.04（Xenial Xerus）将提供长达3年的更新。在进一步声明发布前，Ubuntu 18.04（Bionic Beaver）及其后续版本将提供长达5年的ESM更新。</p>
        <table>
          <thead>
            <tr>
              <th>版本</th>
              <th>ESM持续时间</th>
              <th>支持终止</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ubuntu 14.04 (Trusty Tahr)</td>
              <td>3年</td>
              <td>2022年4月</td>
            </tr>
            <tr>
              <td>Ubuntu 16.04 (Xenial Xerus)</td>
              <td>3年</td>
              <td>2024年4月</td>
            </tr>
            <tr>
              <td>Ubuntu 18.04 (Bionic Beaver)</td>
              <td>5年</td>
              <td>2028年4月</td>
            </tr>
            <tr>
              <td>Ubuntu 20.04 (Focal Fossa)</td>
              <td>5年</td>
              <td>2030年4月</td>
            </tr>
          </tbody>
        </table>  
        <h4 class="u-no-max-width">是否可以在Ubuntu ESM已开始且需要时购买Ubuntu ESM？这样会不会产生回溯的成本？需要提前购买吗？</h4>
        <p>您可以随时购买Ubuntu订阅服务。尽管我们强烈建议您消除在系统上启用Ubuntu ESM的时间间隔，以避免因系统安全漏洞暴露而产生的风险。不一定需要提前购买，Ubuntu订阅服务的价格是按年计算的，因此没有回溯日期。</p>  
        <h4 class="u-no-max-width">我们正在将仓库镜像到内部的Landscape服务器上。如果使用Landscape，我们还能获得Ubuntu ESM吗？</h4>
        <p>ESM只是常规Ubuntu归档，但通过HTTPS进行身份验证并提供服务。归档镜像已在Landscape中提供，ESM归档镜像机制也是受支持的。</p>
      </div>
    </div>
  </section>
  
  <section class="p-strip--light">
    <div class="row u-equal-height">
      <div class="col-5 u-align--center u-hide--small">
        {{
          image(
            url="https://assets.ubuntu.com/v1/c4b290c8-Contact+us.svg",
            alt="",
            height="200",
            width="281",
            hi_def=True,
            loading="lazy",
          ) | safe
        }}
      </div>
      <div class="col-7 u-vertically-center">
        <div>
          <h2>保护您的Ubuntu资产</h2>
          <p class="u-no-margin--bottom">如果您想要了解ESM或者Ubuntu订阅服务，请与<a href="/contact">我们联系</a>。</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

