{% extends "templates/base.html" %}

{% block title %}Ubuntu Pro{{ page_title }}{% endblock %}
{% block meta_description %}Ubuntu专业企业服务 Ubuntu企业版 Ubuntu许可证 Ubuntu官方支持 Linux企业服务 Linux企业支持 Linux订阅 Ubuntu服务器支持{{ meta_description }}{% endblock %}

{% block content %}

<section class="p-strip--image is-dark is-x-deep" style="background-position: 100% 0; background-size: 150vw; background-image:url('https://assets.ubuntu.com/v1/78c0cbe3-05_suru2_dark_2K.jpg')">
  <div class="u-fixed-width p-strip is-shallow">
    <h1>
      <img src="https://assets.ubuntu.com/v1/cf49340a-Ubuntu+Pro+hero+typography.svg" style="min-width: 100%;" alt="Ubuntu Pro" />
    </h1>
    <p class="p-heading--2">用于开源软件安全的最全面的订阅</p>
    <a href="https://ubuntu.com/pro/subscribe" class="p-button--positive">获取Ubuntu Pro</a>
  </div>
</section>
<section class="p-strip is-x-deep u-no-padding--bottom">
  <div class="p-strip u-no-padding--top">
    <div class="row">
      <div class="col-6 col-medium-3">
        <h2>同样出色的操作系统<br />更多的安全更新</h2>
      </div>
      <div class="col-6 col-medium-3">
        <p>
          <strong>将平均CVE（通用漏洞披露）暴露时间从 98 天减少到 1 天</strong>
          <br />
          具备扩展的 CVE 补丁、十年的安全维护、可选的支持和对整个开源应用程序堆栈的维护。
        </p>
      </div>
    </div>
  </div>
  <hr class="is-fixed-width">
  <div class="p-strip">
    <div class="u-fixed-width">
      <div class="row">
        <h2 class="p-text--x-small-capitalised">安全覆盖对比</h2>
      </div>
      <div class="row row-card">
        <div class="col-3 col-medium-3 col-card bg-light">
          <p class="p-heading--5">LTS</p>
          <p class="p-heading--1" style="font-size: 2.4rem;">
            Main仓库：<br />5年
          </p>
          <p>Ubuntu Main仓库中的2300个软件包，5年支持。</p>
        </div>
        <div class="col-3 col-medium-3 col-card bg-mid-dark">
          <p class="p-heading--5">Pro (仅基础设施)</p>
          <p class="p-heading--1" style="font-size: 2.4rem;">
            Main仓库：10年
          </p>
          <p>Ubuntu Main仓库中的2300个软件包，10年支持。</p>
        </div>
        <div class="col-6 col-medium-6 col-card bg-dark">
          <p class="p-heading--5">Pro</p>
          <p class="p-heading--1" style="font-size: 2.4rem;">
            Main仓库 + Universe仓库：<br />10年
          </p>
          <p>
            Ubuntu Main仓库中的2300个软件包已包含在“仅基础设施”订阅中，加在Ubuntu Universe仓库中的2万3000多个软件包10年的支持。
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr class="is-fixed-width" />
</section>

<section class="p-strip u-no-padding--top u-no-padding--bottom">
  <div class="row">
    <p>Ubuntu Main中的2300个软件包的部分软件包：</p>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/7dcc10d3-Systemd.png",
      alt="",
      width="280",
      height="280",
      hi_def=True,
      loading="auto|lazy"
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/94340492-logo-ruby.png",
      alt="",
      width="280",
      height="280",
      hi_def=True,
      loading="auto|lazy"
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/a3e33ca1-RabbitMQ.png",
      alt="",
      width="144",
      height="144",
      hi_def=True,
      loading="auto|lazy"
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/8b428ac2-php+logo.png",
      alt="P H P",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/ff1530cc-OpenSSL.png",
      alt="",
      width="280",
      height="280",
      hi_def=True,
      loading="auto|lazy"
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/55e1eab0-Nginx.png",
      alt="",
      width="280",
      height="280",
      hi_def=True,
      loading="auto|lazy"
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/343dc96b-MySQL.png",
      alt="",
      width="280",
      height="280",
      hi_def=True,
      loading="auto|lazy"
      ) | safe
      }}
    </div>
  </div>
  <hr class="is-fixed-width" />
</section>

<section class="p-strip u-no-padding--top">
  <div class="row">
    <p>Ubuntu Universe中的2万3000个软件包的部分软件包： </p>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/ab22825a-ansible+logo.png",
      alt="Ansible",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{
      image (
      url="https://assets.ubuntu.com/v1/df2c8fa0-apache+tomcat+logo.png",
      alt="Apache Tomcat",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/fad485a5-docker+logo.png",
      alt="Docker",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/810bed2f-etcd+logo.png",
      alt="E T C D",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/ebff661c-glusterfs+logo.png",
      alt="Gluster",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/71547ec1-perl+logo.png",
      alt="Perl",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/75484ed4-pg-bouncer+logo.png",
      alt="P G Bouncecr",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/1dfdcd1c-powerdns+logo.png",
      alt="Power D N S",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/fbaf6348-puppet+logo.png",
      alt="Puppet",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/f2803dcb-python+logo.png",
      alt="Python",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/2f883d00-go+logo.png",
      alt="GoLang",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
  </div>
  <div class="row">
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/d00a6ac1-nagios+logo.png",
      alt="Nagios",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/2dfa0b07-nginex+logo.png",
      alt="nginex",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/2303838b-node-logo.png",
      alt="Node J S",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/c9baeb67-openjdk+logo.png",
      alt="Open J D K",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/7b5c7032-redis+logo.png",
      alt="Redis",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/bc7ceb58-ruby-rails+logo.png",
      alt="Ruby on Rails",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/fd0e15fd-rust+logo.png",
      alt="Rust",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/62c2f466-vagrant+logo.png",
      alt="Vagrant",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/12295113-wordpress+logo.png",
      alt="Wordpress",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
    <div class="col-small-1 col-medium-1 col-1">
      {{ image (
      url="https://assets.ubuntu.com/v1/6b559369-zookeeper+logo.png",
      alt="Apache Zookeper",
      attrs={"class":"p-logo-section__logo"},
      width="280",
      height="280",
      hi_def=False,
      loading="lazy",
      ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip is-x-deep u-no-padding--top u-no-padding--bottom">
  <div class="row">
    <h2>Ubuntu Pro订阅计划特点</h2>
    <div class="p-strip">
      <table class="p-table--mobile-card">
        <thead>
          <tr>
            <th class="u-no-padding--left" style="width: 50%;">
              安全修复
              <p class="p-text--small u-text--muted u-no-margin--bottom" style="text-transform: initial; font-weight: 300">覆盖关键、高危和选定的中度常见漏洞和暴露（CVE）</p>
            </th>

            <th style="width: 15%;">Ubuntu LTS</th>
            <th style="width: 20%;">
              Ubuntu Pro（仅基础设施）<br/>
              <p class="p-text--small u-text--muted u-no-margin--bottom" style="text-transform: initial; font-weight: 300">（以前称为“Ubuntu Advantage for Infrastructure”）</p>
            </th>
            <th style="width: 15%;">Ubuntu Pro</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="u-no-padding--left" data-heading="Security patching">Ubuntu Main 仓库中超过2300个软件包</td>
            <td data-heading="Ubuntu LTS">5年</td>
            <td data-heading="Ubuntu Pro (Infra-only)" class="bg-mid-dark">10年</td>
            <td data-heading="Ubuntu Pro" class="bg-dark">10年</td>
          </tr>
          <tr>
            <td class="u-no-padding--left" data-heading="Security patching">Ubuntu Universe 仓库中超过23000个软件包</td>
            <td data-heading="Ubuntu LTS">最大努力</td>
            <td data-heading="Ubuntu Pro (Infra-only)">最大努力</td>
            <td data-heading="Ubuntu Pro" class="bg-dark">10年</td>
          </tr>
          <tr>
            <td class="u-no-padding--left" data-heading="Security patching"><a href="/support">可选的电话/工单支持</a></td>
            <td data-heading="Ubuntu LTS">无</td>
            <td data-heading="Ubuntu Pro (Infra-only)" class="bg-mid-dark">有</td>
            <td data-heading="Ubuntu Pro" class="bg-dark">有</td>
          </tr>
      </tbody>
      </table>
    </div>

    <div class="p-strip is-shallow u-no-padding--top">
      <table class="p-table--mobile-card" aria-label="Pro vs Advantage - Compliance and hardening">
      <thead>
        <tr>
          <th class="u-no-padding--left" style="width: 50%;"><a href="https://ubuntu.com/security/certifications">合规和加固</a></th>
          <th style="width: 15%;">Ubuntu LTS</th>
          <th style="width: 20%;">Ubuntu Pro（仅基础设施）</th>
          <th class="u-no-padding--right" style="width: 15%;">Ubuntu Pro</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="u-no-padding--left" data-heading="Compliance and hardening">NIST 认证的 FIPS 加密模块</td>
          <td data-heading="Ubuntu LTS">无</td>
          <td data-heading="Ubuntu Pro (Infra-only)">有</td>
          <td class="u-no-padding--right" data-heading="Ubuntu Pro">有</td>
        </tr>
        <tr>
          <td class="u-no-padding--left" data-heading="Compliance and hardening">通过 CIS 和 DISA-STIG 配置文件的 Ubuntu 安全指南加固</td>
          <td data-heading="Ubuntu LTS">无</td>
          <td data-heading="Ubuntu Pro (Infra-only)">有</td>
          <td class="u-no-padding--right" data-heading="Ubuntu Pro">有</td>
        </tr>
        <tr>
          <td class="u-no-padding--left" data-heading="Compliance and hardening">Common Criteria EAL2</td>
          <td data-heading="Ubuntu LTS">无</td>
          <td data-heading="Ubuntu Pro (Infra-only)">有</td>
          <td class="u-no-padding--right" data-heading="Ubuntu Pro">有</td>
        </tr>
      </tbody>
      </table>
    </div>

    <table class="p-table--mobile-card u-no-margin--bottom" aria-label="Pro vs Advantage - Other features">
    <thead>
      <tr>
        <th class="u-no-padding--left" style="width: 50%;">其他特性</th>
        <th style="width: 15%;">Ubuntu LTS</th>
        <th style="width: 20%;">Ubuntu Pro（仅基础设施）</th>
        <th class="u-no-padding--right" style="width: 15%;">Ubuntu Pro</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="u-no-padding--left" data-heading="Other features"><a href="https://ubuntu.com/security/livepatch">内核实时补丁</a></td>
        <td data-heading="Ubuntu LTS">无</td>
        <td data-heading="Ubuntu Pro (Infra-only)">有</td>
        <td class="u-no-padding--right" data-heading="Ubuntu Pro">有</td>
      </tr>
      <tr>
        <td class="u-no-padding--left" data-heading="Other features"><a href="/landscape">使用 Landscape 进行大规模系统管理</a></td>
        <td data-heading="Ubuntu LTS">无</td>
        <td data-heading="Ubuntu Pro (Infra-only)">有</td>
        <td class="u-no-padding--right" data-heading="Ubuntu Pro">有</td>
      </tr>
    </tbody>
    </table>
</section>

<section class="p-strip is-x-deep">
  <div class="u-fixed-width">
    <h2><a href="/contact">联系我们获得Ubuntu Pro的更广泛的安全性&nbsp;&rsaquo;</a></h2>
  </div>
</section>

<section class="p-strip is-x-deep u-no-padding--top u-no-padding--bottom">
  <div class="u-fixed-width">
    <h2 class="p-text--x-small-capitalised">现在升级到Ubuntu Pro测试版</h2>
  </div>

  <hr class="is-fixed-width u-no-margin--bottom">

  <div class="row p-strip is-shallow u-no-padding--top">
    <div class="col-6 col-medium-3">
      <h3 class="p-heading--2">成为我们的客户</h3>
    </div>
    <div class="col-6 col-medium-3">
      <p>让企业覆盖他们的 Ubuntu 资产&mdash;服务器和工作站。<br class="u-hide--medium u-hide--small">
      <a href="/pricing/pro">查看 Ubuntu Pro 价格表</a>。</p>
      <a href="https://ubuntu.com/pro/subscribe" class="p-button--positive">购买</a>
    </div>
  </div>

  <hr class="is-fixed-width u-no-margin--bottom">

  <div class="row p-strip is-shallow u-no-padding--top">
    <div class="col-6 col-medium-3">
      <h3 class="p-heading--2">免费个人使用</h3>
    </div>
    <div class="col-6 col-medium-3">
      <p>个人可以在最多 5 台机器上免费使用 Ubuntu Pro，如果您是<a href="https://wiki.ubuntu.com/Membership">Ubuntu 官方社区成员</a> ，则可以在 50 台机器上免费使用。</p>
      <a href="https://ubuntu.com/pro/dashboard" class="p-button">注册</a>
    </div>
  </div> 
 
  <hr class="is-fixed-width u-no-margin--bottom">

  <div class="row p-strip is-shallow u-no-padding--top">
    <div class="col-6 col-medium-3">
      <h3 class="p-heading--2">现有Ubuntu Advantage订阅客户免费试用</h3>
    </div>
    <div class="col-6 col-medium-3">
      <p>
        Ubuntu Advantage for Infrastructure（简称“UA-I”） 现在更名为 Ubuntu Pro（仅基础设施）。功能和价格没有改变。
      </p>
      <p>
        Ubuntu Pro（仅基础设施）客户可以注册测试版以试用完整的 Ubuntu Pro 订阅，包括额外23000个软件包的十年安全保障。
      </p>
      <p>
        如果您在2023年1月26日之前是活跃订阅客户，则此试用期最长为一年 &ndash; 直到您当前的合同结束。在试用期结束时，您可以选择升级到完整的 Pro 订阅（需额外费用），或者以当前价格继续作为 Ubuntu Pro（仅基础设施）的客户（服务内容与旧的Ubuntu Advantage一致）。
      </p>
      <p class="p-button">
        <a href="https://ubuntu.com/login">登录以了解更多</a>
      </p>    
    </div>
  </div>
</section>

<section class="p-strip is-x-deep u-no-padding--bottom">
  <hr class="is-fixed-width u-no-margin--bottom">
  <div class="u-fixed-width">
    <div class="row">
      <div class="col-8 col-medium-6">
        <h2>想要了解Ubuntu Pro如何为您提供帮助？<br>试试下面的操作：</h2>
      </div>
    </div>
    <div class="row">
      <pre tabindex="0" style="font-size: 0.9rem;"><code>
        user@xenial-machine:~$ pro security-status
        645 packages installed:
              639 packages from Ubuntu Main/Restricted repository
              3 packages from Ubuntu Universe/Multiverse repository
              1 package from a third party
              2 packages no longer available for download
        
        To get more information about the packages, run
              pro security-status --help
        for a list of available options.
        
        This machine is NOT receiving security patches because the LTS period has ended and esm-infra is not enabled.
        This machine is NOT attached to an Ubuntu Pro subscription.
        
        Ubuntu Pro with 'esm-infra' enabled provides security updates for
        Main/Restricted packages until 2026 and has 5 pending security updates.
        
        Ubuntu Pro with 'esm-apps' enabled provides security updates for
        Universe/Multiverse packages until 2026 and has 1 pending security update.
        
        Try Ubuntu Pro with a free personal subscription on up to 5 machines.
        Learn more at https://ubuntu.com/pro
      </code></pre>
    </div>
  </div>
</section>

<section class="p-strip is-x-deep">
  <div class="u-fixed-width">
    <h2><a href="https://ubuntu.com/pro/tutorial">或者阅读我们的教程激活Ubuntu Pro服务</a></h2>
  </div>
</section>

<section class="p-strip is-x-deep u-no-padding--top">
  <div class="row">
    <!-- <div class="p-strip is-shallow u-no-padding--top"> -->
      <h2>专业人士在使用Ubuntu Pro</h2>
      <hr class="u-no-margin--bottom">
    <!-- </div> -->
  </div>
  <hr class="is-fixed-width u-no-margin--bottom">
  <div class="p-testimonial">
    <div class="p-testimonial__logo u-pad-logo">
      {{ image (
        url="https://assets.ubuntu.com/v1/f34edb1f-Google+Cloud+logo+158x40.png",
        alt="",
        width="158",
        height="40",
        hi_def=True,
        loading="auto|lazy"
        ) | safe
      }}
    </div>
    <div class="p-testimonial__author">
      <p>
        <span>Derry Cheng</span>
        <br><span class="u-text--muted">计算引擎产品经理</span>
      </p>
    </div>
    <div class="p-testimonial__quote">
      <i>
        <p>
          &ldquo;在过去的十年中，谷歌与 Canonical 合作促进开源软件的采用。
        </p>
        <p>
          通过在 Google Compute Engine 上提供 Ubuntu Pro，我们共同帮助客户增强其生产工作负载的安全性和合规性&rdquo;
        </p>
      </i>
    </div>
  </div>

  <hr class="is-fixed-width u-no-margin--bottom">
  <div class="p-testimonial">
    <div class="p-testimonial__logo u-pad-logo">
      {{ image (
        url="https://assets.ubuntu.com/v1/9257d79e-tenable+logo+158x40.png",
        alt="",
        width="158",
        height="40",
        hi_def=True,
        loading="auto|lazy"
        ) | safe
      }}
    </div>
    <div class="p-testimonial__author">
      <p>
        <span>Robert Huber</span>
        <br><span class="u-text--muted">首席安全官</span>
      </p>
    </div>
    <div class="p-testimonial__quote">
      <i>
        <p>          
          &ldquo;Tenable和Canonical合作提供及时、准确和可操作的漏洞警报。
        </p>
        <p>
          Ubuntu Pro为广泛的开源软件提供安全补丁保证。我们共同为客户提供可信赖开源的基础。&ldquo;
        </p>
      </i>
    </div>
  </div> 
</section>

<section class="p-strip is-x-deep u-no-padding--top">
  <hr class="is-fixed-width u-no-margin--bottom">
  <div class="row">
    <div class="col-6 col-medium-6">
      <div class="p-strip is-shallow u-no-padding--top">
        <h2>随处可用</h2>
        <p>在流行的云上提供企业级安全性和合规性， 数据中心和桌面。</p>
        <p><a href="/contact">联系Ubuntu</a></p>
      </div>
    </div>
    <div class="col-6 col-medium-6">
      <div class="p-strip u-no-padding--top">
        <div class="row">
          <div class="col-2 col-medium-3">
            <p class="p-text--x-small-capitalised u-align-text--x-small-to-default">公有云</p>
          </div>
          <div class="col-4 col-medium-3">
            <p>
              <strong>优化、高性能、安全和合规</strong>
              <br>
                探索现在在主要公有云市场上可用的Ubuntu Pro。
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-2 col-medium-3 col-small-2 u-pad-logo">
            {{ image (
              url="https://assets.ubuntu.com/v1/8ae663f9-Azure+logo++158x40.png",
              alt="",
              width="158",
              height="40",
              hi_def=True,
              loading="auto|lazy"
              ) | safe
            }}
          </div>
          <div class="col-4 col-medium-3 col-small-2">
            <p><a href="https://ubuntu.com/azure/pro">
              了解Azure上的Ubuntu Pro
            </a></p>
          </div>
        </div>
        <hr class="u-no-margin--bottom">
        <div class="row">
          <div class="col-2 col-medium-3 col-small-2 u-pad-logo">
            {{
              image(
                url="https://assets.ubuntu.com/v1/327f9207-aws-logo.png",
                alt="A W S",
                width="158",
                height="40",
                hi_def=True,
                loading="lazy"
              ) | safe
            }}
          </div>
          <div class="col-4 col-medium-3 col-small-2">
            <p><a href="https://ubuntu.com/aws/pro">
              了解AWS上的Ubuntu Pro
            </a></p>
          </div>
        </div>
        <hr class="u-no-margin--bottom">
        <div class="row">
          <div class="col-2 col-medium-3 col-small-2 u-pad-logo">
            {{ image (
              url="https://assets.ubuntu.com/v1/f34edb1f-Google+Cloud+logo+158x40.png",
              alt="Google Cloud logo",
              width="158",
              height="40",
              hi_def=True,
              loading="auto|lazy"
              ) | safe
            }}
          </div>
          <div class="col-4 col-medium-3">
            <p><a href="https://ubuntu.com/gcp/pro">
              了解谷歌云上的Ubuntu Pro
            </a></p>
          </div>
        </div>
      </div>
      <hr class="u-no-margin--bottom">
      <div class="row">
        <div class="col-2 col-medium-3">
          <p class="p-text--x-small-capitalised u-align-text--x-small-to-default">桌面</p>
        </div>
        <div class="col-4 col-medium-3">
          <p>
            <strong>给开发者提供动力。让IT运营放心</strong>
            <br>
              为您的Ubuntu桌面机群获取安全、管理工具和支持。
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-2 col-medium-3 col-small-2 u-pad-logo">
          {{ image (
            url="https://assets.ubuntu.com/v1/d649019e-u+pro+logo+158x40.png",
            alt="",
            width="158",
            height="40",
            hi_def=True,
            loading="auto|lazy"
            ) | safe
          }}
        </div>
        <div class="col-4 col-medium-3">
          <p><a href="/desktop/organisations">
            了解更多桌面版Ubuntu Pro
          </a></p>
        </div>
      </div>
      <hr class="u-no-margin--bottom">
      <div class="row">
        <div class="col-2 col-medium-3">
          <p class="p-text--x-small-capitalised u-align-text--x-small-to-default">服务器</p>
        </div>
        <div class="col-4 col-medium-3">
          <p>
            <strong>支持选定的管理程序上的无限Ubuntu虚拟机。</strong>
            <br>
            Any of: KVM | Qemu | Boch, VMWare ESXi, LXD | LXC, Xen, Hyper-V (WSL, Multipass), VirtualBox, z/VM, Docker.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-2 col-medium-3 col-small-2 u-pad-logo">
          {{ image (
          url="https://assets.ubuntu.com/v1/d649019e-u+pro+logo+158x40.png",
          alt="",
          width="158",
          height="40",
          hi_def=True,
          loading="auto|lazy"
          ) | safe
          }}
        </div>
        <div class="col-4 col-medium-3">
          <p><a href="http://ubuntu.com/server/docs">
              了解更多服务器版Ubuntu Pro
            </a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .row-card {
    grid-gap: 0 !important;
  }

  .col-card {
    padding: 1.5rem;
  }

  .bg-mid-dark {
    background-color: #666;
    color: white;
  }

  .bg-light {
    background-color: #f7f7f7;
  }

  .bg-dark {
    background-color: black;
    color: white;
  }
</style>

{% endblock%}
