@mixin cn-p-navigation {
  .p-navigation {
    
    &__logo {
      background: $color-brand;
      margin: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &__image {
      max-height: 1.5rem;
      max-width: 5.0625rem;
    }
  }
}
