@mixin ubuntu-p-engage {
  .p-engage-list {
    .p-content-card.p-content-card--cols-4 {
      height: 100%;
      min-height: max-content;

      &.has-image {
        flex-direction: column;
      }

      .p-content-card__image-wrapper {
        aspect-ratio: 16 / 9;
        width: 100%;
      }

      .p-content-card__image {
        height: 100%;
        object-fit: contain;
        object-position: left;
        width: 100%;
      }
    }
  }

  .p-pagination__items {
    justify-content: center;
    width: 100%;
  }

  .p-engage-form {
    align-self: start;
    overflow-y: visible;
    position: sticky;
    top: $spv--strip-regular; // Account for navigation
    z-index: 1;

    &.is-scrollable {
      max-height: calc(100vh - #{$spv--strip-regular});
      overflow-y: auto;
    }
  }

  // /engage: reorder form above body content on smaller screens
  @media only screen and (max-width: $breakpoint-large) {
    .p-engage-form {
      max-height: none;
      order: 1;
      overflow-y: visible;
      // disable custom form behavior when stacked
      position: static;
    }

    .p-engage-body {
      order: 2;
    }
  }
}
