@mixin cn-p-navigation {
  .p-navigation {
    &__logo {
      background: $color-brand;
      margin: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &__image {
      max-height: 1.5rem;
      max-width: 5.0625rem;
    }
  }
}

@mixin cn-p-secondary-navigation {
  .p-navigation--secondary {
    background-color: #f7f7f7;
    display: flex;
    margin-top: 0;
    position: relative;
    width: 100%;
    z-index: 38;

    &__banner {
      background-color: #e95420;
      float: left;
      font-weight: 300;
    }

    &__logo {
      align-items: center;
      color: #fff;
      display: flex;
      font-size: 0.875rem;
      margin-bottom: 0.6rem;
      padding: 0.55rem 1rem 0;
      position: relative;
      width: 7.07rem;
    }
  }

  .breadcrumbs {
    &--secondary {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 0;
      width: auto;
    }

    &__item {
      color: #111;
      display: inline-flex;
      list-style: none;
    }

    &__link {
      font-size: 0.875rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-top: 0.55rem;

      &:first-child {
        padding-left: 1rem;
      }

      &.p-link--active {
        color: $color-brand;
      }

      &.p-link--soft {
        color: #111;
      }
    }
  }
}
