@mixin cn-p-navigation {
  .p-navigation {
    @include vf-navigation-pattern (
      $background-color: $color-navigation-background,
      $border-color: transparent,
      $text-color: $color-x-light
    );

    &__logo {
      background: $color-brand;
      margin: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &__image {
      max-height: 1.5rem;
      max-width: 5.0625rem;
    }

    .row {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
}
