@mixin cn-p-footer {
  .p-footer {
    background: #2d2d2d !important;
  }

  .p-footer-list__item {
    @include vf-inline-list-item;

    overflow-wrap: normal;
    word-break: keep-all;
  }

  .p-footer__qr-code {
    max-width: 96px;
    @media (min-width: $threshold-4-8-col) {
      margin-left: auto;
      text-align: right;
    }
  }
}
