$color-brand: #e95420;
$color-accent: $color-brand;

// Navigation theme
$theme-default-nav: dark;
<<<<<<< HEAD
$breakpoint-navigation-threshold: 820px;
=======

//Navigation for small screen
$breakpoint-navigation-threshold: 820px;
>>>>>>> upstream/master
