$color-brand: #e95420;
$color-accent: $color-brand;

// Navigation theme
$theme-default-nav: dark;

//Navigation for small screen
$breakpoint-navigation-threshold: 820px;

$breakpoint-medium: 875px;
$sp-small: 0.5rem;
$sp-xxx-large: 3rem;
