@charset "UTF-8";

@import 'settings';

// Import Vanilla Framework
@import 'vanilla-framework/scss/build';

@import 'patterns_navigation';
@include cn-p-navigation;
@include cn-p-secondary-navigation;

// Import custom styles
@import 'custom/ubuntu_intro';
@import 'custom/heading-icon-small';
@import 'pattern_blog-post';
@import 'pattern_blog-card';
@import 'pattern_blog-list';
@import 'pattern_chart';
@import 'pattern_core';
@import 'pattern_strip';
@import 'pattern_takeovers';
@import 'utility_crop';
@import 'pattern_strip-photos';
@import 'pattern_gaming';
@import 'pattern_card';
@import 'pattern_inline-images';
@import 'pattern_contextual-footer';
@import 'pattern_calculator';

// import cookie policy
@import '@canonical/cookie-policy/build/css/cookie-policy';

@include blog-p-list;
@include blog-p-post;
@include blog-p-card;
@include blog-u-crop;
@include ubuntu-p-core;
@include ubuntu-p-strip;
@include ubuntu-p-takeovers;
@include ubuntu-p-engage-banner;
@include ubuntu-p-strip-photos;
@include ubuntu-p-gaming;
@include ubuntu-p-cards;
@include ubuntu-inline-images;
@include ubuntu-p-contextual-footer;
@include ubuntu-p-calculator;

body {
  border-top: 32px solid #262626; // Placeholder for global-nav

  @media only screen and (min-width: $breakpoint-x-large) {
    border-top-width: 36px;
  }
}

.global-nav {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

// Custom fix for global nav padding, so it aligns with the indented logo
// Copied from www.ubuntu.com: https://github.com/canonical-websites/www.ubuntu.com/blob/b68edf2e3b1f605f4a4fdbb4dd84155f699f27a3/static/sass/styles.scss#L210
.global-nav .global-nav__header-logo-anchor {
  padding: 0.6875rem 1rem !important;
}

// XXX Fix the max-width
.u-no-max-width {
  max-width: none;
}

.is-wide {
  width: 100%;
}

// Styling for ubuntu navigation logo for engage pages
.navigation-logo-engage {
  margin-top: -2.2rem;
  padding-bottom: 1.75rem;

  @media screen and (max-width: $breakpoint-large - 1px) {
    padding-top: 2rem;
  }

  a img {
    width: 143px;
  }
}

// Homepage takeover animation
@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes SlideInFromRight {
  0% {
    transform: translateX(0.5rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes SlideInFromLeft {
  0% {
    transform: translateX(-0.5rem);
  }

  100% {
    transform: translateX(0);
  }
}

.p-takeover-animation {
  animation: FadeIn map-get($animation-duration, 'snap')
    map-get($animation-easing, 'in');
  animation-delay: 2.5s;
  animation-fill-mode: backwards;

  &.is-loaded {
    animation-delay: 0s !important;

    .col-7 {
      animation: SlideInFromLeft map-get($animation-duration, 'fast')
        map-get($animation-easing, 'out');
    }

    .col-5 {
      animation: SlideInFromRight map-get($animation-duration, 'fast')
        map-get($animation-easing, 'out');
    }
  }

  &.is-loading {
    animation-delay: 500s !important;
  }
}

// Fix for missing desktop-hero image and responsive layout
.desktop-hero {
  background-image: url('#{$assets-path}2a202263-hero-banner.jpg');
  background-position: right bottom;
  background-size: 1000px auto;

  @media only screen and (min-width: 2000px) {
    background-size: 75%;
  }

  &--subtext {
    max-width: 28em;

    @media only screen and (max-width: 874px) and (min-width: 620px) {
      width: 50%;
    }
  }
}

// Fix for missing organisation-hero image and responsive layout
.organisations-hero {
  background-image: url('#{$assets-path}32d95e39-hero-laptop-org.jpg?w=1000');
  background-position: right bottom;
  background-size: 1100px auto;

  @media only screen and (min-width: 2000px) {
    background-size: 75%;
  }
}

// Add p-card icon
.p-card__icon {
  display: inline-block;
  height: 2rem;
  margin-bottom: 1.25rem;
}

// Fix the text alignment
h1.u-align--center,
h2.u-align--center,
h3.u-align--center,
h4.u-align--center,
h5.u-align--center,
h6.u-align--center,
p.u-align--center {
  max-width: none;
}

// Add is-crossed
.is-crossed {
  @extend .is-ticked;

  background-image: url('#{$assets-path}9cdb5b1e-cross-darkaubergine.svg');
}

.p-accordion__tab {
  background-position: top $spv-inner--medium left $sph-inner;
}

td.p-accordion {
  padding-top: 0;
}
