@charset "UTF-8";

@import 'settings';

// Import Vanilla Framework
@import 'vanilla-framework/scss/build';

// Import footer and navigation patterns
@import 'pattern_footer';
@include vf-p-navigation;
@include cn-p-footer;

// Import custom styles
@import 'custom/ubuntu_intro';
@import 'custom/heading-icon-small';
@import 'custom/certified-testing-list';
@import 'pattern_blog-post';
@import 'pattern_blog-card';
@import 'pattern_blog-list';
@import 'pattern_chart';
@import 'pattern_core';
@import 'pattern_strip';
@import 'pattern_takeovers';
@import 'utility_crop';
@import 'pattern_strip-photos';
@import 'pattern_gaming';
@import 'pattern_card';
@import 'pattern_contextual-footer';
@import 'pattern_calculator';
@import 'pattern_heading-icon';
@import 'pattern_tabs';
@import 'pattern_navigation';
@import 'pattern_navigation-dropdown';

// Import cookie policy styles
@import '@canonical/cookie-policy/build/css/cookie-policy';

@include blog-p-list;
@include blog-p-post;
@include blog-p-card;
@include blog-u-crop;
@include ubuntu-p-core;
@include ubuntu-p-strip;
@include ubuntu-p-takeovers;
@include ubuntu-p-engage-banner;
@include ubuntu-p-strip-photos;
@include ubuntu-p-gaming;
@include ubuntu-p-cards;
@include ubuntu-p-contextual-footer;
@include ubuntu-p-calculator;
@include ubuntu-p-heading-icon;
@include ubuntu-p-tabs;

@include ubuntu-p-navigation;
@include ubuntu-p-navigation-reduced;
@include ubuntu-p-navigation-dropdown;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  position: inherit;
}

// XXX Fix the max-width
.u-no-max-width {
  max-width: none;
}

.is-wide {
  width: 100%;
}

// Styling for ubuntu navigation logo for engage pages
.navigation-logo-engage {
  margin-top: -2.2rem;
  padding-bottom: 1.75rem;

  @media screen and (max-width: ($breakpoint-large - 1px)) {
    padding-top: 2rem;
  }

  a img {
    width: 143px;
  }
}

// Homepage takeover animation
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-in-from-right {
  0% {
    transform: translateX(0.5rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-0.5rem);
  }

  100% {
    transform: translateX(0);
  }
}

.p-takeover-animation {
  animation: fade-in map-get($animation-duration, 'snap')
    map-get($animation-easing, 'in');
  animation-delay: 2.5s;
  animation-fill-mode: backwards;

  &.is-loaded {
    animation-delay: 0s !important;

    .grid-col-6 {
      animation: slide-in-from-left map-get($animation-duration, 'fast')
        map-get($animation-easing, 'out');
    }

    .grid-col-2 {
      animation: slide-in-from-right map-get($animation-duration, 'fast')
        map-get($animation-easing, 'out');
    }
  }

  &.is-loading {
    animation-delay: 500s !important;
  }
}

// Fix for missing desktop-hero image and responsive layout
.desktop-hero {
  background-image: url('#{$assets-path}2fdb0bac-desktop-22.04-hero.jpg');
  background-position: right bottom;
  background-size: 1000px auto;

  @media only screen and (min-width: 2000px) {
    background-size: 75%;
  }

  &--subtext {
    max-width: 28em;

    @media only screen and (max-width: 874px) and (min-width: 620px) {
      width: 50%;
    }
  }
}

// Fix for missing organisation-hero image and responsive layout
.organisations-hero {
  background-image: url('#{$assets-path}32d95e39-hero-laptop-org.jpg?w=1000');
  background-position: right bottom;
  background-size: 1100px auto;

  @media only screen and (min-width: 2000px) {
    background-size: 75%;
  }
}

// Add p-card icon
.p-card__icon {
  display: inline-block;
  height: 2rem;
  margin-bottom: 1.25rem;
}

// Fix the text alignment
h1.u-align--center,
h2.u-align--center,
h3.u-align--center,
h4.u-align--center,
h5.u-align--center,
h6.u-align--center,
p.u-align--center {
  max-width: none;
}

// Add is-crossed

.p-accordion__tab {
  background-position: top $spv--medium left $sph--large;
}

td.p-accordion {
  padding-top: 0;
}

.p-heading-icon__header {
  .lazyloaded {
    flex-shrink: 0;
  }
}

.p-testimonial {
  @extend %fixed-width-container;

  padding-bottom: $sph--x-large;
  position: relative;

  @supports (display: grid) {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 0 map-get($grid-gutter-widths, small);
    grid-template-columns: repeat($grid-columns-small, minmax(0, 1fr));
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-max-width;

    @media (min-width: $threshold-4-6-col) {
      grid-gap: 0 map-get($grid-gutter-widths, default);
      grid-template-columns: repeat($grid-columns-medium, minmax(0, 1fr));
    }

    @media (min-width: $threshold-6-12-col) {
      grid-gap: 0 map-get($grid-gutter-widths, default);
      grid-template-columns: repeat($grid-columns, minmax(0, 1fr));
    }
  }

  .p-testimonial__logo {
    @media (max-width: ($threshold-4-6-col - 1)) {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
    }
    @media (min-width: $threshold-4-6-col) and (max-width: ($threshold-6-12-col - 1)) {
      grid-column: 1 / span 2;
    }
    @media (min-width: $threshold-6-12-col) {
      grid-column: 1 / span 2;
    }
  }

  .p-testimonial__author {
    @media (max-width: ($threshold-4-6-col - 1)) {
      grid-column: 3 / span 2;
      grid-row: 2 / span 1;
    }
    @media (min-width: $threshold-4-6-col) and (max-width: ($threshold-6-12-col - 1)) {
      grid-column: 3 / span 1;
    }
    @media (min-width: $threshold-6-12-col) {
      grid-column: 3 / span 3;
    }
  }

  .p-testimonial__quote {
    @media (max-width: ($threshold-4-6-col - 1)) {
      grid-column: 1 / span 4;
      grid-row: 1 / span 1;
    }
    @media (min-width: $threshold-4-6-col) and (max-width: ($threshold-6-12-col - 1)) {
      grid-column: 4 / span 3;
    }
    @media (min-width: $threshold-6-12-col) {
      grid-column: 7 / span 6;
    }
  }
}

// Successful form submission
#success {
  display: none;
  position: absolute;
}

#success:target {
  display: block;
  z-index: 10;
}

.u-sv4 {
  padding-bottom: $sp-xx-large;
}

@media screen and (max-width: ($breakpoint-large - 1)) and (min-width: $breakpoint-medium) {
  .u-table-scroll--medium {
    overflow-x: hidden;

    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: #{ $breakpoint-medium - 1 }) {
  .u-table-scroll--small {
    overflow-x: hidden;

    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}

.p-icon-section {
  @extend .p-icon-section;

  .p-icon-section__items {
    display: flex;
    flex-wrap: wrap;
    line-height: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    row-gap: calc(1rem + 1vw);

    @media screen and (max-width: ($breakpoint-large - 1)) {
      row-gap: 1rem;
    }
  }

  .p-icon-section__item {
    margin-bottom: -0.5rem;
    margin-right: 2.5rem;
    margin-top: -0.5rem;

    @media screen and (max-width: ($breakpoint-small - 1)) {
      margin-right: 1rem;
    }
  }

  .p-icon-section__icon {
    height: 3.75rem;
    width: auto;

    @media screen and (max-width: ($breakpoint-large - 1)) {
      height: 3rem;
    }
  }
}

@media screen and (max-width: #{ $breakpoint-medium - 1 }) {
  .u-table-scroll--small {
    overflow-x: hidden;

    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
}
