@charset "UTF-8";

$color-brand: #e95420;
$color-accent: $color-brand;
$color-link: $color-brand;

// Global components
@import '../components/canonical-global-nav/build/css/main';

// Import Vanilla Framework
@import "../../node_modules/vanilla-framework/scss/build";

// Import custom styles
@import "custom/ubuntu_intro";

// Temp inline image fix
// https://github.com/vanilla-framework/vanilla-framework/issues/1168
.p-inline-images {

  &__item {

    * {
      max-height: $sp-xxx-large;
      max-width: 7rem;
      width: 100%;

      @media only screen and (min-width: $breakpoint-medium) {
        max-height: 5.5rem;
        max-width: 9rem;
      }
    }
  }
}

// Temp fix for card header
// https://github.com/vanilla-framework/vanilla-framework/issues/1280
.p-card__header {
  + * {
    margin-top: 0;
  }
}

// XXX Ant: 06.09.17
// Hotfix until the next version of Vanilla is updated > v1.5.2
.p-strip .p-link--external,
.p-strip--light .p-link--external {
  color: $color-brand;
}
