@charset "UTF-8";

$color-brand: #e95420;
$color-accent: $color-brand;
$color-link: $color-brand;

// Import Vanilla Framework
@import "../../node_modules/vanilla-framework/scss/build";

// Import custom styles
@import "custom/ubuntu_intro";
