{% macro vf_nav_dropdown(content_id, items) %}
  <div class="dropdown-content-desktop u-hide" id="{{ content_id }}">
    <nav class="dropdown-window__content-container">
        <div class="dropdown-window__content grid-row">
          <div class="grid-col-start-large-3 grid-col-6 u-no-padding">
            <div class="dropdown-window__sidenav-content is-dark"
                  id="support-enterprise-tab-content"
                  tabindex="-1"
                  role="tabpanel"
                  aria-labelledby="support-enterprise-tab">
                  {% set maxPerRow = 3 %}
                  {% set totalItems = items|length %}
                  {% set base_items = totalItems // maxPerRow %}
                  {% set extra_items = totalItems % maxPerRow %}
                  
                  <div class="grid-row u-no-padding dropdown-window__main-panel">
                    {% for col in range(maxPerRow) %}
                    {% set col_height = base_items + (1 if col < extra_items else 0) %}
                    <div class="grid-col-2">
                      <ul class="p-list u-no-margin">
                        {% for row in range(col_height) %}
                        {% set start_item_for_col = col * base_items + [col, extra_items]|min %}
                        {% set item_index = start_item_for_col + row %}
                        <li class="p-navigation__dropdown-item">
                          <a href="{{ items[item_index].href }}"
                              class="p-link--inverted"
                              tabindex="0"
                              onclick='dataLayer.push({ event: "GAEvent", eventCategory: "Primary navigation", eventAction: "from:" + window.location.href + " to: " + "{{ items[item_index].href }}", eventLabel: "{{ items[item_index].title }}", eventValue: undefined, });'>
                            <span>{{ items[item_index].title }}</span>
                            <br />
                            <small class="is-muted">{{ items[item_index].description }}</small>
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    {% endfor %}
                  </div>

            </div>

          </div>

        </div>
      </nav>
  </div>
{% endmacro %}