{% set nav = get_navigation("all") %}

{% extends "templates/base.html" %}

{% block title %}Navigation{% endblock %}

{# Macro for rendering four-column link layout #}

{% macro render_four_column_links(links, has_secondary_links=false) %}
  {% set columns = 4 if not has_secondary_links else 2 %}
  {% set column_links = split_list(links, columns) %}

  {% for i in range(columns) %}
    <div class="grid-col-2">
      <ul class="p-list">
        {% for link in column_links[i] %}
          {% with
            url = link.href,
            title = link.title,
            description = link.description,
            secondary_cta_url = link.secondary_cta_url,
            secondary_cta_title = link.secondary_cta_title
            %}
            {% include "navigation/partials/_list-item.html" %}
          {% endwith %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% endmacro %}

{% block content %}

  <div class="p-strip nojs-navigation is-dark">
    {% for section in nav %}
      <hr class="is-dark is-fixed-width p-rule--muted" />
      <nav class="dropdown-window__content-container desktop-dropdown-content">
        <div class="dropdown-window__content grid-row">
          {% include "navigation/partials/_section-heading-nojs.html" %}
          <div class="grid-row p-navigation__content-panel"
               style="background-color: transparent">
            <div class="grid-col-8">
              <div class="grid-row u-sv3 dropdown-window__main-panel">{{ render_four_column_links(nav[section]) }}</div>
            </div>
          </div>
        </div>
      </nav>
    {% endfor %}
  </div>

{% endblock %}
