{% extends "templates/base.html" %}

{% if title %}{% block title %}下载Ubuntu IoT开发板系统{{ title }}{% endblock %}{% endif %}
{% if meta_description %}{% block meta_description %}Ubuntu {{ releases.lts.short_version }}下载, Ubuntu {{ releases.latest.full_version }}下载, Ubuntu Core，开发板系统，嵌入式系统{{ meta_description }}{% endblock %}{% endif %}
{% block meta_copydoc %}https://docs.google.com/document/d/1-rYu9BV4mN04yXn01QhBillOyHQOeuCbuGKiJQpJjYs/edit{% endblock meta_copydoc %}
{% block meta_image %}https://assets.ubuntu.com/v1/28e0ebb7-Focal-Fossa-gradient-outline.svg{% endblock %}
{% block content %}

{% include "download/iot/secondary-nav.html" %}

<section class="p-strip--suru-topped">
    <div class="row">
      <h1>获取用于IoT的Ubuntu</h1>
    </div>
  </section>
  <section class="p-strip--light is-shallow">
    <div class="row u-equal-height  u-vertically-center">
      <div class="col-6">
        <div class="p-heading-icon">
          <div class="p-heading-icon__header">
            {{
              image(
                url="https://assets.ubuntu.com/v1/a8a6238c-RGB+RPi.svg",
                alt="Raspberry Pi",
                width="40",
                height="40",
                hi_def=True,
                loading="auto",
                attrs={"class": "p-heading-icon__img", style: "margin-top: .5rem"},
              ) | safe
            }}
            <h2 class="p-heading-icon__title" style="line-height: 4rem;">适用于树莓派的Ubuntu</h2>
          </div>
        </div>
        <p>
          获得适用于树莓派2、3或4的强大功能、易用性和灵活性的Ubuntu。<br \>
          通过使用Ubuntu服务器版或桌面镜像以获得熟悉的开发环境开始。
        </p>
        <p><a class="p-button--positive" href="/download/raspberry-pi">在树莓派2, 3或4上安装</a></p>
      </div>
      <div class="col-5 col-start-large-8 u-align--center u-hide--small">
        {{
          image(
            url="https://assets.ubuntu.com/v1/a999bb5f-Raspberry+Pi+4.png",
            alt="",
            height="268",
            width="420",
            hi_def=True,
          ) | safe
        }}
      </div>
    </section>

    <section class="p-strip is-deep">
      <div class="row">
        <div class="col-2 col-medium-4">
          <h3>支持的平台</h3>
        </div>
        <div class="col-2 col-medium-3">
          {{
            image(
              url="https://assets.ubuntu.com/v1/a69b2863-intel+nuc.svg",
              alt="Intel NUC",
              width="120",
              height="45",
              hi_def=True,
              loading="auto",
            ) | safe
          }}
          <p>
            <a href="https://ubuntu.com/download/intel-nuc-desktop">安装Ubuntu桌面版</a>
          </p>
        </div>
        <div class="col-2 col-medium-3">
          {{
            image(
              url="https://assets.ubuntu.com/v1/88444b11-logo-up2.svg",
              alt="Up2",
              width="63",
              height="45",
              hi_def=True,
              loading="auto",
            ) | safe
          }}
          <p>
            <a href="https://ubuntu.com/download/up-squared-iot-grove-server">安装Ubuntu服务器版</a>
          </p>
        </div>
        <div class="col-2 col-medium-3">
          {{ image (
            url="https://assets.ubuntu.com/v1/f8ef46d3-AMD_Xilinx_logo.svg",
            alt="AMD XILINX",
            width="72",
            height="45",
            hi_def=True,
            loading="auto"
            ) | safe
          }}
          <p>
            <a href="/download/amd-xilinx">安装Ubuntu桌面版&nbsp;&rsaquo;</a>
          </p>
        </div>
        <div class="col-2 col-medium-3">
          {{ image (
            url="https://assets.ubuntu.com/v1/26cbe599-intel-logo.jpg",
            alt="Intel",
            width="75",
            height="42",
            hi_def=True,
            loading="auto"
            ) | safe
          }}
          <p>
            <a href="/download/iot/intel-iotg">安装Ubuntu桌面版&nbsp;&rsaquo;</a>
          </p>
        </div>
        <div class="col-2 col-medium-3">
          {{ image (
            url="https://assets.ubuntu.com/v1/4d5b8d51-riscv-color.svg",
            alt="RISC-V",
            width="147",
            height="23",
            hi_def=True,
            loading="auto",
            attrs={"style": "margin: 0.5rem 0 0.75rem; max-width: 147px;"}
            ) | safe
          }}
          <p>
            <a href="/download/risc-v">安装Ubuntu服务器版&nbsp;&rsaquo;</a>
          </p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-8">
          <h3>最佳的Ubuntu体验</h3>
        </div>
        </div>
      <div class="row">
        <div class="col-8">
          <p>Ubuntu与芯片供应商和制造商合作，在各种硬件上适配和认证Ubuntu。已认证的硬件通过了我们在实验室中的广泛测试和审查流程，确保Ubuntu开箱即用，并且在每次系统更新交付之前都会执行回归测试。</p>  
          <a class="p-button--positive" href="https://ubuntu.com/certified">查看已认证的硬件</a>
        </div>
        <div class="col-4 u-align--center u-hide--medium u-hide--small">
          {{
            image (
            url="https://assets.ubuntu.com/v1/20a610ea-Ubuntu_Certified_Hardware_partner.svg",
            alt="",
            width="102",
            height="150",
            hi_def=True,
            loading="lazy"
            ) | safe
          }}
        </div>
      </div>
    </section>
    
    <section id="core" class="p-strip--light">
      <div class="row u-equal-height">
        <div class="col-8">
          <h2>Ubuntu Core</h2>
          <p>
            Ubuntu Core是一个轻量级、严格受限、完全事务化的操作系统。我们从头开始设计它，以专注于安全性和简化维护，以适用于边缘计算和大型设备网络。Ubuntu Core由通用的Linux打包格式snap驱动。
          </p>
          <p>
            <a class="p-button is-inline" style="margin-left: 0;" href="/internet-of-things/core">了解更多关于Ubuntu Core的内容</a><br class="u-hide--large u-hide--medium" /><a href="https://ubuntu.com/download/kvm" class="p-link--external">在您工作站上的KVM中安装</a>
          </p>
        </div>
        <div class="col-4 u-vertically-center u-align--center u-hide--small">
          {{
            image(
              url="https://assets.ubuntu.com/v1/805f2b3a-core_black-orange_st_hex.svg",
              alt="Ubuntu Core",
              width="125",
              height="168",
              hi_def=True,
              loading="lazy"
            ) | safe
          }}
        </div>
      </div>
    </section>

    <section class="p-strip">
      <div class="u-fixed-width u-sv3">
        <h3>支持的平台</h3>
      </div>
      <div class="row u-sv3">
        <div class="col-4">
            {{ image (
              url="https://assets.ubuntu.com/v1/977f2b7a-raspberry+pi+horizontal.svg",
              alt="Raspberry Pi logo",
              width="168",
              height="45",
              hi_def=True,
              loading="lazy"
              ) | safe
            }}
          <p><a href="/download/raspberry-pi">安装Ubuntu Core 22&nbsp;&rsaquo;</a></p>
          </div>
          <div class="col-4">
            {{ image (
              url="https://assets.ubuntu.com/v1/a69b2863-intel+nuc.svg",
              alt="Intel NUC logo",
              width="120",
              height="45",
              hi_def=True,
              loading="lazy"
              ) | safe
            }}
            <p><a href="https://ubuntu.com/download/iot/intel-nuc">安装Ubuntu Core 22</a></p>
          </div>
          <div class="col-4">
            {{ image (
              url="https://assets.ubuntu.com/v1/db577ec7-tank-logo.svg",
              alt="Intel Tank logo",
              width="163",
              height="45",
              hi_def=True,
              loading="lazy"
              ) | safe
            }}
            <p><a href="https://ubuntu.com/download/intel-iei-tank-870">安装Ubuntu Core 18</a></p>
          </div>
        </div>
        <div class="row u-sv3">
          <div class="col-4">
            {{ image (
              url="https://assets.ubuntu.com/v1/2a6d29c9-snapdragon.svg",
              alt="Qualcomm Snapdragon logo",
              width="139",
              height="45",
              hi_def=True,
              loading="lazy"
              ) | safe
            }}
            <p><a href="https://ubuntu.com/download/qualcomm-dragonboard-410c">安装Ubuntu Core 18</a></p>
          </div>
          <div class="col-4">
            {{ image (
              url="https://assets.ubuntu.com/v1/f8ef46d3-AMD_Xilinx_logo.svg",
              alt="AMD Xilinx logo",
              width="72",
              height="45",
              hi_def=True,
              loading="auto"
              ) | safe
            }}
            <p><a href="/download/amd-xilinx">安装Ubuntu Core 20&nbsp;&rsaquo;</a></p>
          </div>
          <div class="col-4">
            {{ image (
              url="https://assets.ubuntu.com/v1/26cbe599-intel-logo.jpg",
              alt="Intel logo",
              width="75",
              height="42",
              hi_def=True,
              loading="auto"
              ) | safe
            }}
            <p>
              <a href="/download/iot/intel-iotg">安装Ubuntu桌面版&nbsp;&rsaquo;</a>
            </p>
          </div>
        </div>
        <div class="u-fixed-width">
          <p>
            <a class="p-button" href="https://cdimage.ubuntu.com/ubuntu-core/20/stable/current/">
              浏览全部支持的镜像
            </a>
          </p>
        </div>
      </section>
  
  <div class="u-fixed-width">
    <hr />
  </div>

<section class="p-strip">
    <div class="u-fixed-width">
      <h3 class="u-sv3 p-heading--2">找不到你想要的开发板？</h3>
      <p>
        <a class="p-button--positive" href="/contact">联系我们</a>
      </p>
    </div>
</section>
  
      <section class="p-strip--light is-deep">
        {% with head="现在开始做些有趣的事", subhead="为您的电脑、树莓派或者虚拟机下载appliance镜像" %}{% include "/shared/_appliance-advert-strip.html" %}{% endwith %}
      </section>
        {% with heading="没有找到您想要的开发板？" %}{% include "/shared/_enablement-strip.html" %}{% endwith %}
        {% with first_item="_core_learn_more", second_item="_core_contribute", third_item="_iot_further_reading" %}{% include "shared/contextual_footers/_contextual_footer.html" %}{% endwith %}

{% endblock %}