{% extends "templates/base.html" %}

{% if title %}{% block title %}下载用于Intel IoT 平台的Ubuntu{{ title }}{% endblock %}{% endif %}
{% if meta_description %}{% block meta_description %}Canonical和Intel合作以提供Intel IoT 平台上的Ubuntu桌面和Ubuntu Core，包括：凌动 X6000E系列, Intel奔腾和赛扬系列; N和J系列以及十一代的Intel Core处理器。{{ meta_description }}{% endblock %}{% endif %}
{% block meta_copydoc %}https://docs.google.com/document/d/1hxKzPs6e6JQaa9tBqfZ55GAXrVnEryEWBja8HlXy-lc/edit{% endblock meta_copydoc %}
{% block meta_image %}https://assets.ubuntu.com/v1/fc79371c-__++_++_+grad+_+en+_+800x418.jpeg{% endblock %}
{% block content %}

<section class="p-strip--suru-topped">
  <div class="row u-vertically-center">
    <div class="col-7">
      <h1>下载用于英特尔IoT平台的Ubuntu</h1>
      <p class="p-heading--4">在英特尔处理器上使用 Ubuntu 加速工业计算</p>
      <p>为英特尔物联网硬件专门优化的整个工业级的Ubuntu系列镜像，从Ubuntu Core到桌面版和服务器版，现都可以为广泛的英特尔平台下载对应的系统镜像。 </p>
    </div>
    <div class="col-5 u-hide--medium u-hide--small u-align--center">
      {{
        image (
        url="https://assets.ubuntu.com/v1/efca8490-intel-logo-0.png",
        alt="",
        width="300",
        height="300",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="row u-sv4">
    <div class="col-6 col-medium-3">
      {{ image (
        url="https://assets.ubuntu.com/v1/bcf36072-Ubuntu+Deep+tech+-+dark.svg",
        alt="",
        width="73",
        height="50",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
      <h2 class="p-heading--3">完整的解决方案</h2>
      <p>开箱即用的Ubuntu镜像</p>
    </div>
    <div class="col-6 col-medium-3">
      {{ image (
        url="https://assets.ubuntu.com/v1/fc2757dd-ubuntu-cloud-1.svg",
        alt="",
        width="77",
        height="50",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
      <h2 class="p-heading--3">为英特尔平台优化 </h2>
      <p>具有独特的英特尔特性的优化的Linux</p>
    </div>
    <div class="col-6 col-medium-3">
      {{ image (
        url="https://assets.ubuntu.com/v1/ceb481d1-10+years.svg",
        alt="",
        width="50",
        height="50",
        hi_def=True,
        loading="auto"
        ) | safe
      }}      
      <h2 class="p-heading--3">长期维护</h2>
      <p>十年以上的安全维护和支持</p>
    </div>
    <div class="col-6 col-medium-3">
      {{ image (
        url="https://assets.ubuntu.com/v1/dbd97444-partner-with-us.svg",
        alt="",
        width="68",
        height="50",
        hi_def=True,
        loading="auto"
        ) | safe
      }}      
      <h2 class="p-heading--3">由英特尔的合作伙伴生态系统提供支持</h2>
      <p>领先的ODM和硬件合作伙伴提供的支持</p>
    </div>
  </div>
  <div class="u-fixed-width">
    <p><strong>您正在开展商业项目吗？</strong> Canonical与芯片供应商、主机板制造商和 ODM 合作，以缩短企业的上市时间。联系我们的团队以获取定制主机板的支持、商业分销、长期的支持或安全维护。</p>
    <p>
      <a href="/contact" class="p-button--positive">联系我们</a>
    </p>
    <p><a href="https://ubuntu.com/engage/iot-adoption-intel-and-ubuntu">观看英特尔和Canonical的联合网络研讨会以了解在下一代英特尔SoC上优化的Ubuntu是如何加速物联网的使用</a></p>
  </div>
</section>
      
<section class="p-strip is-bordered">
  <div class="u-fixed-width u-sv3">
    <h2>为下一代英特尔SoC优化的Ubuntu</h2>
    <p>英特尔的边缘就绪计算和连接技术产品组合可以轻松快速地部署边缘应用程序。其针对物联网进行了增强，使得在您最需要的边缘端通过计算资源的数据处理能力让您的数据中获取关键见解和业务价值。</p>
    <p><strong>为您的英特尔硬件下载Ubuntu。</strong> 您将在下面找到生产级的Ubuntu系列镜像的链接和发行说明以及安装说明。</p>
    <p><a href="https://assets.ubuntu.com/v1/a492a35c-LookoutCanyon_ReleaseNotes_22.04_221115_V1.1.pdf">Ubuntu 22.04桌面版和服务器版发布说明</a></p>
    <p><a href="https://assets.ubuntu.com/v1/fd2fa325-LookoutCanyon_ReleaseNotes_20.04_221115_V1.1.pdf">Ubuntu 20.04桌面版和服务器版发布说明</a></p>    
    <p><a href="https://assets.ubuntu.com/v1/e1201039-LookoutCanyon_ReleaseNotes_UC22_221130.pdf">Ubuntu Core 22版本发布说明</a></p>
    <p><a href="https://assets.ubuntu.com/v1/c657029e-LookoutCanyon_ReleaseNotes_UC20_221130.pdf">Ubuntu Core 20版本发布说明</a></p>    
    <table class="p-table--mobile-card" aria-label="Ubuntu 22.04 for intel downloads">
      <thead>
        <tr>
          <th><span class="u-off-screen">硬件类别</span></th>
          <th class="u-align--center">Ubuntu Core 22 <p class="u-no-margin--bottom"><a href="https://assets.ubuntu.com/v1/82c977a8-Installation+Instructions+Core+Image+Intel+IoT+Platforms.pdf">介绍</a><p></p></th>
          <th class="u-align--center">Ubuntu 22.04 桌面版<p class="u-no-margin--bottom"><a href="https://assets.ubuntu.com/v1/2715b851-Installation+Instructions+Desktop+Image+Intel+IoT+Platforms.pdf">介绍</a><p></th>
          <th class="u-align--center">Ubuntu 22.04 服务器版<p class="u-no-margin--bottom"><a href="https://assets.ubuntu.com/v1/a0b71e1e-Installation+Instructions+Server+Image+Intel+IoT+Platforms.pdf">介绍</a><p></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>英特尔凌动® X6000E 系列和英特尔® 奔腾® 和赛扬® N 和 J 系列处理器 <br/>（先前代号为Elkhart Lake）</th>
          <td class="u-align--center" data-heading="Ubuntu Core 22"><p><a href="https://cdimage.ubuntu.com/ubuntu-core/22/stable/20221021.3/ubuntu-core-22-amd64+intel-iot.img.xz" class="p-button is-dense">下载</a></p></td>
          <td class="u-align--center" data-heading="Ubuntu Desktop 22.04"><p><a href="https://cdimage.ubuntu.com/jammy/daily-live/manual/jammy-desktop-amd64+intel-iot.iso" class="p-button is-dense">下载</a></p></td>
          <td class="u-align--center" data-heading="Ubuntu Server 22.04"><p><a href="https://cdimage.ubuntu.com/ubuntu-server/jammy/daily-live/manual/jammy-live-server-amd64+intel-iot.iso" class="p-button is-dense">下载</a></p></td>
        </tr>
        <tr>
          <th>第11代英特尔® 酷睿™ 处理器 <br/>（先前代号为Tiger Lake）</th>
          <td class="u-align--center" data-heading="Ubuntu Core 22"><p><a href="https://cdimage.ubuntu.com/ubuntu-core/22/stable/20221021.3/ubuntu-core-22-amd64+intel-iot.img.xz" class="p-button is-dense">下载</a></p></td>
          <td class="u-align--center" data-heading="Ubuntu Desktop 22.04"><p><a href="https://cdimage.ubuntu.com/jammy/daily-live/manual/jammy-desktop-amd64+intel-iot.iso" class="p-button is-dense">下载</a></p></td>
          <td class="u-align--center" data-heading="Ubuntu Server 22.04"><p><a href="https://cdimage.ubuntu.com/ubuntu-server/jammy/daily-live/manual/jammy-live-server-amd64+intel-iot.iso" class="p-button is-dense">下载</a></p></td>
        </tr>
        <tr>
          <th>第12代英特尔® 酷睿™ 处理器 <br/>（先前代号为Alder Lake S，P）</th>
          <td class="u-align--center" data-heading="Ubuntu Core 22"><p><button class="p-button is-dense" disabled="">即将发布</button></p></td>
          <td class="u-align--center" data-heading="Ubuntu Desktop 22.04"><p><a href="https://cdimage.ubuntu.com/jammy/daily-live/manual/jammy-desktop-amd64+intel-iot.iso" class="p-button is-dense">下载</a></p></td>
          <td class="u-align--center" data-heading="Ubuntu Server 22.04"><p><a href="https://cdimage.ubuntu.com/ubuntu-server/jammy/daily-live/manual/jammy-live-server-amd64+intel-iot.iso" class="p-button is-dense">下载</a></p></td>
        </tr>
        <tr>
          <th>英特尔® 至强® D 处理器<br/>（先前代号为Ice Lake）</th>
          <td class="u-align--center" data-heading="Ubuntu Core 22">-</td>
          <td class="u-align--center" data-heading="Ubuntu Desktop 22.04"><p><a href="https://cdimage.ubuntu.com/jammy/daily-live/manual/jammy-desktop-amd64+intel-iot.iso" class="p-button is-dense">下载</a></p></td>
          <td class="u-align--center" data-heading="Ubuntu Server 22.04"><p><a href="https://cdimage.ubuntu.com/ubuntu-server/jammy/daily-live/manual/jammy-live-server-amd64+intel-iot.iso" class="p-button is-dense">下载</a></p></td>
        </tr>                
      </tbody>
    </table>

    <table class="p-table--mobile-card" aria-label="Ubuntu 20.04 for intel downloads">
      <thead>
        <tr>
          <th><span class="u-off-screen">硬件类型</span></th>
          <th class="u-align--center">Ubuntu Core 20</th>
          <th class="u-align--center">Ubuntu 20.04 桌面版</th>
          <th class="u-align--center">Ubuntu 20.04 服务器版</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>英特尔凌动® X6000E 系列和英特尔® 奔腾® 和赛扬® N 和 J 系列处理器  <br/>（先前代号为Elkhart Lake）</th>
          <td class="u-align--center" data-heading="Ubuntu Core 20"><p><a href="https://cdimage.ubuntu.com/ubuntu-core/20/stable/20221025.4/ubuntu-core-20-amd64+intel-iot.img.xz" class="p-button is-dense">下载</a></p></td>
          <td class="u-align--center" data-heading="Ubuntu Desktop 20.04"><p><a href="https://cdimage.ubuntu.com/focal/daily-live/manual/focal-desktop-amd64+intel-iot.iso" class="p-button is-dense">下载</a></p></td>
          <td class="u-align--center" data-heading="Ubuntu Server 20.04"><p><a href="https://cdimage.ubuntu.com/ubuntu-server/focal/daily-live/manual/focal-live-server-amd64+intel-iot.iso" class="p-button is-dense">下载</a></p></td>
        </tr>
        <tr>
          <th>第11代英特尔® 酷睿™ 处理器 <br/>（先前代号为Tiger Lake）</th>
          <td class="u-align--center" data-heading="Ubuntu Core 20"><p><a href="https://cdimage.ubuntu.com/ubuntu-core/20/stable/20221025.4/ubuntu-core-20-amd64+intel-iot.img.xz" class="p-button is-dense">下载</a></p></td>
          <td class="u-align--center" data-heading="Ubuntu Desktop 20.04"><p><a href="https://cdimage.ubuntu.com/focal/daily-live/manual/focal-desktop-amd64+intel-iot.iso" class="p-button is-dense">下载</a></p></td>
          <td class="u-align--center" data-heading="Ubuntu Server 20.04"><p><a href="https://cdimage.ubuntu.com/ubuntu-server/focal/daily-live/manual/focal-live-server-amd64+intel-iot.iso" class="p-button is-dense">下载</a></p></td>
        </tr>             
      </tbody>
    </table>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <h2>了解更多关于Ubuntu Core的内容</h2>
    <p>Ubuntu Core是为物联网和嵌入式系统设计和开发的Ubuntu LTS操作系统版本。</p>
    <p>Ubuntu Core基于snap应用格式包构建，自动更新自身及其应用程序，以创建一个适用于嵌入式设备的受限的和事务化的系统。</p>
    <a href="https://ubuntu.com/core/docs">阅读Ubuntu Core文档</a>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>  

  <div class="u-fixed-width">
    <h2>了解更多关于Ubuntu桌面版的内容</h2>
    <p>Ubuntu桌面操作系统为全球数百万台PC和笔记本电脑提供动力，并在来自顶级OEM供应商的数百台笔记本电脑和工作站上获得认证。现代和高性能，用户受益于丰富的开发和生产力应用程序生态系统。Ubuntu桌面系统将企业级支持、安全性和功能与开源的精华结合在一起。</p>
    <a href="/desktop/developers">了解更多关于用于Linux开发人员的Ubuntu桌面</a>
  </div>

  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>

  <div class="u-fixed-width">
    <h2>了解更多关于Ubuntu服务器版的内容</h2>
    <p>Ubuntu服务器版是Ubuntu操作系统的一个版本，其被设计和开发为互联网的主干。</p>
    <p>Ubuntu服务器版为您的公有云或私有数据中心带来经济和技术可扩展性。无论您是要部署OpenStack云、Kubernetes集群还是5万个节点的渲染场，Ubuntu服务器版都能提供最具价值的横向扩展性能。</p>
    <a href="https://ubuntu.com/server/docs">阅读Ubuntu服务器版文档</a>
  </div>
</section>

<section class="p-strip--light">
  <div class="row">
    <div class="col-8">
      <h2>了解更多关于英特尔凌动&reg; X6000E 系列和 英特尔&reg; 奔腾&reg; 和赛扬&reg; N 和 J 系列处理器</h2>
      <p>为了支持下一代物联网边缘设备，英特尔开发了一系列针对物联网增强的新处理器——英特尔凌动 x6000E 系列、英特尔奔腾以及英特尔赛扬 N 和 J 系列处理器（以前称为 Elkhart Lake——EHL）。这些处理器构建在新级别的处理器和图形性能之上，集成了 IoT 功能、实时性能、可管理性、安全性和功能安全性。</p>
      <a href="https://www.intel.com/content/www/us/en/products/docs/processors/embedded/enhanced-for-iot-platform-brief.html">阅读平台介绍</a>
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>

  <div class="row">
    <div class="col-8">
      <h2>了解更多关于英特尔第11代酷睿&trade;处理器</h2>
      <p>第11代智能英特尔&reg;酷睿&trade;处理器（以前称为 Tiger Lake——TGL）在基于英特尔第三代10纳米工艺技术的低功耗平台中实现了性能和响应能力的平衡。这些处理器专为物联网市场而设计，可以支持低延迟和时间敏感的应用程序，并且能够在单个平台上运行多种包括人工智能和深度学习应用程序的工作负载。</p>
      <a href="https://www.intel.com/content/www/us/en/products/docs/processors/core/11th-gen-core-enhanced-for-iot-brief.html">阅读平台介绍</a>
    </div>
  </div>
  <div class="u-fixed-width">
    <hr class="p-separator">
  </div>

  <div class="row">
    <div class="col-8">
      <h2>了解更多关于英特尔第12代酷睿&trade;处理器</h2>
      <p>作为首款采用性能混合架构的英特尔® 酷睿™ 处理器，第 12 代英特尔® 酷睿™ 处理器（代号 — Alder Lake）专为优化工作负载、加速人工智能性能和沉浸式视频体验而设计。该平台提供了灵活性和可扩展性——其全面的台式机和移动处理器选择系列，每一种都具有不同的关键特性、性能水平和图形功能。第12代英特尔® 酷睿™ 处理器是英特尔今年为物联网推出的最新和最具创新性的平台之一，其使部署获得成功并在智能零售、工业制造、医疗保健、视频和安全等许多领域推动、实现更多的价值。</p>
      <a href="https://www.intel.com/content/www/us/en/products/docs/processors/embedded/12th-gen-core-iot-product-brief.html?wapkw=12th%20gen%20intel%20core%20processors">阅读平台简介</a>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <h3>硬件认证计划</h3>
    <p>Canonical 与领先的设备制造商合作，在各种开发板上验证同一个的 Ubuntu 镜像，为您的定制需求提供出色的开箱即用体验。请继续关注即将推出的更多功能！</p>
    <a href="https://ubuntu.com/certified/devices">浏览 Ubuntu 认证的物联网设备</a>
  </div>
</section>

{% with first_item="_core_learn_more", second_item="_core_contribute", third_item="_iot_further_reading" %}{% include "shared/contextual_footers/_contextual_footer.html" %}{% endwith %}

{% endblock %}
