<nav class="p-navigation--secondary">
    <div class="row">
      <div class="col-12 u-equal-height">
        <a class="p-navigation--secondary__banner u-hide--nav-threshold-down" href="/download">
          <h5 class="p-navigation--secondary__logo">
            下载
          </h5>
        </a>
        <ul class="breadcrumbs--secondary">          
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link {% if request.path == '/download/iot/intel-iotg' %}p-link--active{% else %}p-link--soft{% endif %}" href="/download/iot/intel-iotg">英特尔IoT平台</a>
          </li>
        </ul>       
      </div>
    </div>
  </nav>
  