{% extends "tablet/base_tablet.html" %}
{% load markdown_deux_tags %}

{% block title %}Ubuntu 平板电脑系统{% endblock %}

{% block meta_description %}平板电脑{% endblock %}

{% block second_level_nav_items %}
    {% include "templates/_nav_breadcrumb.html" with section_title="平板电脑" page_title="平板电脑"  %}
{% endblock second_level_nav_items %}

{% block content %}
<div class="row row-hero">
    <div class="four-col">
        {% include "templates/_cms-block.html" with block_content=hero %}
    </div>
    <div class="eight-col last-col text-center priority-0">
        <img src="{{ STATIC_URL }}img/tablet/tablet-hero.jpg" alt="" width="625" height="363" />
    </div>
</div>

{# ================ Multitasking magic ================ #}
<div class="row">
    <div class="eight-col">
        {% include "templates/_cms-block.html" with block_content=multitasking %}
    </div>
    <div class="six-col">
        <img class="shadow-fix" src="{{ STATIC_URL }}img/tablet/image-tablet-multitaskingmojo-1.jpg" width="512" height="321" alt="Ubuntu tablet running multiple applications side by side" />
    </div>
    <div class="six-col last-col">
        <img class="shadow-fix" src="{{ STATIC_URL }}img/tablet/image-tablet-multitaskingmojo-2.jpg" width="512" height="321" alt="Ubuntu tablet running multipule applications side by side" />
    </div>
</div>

{# ================ Everything at your users’ fingertips ================ #}
<div class="row">
    <div class="twelve-col no-margin-bottom">
        <img src="{{ STATIC_URL }}img/tablet/image-tablet-scopes.jpg" width="975" height="622" alt="Searching for New york on Ubuntu tablet" />
    </div>
    <div class="eight-col">
        {% include "templates/_cms-block.html" with block_content=scopes %}
    </div>
</div>

{# ================ Built for safer sharing ================ #}
<div class="row safer-sharing">
    <div class="six-col text-center">
        <div class="safer-sharing-image-load" data-width="293" data-src="{{ STATIC_URL }}img/tablet/image-tablet-safersharing{width}.png" data-alt="Ubuntu login screen with multiple users"></div>
        <script>
            new Imager('.safer-sharing-image-load', {
                availableWidths: {
                    300: '-small',
                    293: '-medium'
                }
            });
        </script>
    </div>
    <div class="six-col last-col">
        {% include "templates/_cms-block.html" with block_content=sharing %}
    </div>
</div>

{# ================ Effortless navigation with magic edges ================ #}
<div class="row no-border">
    <div class="eight-col append-four">
        {% include "templates/_cms-block.html" with block_content=edge %}
    </div>
</div>

{# ================ Instant launch ================ #}
<div class="row row-tight no-border">
    <div class="eight-col priority-0">
        <div class="slider-animation instant-launch">
            <div class="screen">
                <div class="screen-fade"></div>
                <div class="launcher"></div>
            </div>
        </div>
        <a href="#" class="slideless replay"></a>
    </div>
    <div class="four-col last-col">
        {% include "templates/_cms-block.html" with block_content=left_edge %}
    </div>
</div>

{# ================ The system at your service ================ #}
<div class="row row-tight no-border">
    <div class="four-col">
        {% include "templates/_cms-block.html" with block_content=top_edge %}
    </div>
    <div class="eight-col last-col priority-0">
        <div class="slider-animation system-service">
            <div class="screen">
                <div class="screen-fade"></div>
                <div class="messages"></div>
            </div>
        </div>
        <a href="#" class="slideless replay"></a>
    </div>
</div>

{# ================ Celebrate content not controls ================ #}
<div class="row row-tight">
    <div class="eight-col priority-0">
        <div class="slider-animation content-controls">
            <div class="screen">
                <div class="menu"></div>
            </div>
        </div>
        <a href="#" class="slideless replay"></a>
    </div>
    <div class="four-col last-col">
        {% include "templates/_cms-block.html" with block_content=bottom_edge %}
    </div>
</div>

{# ================ A gorgeous gallery for your digital life ================ #}
<div class="row gorgeous-gallery row-grey">
    <div class="six-col for-mobile">
        <img src="{{ STATIC_URL }}img/tablet/image-tablet-gorgeousgallery.jpg" alt="" />
    </div>
    <div class="six-col prepend-three">
        {% include "templates/_cms-block.html" with block_content=gallery %}
    </div>
</div>

{# ================ Build amazing apps easily ================ #}
<div class="row world-of-apps">
    <div class="six-col for-tablet">
        <img src="{{ STATIC_URL }}img/tablet/image-tablet-worldofapps-small.jpg" alt=""/>
    </div>
    <div class="six-col last-col">
        {% include "templates/_cms-block.html" with block_content=apps %}
    </div>
</div>

{# ================ Differentiate where it matters ================ #}
<div class="row row-grey row-grey row-build-a-tablet">
    <div class="six-col">
        <img class="shadow-fix" src="{{ STATIC_URL }}img/tablet/image-tablet-perfectforpartners.jpg" width="512" height="321" alt="Partner styled greeter screen" />
    </div>
    <div class="six-col last-col">
        <img class="shadow-fix" src="{{ STATIC_URL }}img/tablet/image-tablet-customisedbutnotfragmented-2.jpg" width="512" height="321" alt="" />
    </div>
    <div class="eight-col">
        {% include "templates/_cms-block.html" with block_content=differentiate %}
    </div>
</div>

{# ================ Working with Canonical ================ #}
<div class="row">
    <div class="eight-col">
        {% include "templates/_cms-block.html" with block_content=canonical %}
    </div>
    <div class="four-col last-col text-center">
        <img src="{{ STATIC_URL }}img/pictograms/picto-pack/picto-canonical.svg" width="167" height="167" alt="Canonical logo" />
    </div>
</div>

{# ================ Find out more ================ #}
<div class="row no-border">
    <div class="eight-col">
        {% include "templates/_cms-block.html" with block_content=find_out_more %}
    </div>
</div>

{% endblock %}
