{% extends "tablet/base_tablet.html" %}
{% load markdown_deux_tags %}

{% block title %}{{ title }}{% endblock %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block meta_keywords %}{{ meta_keywords }}{% endblock %}

{% block second_level_nav_items %}
    {% include "templates/_nav_breadcrumb.html" with section_title="平板电脑" page_title="平板电脑"  %}
{% endblock second_level_nav_items %}

{% block content %}
<section class="row row-hero">
    <div class="strip-inner-wrapper">
        <div class="six-col">
            <!--Everything you need from a PC – in a tablet -->
            {% include "templates/_cms-block.html" with block_content=hero %}
        </div>
    </div>
    <div class="twelve-col for-small">
        <img src="{{ STATIC_URL }}img/tablet/tablet-hero.png" alt="" />
    </div>
</section>

<section class="row strip-light">
    <div class="strip-inner-wrapper">
        <div class="five-col append-one">
            <!-- Latest tablet hardware -->
            {% include "templates/_cms-block.html" with block_content=latest_tablet %}
        </div>
        <div class="device-image five-col prepend-one align-center last-col">
            <p><img src="{{ STATIC_URL }}img/tablet/tablet-devices-bq-aquaris-m10.jpg" width="350" alt="BQ Aquaris M10" /></p>
        </div>
    </div>
</section>

<section class="row row-developers">
    <div class="strip-inner-wrapper">
        <div class="six-col">
            <!--Develop once for multiple form factors-->
            {% include "templates/_cms-block.html" with block_content=developers %}
        </div>
        <div class="twelve-col not-for-small">
            <img class="row-developers--image" src="{{ STATIC_URL }}img/tablet/convergence-devices-music.png" alt="Ubuntu on a phone, tablet and PC monitor" />
        </div>
        <div class="twelve-col for-small">
            <img class="row-developers--small-image" src="{{ STATIC_URL }}img/tablet/convergence-devices-music-small.png" alt="" />
        </div>
    </div>
</section>

<section class="row strip-light no-border">
    <div class="strip-inner-wrapper">
        <div class="eight-col">
            <!--Perfect for partners-->
            {% include "templates/_cms-block.html" with block_content=partners %}
        </div>
        <div class="three-col prepend-one last-col align-center">
            <img src="{{ STATIC_URL }}img/pictograms/picto-pack/picto-business-warmgrey.svg" width="230" alt="" />
        </div>
    </div>
</section>

<section class="row row-canonical">
    <div class="strip-inner-wrapper">
        <div class="row-canonical--inner">
            <div class="five-col">
                <!--Backed by Canonical-->
                {% include "templates/_cms-block.html" with block_content=canonical %}
            </div>
            <div class="six-col prepend-one not-for-small align-center last-col">
                <img src="{{ STATIC_URL }}img/tablet/canonical-bulb.png" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="row no-border strip-light">
    <div class="strip-inner-wrapper">
        <div class="eight-col">
            <!--Follow us-->
            {% include "templates/_cms-block.html" with block_content=follow_us %}
        </div>
    </div>
</section>
{% endblock %}
