{% extends "templates/base.html" %}

{% block title %}Ubuntu Pro{{ page_title }}{% endblock %}
{% block meta_description %}Ubuntu订阅 Ubuntu企业版 Ubuntu许可证 Ubuntu官方支持 Linux企业服务 Linux企业支持 Linux订阅 Ubuntu服务器支持{{ meta_description }}{% endblock %}

{% block content %}

<section id="ua-infra" class="p-strip--suru-topped is-bordered">
    <div class="u-fixed-width">
      <h1>Ubuntu Pro：安全，合规和支持</h1>
      <p>Ubuntu Pro涵盖了开放基础设施和应用程序的所有方面。</p>
      <ul class="p-inline-list">
        <li class="p-inline-list__item">
          <a href="/contact" class="p-button--positive">联系我们</a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://www.ubuntu.com/pro/subscribe" class="p-button">购买订阅服务</a>
        </li>
      </ul>
    </div>
  </section>
  
  <section class="p-strip is-shallow" id="ua-infra">
    <div class="u-fixed-width">
      <h2 class="p-heading--3">安全维护和合规</h2>
    </div>
    
    {% include "shared/pricing/_ua-for-infrastructure.html" %}
    
    <div class="u-fixed-width">
      <h2 class="p-heading--3">Ubuntu Pro + 电话和工单支持</h2>
    </div>
  
    <div class="u-fixed-width">
      <div style="overflow-x: auto;">
        <table class="p-table">
          <thead>
            <tr>
              <th style="width: 50%;">Ubuntu Pro + 工作日支持</th>
              <th class="u-align--right">基础设施支持</th>
              <th class="u-align--right">全栈支持</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ubuntu Pro（仅基础设施）- 每台每年</td>
              <td class="u-align--right">$750</td>
              <td class="u-align--right">无</td>
            </tr>
            <tr>
              <td>Ubuntu Pro - 每台每年</td>
              <td class="u-align--right">$885</td>
              <td class="u-align--right">$1,700</td>
            </tr>
            <tr>
              <td>桌面 - 每台每年</td>
              <td class="u-align--right">无</td>
              <td class="u-align--right">$150</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="u-fixed-width">
      <div style="overflow-x: auto;">
        <table class="p-table">
          <thead>
            <tr>
              <th style="width: 50%;">Ubuntu Pro + 7*24支持</th>
              <th class="u-align--right">基础设施支持</th>
              <th class="u-align--right">全栈支持</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ubuntu Pro（基础设施）- 每台每年</td>
              <td class="u-align--right">$1,500</td>
              <td class="u-align--right">无</td>
            </tr>
            <tr>
              <td>Ubuntu Pro - 每台每年</td>
              <td class="u-align--right">$1,775</td>
              <td class="u-align--right">$3,400</td>
            </tr>
            <tr>
              <td>桌面 - 每台每年</td>
              <td class="u-align--right">无</td>
              <td class="u-align--right">$300</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="u-fixed-width">
      <p>请参考<a href='https://ubuntu.com/uasd'>服务描述</a>以了解详细内容。</p>
      <p>
        查看我们针对 <a href="https://ubuntu.com/pricing/consulting#openstack">OpenStack</a>、<a href="https://ubuntu.com/pricing/consulting#kubernetes">Kubernetes</a> 和 <a href="https://ubuntu.com/pricing/consulting#kubeflow">Kubeflow</a> 的咨询、架构、部署和培训包。
      </p>
      <p>
        <a href="/contact" class="p-button">联系以为您解决Ubuntu资产合规性和安全性问题</a>
      </p>
    </div>
  </section>
  
  <section class="p-strip--light is-shallow" id="storage">
    <div class="u-fixed-width">
      <h2 class="p-heading--3">软件订阅存储 &ndash; Ceph 和 Swift</h2>
      <p>仅适用于集群中每个节点附加超过 384TB 的原始 Ceph/Swift 容量。定价超过 Ubuntu Pro 中每个节点 384TB 的总量。</p>
    </div>
    {% include "shared/pricing/_ua-advanced-storage.html" %}
    <div class="u-fixed-width">
      <a href="/contact" class="p-button--positive">联系我们</a>
    </div>
  
  </section>
  
  <section class="p-strip is-shallow" id="managed">
    <div class="u-fixed-width">
      <h2 class="p-heading--3">完全托管的 OpenStack，Kubernetes 和 LMA</h2>
      <p>我们同时管理主机和客户机级别的基础架构。基础设施包括 Ceph 和 Swift 存储、Kubernetes、OpenStack 以及推荐的日志、监控和警报堆栈。</p>
    </div>
    {% include "shared/pricing/_openstack-kubernetes-lma.html" %}
    <div class="u-fixed-width">
      <a href="/contact" class="p-button--positive">联系我们</a>
  </section>
  
  <section class="p-strip--light is-bordered is-shallow">
    <div class="u-fixed-width">
      <h2 class="p-heading--3" id="maas">MAAS</h2>
      <p>MAAS 的支持和商业功能已包含在 Ubuntu Pro 和 Ubuntu Pro（仅基础设施）中。这些额外费用用由 MAAS 管理且<em>不在</em> Ubuntu Pro 合同涵盖的机器。</p>
    </div>
    {% include "shared/pricing/_maas-pricing.html" %}
    <div class="u-fixed-width">
      <p>
        <a href="/contact" class="p-button--positive">联系我们</a>
      </p>
    </div>
  </section>
  
{% with colour="white", border="false" %}{% include "shared/_call-sales.html" %}{% endwith %}

{% endblock %}
