<nav class="p-navigation--secondary">
    <div class="row">
      <div class="col-12 u-equal-height">
        <a class="p-navigation--secondary__banner u-hide--nav-threshold-down" href="/pricing">
          <h5 class="p-navigation--secondary__logo">
            价格
          </h5>
        </a>
        <ul class="breadcrumbs--secondary">           
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link {% if request.path == '/pricing/pro' %}p-link--active{% else %}p-link--soft{% endif %}" href="/pricing/pro">Ubuntu Pro</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link p-link--soft" href="https://ubuntu.com/pricing/consulting">咨询</a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link p-link--soft" href="https://ubuntu.com/pricing/desktops">桌面系统</a>
          </li>  
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link p-link--soft" href="https://ubuntu.com/pricing/devices">物联网设备</a>
          </li>             
        </ul>
      </div>
    </div>
  </nav>
  