@media only screen and (min-width: 769px) {
  .ubuntu-intro {
    display: flex;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 984px) {
  .ubuntu-intro__list {
    position: relative;

    &::before {
      background-image: url('../img/homepage/intro/image-intro-dots.svg');
      background-position: right center;
      background-repeat: repeat-x;
      background-size: 10px;
      content: '';
      display: block;
      height: 20px;
      position: absolute;
      top: 65px;
      width: 20px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .ubuntu-intro__list::before {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .intro-left,
  .intro-right {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1; // sass-lint:disable-line no-misspelled-properties
    flex-grow: 1;
    height: 150px;
  }
}

.intro-left,
.intro-right {
  @media only screen and (min-width: 984px) {
    background: url('../img/homepage/intro/image-intro-dots.svg') repeat-x right
      center;
    background-size: 10px;
  }
}

.intro-right {
  background-position: left center;
  margin-left: -20px;
}

.intro-middle,
.intro-right {
  margin-top: 0;
}

.intro-middle ul {
  float: left;
  margin-left: 0;
  padding-bottom: 40px;
  padding-left: 0;
  text-align: center;
  width: 100%;

  @media only screen and (min-width: 769px) {
    margin: 0;
    padding-bottom: 0;
  }
}

.intro-middle li {
  float: left;
  list-style: none;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  text-align: center;
  width: 50%;

  @media only screen and (max-width: 667px) and (orientation: landscape) {
    width: 20%;
  }

  @media only screen and (min-width: 768px) {
    text-indent: -999em;
    width: 121px;
  }

  @media only screen and (min-width: 984px) {
    width: 164px;
  }
}

.intro-middle li a {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 96px;
  color: #fff;
  display: block;
  line-height: 1.3;
  overflow: visible;
  padding-top: 115px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;

  @media only screen and (min-width: 984px) {
    &::after,
    &::before {
      background: url('../img/homepage/intro/image-intro-dots.svg') repeat-x
        right center;
      background-size: 10px;
      content: '';
      display: block;
      position: absolute;
      top: 60px;
    }

    &::before {
      background-repeat: no-repeat;
      background-size: 18px;
      height: 30px;
      left: 0;
      width: 60px;
    }

    &::after {
      height: 30px;
      right: 0;
      width: 65px;
    }
  }

  @media only screen and (min-width: 769px) {
    padding-top: 130px;
  }
}

.intro-middle li .intro-cloud {
  background-image: url('../img/homepage/intro/icon-intro-cloud.svg');

  &::before {
    width: 36px;
  }

  &::after {
    right: -19px;
    width: 45px;
  }
}

.intro-middle li .intro-server {
  background-image: url('../img/homepage/intro/icon-intro-server.svg');

  &::before {
    width: 38px;
  }

  &::after {
    right: -20px;
    width: 50px;
  }
}

.intro-middle li .intro-desktop {
  background-image: url('../img/homepage/intro/icon-intro-desktop.svg');

  &::before {
    width: 38px;
  }

  &::after {
    right: -22px;
    width: 50px;
  }
}

.intro-middle li .intro-iot {
  background-image: url('../img/homepage/intro/icon-intro-iot.svg');

  &::before {
    width: 39px;
  }

  &::after {
    right: 20px;
    width: 16px;
  }
}

.p-takeover {
  background-color: #2c001e;
  background-image: url('#{$assets-path}f5b47308-china-banner-takeover-background.jpg');
  background-position: center center;
  background-size: cover;
  color: $color-x-light;
}

.p-takeover__teaser {
  max-width: 320px;
}

.p-takeover__logos {
  align-items: center;
  display: flex;
}

.p-takeover__logo {
  align-self: center;
  height: 59px;
  margin-top: 0 !important;
  width: auto;
}

.p-takeover__logo--small {
  align-self: center;
  height: 40px;
  margin-right: 1em;
  margin-top: -0.7em;
}
