
{% extends "templates/base.html" %}

{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/vf_basic-section.jinja" import vf_basic_section %}

{% block title %}感谢下载 Ubuntu Server{% endblock %}

{% block meta_description %}Ubuntu是适用于企业服务器、桌面电脑、云、IoT物联网的现代化开源Linux操作系统。Ubuntu官网{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1A8wp-TsufVsA9nmEkGVrPysO1MeilM0jNXd_SNuyLFg/edit{% endblock meta_copydoc %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  <meta http-equiv="refresh" content="3;url=https://releases.ubuntu.com/{{ releases.lts.short_version }}/ubuntu-{{ releases.lts.full_version }}-live-server-amd64.iso">

  {% call(slot) vf_hero(
    title_text='感谢下载 Ubuntu Server ' + releases.lts.full_version + ' LTS',
    subtitle_text='您的下载将自动开始。如没有，请点击<a href="http://releases.ubuntu.com/' + releases.lts.full_version + '/ubuntu-' + releases.lts.full_version + '-live-server-amd64.iso">手动下载</a>。',
    layout='50/50'
  ) -%}
    {%- if slot == 'description' -%}
      <p>
        您可以通过对比 SHA256SUMS 值来校验 ISO 文件完整性，或者<a href="https://ubuntu.com/tutorials/tutorial-install-ubuntu-server">阅读安装教程</a>。
      </p>
    {%- endif -%} 
  {% endcall -%}

  {{ vf_basic_section(
    title={"text": "需要最新的命令行手册？"},
    items=[
      {
        "type": "description",
        "item": {
          "type": "text",
          "content": "获取「Ubuntu Server CLI 专业提示」参考手册来学习高效使用命令行，快速入门 DevOps，从基础文件管理到 LXD 虚拟化与 Ubuntu Pro，全方位掌握实用技能。"
        }
      },
      {
        "type": "image",
        "item": {
          "attrs": image(
            url="https://assets.ubuntu.com/v1/e08fb149-cli_cheatsheet.jpg",
            alt="",
            width="1800",
            height="1200",
            hi_def=True,
            loading="auto",
            output_mode="attrs"
          )
        }
      }
    ]
  ) }}

  <div class="p-section--deep">
    <div class="grid-row">
      <div class="grid-col-4 grid-col-start-large-5">
        <!-- MARKETO FORM -->
        <form action="https://ubuntu.com/marketo/submit" method="post" id="mktoForm_3593" style="margin-top: -1rem;">
          <ul class="p-list">
            <li class="p-list__item">
              <label for="firstName">名字：</label>
              <input required="" id="firstName" name="firstName" maxlength="255" type="text" aria-label="First Name" aria-required="true" />
            </li>
            <li>
              <label for="lastName">姓氏：</label>
              <input required="" id="lastName" name="lastName"maxlength="255" type="text" aria-label="Last Name" aria-required="true" />
            </li>
            <li>
              <label for="email">工作邮箱：</label>
              <input required="" id="email" name="email" maxlength="255" type="email" aria-label="Email" aria-required="true" pattern="^[^ ]+@[^ ]+\.[a-z]{2,26}$" />
            </li>
            <li>
              <label for="company">公司名称：</label>
              <input required="" id="company" name="company" maxlength="255" type="text" aria-label="Company Name" aria-required="true" />
            </li>
            <li>
              <label for="title">职位：</label>
              <input required="" id="title" name="title" maxlength="255" type="text" aria-label="Job Title" aria-required="true" />
            </li>
            <li>
              <label for="phone">手机：</label>
              <input required="" id="phone" name="phone"maxlength="255" type="tel" aria-label="Phone Number" aria-required="true" />
            </li>
            <li>
              <label class="p-checkbox">
                <input class="p-checkbox__input" aria-labelledby="canonicalUpdatesOptIn" value="yes" type="checkbox" />
                <span class="p-checkbox__label" id="canonicalUpdatesOptIn">我同意接收有关Canonical的产品和服务信息。</span>
              </label>
            </li>
            <li>
              <p>在提交此表格的同时，我确认已阅读和同意<a href="https://www.ubuntu.com/legal/data-privacy">Canonical 的隐私政策</a>。</p>
            </li>
            <li>
              <button type="submit" class="u-no-margin--bottom">立即下载</button>
              <input name="formid" aria-label="formid" value="3593" type="hidden" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="Consent_to_Processing__c" value="yes" />
              <input type="hidden" name="acquisition_url" aria-label="acquisition_url" value="{{ request.url }}" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_campaign" id="utm_campaign" value="" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_medium" id="utm_medium" value="" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_source" id="utm_source" value="" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_content" id="utm_content" value="" />
              <input type="hidden" aria-hidden="true" aria-label="hidden field" name="utm_term" id="utm_term" value="" />
              <input type="hidden" name="returnURL" aria-label="returnURL" value="https://assets.ubuntu.com/v1/f401c3f4-Ubuntu_Server_CLI_pro_tips_2020-04.pdf" />
            </li>
          </ul>
        </form>
        <!-- /MARKETO FORM -->
      </div>
    </div>
  </div>

{% endblock %}