<div class="blog-p-card--muted">
  <header class="blog-p-card__header">
    <h5 class="p-muted-heading u-no-margin--bottom">订阅博客文章</h5>
  </header>

  <div class="blog-p-card__content">
    <form action="https://ubuntu.com/marketo/submit" method="post" id="mktoForm_3647" onsubmit="ga('send', 'Newsletter', 'Signup', 'New homepage newsletter signup');">
      <h3 class="p-card--title p-heading--four">选择您感兴趣的主题</h3>

      <div>
        <label>
          <span class="u-no-margin--top">工作邮箱:<span>*</span></span>
          <input required  id="email" name="email" maxlength="255" type="email" />
        </label>
      </div>

      <div>
        <span>
          <input class="u-no-margin--top" name="canonicalUpdatesOptIn" id="CanonicalUpdatesOptIn" value="Receive updates" type="checkbox" />
          <label for="CanonicalUpdatesOptIn" class="p-form__label u-no-margin--top">
            <small>我同意接收有关Canonical的产品和服务信息。</small>
          </label>
        </span>
      </div>

      <p>
        <small>在提交此表格的同时，我确认已阅读和同意的<a href="https://ubuntu.com/legal/data-privacy/newsletter">隐私声明</a>和<a href="https://ubuntu.com/legal/data-privacy">隐私政策。</a></small>
      </p>

      <div>
        <span class="p-card--content">
          <button type="submit" class="u-no-margin--bottom">立即订阅</button>
        </span>

        <input type="hidden" name="Consent_to_Processing__c" value="yes" />
        <input type="hidden" name="cNblogsubscription" value="true" />
        <input value="3647" name="formid" type="hidden">
        <input value="3647" name="formVid" type="hidden">
        <input type="hidden" name="ret" value="{{request.build_absolute_uri}}?newsletter=true" />
        <input value="066-EOV-335" name="munchkinId" type="hidden">
        <input name="kw" value="" type="hidden">
        <input name="cr" value="" type="hidden">
        <input name="searchstr" value="" type="hidden">
        <input type="hidden" name="thankyoumessage" value="谢谢您的订阅！<br />当新的内容发布后您将开始接收邮件。您也可以点击邮件内的链接随时取消订阅。">
      </div>
    </form>
  </div>
</div>

<script src="{{ versioned_static('js/dist/forms.min.js') }}"></script>
