{% extends "templates/base.html" %}

{% from "_macros/vf_hero.jinja" import vf_hero %}

{% block body_class %}is-paper{% endblock %}

{% block title %}{{ tag.name }}{% endblock %}

{% block outer_content %}
  {% call(slot) vf_hero(
    title_text='文章标签 "' ~ tag.name ~ '"',
    layout='25/75',
    display_blank_signpost_image_space=True,
  ) -%}
  {%- endcall -%}

  <section class="p-section" id="posts-list">
    <div class="grid-row">
      {% for article in articles %}        
        {% include "blog/blog-card.html" %}
      {% endfor %}
    </div>
  </section>

  <section class="p-section--deep">
    {% with %}
      {% set total_pages = total_pages %}
      {% set current_page = current_page %}
      {% set hide_horizontal_rule = true %}
      {% include "shared/_pagination.html" %}
    {% endwith %}
  </section>
{% endblock %}