<form action="https://ubuntu.com/marketo/submit" method="post" id="mktoForm_{{ id }}" style="margin-top: -1rem;" >
 <fieldset class="u-no-padding--top" style="border-bottom-width: 1px; border-color:#cdcdcd;">
   <ul class="p-list">
     <li class="p-list__item">
       <label for="FirstName">名字：</label>
       <input required="" id="FirstName" name="FirstName" maxlength="255" type="text" aria-label="First Name" aria-required="true">
     </li>
     <li>
       <label for="LastName">姓氏：</label>
       <input required="" id="LastName" name="LastName" maxlength="255" type="text" aria-label="Last Name" aria-required="true">
     </li>
     <li>
       <label for="Email">工作邮箱：</label>
       <input required="" id="email" name="email" maxlength="255" type="email" aria-label="Email" aria-required="true">
     </li>
     <li>
       <label for="Company">公司名称：</label>
       <input required="" id="Company" name="Company" maxlength="255" type="text" aria-label="Company Name" aria-required="true">
     </li>
     <li>
       <label for="Title">职位：</label>
       <input required="" id="Title" name="Title" maxlength="255" type="text" aria-label="Job Title" aria-required="true">
     </li>
     <li>
       <label for="Phone">电话号码：</label>
       <input required="" id="Phone" name="Phone" maxlength="255" type="tel" aria-label="Phone Number" aria-required="true">
     </li>
     <li>
      <input name="canonicalUpdatesOptIn" aria-label="canonicalUpdatesOptIn" id="canonicalUpdatesOptIn" value="yes" type="checkbox"><label for="canonicalUpdatesOptIn"><small>我同意接收有关Canonical的产品和服务信息。</small></label>
     </li>
     <li>           
      <p><small>在提交此表格的同时，我确认已阅读和同意<a class="p-link--external" href="https://www.ubuntu.com/legal/data-privacy/contact">的隐私声明</a>和<a class="p-link--external" href="https://www.ubuntu.com/legal/data-privacy">隐私政策</small></a>。
        <input name="RichText" aria-label="RichText" type="hidden">
      </p>
     </li>
     <li>
       <input name="utm_campaign" aria-label="utm_campaign" value="None" type="hidden">
     </li>
     <li>
       <input name="utm_medium" aria-label="utm_medium" value="None" type="hidden">
     </li>
     <li>
       <input name="utm_source" aria-label="utm_source" value="None" type="hidden">
     </li>
     <li>
       <input name="Consent_to_Processing__c" aria-label="Consent" value="Yes" type="hidden">
     </li>
     <li>
       <br />
     </li>
     <li>
       <button type="submit" class="u-no-margin--bottom">{{ cta }}</button>
       <input name="formid" aria-label="formid" value="{{ id }}" type="hidden">
       <input name="lpId" aria-label="lpId" value="" type="hidden">
       <input name="subId" aria-label="subId" value="" type="hidden">
       <input name="munchkinId" aria-label="munchkinId" value="" type="hidden">
       <input name="lpurl" aria-label="lpurl" value="" type="hidden">
       <input name="cr" aria-label="cr" value="" type="hidden">
       <input name="kw" aria-label="kw" value="" type="hidden">
       <input name="q" aria-label="q" value="" type="hidden">
       <input type="hidden" aria-hidden="true" aria-label="hidden field" name="return_url" value="{{'https://cn.ubuntu.com' + returnURL}}" />
       <input type="hidden" name="returnURL" aria-label="returnURL" value="{{'https://cn.ubuntu.com' + returnURL}}">
       <input type="hidden" name="retURL" aria-label="retURL" value="{{'https://cn.ubuntu.com' + returnURL}}">
     </li>
   </ul>
 </fieldset>
 <input type="hidden" name="returnURL" aria-label="returnURL" value="{{ 'https://cn.ubuntu.com' + returnURL }}">
 <input type="hidden" name="retURL" aria-label="retURL" value="{{ 'https://cn.ubuntu.com' + returnURL }}">
</form>

<script src="https://assets.ubuntu.com/v1/f97fa297-stateCountry.js"></script>
