{% extends "news/base_news.html" %}

{% block title %}Title - Ubuntu news{% endblock %}

{% block content %}
<div class="row row-hero no-border">
	<div class="eight-col">
		<h1>Title</h1>
		<p>OpenStack是美国国家航空航天局NASA和IDC厂商 Rackspace发起的云计算基础架 构服务平台。OpenStack 是开源项目，全球108个国家都在研究、利用和发展OpenStack 云软件，IT厂商，如 Cisco、Dell、Citrix、Rackspace、Canonical等重点投资和贡献&#65292; OpenStack已经成为全球云计算最重要的平台之一。OpenStack是一个由技术人员&#12289; 开发人员、研究人员以及企业共同享有资源、技术和理念以开发开源云计算产品的开源 社区。OpenStack所倡导的主要目标之一就是消除客户对专用厂商限制的惧怕。目前&#65292; OpenStack是构建公共云和私有云而被广泛采用的开源平台。</p>
	</div><!-- /.eight-col -->
</div><!-- /.row -->
{% endblock %}