@charset "UTF-8";
body.about {
  .row-hero {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    img {
      float: left;
      margin-bottom: -4px;
    }

    .eight-col {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }
  }
}


/* Medium / Tablet viewport
-------------------------------------------------------------- */
@media only screen and (min-width : 768px) {

  body.about {

    .row-hero {

      img {
        margin-bottom: 0;
      }

      .eight-col {
        padding-left: 40px;
        padding-bottom: 20px;
      }

    }

  }

} // end @media only screen and (min-width : 768px)


/* Large / Desktop viewport
-------------------------------------------------------------- */
@media only screen and (min-width : 984px) {

  body.about {


  }

} // end @media only screen and (min-width : 984px)
