.server-home {
  @media only screen and (min-width : 768px) {
    .row-hero img {
      margin-top: 13%;
    }
  }

  ul.inline-logos li img {
      height: 45px;
  }

  .inline-icons {
    text-align: center;

    li {
      text-align: center;
    }
  }
}
