/*	@section tablet
------------------------------------------------------------- */

.flexbox .tablet {
  .list--grid {
    @media only screen and (min-width : 768px) {
      margin-top: 60px;
      display: flex;
      flex-wrap: wrap;
    }

    @media only screen and (max-width : 768px) {
      margin-top: 20px;
      margin-bottom: 30px;
    }

    &__image-container {
      float: left;
      margin-right: 6.94444%;
      width: 19.7917%;
    }

    &__description {
      width: 73.2639%;
    }

    .list--grid__item {
      border-bottom: 1px dotted $warm-grey;

      &:last-child {
        border-bottom: 0;
      }

      @media only screen and (min-width : 768px) {
        border-right: 1px dotted $warm-grey;
        box-sizing: border-box;
        margin-bottom: 0;
        margin-right: 0;
        padding: 30px $gutter-width 10px;
        width: 33%;

        // remove the border from the last three items
        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3) {
          border-bottom: 0;
        }

        // remove the padding from the first item of each row
        &:nth-child(3n+1) {
          padding-left: 0;
        }

        // remove the right hand border from the
        &:nth-child(3n) {
          border-right: 0;
        }
      }
    }
  }
}

.js .tablet {
  .align-vertically {
    transform-style: flat;
  }
}

.tablet {
  .row-hero {
    overflow: hidden;
  }

  .row-hero:before {
    @media only screen and (min-width : 768px) {
      background: url('https://assets.ubuntu.com/v1/da3c58e9-tablet-overview-hero.png?w=800') center center no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 89%;
      overflow: visible;
      position: absolute;
      right: -24vw;
      top: 5%;
      width: 75vw;
    }

    @media only screen and (min-width : 769px) {
      right: -7vw;
      width: 53vw;
    }

    @media only screen and (min-width : 1400px) {
      top: 5%;
      right: -1vw;
      width: 50vw;
    }
  }

  .row-developers {
    &--image {
      margin-top: 60px;
    }

    &--small-image {
      margin-bottom: 20px;
    }
  }

  .row-canonical {
    background: $dark-aubergine;
    color: #fff;

    &--inner {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    @media only screen and (min-width : 984px) {
      min-height:  0;
    }
  }
}
