{% extends "templates/base.html" %}

{% from "_macros/vf_tiered-list.jinja" import vf_tiered_list %}
{% from "_macros/vf_equal-heights.jinja" import vf_equal_heights %}

{% block title %}联系Ubuntu | Ubuntu{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1zZP35i9BSbsfVtfUfsa2iOQtNTHuuYV9gV3wQKVjWqY/edit
{% endblock %}

{% block meta_description %}Ubuntu技术支持，授权，咨询，物联网，服务器，ARM服务器{% endblock %}

{% block body_class %}is-paper{% endblock %}

{% block content %}

  {%- call(slot) vf_tiered_list(is_list_full_width_on_tablet=false) -%}
    {%- if slot == 'title' -%}
      <h1 style="padding-top: 1.5rem;">获取支持</h1>
    {%- endif -%}

    {%- if slot == 'list_item_title_1' -%}
      <h2 class="p-heading--5">售前支持</h2>
    {%- endif -%}

    {%- if slot == 'list_item_description_1' -%}
      <p>
        如您想要了解更多 <a href="/support">Ubuntu 官方订阅服务</a>和其他相关产品的售前支持，可通过扫描下方二维码<a href="/contact#wechat">添加 Ubuntu 企业微信</a>，或填写下方的表格。
      </p>
    {%- endif -%}

    {%- if slot == 'list_item_title_2' -%}
      <h2 class="p-heading--5">技术协助</h2>
    {%- endif -%}

    {%- if slot == 'list_item_description_2' -%}
      <p>
        企业级技术支持到全托管基础设施等服務，<a href="/support">我们的支持团队</a>可以帮助您。
      </p>
    {%- endif -%}

    {%- if slot == 'list_item_title_3' -%}
      <h2 class="p-heading--5">商标咨询</h2>
    {%- endif -%}

    {%- if slot == 'list_item_description_3' -%}
      <p>
        如您要申请 Ubuntu 商标许可或进行其他商标查询，请<a href="https://www.ubuntu.com/legal/terms-and-policies/contact-us">提交查询</a>。我们的商标团队成员很快会与您联系。
      </p>
    {%- endif -%}

    {%- if slot == 'list_item_title_4' -%}
      <h2 class="p-heading--5">法律查询</h2>
    {%- endif -%}

    {%- if slot == 'list_item_description_4' -%}
      <p>
        请注意，我们无法向您提供法律建议．对于其他任何关于 Ubuntu 的法律疑问，请联系 <a href="mailto:legal@canonical.com">legal@canonical.com</a>。
      </p>
    {%- endif -%}

    {%- if slot == 'list_item_title_5' -%}
      <h2 class="p-heading--5">媒体洽詢</h2>
    {%- endif -%}

    {%- if slot == 'list_item_description_5' -%}
      <p>
        请联系 <a href="mailto:pr@canonical.com">pr@canonical.com</a>。
      </p>
    {%- endif -%}
  {%- endcall -%}

  <section class="p-section">
    <hr class="p-rule is-fixed-width" />
    <div class="grid-row--50-50">
      <div class="grid-col">
        <h2>联系我们</h2>
      </div>
      <div class="grid-col">
        <!-- MARKETO FORM -->
        <form action="https://ubuntu.com/marketo/submit"
              method="post"
              id="mktoForm_2816">
          <ul class="p-list">
            <li class="p-list__item">
              <label for="firstName">名字：</label>
              <input required=""
                     id="firstName"
                     name="firstName"
                     maxlength="255"
                     type="text"
                     aria-label="First Name"
                     aria-required="true" />
            </li>
            <li class="p-list__item">
              <label for="lastName">姓氏：</label>
              <input required=""
                     id="lastName"
                     name="lastName"
                     maxlength="255"
                     type="text"
                     aria-label="Last Name"
                     aria-required="true" />
            </li>
            <li class="p-list__item">
              <label for="email">工作邮箱：</label>
              <input required=""
                     id="email"
                     name="email"
                     maxlength="255"
                     type="email"
                     aria-label="Email"
                     aria-required="true"
                     pattern="^[^ ]+@[^ ]+\.[a-z]{2,26}$" />
            </li>
            <li class="p-list__item">
              <label for="company">公司名称：</label>
              <input required=""
                     id="company"
                     name="company"
                     maxlength="255"
                     type="text"
                     aria-label="Company Name"
                     aria-required="true" />
            </li>
            <li class="p-list__item">
              <label for="title">职位：</label>
              <input required=""
                     id="title"
                     name="title"
                     maxlength="255"
                     type="text"
                     aria-label="Job Title"
                     aria-required="true" />
            </li>
            <li class="p-list__item">
              <label for="phone">手机：</label>
              <input required=""
                     id="phone"
                     name="phone"
                     maxlength="255"
                     type="tel"
                     aria-label="Phone Number"
                     aria-required="true" />
            </li>
            <li class="p-list__item">
              <label for="Comments_from_lead__c">您的留言:</label>
              <textarea required
                        id="Comments_from_lead__c"
                        name="Comments_from_lead__c"
                        rows="4"
                        maxlength="2000"></textarea>
            </li>
            <li class="p-list__item u-sv2">
              <label class="p-checkbox">
                <input class="p-checkbox__input js-checkbox-visibility"
                       value="yes"
                       aria-labelledby="canonicalUpdatesOptIn"
                       name="canonicalUpdatesOptIn"
                       type="checkbox" />
                <span class="p-checkbox__label" id="canonicalUpdatesOptIn">我同意接收有关Canonical的产品和服务信息。</span>
              </label>
            </li>
            <li class="p-list__item u-sv3">
              在提交此表格的同时，我确认已阅读和同意 <a href="https://www.ubuntu.com/legal/dataprivacy">Canonical 的隐私政策</a>。
            </li>
            {# These are honey pot fields to catch bots #}
            <li class="u-off-screen">
              <label class="website" for="website">Website:</label>
              <input name="website"
                     type="text"
                     class="website"
                     autocomplete="off"
                     value=""
                     id="website"
                     tabindex="-1" />
            </li>
            <li class="u-off-screen">
              <label class="name" for="name">Name:</label>
              <input name="name"
                     type="text"
                     class="name"
                     autocomplete="off"
                     value=""
                     id="name"
                     tabindex="-1" />
            </li>
            {# End of honey pots #}
            <li class="p-list__item">
              <li class="p-list__item">
                <button type="submit" class="p-button">提交</button>
              </li>
              <input name="formid" aria-label="formid" value="2816" type="hidden" />
              <input type="hidden"
                     aria-hidden="true"
                     aria-label="hidden field"
                     name="Consent_to_Processing__c"
                     value="yes" />
              <input type="hidden"
                     name="acquisition_url"
                     aria-label="acquisition_url"
                     value="{{ request.url }}" />
              <input type="hidden"
                     aria-hidden="true"
                     aria-label="hidden field"
                     name="utm_campaign"
                     id="utm_campaign"
                     value="" />
              <input type="hidden"
                     aria-hidden="true"
                     aria-label="hidden field"
                     name="utm_medium"
                     id="utm_medium"
                     value="" />
              <input type="hidden"
                     aria-hidden="true"
                     aria-label="hidden field"
                     name="utm_source"
                     id="utm_source"
                     value="" />
              <input type="hidden"
                     aria-hidden="true"
                     aria-label="hidden field"
                     name="utm_content"
                     id="utm_content"
                     value="" />
              <input type="hidden"
                     aria-hidden="true"
                     aria-label="hidden field"
                     name="utm_term"
                     id="utm_term"
                     value="" />
              <input type="hidden"
                     name="returnURL"
                     aria-label="returnURL"
                     value="/contact/thank-you.html" />
            </li>
          </ul>
        </form>
        <!-- /MARKETO FORM -->
      </div>
    </div>
  </section>

  {% call(slot) vf_equal_heights(
    title_text="您可以通过以下方式关注我们",
    attrs={ "id": "3-columns-responsive" },
    image_aspect_ratio_large="square",
    items=[
    {
    "title_text": "官方微博",
    "image_html":  '<img src="https://assets.ubuntu.com/v1/4d549114-qr_code_1.png"
     class="p-image-container__image"
     alt="Weibo" />',
    "description_html": "<p><a href='https://weibo.com/officialubuntu'>点击关注</a></p>"
    },
    {
    "title_text": "官方微信",
    "image_html":  '<img src="https://assets.ubuntu.com/v1/722f3435-qr_code_2.png"
     class="p-image-container__image"
     width="284"
     height="426"
     alt="WeChat" />',
    "description_html": "<p>关注官方微信</p>",
    },
    {
    "title_text": "官方企业微信",
    "image_html":  '<img src="https://assets.ubuntu.com/v1/c6183241-qr_code_3.png"
     class="p-image-container__image"
     width="284"
     height="426"
     alt="Canonical WeChat" />',
    "description_html": "<p>添加企业微信</p>",
    },
    ]
    ) %}
  {% endcall %}

  {%- call(slot) vf_tiered_list(is_list_full_width_on_tablet=false, padding="deep") -%}
    {%- if slot == 'title' -%}
      <h2>我們的办公室</h2>
    {%- endif -%}

    {%- if slot == 'list_item_title_1' -%}
      <h3 class="p-heading--5">北京办公室</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_1' -%}
      <p>
        北京市东城区安定门外大街208号玖安广场B座304室
        <br />
        邮编: 100011
      </p>
    {%- endif -%}

    {%- if slot == 'list_item_title_2' -%}
      <h3 class="p-heading--5">上海办公室</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_2' -%}
      <p>
        上海市徐汇区淮海中路1045号28楼2827室
        <br />
        邮编: 200031
      </p>
    {%- endif -%}
  {%- endcall -%}

{% endblock %}
