{% extends "engage/base_engage.html" %}

{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/vf_blog.jinja" import vf_blog %}

{% block meta_description %}{% endblock %}

{% block title %}联系我们{% endblock %}

{% block meta_copydoc %}
  https://docs.google.com/document/d/1iAsaedmSWG_0EXRXpEoNLaOsMXQHRmgNvg9u1iBrFvg/edit
{% endblock meta_copydoc %}

{% block body_class %}is-paper{% endblock %}

{% block content %}

  {% call(slot) vf_hero(
    title_text='感谢来信！',
    subtitle_text='我们将尽快与您取得联系。',
    layout='50/50',
    is_split_on_medium=true
    ) -%}
    {%- if slot == 'image' -%}
      <div class="p-image-container--3-2 is-cover">
        {{ image(url="https://assets.ubuntu.com/v1/253b0e79-hero_img.jpg",
                alt="",
                width="1200",
                height="800",
                hi_def=True,
                attrs={"class": "p-image-container__image"},
                loading="auto") | safe
        }}
      </div>
    {%- endif -%}
  {% endcall -%}

  {{ vf_blog(title={"text": "阅读Ubuntu最新的博客"},
    padding="deep",
    template_config={"enabled": True, "template_container_id": "articles"}) }}

  <script src="{{ versioned_static('js/dist/latest-news.js') }}"></script>
  <script>
    canonicalLatestNews.fetchLatestNews({
      imageClasses: ["p-image-container__image"],
      limit: "4",
      articlesContainerSelector: "#articles",
      articleTemplateSelector: "#template",
      excerptLength: 180,
    })
  </script>
{% endblock content %}
