{% extends "desktop/base_cloud.html" %}
{% load markdown_deux_tags %}

{% block title %}{{ title }}{% endblock %}
{% block meta_description %}{{ meta_description }}{% endblock %}
{% block meta_keywords %}{{ meta_keywords }}{% endblock %}

{% block second_level_nav_items %}
    {% include "templates/_nav_breadcrumb.html" with section_title="Desktop" page_title="Desktop"  %}
{% endblock second_level_nav_items %}

{% block content %}
{# ================ 1. Ubuntu Kylin ================ #}
<div id="ubuntu-kyin" class="row row-hero">
    <div class="six-col">
        {% include "templates/_cms-block.html" with block_content=hero %}
    </div>
    <div class="six-col no-margin-bottom">
        <p><a class="link-cta-ubuntu" href="/download">下载优麒麟</a></p>
        <p><img src="{{ STATIC_URL }}img/desktop/image-ubuntukylin.jpg" alt="" class="for-mobile" /></p>
    </div>

</div>

{# ================ 2. Who is behind Ubuntu Kylin? ================ #}
<div id="ubuntu-kylin-backers" class="row">
    <div class="six-col">
        {% include "templates/_cms-block.html" with block_content=who_is_behind_kylin %}
    </div>
    <div class="six-col text-center last-col">
            <ul class="no-bullets clearfix align-center">
                <li><img src="{{ STATIC_URL }}img/desktop/logo-canonical-288.png" alt="Canonical" width="288" height="40"></li>
                <li><img src="{{ STATIC_URL }}img/desktop/logo-csip-180.png" alt="CSIP" width="180" height="71"></li>
                <li><img src="{{ STATIC_URL }}img/desktop/logo-nudt-288.png" alt="NUDT" width="288" height="72"></li>
            </ul>
        </div>
</div>

{# ================ 3. Who is Ubuntu Kylin made for? ================ #}
<div id="ubuntu-kylin-user" class="row">
    <div class="eight-col">
        {% include "templates/_cms-block.html" with block_content=who_is_kylin_for %}
    </div>
    <div class="twelve-col equal-height vertical-divider">
        <div class="four-col for-you">
            {% include "templates/_cms-block.html" with block_content=for_you %}
        </div>
        <div class="four-col for-business">
            {% include "templates/_cms-block.html" with block_content=for_business %}
        </div>
        <div class="four-col last-col for-developers">
            {% include "templates/_cms-block.html" with block_content=for_developers %}
        </div>
    </div>
</div>

{# ================ 4. Whats new in Ubuntu Kylin 15.10? ================ #}
<div id="row-whats-new" class="row row-grey">
    <div class="seven-col">
        {% include "templates/_cms-block.html" with block_content=features %}
    </div>
</div>

{# ================ 5. Features of Ubuntu Kylin ================ #}

{# ================ Ubuntu Kylin Store =================== #}
<div class="row row-">
    <div class="six-col no-margin-bottom">
        <img  class="touch-border pull-left-40" src="{{ STATIC_URL }}img/desktop/image-store.png" alt="" width="469" height="308" />
    </div>
    <div class="six-col last-col">
        {% include "templates/_cms-block.html" with block_content=kylin_store %}
    </div>
</div>

{# ================ 6. Sogou Input Method ================ #}
<div id="row-sogou" class="row row-sogou">
    <div class="six-col no-margin-bottom">
        {% include "templates/_cms-block.html" with block_content=sogou %}
    </div>
    <div class="six-col no-margin-bottom last-col">
        <img src="{{ STATIC_URL }}img/desktop/image-sogouinputmethod.jpg" alt="" width="482" height="248" class="touch-border pull-right-40 right" />
    </div>
</div>

{# ================ 7. Youker Assistant ================ #}
<div id="row-youker" class="row row-grey row-youker">
    <div class="six-col no-margin-bottom">
        <img  class="touch-border pull-left-40" src="{{ STATIC_URL }}img/desktop/image-youkerassistant.jpg" alt="" width="469" height="308" />
    </div>
    <div class="six-col last-col">
        {% include "templates/_cms-block.html" with block_content=youker %}
    </div>
</div>

{# ================ 8. Smart Scopes ================ #}
<div id="row-scopes" class="row row-scopes">
    <div class="six-col no-margin-bottom">
        {% include "templates/_cms-block.html" with block_content=scopes %}
    </div>
    <div class="six-col no-margin-bottom last-col">
        <img class="touch-border pull-right-40 right" src="{{ STATIC_URL }}img/desktop/image-smartscopes.jpg" alt="" width="482" height="302"/>
    </div>
</div>

{# ================ 9. Kingsoft WPS Office ================ #}
<div id="row-wps-office" class="row row-wps-office">
    <div class="six-col no-margin-bottom">
        <img class="touch-border pull-left-40" src="{{ STATIC_URL }}img/desktop/image-kingsoft-wps-office.png" alt="" width="488" height="260" />
    </div>
    <div class="six-col last-col">
        {% include "templates/_cms-block.html" with block_content=kingsoft_office %}
    </div>
</div>

{# ================ 10. Kingsoft Kuaipan cloud storage ================ #}
<div id="row-kuaipen" class="row row-grey row-kuaipen">
    <div class="six-col">
        {% include "templates/_cms-block.html" with block_content=kingsoft_storage %}
    </div>
    <div class="six-col last-col no-margin-bottom">
        <img class="touch-border pull-right-40 right" src="{{ STATIC_URL }}img/desktop/image-kuaipancloudstorage.jpg" alt="" width="487" height="283" />
    </div>
</div>

{# ================ 11. Chinese lunar calendar ================ #}
<div id="row-calendar" class="row row-calendar">
    <div class="six-col no-margin-bottom">
        <img  class="touch-border pull-left-40" src="{{ STATIC_URL }}img/desktop/image-chinese-lunar-calendar.png" alt="" width="469" height="260" />
    </div>
    <div class="six-col last-col no-margin-bottom">
        {% include "templates/_cms-block.html" with block_content=lunar_calendar %}
    </div>
</div>

{# ================ 13. Why is it free? ================ #}
<div id="row-free" class="row row-grey row-free vertical-divider">
    <h2 class="twelve-col">为何它是免费的&#65311;</h2>
    <div class="six-col">
        <div class="open-source four-col">
            {% include "templates/_cms-block.html" with block_content=open_source %}
        </div>
        <div class="two-col last-col">
            <img src="{{ STATIC_URL }}img/pictograms/picto-pack/picto-projectswelove-orange.svg" alt="" width="140" height="140" class="not-for-small" />
        </div>
    </div>
    <div class="six-col last-col">
        <div class="backed-by-canonical four-col">
            {% include "templates/_cms-block.html" with block_content=canonical %}
        </div>
        <div class="two-col last-col">
            <img src="{{ STATIC_URL }}img/pictograms/picto-pack/picto-canonical.svg" alt="" width="140" height="140" class="not-for-small" />
        </div>
    </div>
</div>

{# ================ 14. Find out more ================ #}
<div id="row-more" class="row no-border">
    <div class="eight-col">
        {% include "templates/_cms-block.html" with block_content=find_out_more %}
    </div>
</div>

{% endblock %}
