{% extends "templates/base.html" %}

{% block title %}将Ubuntu引入您的组织{{ title }}{% endblock %}
{% block meta_description %}{{ meta_description }}Ubuntu系统，Ubuntu 21.04，Ubuntu 20.04，Ubuntu 18.04，Ubuntu 16.04，snap，snapcraft{% endblock %}

{% block content %}
{% include "desktop/secondary-nav.html" %}

<section class="p-strip--suru-bottomed">
  <div class="row u-equal-height u-vertically-center">
    <div class="col-6">
      <h1>在您的组织中<br>使用Ubuntu</h1>
      <p>Ubuntu 桌面兼具企业级支持，安全<br>和开源的最好功能性。
      </p>
      <p><a class="p-button--positive" href="/contact">联系我们</a></p>
      <p><a href="/support">购买Ubuntu Advantage订阅服务&nbsp;&rsaquo;</a></p>
    </div>
    <div class="col-6">
      {{ image (
        url="https://assets.ubuntu.com/v1/6502b4ae-laptop_X1_Carbon.png",
        alt="",
        width="725",
        height="515",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width u-sv3">
    <h2>内置所有必备要素</h2>
  </div>
  <div class="row">
    <div class="col-4">
      {{ image (
        url="https://assets.ubuntu.com/v1/b4cabb3f-68747470733a2f2f696d616765732e7a656e68756275736572636f6e74656e742e636f6d2f3562393738373431393663303830316165643138633461312f65663636653130652d393435662d343565622d393163302d636662633965356564303263.svg",
        alt="",
        width="100",
        height="100",
        hi_def=True,
        loading="lazy",
        attrs={"class": "u-hide--small u-hide--medium"}
        ) | safe
      }}
      <h3>可靠的版本周期</h3>
      <div>
        <p>每两年，Canonical会发布一个新的，<strong>长期支持</strong>（LTS）的Ubuntu版本。常规的安全补丁和而其他关键性更新免费提供5年。Ubuntu Advantage订阅用户将获得扩展的且最长达10年的支持。</p>
        <p><a href="https://ubuntu.com/about/release-cycle">了解更多关于Ubuntu生命周期的内容</a></p>
      </div>
    </div>
    <div class="col-4">
      {{ image (
        url="https://assets.ubuntu.com/v1/7f16b1a4-68747470733a2f2f696d616765732e7a656e68756275736572636f6e74656e742e636f6d2f3562393738373431393663303830316165643138633461312f35626466363836662d326435612d343064622d393665392d363064616635333062343061.svg",
        alt="",
        width="100",
        height="100",
        hi_def=True,
        loading="lazy",
        attrs={"class": "u-hide--small u-hide--medium"}
        ) | safe
      }}
      <h3>官方认证的硬件</h3>
      <div>
        <p>Ubuntu桌面已通过各种笔记本电脑、台式机和工作站的认证，包括惠普 Z 系列和戴尔 XPS 和 Precision 系列。在经过数百万测试的安全环境中享受对固件的完全控制</p>
        <p><a href="https://ubuntu.com/certified">了解更多Ubuntu认证的硬件</a></p>
      </div>
    </div>
    <div class="col-4">
      {{ image (
        url="https://assets.ubuntu.com/v1/ec3f53f7-extended-security-maintenance.svg",
        alt="",
        width="100",
        height="100",
        hi_def=True,
        loading="lazy",
        attrs={"class": "u-hide--small u-hide--medium"}
        ) | safe
      }}
      <h3>安全</h3>
      <div>
        <p>Ubuntu桌面使用最强大的安全功能而构建，包括用于磁盘加密的 LUKS 和 LVM 工具以及用于应用程序授权管理的 AppArmor。Ubuntu Advantage订阅用户还可访问自动化的强化和合规配置。</p>
        <p><a href="https://ubuntu.com/security">了解更多关于Ubuntu安全实践的内容</a></p>
      </div>
    </div>
    <div class="col-4">
      {{ image (
        url="https://assets.ubuntu.com/v1/8b4e89dd-68747470733a2f2f696d616765732e7a656e68756275736572636f6e74656e742e636f6d2f3562393738373431393663303830316165643138633461312f38613536666636392d633961302d346236622d396265372d356563333835356361633334.svg",
        alt="",
        width="100",
        height="100",
        hi_def=True,
        loading="lazy",
        attrs={"class": "u-hide--small u-hide--medium"}
        ) | safe
      }}
      <h3>完全托管的服务</h3>
      <div>
        <p>简化与您的现有资产集成。Ubuntu操作系统可与现有的Active Directory域集成，默认包含了组策略。</p>
        <p>Canonical的Landscape管理工具支持大规模的监控，修补和合规报告。</p>
        <p><a href="https://landscape.canonical.com/">了解更多关于Landscape的内容</a></p>
      </div>
    </div>
    <div class="col-4">
      {{ image (
        url="https://assets.ubuntu.com/v1/b0af9ede-UA_24-7_Support.svg",
        alt="",
        width="100",
        height="100",
        hi_def=True,
        loading="lazy",
        attrs={"class": "u-hide--small u-hide--medium"}
        ) | safe
      }}
      <h3>Canonical的专业技术支持</h3>
      <div>
        <p>通过Ubuntu Advantage订阅桌面级获得24x7小时的技术支持，包括 10 年的安全补丁、Landscape管理工具访问、高级的 Active Directory 策略以及合规性认证和强化。</p>
        <p><a href="/contact">联系我们</a></p>
      </div>
    </div>
    <div class="col-4">
      {{ image (
        url="https://assets.ubuntu.com/v1/70f069d9-68747470733a2f2f696d616765732e7a656e68756275736572636f6e74656e742e636f6d2f3562393738373431393663303830316165643138633461312f62323665643038322d623738382d343933372d393734612d353034643832626234356463.svg",
        alt="",
        width="100",
        height="100",
        hi_def=True,
        loading="lazy",
        attrs={"class": "u-hide--small u-hide--medium"}
        ) | safe
      }}
      <h3>可访问性</h3>
      <div>
        <p>Ubuntu桌面已被完整地翻译为100种语言，并符合 IT 可访问性修订版 508 标准。</p>
        <p><a href="https://ubuntu.com/blog/ubuntu-desktop-accessibility-read-our-vpat-conformance-report">阅读Ubuntu可访问性一致性报告</a></p>
      </div>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>在您选择的硬件上的无缝操作</h2>
    <p>为了在Ubuntu上提供最好的性能，设备制造商正预装带有Ubuntu认证的系统镜像。Canonical承诺与全球领先的设备制造商密切合作优化和认证他们笔记本和PC上的Ubuntu。</p>
    <p><a href="https://ubuntu.com/desktop/partners">访问我们的合作伙伴页面以了解更多</a></p>
  </div>
  <div class="u-fixed-width">   
    <div class="p-logo-section">
      <div class="p-logo-section__items u-no-margin--bottom">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/11814428-hp-logo.png",
            alt="Hewlett Packard",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/c70b529e-lenovo-logo.png",
            alt="Lenovo",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}          
        </div>                                
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/987acdaa-dell-logo.png",
            alt="Dell",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}          
        </div>
      </div>
    </div>
  </div>
  <div class="u-fixed-width">
    <hr />
  </div>
  <div class="u-fixed-width">
    <div class="p-logo-section">
      <div class="p-logo-section__items u-no-margin--bottom">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/6079d02b-amd-logo.png",
            alt="AMD",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>                               
        <div class="p-logo-section__item">
          {{ image (
          url="https://assets.ubuntu.com/v1/67f81bfe-intel-new-logo.png",
          alt="Intel",
          width="288",
          height="288",
          hi_def=True,
          loading="lazy",
          attrs={"class": "p-logo-section__logo"}
          ) | safe
        }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/711be910-arm-logo.png",
            alt="ARM",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/cd765ccc-nvidia-logo.png",
            alt="Nvidia",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <h2>Ubuntu提供最好的开源体验</h2>
    <p>除了<a href="https://multipass.run/">Multipass</a>、<a href="https://jaas.ai/">Juju</a>、<a href="/lxd">LXD</a>、<a href="https://microk8s.io/">MicroK8s</a>等关键工作流工具外，Ubuntu还支持最新的软件库和应用程序以推动数据科学和机器学习等高增长领域的创新。</p>
    <div class="p-logo-section">
      <div class="p-logo-section__items">
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/57dd2115-TensorFlow-logo.svg",
            alt="",
            width="145",
            height="145",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">   
          {{ image (
            url="https://assets.ubuntu.com/v1/d540aea5-OpenCV-logo.png",
            alt="",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>        
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/6019771d-logo-docker.svg",
            alt="",
            width="97",
            height="97",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}          
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/3def7411-kubeflow-logo.png",
            alt="Kubeflow",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}          
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/5ad2c156-edgex-logo.png",
            alt="",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>        
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/cd765ccc-nvidia-logo.png",
            alt="Nvidia",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/f41c87c6-pytorch-logo.png",
            alt="",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>        
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/19487741-acrn-logo.png",
            alt="",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/1e5e8699-2018-logo-open-vSwitch.svg",
            alt="",
            width="146",
            height="146",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}          
        </div>        
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/c1b1d4a9-ros-logo.png",
            alt="ROS",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}          
        </div> 
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/e1899663-flutter-logo.png",
            alt="Flutter",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/389dee91-openvino-logo.png",
            alt="",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/0c374f1b-lxd-logo.png",
            alt="",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}          
        </div> 
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/b96a2a65-Multipass+logo_rgb.svg",
            alt="",
            width="300",
            height="55",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/7fe3f290-2019-logo-jaas.svg",
            alt="",
            width="145",
            height="145",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}          
        </div>
        <div class="p-logo-section__item">
          {{ image (
            url="https://assets.ubuntu.com/v1/89fdda84-microk8s-logo.svg",
            alt="",
            width="145",
            height="144",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
          }}          
        </div>                                          
      </div>
    </div>
  </div>
</section>

<div class="u-fixed-width">
  <hr class="p-separator">
</div>

<section class="p-strip">
  <div class="row">
    <div class="col-7 u-vertically-center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/938872cc-Screenshot+from+2022-04-20+11-53-34.png",
        alt="",
        width="1236",
        height="298",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
    <div class="col-5">
      <h3>用于数据科学的Ubuntu</h3>
      <p>在高端的Ubuntu工作站上开发 AI 模型。借助硬件加速在机架裸机服务器或公共云上进行 AI 训练。部署到云、边缘和物联网设备。全部都在 Ubuntu 上完成。</p>
      <p><a href="https://ubuntu.com/ai" class="p-button--positive">Ubuntu是如何实现 AI 创新</a></p>
    </div>
  </div>
  <div class="u-fixed-width">
    <blockquote class="p-pull-quote has-image">
      <img class="p-pull-quote__image" src="https://assets.ubuntu.com/v1/52d4cc16-Nvidia_Logo_Horizontal.svg" alt="">
      <p class="p-pull-quote__quote">开发人员和数据科学团队使用 Ubuntu 平台来支持他们最重要的工作。我们与 Canonical 的合作使行业创新者能够更快地从他们的数据中获得人工智能驱动的洞察力。</p>
      <span class="p-pull-quote__citation">Manuvir Das &mdash; NVIDIA的企业计算主管</span>
    </blockquote>
  </div>
</section>

<div class="u-fixed-width">
  <hr class="p-separator">
</div>

<section class="p-strip">
  <div class="u-fixed-width u-sv3">
    <h2>一次代码编写，随处部署</h2>
    <p>使用Ubuntu桌面来为开发、测试和生产环境提供了一个通用平台。</p>
    <div class="u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/c1a2b136-Screenshot+from+2022-04-12+16-20-18.png",
        alt="",
        width="650",
        height="169",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>云上的Ubuntu</h3>
      <p>Canonical全面地支持公有云，并为私有云的实施和管理以及混合云和多云环境中的工作负载编排提供解决方案。</p>
      <p><a href="/cloud" class="p-button--positive">Ubuntu on cloud</a></p>
    </div>
    <div class="col-6 u-align--center u-vertically-center u-hide--medium u-hide--small">
      {{
        image(
         url="https://assets.ubuntu.com/v1/ab87e245-Private-v-Public-Mulit-Cloud.svg",
         alt="Private vs public cloud",
         width="250",
         height="214",
         hi_def=True,
         loading="auto",
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>更轻松地管理IT资产</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <h3>Landscape</h3>
      <p>使用Landscape以降低运行Linux桌面资产的复杂性和成本，Canonical的系统管理工具将Ubuntu桌面与Active Directory集成在一起，对您的所有Ubuntu桌面提供监控、管理、修补和合规性报告功能。</p>
      <p><a href="https://landscape.canonical.com/">了解更多关于Landscape的内容</a></p>
    </div>
    <div class="col-6 u-vertically-center u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/990093e1-cn-home-landscape.png",
        alt="",
        width="515",
        height="255",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
  </div>
  <div class="row">
    <div class="col-6 u-vertically-center u-align--center u-hide--small u-hide--medium">
      {{ image (
        url="https://assets.ubuntu.com/v1/e7bcb9fa-4b9bad4c100c73cc2c1c839f3eb5ec03_active-directory-logo.png",
        alt="",
        width="400",
        height="99",
        hi_def=True,
        loading="lazy"
        ) | safe
      }}
    </div>
    <div class="col-6">
      <h3>Active Directory</h3>
      <p>当使用系统安全服务守护进程 (SSSD) 时，将Ubuntu桌面集成到现有的Active Directory架构中将是一项自动化且轻松的过程。默认情况下，GPO可用于管理桌面设置，Ubuntu Advantage订阅用户可以访问其他Active Directory策略，例如远程脚本执行和权限管理。</p>
      <p><a href="https://ubuntu.com/engage/microsoft-active-directory">使用Active Directory集成Ubuntu桌面</a></p>
      <p><a href="https://github.com/ubuntu/adsys/wiki">ADSys文档</a></p>
    </div>
  </div>  
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <h2>Ubuntu Advantage订阅的企业级支持</h2>
    <p>Ubuntu Advantage订阅桌面版是一个单一的、每个计算的服务包，为您的Ubuntu桌面机群提供全面的企业安全、管理工具和扩展支持。</p>
  </div>
  <div class="row">
    <div class="col-4 u-sv3">
      {{ image (
        url="https://assets.ubuntu.com/v1/ceb481d1-10+years.svg",
        alt="",
        width="100",
        height="100",
        hi_def=True,
        loading="lazy",
        attrs={"class": "u-hide--small u-hide--medium"}
        ) | safe
      }}
      <h3>企业级的安全</h3>
      <p>通过<a href="/support/esm">扩展安全维护 (ESM) </a>获得Ubuntu LTS版本的10年安全补丁和更新。使用<a href="https://ubuntu.com/security/livepatch">内核实时补丁</a>服务最大限度地减少停机时间。</p>
    </div>
    <div class="col-4 u-sv3">
      {{ image (
        url="https://assets.ubuntu.com/v1/ef8dddf4-menu-icon--product-landscape.svg",
        alt="",
        width="100",
        height="100",
        hi_def=True,
        loading="lazy",
        attrs={"class": "u-hide--small u-hide--medium"}
        ) | safe
      }}
      <h3>Landscape—大规模管理</h3>
      <p>整个物理和虚拟机群的软件更新、配置管理、策略合规性和权限控制，Landscape易于使用，并且通过强大的API可与任何其他工具顺利集成。</p>
    </div>
    <div class="col-4 u-sv3">
      {{ image (
        url="https://assets.ubuntu.com/v1/e7bcb9fa-4b9bad4c100c73cc2c1c839f3eb5ec03_active-directory-logo.png",
        alt="",
        width="243",
        height="60",
        hi_def=True,
        loading="lazy",
        attrs={"class": "u-hide--small u-hide--medium", "style": "padding-top:40px"}
        ) | safe
      }}    
      <h3>高级的Active Directory策略</h3>
      <p>透过远程脚本执行和权限管理的支持来提高您的管理能力。</p>
    </div>        
  </div>
  <div class="row">
    <div class="col-4">
      {{ image (
        url="https://assets.ubuntu.com/v1/ec3f53f7-extended-security-maintenance.svg",
        alt="",
        width="100",
        height="100",
        hi_def=True,
        loading="lazy",
        attrs={"class": "u-hide--small u-hide--medium"}
        ) | safe
      }}
      <h3>合规，认证和加固Compliance, certification and hardening</h3>
      <p><a href="https://ubuntu.com/security/certifications#fips">FIPS 140-2认证模块</a>, <a href="https://ubuntu.com/security/certifications#cis">CIS加固</a>和<a href="https://ubuntu.com/security/certifications#common-criteria">Common Criteria EAL2</a>认证已可用。</p>
    </div>
    <div class="col-4">
      {{ image (
        url="https://assets.ubuntu.com/v1/7cafcb2c-Managed-apps.svg",
        alt="",
        width="177",
        height="90",
        hi_def=True,
        loading="lazy",
        attrs={"class": "u-hide--small u-hide--medium", "style": "padding-top:10px"}
        ) | safe
      }}   
      <h3>桌面应用的支持</h3>
      <p>对桌面特定的开源应用程序的全栈支持，包括MySQL、Apache、NodeJS和MongoDB。</p>
    </div>
    <div class="col-4">
      {{ image (
        url="https://assets.ubuntu.com/v1/b0af9ede-UA_24-7_Support.svg",
        alt="",
        width="100",
        height="100",
        hi_def=True,
        loading="lazy",
        attrs={"class": "u-hide--small u-hide--medium"}
        ) | safe
      }}
      <h3>24/7小时的支持</h3>
      <p>通过我们的网站支持入口全天候直接地访问知识库，或电话获得我们世界级的企业开源支持团队的支持。</p>
    </div>        
  </div>  
</section>

<section class="p-strip--light">
  <div class="u-fixed-width u-sv3">
    <h2>服务内容和价格</h2>
  </div>
  <div class="u-fixed-width">
    <table>
      <thread>
        <tr>
          <th>&nbsp;</th>
          <th class="u-align--center">
            <p>Ubuntu Advantage订阅桌面版</p>
            <p>入门级</p>
          </th>  
          <th class="u-align--center">
            <p>Ubuntu Advantage订阅桌面版</p>
            <p>标准支持</p>
          </th>
          <th class="u-align--center">
            <p>Ubuntu Advantage订阅桌面版</p>
            <p>高级支持</p>
          </th>
        </tr>
      </thread>
      <tbody>
        <tr>
          <td>每台每年成本</td>
          <td class="u-align--center"><strong>$25</strong></td>
          <td class="u-align--center"><strong>$150</strong></td>
          <td class="u-align--center"><strong>$300</strong></td>
        </tr>
        <tr>
          <td><a href="/support">电话和工单支持</a></td>
          <td></td>
          <td class="u-align--center">24x5</td>
          <td class="u-align--center">24x7</td>
        </tr>
        <tr>
          <td>通过<a href="https://landscape.canonical.com/">Landscape</a>提供大规模监控，管理和自动化</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
        </tr>
        <tr>
          <td>高级的Active Directory策略(包含远程脚本支持和权限管理)</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
        </tr>
        <tr>
          <td>10年的安全补丁</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
        </tr>
        <tr>
          <td>最小化停机的<a href="https://ubuntu.com/security/livepatch">内核实时补丁</a></td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
        </tr>
        <tr>
          <td>认证的加密模块<a href="/security/certifications#fips">FIPS 140-2 Level 1</a></td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
        </tr>
        <tr>
          <td><a href="/security/certifications#cis">CIS Benchmark</a></td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
        </tr>
        <tr>
          <td><a href="/security/certifications#common-criteria">Common Criteria /EAL2</a></td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
          <td class="u-align--center">{{ image(url="https://assets.ubuntu.com/v1/f1a7515d-tick-darkaubergine.svg", alt="Yes", width="16", height="16", hi_def=True, loading="lazy",) | safe }}</td>
        </tr>                                                
      </tbody>
    </table>
    <p>准备开始行动了吗？</p>
    <p>
      <a href="https://ubuntu.com/advantage/subscribe" class="p-button--positive">购买 Ubuntu Advantage 订阅</a>
      <a href="/contact" class="p-button">联系我们</a>
    </p>
  </div>
</section>

<section class="p-strip">
  <div class="u-fixed-width">
    <h3>阅读更多企业组织中的Ubuntu桌面</h3>
  </div>
  <div class="row p-divider">
    <div class="col-3 p-divider__block">
      <div class="p-heading-icon--muted">
        <div class="p-heading-icon__header">
          {{ image (
            url="https://assets.ubuntu.com/v1/3769b4a7-webinar-icon.svg",
            alt="",
            width="88",
            height="72",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
            ) | safe
          }}
          <h4 class="p-heading-icon__title">研讨会</h4>
        </div>
      </div>
      <h3 class="p-heading--4"><a href="https://ubuntu.com/engage/Z-Workstation-Ubuntu">由Ubuntu提供支持的惠普 Z 工作站的效率释放</a></h3>
    </div>
    <div class="col-3 p-divider__block">
      <div class="p-heading-icon--muted">
        <div class="p-heading-icon__header">
          {{ image (
            url="https://assets.ubuntu.com/v1/b061c401-White+paper.svg",
            alt="",
            width="171",
            height="150",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
            ) | safe
          }}
          <h4 class="p-heading-icon__title">白皮书</h4>
        </div>
      </div>      
      <h3 class="p-heading--4"><a href="https://ubuntu.com/engage/linux-enterprise-whitepaper">用于企业的Ubuntu桌面</a></h3>
    </div>
    <div class="col-3 p-divider__block">
      <div class="p-heading-icon--muted">
        <div class="p-heading-icon__header">
          {{ image (
            url="https://assets.ubuntu.com/v1/b061c401-White+paper.svg",
            alt="",
            width="171",
            height="150",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
            ) | safe
          }}
          <h4 class="p-heading-icon__title">白皮书</h4>
        </div>
      </div>      
      <h3 class="p-heading--4"><a href="https://ubuntu.com/engage/developer-desktop-productivity-whitepaper">如何通过Ubuntu桌面提高开发人员的工作效率</a></h3>
    </div>
    <div class="col-3 p-divider__block">
      <div class="p-heading-icon--muted">
        <div class="p-heading-icon__header">
            {{ image (
              url="https://assets.ubuntu.com/v1/df54bb6a-document-open-icon.svg",
              alt="",
              width="32",
              height="28",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
              ) | safe
            }}
          <h4 class="p-heading-icon__title">博客</h4>
        </div>
      </div>      
      <h3 class="p-heading--4"><a href="https://ubuntu.com/blog/planning-phased-ubuntu-22-04-enterprise-desktop-upgrades-with-landscape">Ubuntu 22.04企业桌面升级与Landscape</a></h3>
    </div>            
  </div>
</section>

{% endblock %}