{% extends "templates/base.html" %}

{% block title %}将Ubuntu引入您的组织{{ title }}{% endblock %}

{% block meta_description %}
  {{ meta_description }}Ubuntu系统，Ubuntu 22.04，Ubuntu 20.04，Ubuntu 18.04，Ubuntu 16.04，snap，snapcraft
{% endblock %}

{% block content %}
  {% include "desktop/secondary-nav.html" %}

  <section class="p-strip--suru-bottomed">
    <div class="row u-equal-height u-vertically-center">
      <div class="col-6">
        <h1>
          将Ubuntu引入您的
          <br />
          组织
        </h1>
        <p>
          Ubuntu 桌面兼具企业级支持，安全
          <br />
          和开源的最好功能性。
        </p>
        <p>
          <a class="p-button--positive" href="/contact">联系我们</a>
        </p>
        <p>
          <a href="/support/pro">通过Ubuntu Pro获得额外安全覆盖&nbsp;&rsaquo;</a>
        </p>
        <p>
          <a class="p-button"
             href="https://assets.ubuntu.com/v1/0af12937-Ubuntu.Desktop.DS.23.05.22.2.pdf">阅读产品手册</a>
        </p>
      </div>
      <div class="col-6">
        {{ image (
        url="https://assets.ubuntu.com/v1/f29015c6-image-laptop.png",
        alt="",
        width="750",
        height="484",
        hi_def=True,
        loading="auto"
        ) | safe
        }}
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="row">
      <div class="col-7">
        <h2>
          通过Ubuntu Pro桌面版让企业管理
          <br />
          更安全
        </h2>
      </div>
    </div>

    <div class="row u-equal-height">
      <div class="col-4 p-card col-medium-3">
        <h4>让开源堆栈更安全</h4>
        <hr />
        <p>
          获得十年的 Ubuntu LTS 版本安全补丁，包括<a href="/support/esm">扩展安全维护 (ESM)</a> 和 Ubuntu Universe 仓库中超过23000个软件包的测试覆盖。使用<a href="https://ubuntu.com/security/livepatch">内核实时补丁</a>服务最大限度地减少停机时间。
        </p>
        <p>
          <a href="/support/pro">了解更多关于Ubuntu Pro的内容&nbsp;&rsaquo;</a>
        </p>
      </div>
      <div class="col-4 p-card col-medium-3">
        <h4>Landscape—大规模管理</h4>
        <hr />
        <p>整个物理和虚拟机群的软件更新、配置管理、策略合规性和权限控制，Landscape易于使用，并且通过强大的API可与任何其他工具顺利集成。</p>
        <p>
          <a href="https://landscape.canonical.com/">了解更多关于Landscape的内容</a>
        </p>
      </div>
      <div class="col-4 p-card col-medium-3">
        <h4>高级的Active Directory策略</h4>
        <hr />
        <p>通过完整的组策略对象的支持、远程脚本执行和权限管理来提高您的管理能力。</p>
        <p>
          <a href="https://ubuntu.com/engage/New-Active-Directory-integration-features">了解更多关于Active Directory的内容</a>
        </p>
      </div>
      <div class="col-4 p-card col-medium-3">
        <h4>合规，认证和加固</h4>
        <hr />
        <p>
          Ubuntu Pro通过<a href="https://ubuntu.com/security/certifications#fips">FIPS 140-2认证模块</a>, <a href="https://ubuntu.com/security/certifications#cis">CIS加固</a>和已可用的<a href="https://ubuntu.com/security/certifications#common-criteria">Common Criteria EAL2</a>为最敏感的工作负载提供安全性和合规性。
        </p>
        <p>
          <a href="https://ubuntu.com/security">了解更多关于Ubuntu的安全实践的内容</a>
        </p>
      </div>
      <div class="col-4 p-card col-medium-3">
        <h4>认证硬件</h4>
        <hr />
        <p>Ubuntu桌面版系统已通过各种笔记本电脑、台式机和工作站的认证，包括惠普 Z 系列，联想 Thinkpad P 系列和戴尔 XPS 和 Precision 系列。</p>
        <p>
          <a href="https://ubuntu.com/certified">了解更多关于Ubuntu认证硬件的内容</a>
        </p>
      </div>
      <div class="col-4 p-card col-medium-3">
        <h3>工作日或24/7小时支持</h3>
        <hr />
        <p>通过我们的网站支持入口全天候直接地访问知识库，或电话获得我们世界级的企业开源支持团队的支持。</p>
        <p>
          <a href="/contact" class="p-button">联系我们</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-strip--light">
    <div class="u-fixed-width">
      <h2>在您选择的硬件上的无缝操作</h2>
      <p>为了在Ubuntu上提供最好的性能，设备制造商正预装带有Ubuntu认证的系统镜像。Canonical承诺与全球领先的设备制造商密切合作优化和认证他们笔记本和PC上的Ubuntu。</p>
      <p>
        <a href="https://ubuntu.com/desktop/partners">访问我们的合作伙伴页面以了解更多</a>
      </p>
    </div>
    <div class="u-fixed-width">
      <div class="p-logo-section">
        <div class="p-logo-section__items u-no-margin--bottom">
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/11814428-hp-logo.png",
            alt="Hewlett Packard",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/c70b529e-lenovo-logo.png",
            alt="Lenovo",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/987acdaa-dell-logo.png",
            alt="Dell",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
            }}
          </div>
        </div>
      </div>
    </div>
    <div class="u-fixed-width">
      <hr />
    </div>
    <div class="u-fixed-width">
      <div class="p-logo-section">
        <div class="p-logo-section__items u-no-margin--bottom">
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/6079d02b-amd-logo.png",
            alt="AMD",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/67f81bfe-intel-new-logo.png",
            alt="Intel",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/711be910-arm-logo.png",
            alt="ARM",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
            url="https://assets.ubuntu.com/v1/cd765ccc-nvidia-logo.png",
            alt="Nvidia",
            width="288",
            height="288",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-logo-section__logo"}
            ) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="u-fixed-width">
      <div class="p-strip u-no-padding-top">
        <div class="row">
          <div class="col-5">
            <h2>Ubuntu提供最好的开源体验</h2>
          </div>
          <div class="col-6">
            <p>
              除了<a href="https://multipass.run/">Multipass</a>、<a href="https://jaas.ai/">Juju</a>、<a href="https://ubuntu.com/lxd">LXD</a>、<a href="https://microk8s.io/">MicroK8s</a>等关键工作流工具外，Ubuntu还支持最新的软件库和应用程序以推动数据科学和机器学习等高增长领域的创新。
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="p-logo-section">
          <div class="p-logo-section__items">
            <div class="p-logo-section__item">
              {{ image (
              url="https://assets.ubuntu.com/v1/be56a944-tensor-flow-logo.png",
              alt="TensorFlow",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image (
              url="https://assets.ubuntu.com/v1/96c4727f-OpenCV-logo.png",
              alt="OpenCV",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image (
              url="https://assets.ubuntu.com/v1/5154773b-docker-logo-horizontal.png",
              alt="Docker",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image (
              url="https://assets.ubuntu.com/v1/94ae6189-edgexfoundry-logo.png",
              alt="EdgeX Foundry",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image (
              url="https://assets.ubuntu.com/v1/a20afc7d-kubeflow-logo.png",
              alt="Kubeflow",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image (
              url="https://assets.ubuntu.com/v1/835a5d08-Juju.png",
              alt="Canonical Juju",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image (
              url="https://assets.ubuntu.com/v1/75145268-acrn-logo.png",
              alt="Acrn",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image (
              url="https://assets.ubuntu.com/v1/eac2a3ad-openvino-logo.png",
              alt="OpenVINO",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image (
              url="https://assets.ubuntu.com/v1/1d3e5eaf-flutter-logo.png",
              alt="Flutter",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image (
              url="https://assets.ubuntu.com/v1/49e6dfc2-ros-logo.png",
              alt="ROS",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image (
              url="https://assets.ubuntu.com/v1/a984834a-LXD.png",
              alt="Canonical LXD",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image (
              url="https://assets.ubuntu.com/v1/d60029cc-pytorch-logo.png",
              alt="Pytorch",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image (
              url="https://assets.ubuntu.com/v1/1ad80137-Multipass.png",
              alt="Canonical Multipass",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image (
              url="https://assets.ubuntu.com/v1/083fd46b-open-v-switch.png",
              alt="Open vSwitch",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
              }}
            </div>
            <div class="p-logo-section__item">
              {{ image (
              url="https://assets.ubuntu.com/v1/3f49251c-MicroK8s.png",
              alt="Canonical MicroK8s",
              width="158",
              height="158",
              hi_def=True,
              loading="lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>

  <section class="p-strip">
    <div class="row">
      <div class="col-7 u-vertically-center u-hide--small u-hide--medium">
        {{ image (
        url="https://assets.ubuntu.com/v1/938872cc-Screenshot+from+2022-04-20+11-53-34.png",
        alt="",
        width="1236",
        height="298",
        hi_def=True,
        loading="lazy"
        ) | safe
        }}
      </div>
      <div class="col-5">
        <h3>用于数据科学的Ubuntu</h3>
        <p>在高端的Ubuntu工作站上开发 AI 模型。借助硬件加速在机架裸机服务器或公共云上进行 AI 训练。部署到云、边缘和物联网设备。全部都在 Ubuntu 上完成。</p>
        <p>
          <a href="https://ubuntu.com/ai" class="p-button--positive">Ubuntu是如何实现 AI 创新</a>
        </p>
      </div>
    </div>
    <div class="u-fixed-width">
      <blockquote class="p-pull-quote has-image">
        <img class="p-pull-quote__image"
             src="https://assets.ubuntu.com/v1/52d4cc16-Nvidia_Logo_Horizontal.svg"
             alt="" />
        <p class="p-pull-quote__quote">开发人员和数据科学团队使用 Ubuntu 平台来支持他们最重要的工作。我们与 Canonical 的合作使行业创新者能够更快地从他们的数据中获得人工智能驱动的洞察力。</p>
        <span class="p-pull-quote__citation">Manuvir Das &mdash; NVIDIA的企业计算主管</span>
      </blockquote>
    </div>
  </section>

  <div class="u-fixed-width">
    <hr class="p-separator" />
  </div>

  <section class="p-strip">
    <div class="u-fixed-width u-sv3">
      <h2>一次代码编写，随处部署</h2>
      <p>使用Ubuntu桌面来为开发、测试和生产环境提供了一个通用平台。</p>
      <div class="u-hide--small u-hide--medium">
        {{ image (
        url="https://assets.ubuntu.com/v1/c1a2b136-Screenshot+from+2022-04-12+16-20-18.png",
        alt="",
        width="650",
        height="169",
        hi_def=True,
        loading="lazy"
        ) | safe
        }}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h3>云上的Ubuntu</h3>
        <p>Canonical全面地支持公有云，并为私有云的实施和管理以及混合云和多云环境中的工作负载编排提供解决方案。</p>
        <p>
          <a href="/cloud" class="p-button--positive">云上的Ubuntu</a>
        </p>
      </div>
      <div class="col-6 u-align--center u-vertically-center u-hide--medium u-hide--small">
        {{ image(url="https://assets.ubuntu.com/v1/ab87e245-Private-v-Public-Mulit-Cloud.svg",
                alt="Private vs public cloud",
                width="250",
                height="214",
                hi_def=True,
                loading="auto",) | safe
        }}
      </div>
    </div>
  </section>

  <section class="p-strip--light">
    <div class="u-fixed-width">
      <h2>更轻松地管理IT资产</h2>
    </div>
    <div class="row">
      <div class="col-6">
        <h3>Landscape</h3>
        <p>
          使用Landscape以降低运行Linux桌面资产的复杂性和成本，Canonical的系统管理工具将Ubuntu桌面与Active Directory集成在一起，对您的所有Ubuntu桌面提供监控、管理、修补和合规性报告功能。
        </p>
        <p>
          <a href="https://landscape.canonical.com/" class="p-button--positive">了解更多关于Landscape的内容</a>
        </p>
      </div>
      <div class="col-6 u-vertically-center u-align--center u-hide--small u-hide--medium">
        {{ image (
        url="https://assets.ubuntu.com/v1/990093e1-cn-home-landscape.png",
        alt="",
        width="515",
        height="255",
        hi_def=True,
        loading="lazy"
        ) | safe
        }}
      </div>
    </div>
    <div class="row">
      <div class="col-6 u-vertically-center u-align--center u-hide--small u-hide--medium">
        {{ image (
        url="https://assets.ubuntu.com/v1/e7bcb9fa-4b9bad4c100c73cc2c1c839f3eb5ec03_active-directory-logo.png",
        alt="",
        width="400",
        height="99",
        hi_def=True,
        loading="lazy"
        ) | safe
        }}
      </div>
      <div class="col-6">
        <h3>Active Directory</h3>
        <p>
          当使用系统安全服务守护进程 (SSSD) 时，将Ubuntu桌面集成到现有的Active Directory架构中将是一项自动化且轻松的过程。默认情况下，GPO可用于管理桌面设置，Ubuntu Advantage订阅用户可以访问其他Active Directory策略，例如远程脚本执行和权限管理。
        </p>
        <p>
          <a href="https://github.com/ubuntu/adsys/wiki" class="p-button">ADSys文档</a>
        </p>
        <p>
          <a href="https://ubuntu.com/engage/microsoft-active-directory"
             class="p-button--positive">使用Active Directory集成Ubuntu桌面</a>
        </p>
      </div>
    </div>
  </section>

  <section class="p-strip is-bordered">
    <div class="row u-vertically-center">
      <div class="col-7">
        <h2>
          通过 Ubuntu Pro 桌面版让企业管理
          <br />
          更安全
        </h2>
        <p>Ubuntu Pro 桌面版订阅是一项综合的订阅，为开发人员和组织提供企业级安全性、管理工具和扩展的支持。 个人可在最多五台机器上免费供使用 Ubuntu Pro 桌面版订阅。</p>
        <ul class="p-list">
          <li class="p-list__item is-ticked">
            为<a href="/support/esm">完整开源堆栈</a>（测试中）提供的的安全更新
          </li>
          <li class="p-list__item is-ticked">
            高级的<a href="https://ubuntu.com/engage/microsoft-active-directory">Active Directory</a> 和 LDAP 集成
          </li>
          <li class="p-list__item is-ticked">
            资产<a href="https://landscape.canonical.com/landscape-features">监控和管理</a>
          </li>
          <li class="p-list__item is-ticked">
            <a href="https://ubuntu.com/security/certifications#fips">FIPS 140-2 认证模块</a>和<a href="https://ubuntu.com/security/certifications#cis">CIS 加固</a>
          </li>
          <li class="p-list__item is-ticked">
            通过<a href="https://ubuntu.com/livepatch">内核实时补丁</a>最大限度地减少滚动重启
          </li>
          <li class="p-list__item is-ticked">可选的工作日或7x24小级别支持</li>
        </ul>
        <p>
          <a href="/support/pro">更多内容和价格&nbsp;&rsaquo;</a>
        </p>
      </div>
      <div class="col-5 u-align--center u-hide--medium u-hide--small">
        {{ image(url="https://assets.ubuntu.com/v1/71baccc3-ubuntu-advantage-circular.svg",
                alt="",
                height="350",
                width="350",
                hi_def=True,
                loading="lazy") | safe
        }}
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="row">
      <div class="col-6">
        <h2>由 AWS 提供的虚拟桌面系统</h2>
        <p>Amazon WorkSpaces上的Ubuntu桌面为开发人员提供了优化的Ubuntu桌面环境，以快速构建、测试和部署代码——根据需要启动和拆除实例。</p>
        <p>即使IT企业的开发人员在远程工作，IT企业受益于他们托管的Ubuntu桌面的快速部署、配置和可扩展性，同时他们的应用程序和数据在AWS云中保持安全。</p>
        <p>
          <a href="https://ubuntu.com/aws/workspaces">了解更多关于Ubuntu工作区的内容</a>
        </p>
      </div>
      <div class="col-6 u-vertically-center u-align--center">
        {{ image (
        url="https://assets.ubuntu.com/v1/55bb92be-aws_workspaces.png",
        alt="",
        width="400",
        height="143",
        hi_def=True,
        loading="lazy"
        ) | safe
        }}
      </div>
    </div>
  </section>

  <section class="p-strip--light">
    <div class="u-fixed-width">
      <h3>阅读更多企业组织中的Ubuntu桌面</h3>
    </div>
    <div class="row p-divider">
      <div class="col-3 p-divider__block">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            {{ image (
            url="https://assets.ubuntu.com/v1/3769b4a7-webinar-icon.svg",
            alt="",
            width="88",
            height="72",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
            ) | safe
            }}
            <h4 class="p-heading-icon__title">研讨会</h4>
          </div>
        </div>
        <h3 class="p-heading--4">
          <a href="https://ubuntu.com/engage/Z-Workstation-Ubuntu">由Ubuntu提供支持的惠普 Z 工作站的效率释放</a>
        </h3>
      </div>
      <div class="col-3 p-divider__block">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            {{ image (
            url="https://assets.ubuntu.com/v1/b061c401-White+paper.svg",
            alt="",
            width="171",
            height="150",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
            ) | safe
            }}
            <h4 class="p-heading-icon__title">白皮书</h4>
          </div>
        </div>
        <h3 class="p-heading--4">
          <a href="https://ubuntu.com/engage/linux-enterprise-whitepaper">用于企业的Ubuntu桌面</a>
        </h3>
      </div>
      <div class="col-3 p-divider__block">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            {{ image (
            url="https://assets.ubuntu.com/v1/b061c401-White+paper.svg",
            alt="",
            width="171",
            height="150",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
            ) | safe
            }}
            <h4 class="p-heading-icon__title">白皮书</h4>
          </div>
        </div>
        <h3 class="p-heading--4">
          <a href="https://ubuntu.com/engage/developer-desktop-productivity-whitepaper">如何通过Ubuntu桌面提高开发人员的工作效率</a>
        </h3>
      </div>
      <div class="col-3 p-divider__block">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            {{ image (
            url="https://assets.ubuntu.com/v1/df54bb6a-document-open-icon.svg",
            alt="",
            width="32",
            height="28",
            hi_def=True,
            loading="lazy",
            attrs={"class": "p-heading-icon__img p-heading-icon__img--small"},
            ) | safe
            }}
            <h4 class="p-heading-icon__title">博客</h4>
          </div>
        </div>
        <h3 class="p-heading--4">
          <a href="https://ubuntu.com/blog/planning-phased-ubuntu-22-04-enterprise-desktop-upgrades-with-landscape">Ubuntu 22.04企业桌面升级与Landscape</a>
        </h3>
      </div>
    </div>
  </section>

{% endblock %}
