{% extends "templates/base.html" %}

{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/vf_tiered-list.jinja" import vf_tiered_list %}
{% from "_macros/vf_logo-section.jinja" import vf_logo_section %}
{% from "_macros/vf_basic-section.jinja" import vf_basic_section %}
{% from "_macros/vf_equal-heights.jinja" import vf_equal_heights %}
{% from "_macros/vf_cta-section.jinja" import vf_cta_section %}
{% from "_macros/vf_divided-section.jinja" import vf_divided_section %}

{% block title %}Ubuntu 服务器{% endblock %}

{% block body_class %}
  is-paper
{% endblock body_class %}

{% block content %}

  {% call(slot) vf_hero(
    title_text='使用 Ubuntu Server 横向扩展',
    layout='50/50'
  ) -%}
    {%- if slot == 'description' -%}
      <p>
        Ubuntu Server 可让您的公有或私有数据中心在经济和技术上都具有出色的可扩展性。无论是部署 OpenStack 云、Kubernetes 集群还是 50000 个节点的大型渲染场，Ubuntu Server 都能提供性价比最佳的横向扩展能力。
      </p>
    {%- endif -%} 
    {%- if slot == 'cta' -%}
      <a href="/download#server" class="p-button--positive">下载 Ubuntu 服务器版</a>
    {%- endif -%}
  {% endcall -%}

  {%- call(slot) vf_tiered_list(is_description_full_width_on_desktop=false, is_list_full_width_on_tablet=true) -%}
    {%- if slot == 'title' -%}
      <h2>为快速发展的企业提供灵活、安全、可随处部署的技术</h2>
    {%- endif -%}

    {%- if slot == 'list_item_title_1' -%}
      <h3 class="p-heading--5">卓越性能与多功能性</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_1' -%}
      <p>Ubuntu Server 获得领先硬件原始设备制造商（OEM）的认证，具备精简的初始部署，并包含集成的部署和应用程序建模工具，因此无论您是部署 NoSQL 数据库、web farm 还是云，都可以最大限度地利用基础设施。</p>
    {%- endif -%}

    {%- if slot == 'list_item_title_2' -%}
      <h3 class="p-heading--5">可信赖的发布时间表</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_2' -%}
      <p>Ubuntu Server 的长期支持（LTS）版本默认在五年内接收 Ubuntu Main 软件库中约 2500 个软件包的标准安全更新。每六个月，子版本都会带来新功能，而硬件支持的更新会为所有受支持的LTS版本添加对最新机器的支持。</p>
    {%- endif -%}

    {%- if slot == 'list_item_title_3' -%}
      <h3 class="p-heading--5">最广泛使用且值得信赖的平台</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_3' -%}
      <p>根据 <a href='https://www.openlogic.com/system/files/2025-05/report-openlogic-2025-state-of-open-source-support.pdf'>OpenLogic 2025 年开源现状报告</a>，Ubuntu 是私有云实施的基础，且连续三年蝉联全球使用最广泛的 Linux 发行版。</p>
    {%- endif -%}
  {%- endcall -%}

  {% call(slot) vf_logo_section(
    title={
      "text": "与您的硬件一起使用"
    },
    blocks=[
      {
        "type": "cta-block",
        "item": {
          "link": {
            "content_html": "探索认证硬件合作伙伴&nbsp;&rsaquo;",
            "attrs": {
              "href": "/certified"
            }
          }
        }
      },
      {
        "type": "logo-block",
        "item": {
          "logos": [
            image(url="https://assets.ubuntu.com/v1/052ae274-lenovo_logo.png",
              alt="Lenovo",
              width="202",
              height="312",
              hi_def=True,
              loading="auto",
              output_mode="attrs"
            ),
            image(url="https://assets.ubuntu.com/v1/5988324b-dell_logo.png",
              alt="Dell",
              width="145",
              height="312",
              hi_def=True,
              loading="auto",
              output_mode="attrs"
            ),
            image(url="https://assets.ubuntu.com/v1/7e02dc6b-ibm_logo.png",
              alt="IBM",
              width="152",
              height="312",
              hi_def=True,
              loading="auto",
              output_mode="attrs"
            ),
            image(url="https://assets.ubuntu.com/v1/70d6a378-hp_logo.png",
              alt="HP",
              width="130",
              height="312",
              hi_def=True,
              loading="auto",
              output_mode="attrs"
            ),
            image(url="https://assets.ubuntu.com/v1/cb6ca54f-intel_new_logo.png",
              alt="Intel",
              width="152",
              height="312",
              hi_def=True,
              loading="auto",
              output_mode="attrs"
            ),
            image(url="https://assets.ubuntu.com/v1/71a123b5-cisco_logo.png",
              alt="Cisco",
              width="187",
              height="312",
              hi_def=True,
              loading="auto",
              output_mode="attrs"
            ),
            image(url="https://assets.ubuntu.com/v1/cfd9de60-amd_logo.png",
              alt="AMD",
              width="222",
              height="312",
              hi_def=True,
              loading="auto",
              output_mode="attrs"
            ),
            image(url="https://assets.ubuntu.com/v1/475cb5d7-arm_logo.png",
              alt="ARM",
              width="152",
              height="312",
              hi_def=True,
              loading="auto",
              output_mode="attrs"
            )
          ]
        }
      }
    ]
  ) -%}
  {% endcall -%}

  {% call(slot) vf_logo_section(
    title={
      "text": "和您的软件相兼容"
    },
    blocks=[
      {
        "type": "cta-block",
        "item": {
          "link": {
            "content_html": "探索认证软件合作伙伴&nbsp;&rsaquo;",
            "attrs": {
              "href": "https://partners.ubuntu.com/programmes/software"
            }
          }
        }
      },
      {
        "type": "logo-block",
        "item": {
          "logos": [
            image(url="https://assets.ubuntu.com/v1/221ba6f5-centrify_logo.png",
              alt="Centrify",
              width="308",
              height="312",
              hi_def=True,
              loading="auto",
              output_mode="attrs"
            ),
            image(url="https://assets.ubuntu.com/v1/62c942f6-openstack_logo.png",
              alt="OpenStack",
              width="413",
              height="312",
              hi_def=True,
              loading="auto",
              output_mode="attrs"
            ),
            image(url="https://assets.ubuntu.com/v1/4bad733a-likewise_logo.png",
              alt="Likewise",
              width="252",
              height="312",
              hi_def=True,
              loading="auto",
              output_mode="attrs"
            ),
            image(url="https://assets.ubuntu.com/v1/661c182b-open_bravo_logo.png",
              alt="Open Bravo",
              width="114",
              height="312",
              hi_def=True,
              loading="auto",
              output_mode="attrs"
            )
          ]
        }
      }
    ]
  ) -%}
  {% endcall -%}

  {{ vf_basic_section(
    title={"text": "获取最新的安全更新和支持"},
    items=[
      {
        "type": "description",
        "item": {
          "type": "text",
          "content": "Ubuntu Pro 是一项综合订阅服务，为开发人员和企业提供企业级安全防护、管理工具及扩展支持。"
        }
      },
      {
        "type": "list",
        "item": {
          "list_items": [
            {
              "list_item_type": "bullet",
              "content": "完整开源堆栈的安全更新"
            },
            {
              "list_item_type": "bullet",
              "content": "使用 <a href='/landscape'>Landscape</a> 对您的整个资产进行监控和管理"
            },
            {
              "list_item_type": "bullet",
              "content": "<a href='https://ubuntu.com/security/security-standards'>FIPS 140、CIS 加固、STIG、PCI-DSS 等</a>"
            },
            {
              "list_item_type": "bullet",
              "content": "使用 Kernel Livepatch 最大限度地减少滚动重启"
            },
            {
              "list_item_type": "bullet",
              "content": "可选工作日或全天候支持级别"
            }
          ]
        }
      },
      {
        "type": "cta-block",
        "item": {
          "primary": {
            "content_html": "了解 Ubuntu Pro",
            "attrs": {
              "href": "/pro"
            }
          },
          "secondaries": [
            {
              "content_html": "开始 30 天免费试用",
              "attrs": {
                "href": "https://ubuntu.com/pro/free-trial"
              }
            }
          ]
        }
      }
    ]
  ) }}

  {{ vf_basic_section(
    title={"text": "Ubuntu 版本的安全支持周期"},
    padding="shallow",
    items=[
      {
        "type": "description",
        "item": {
          "type": "text",
          "content": "Ubuntu 长期支持（LTS）版本默认提供 Ubuntu Main 软件库的五年标准安全维护。通过订阅 Ubuntu Pro 或扩展安全维护（ESM），可选择将支持期限延长至 10 年并覆盖 Ubuntu Universe 软件库。针对长期维护需求，Canonical 还提供可延长至第 11 至 15 年的 Legacy Support 服务。"
        }
      },
      {
        "type": "description",
        "item": {
          "type": "text",
          "content": "可预测的版本发布周期，为您带来稳定、可靠的产品体验。"
        }
      }
    ]
  ) }}

  <div class="p-section">
    {% include "shared/_release_schedule.html" %}
  </div>

  {% call(slot) vf_equal_heights(
    title_text="与其他 Canonical 产品搭配使用",
    image_aspect_ratio_large="auto",
    image_aspect_ratio_medium="auto",
    image_aspect_ratio_small="auto",
    highlight_images=True,
    items=[
      {
        "title_text": "多云编排",
        "image_html": image(url="https://assets.ubuntu.com/v1/5c974fac-juju.png",
          alt="Canonical Juju",
          width="852",
          hi_def=True,
          loading="lazy"
        ) | safe,
        "description_html": "<p>Juju 提供命令行或基于浏览器的界面选项，让您只需点击几下即可设计并部署整个工作负载。它可用于 AWS 和 Microsoft Azure 等公有云、基于 OpenStack 构建的私有云，甚至通过 MAAS 可直接在裸机上运行。</p>",
        "cta_html": "<a href='https://charmhub.io/'>关于 Juju&nbsp;&rsaquo;</a>"
      },
      {
        "title_text": "裸机配置",
        "image_html": image(url="https://assets.ubuntu.com/v1/d80281bd-maas.png",
          alt="Canonical MAAS",
          width="852",
          hi_def=True,
          loading="lazy"
        ) | safe,
        "description_html": "<p>MAAS 是一种很省时的配置系统，可以快速、轻松地设置部署复杂服务所需的物理硬件，如 Ubuntu 的 OpenStack 云基础设施。只需插入服务器，连接至网络，其余交给 MAAS 来完成即可。</p>",
        "cta_html": "<a href='https://canonical.com/maas'>关于 MAAS&nbsp;&rsaquo;</a>"
      },
      {
        "title_text": "机器容器",
        "image_html": image(url="https://assets.ubuntu.com/v1/39571d15-lxd.png",
          alt="Canonical LXD",
          width="852",
          hi_def=True,
          loading="lazy"
         ) | safe,
        "description_html": "<p>经济效益与计算密度直接相关。LXD 是 Linux 容器管理程序，它将容器的速度和密度与传统虚拟机的可管理性和安全性完美结合。</p>",
        "cta_html": "<a href='https://ubuntu.com/lxd'>关于 LXD&nbsp;&rsaquo;</a>"
      }
    ]
  ) %}
  {% endcall %}

  {% call(slot) vf_cta_section(
    variant='default',
    layout='100',
  ) -%}
    {%- if slot == 'cta' -%}
      <a href="/contact">和我们讨论版本与支持需求&nbsp;&rsaquo;</a>
    {%- endif -%}
  {% endcall -%}

  {{ vf_basic_section(
    title={"text": "蓬勃发展的 Ubuntu 社区"},
    items=[
      {
        "type": "description",
        "item": {
          "type": "text",
          "content": "与其他 Ubuntu 用戶和 IT 专业人员交流专业知识和创意想法：与我们庞大且活跃的 IT 专业社区一起交流想法、获取建议与互助。我们的社区以友善与包容著称，欢迎您的提问与参与！"
        }
      },
      {
        "type": "cta-block",
        "item": {
          "link": {
            "content_html": "加入社区交流&nbsp;&rsaquo;",
            "attrs": {
              "href": "https://ubuntu.com/community"
            }
          }
        }
      }
    ]
  ) }}

  {{ vf_divided_section(
    title={
      "text": "即刻行动",
    },
    padding="deep",
    blocks=[
      {
        "type": "divided-block",
        "items": [
          {
            "title_text": "下载",
            "contents": [
              {
                "type": "description",
                "item": {
                  "type": "text",
                  "content": "无论您是想配置一个简易的文件服务器还是构建一个 5 万节点的云平台，都可以 Ubuntu Server 来完成，还可享受五年的常规安全维护。"
                }
              },
              {
                "type": "cta-block",
                "item": {
                  "primary": {
                    "content_html": "立即下载",
                    "attrs": {
                      "href": "/download#server"
                    }
                  }
                }
              }
            ]
          },
          {
            "title_text": "订阅 Ubuntu Pro",
            "contents": [
              {
                "type": "description",
                "item": {
                  "type": "text",
                  "content": "透过 Canonical 取得有关 Ubuntu Server 的最新安全更新和支持。"
                }
              },
              {
                "type": "cta-block",
                "item": {
                  "secondaries": [
                    {
                      "content_html": "探索 Ubuntu Pro",
                      "attrs": {
                        "href": "/pro"
                      }
                    }
                  ],
                  "link": {
                    "content_html": "联系我们讨论需求&nbsp;&rsaquo;",
                    "attrs": {
                      "href": "/contact"
                    }
                  }
                }
              }
            ]
          }
        ]
      }
    ]
  ) }}

{% endblock %}
