<nav class="p-navigation--secondary">
  <div class="row">
    <div class="col-12 u-equal-height">
      <a class="p-navigation--secondary__banner u-hide--nav-threshold-down" href="/server">
        <h5 class="p-navigation--secondary__logo">
          服务器
        </h5>
      </a>
      <ul class="breadcrumbs--secondary">
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link {% if request.path == '/server' %}p-link--active{% else %}p-link--soft{% endif %}" href="/server">概览</a>
        </li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link p-link--soft" href="https://ubuntu.com/server/docs">Ubuntu Server文档</a>
        </li>
      </ul>
     
    </div>
  </div>
</nav>
