{% extends "templates/base.html" %}

{% block title %}404 - Page not found{% endblock %}

{% block meta_description %}Ubuntu是适用于企业服务器、桌面电脑、云、IoT物联网的现代化开源Linux操作系统。Ubuntu官网。{% endblock %}


{% block content %}
  <div class="p-strip is-deep">
    <hr class="p-rule is-fixed-width" />
    <div class="u-fixed-width">
      <div class="p-section--deep">
        <h1 class="p-heading--display">404</h1>
      </div>
      <p class="p-heading--1">找不到页面</p>
      <p class="p-heading--2">我们找不到您要访问的页面，请<a href="/">返回首页</a>。</p>
      <p class="p-heading--2">如果您认为这是一个错误，可以在此<a href="https://github.com/canonical/cn.ubuntu.com/issues/new">提交问题反馈</a>。</p>
    </div>
  </div>
{% endblock content %}
