{% extends "templates/base.html" %}

{% block title %}Ubuntu | Page not found{% endblock %}

{% block extra_body_class %}error404{% endblock %}

{% block head_extra %}{% endblock %}

{% block header %}
<div class="row no-border hero-box">
	<div class="inner-wrapper">
		<div class="six-col">
			<img src="{{ STATIC_URL }}img/image-404.svg" alt="Error owl" />
		</div>
		<div class="six-col last-col">
			<h1>404: Page not found.</h1>
			<p class="intro">Sorry, we couldn&rsquo;t find that page.</p>
		</div>
	</div>
</div><!-- / .row -->
{% endblock %}
{% block content %}
{% endblock content %}