{% extends "templates/base.html" %}

{% block title %}404 - Page not found{% endblock %}

{% block header %}

<div class="p-strip is-deep">
  <div class="row u-equal-height">
    <div class="col-6 u-vertically-center u-align--center">
        <img src="/static/img/image-404.svg" alt="Error owl" style="height: 365px; width:360px"/>
    </div>
    <div class="col-6 u-vertically-center u-align--center">
      <div>
        <h1>404: 找不到網頁.</h1>
        <p>对不起, 我们找不到那个页面</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block content %}
{% endblock content %}
