{% extends "templates/base.html" %}

{% block title %}500 - Internal server error{% endblock %}

{% block meta_description %}Ubuntu是适用于企业服务器、桌面电脑、云、IoT物联网的现代化开源Linux操作系统。Ubuntu官网。{% endblock %}

{% block content %}
  <div class="p-strip is-deep">
    <hr class="p-rule is-fixed-width" />
    <div class="u-fixed-width">
      <div class="p-section--deep">
        <h1 class="p-heading--display">500</h1>
      </div>
      <p class="p-heading--1">服务器问题</p>
      <p class="p-heading--2">我们无法加载此页面，请尝试重新加载或提交问题反馈。</p>
      <p class="p-heading--2">
        提示：这可能是一个<a href="https://github.com/canonical/cn.ubuntu.com/issues/new">已知问题</a>，我们正在积极修复中。
      </p>
    </div>
  </div>
{% endblock content %}
