{% extends "base_index.html" %}

{% from "_macros/vf_blog.jinja" import vf_blog %}
{% from "_macros/vf_basic-section.jinja" import vf_basic_section %}
{% from "_macros/vf_equal-heights.jinja" import vf_equal_heights %}
{% from "_macros/vf_tiered-list.jinja" import vf_tiered_list %}
{% from "_macros/vf_logo-section.jinja" import vf_logo_section %}

{% block title %}Ubuntu中国官网{% endblock %}

{% block body_class %}is-dark{% endblock %}

{% block page_content %}

  <noscript>
    <style>
      .p-takeover-animation {
        animation: none;
      }
    </style>
  </noscript>

  <!-- Default Takeover: Download the latest Ubuntu -->
  <section data-lang="all" id="takeover" class="p-strip is-dark">
    <div class="grid-row p-takeover-animation" id="takeover-animation">
      <div class="grid-col-6">
        <div class="p-section--shallow">
          <h1 id="takeover-title">Ubuntu {{ releases.latest.short_version }}有什么新功能 ?</h1>
          <h2 id="takeover-subtitle">Raspberry Pi的Ubuntu桌面，最新的桌面功能和微云。</h2>
        </div>
        <hr class="p-rule--muted" />
        <div id="takeover-ctas">
          <p>
            <a id="takeover-primary-url" href="/download" class="p-button--positive">下载Ubuntu{{ releases.latest.short_version }}</a>
          </p>
        </div>
      </div>
      <div class="grid-col-2 u-vertically-center u-align--center u-hide--medium u-hide--small">
        <picture>
          <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                  media="(max-width: 536px)" />
          {{ image(url="https://assets.ubuntu.com/v1/33b5133c-Noble-Numbat-optimised.svg",
                    alt="",
                    width="200",
                    hi_def=True,
                    loading="auto",
                    attrs={"id": "takeover-image"}) | safe
          }}
        </picture>
      </div>
    </div>
  </section>

  {{ vf_basic_section(
    title={"text": "现代化的企业与开源"},
    is_split_on_medium=true,
    items=[
      {
        "type": "description",
        "item": {
          "type": "html",
          "content": '<h3 class="p-heading--5">来自 Ubuntu 的发布者。安全，支持，代管服务。</h3>'
        }
      },
      {
        "type": "description",
        "item": {
          "type": "text",
          "content": "Canonical 是 Ubuntu 发行商，致力于提供开源安全软件、支持与服务。我们的产品组合涵盖範圍，从最小规模的设备到最大规模的云，从内核到容器，从数据库到 AI 等各种关键系统元素。我们的客户包括顶尖的技术品牌、新兴的初创企业、政府以及家庭用户，Canonical 致力于为每一位用户提供值得信赖的开源解决方案。"
        }
      },
      {
        "type": "cta-block",
        "item": {
          "link": {
            "content_html": "联系 Canonical&nbsp;&rsaquo;",
            "attrs": {
              "href": "/contact"
            }
          }
        }
      }
    ]
  ) }}

  {{ vf_blog(title={"text": "最新博客动态"},
    template_config={"enabled": True, "template_container_id": "articles"}) }}

  {% call(slot) vf_equal_heights(
    title_text="广泛的產品組合",
    image_aspect_ratio_medium="2-3",
    image_aspect_ratio_small="2-3",
    items=[
      {
        "title_text": "以坚实统一的平台，支持所有开源生态",
        "image_html": image(url="https://assets.ubuntu.com/v1/a29ed679-yi_jian_shi_tong_yi_de_ping_tai_zhi_chi_suo_you_kai_yuan_sheng_tai.jpg",
            alt="",
            width="852",
            height="1278",
            hi_def=True,
            attrs={"class": "p-image-container__image"},
            loading="lazy"),
        "description_html": "<p>基于全球广泛使用的 Linux 操作系统，自信构建面向未来、稳定可靠的平台。</p>",
        "cta_html": "<a href='/pro'>订阅 Ubuntu Pro&nbsp;&rsaquo;</a>"
      },
      {
        "title_text": "云端的最佳选择",
        "image_html": image(url="https://assets.ubuntu.com/v1/c88cc1d8-yun_duan_de_zui_jia_xuan_ze.jpg",
            alt="",
            width="852",
            height="1278",
            hi_def=True,
            attrs={"class": "p-image-container__image"},
            loading="lazy"),
        "description_html": "<p>从小型私有云到大规模云环境，灵活应对各种业务需求。</p>",
        "cta_html": "<a href='/infrastructure'>基础架构解决方案&nbsp;&rsaquo;</a>"
      },
      {
        "title_text": "多云数据与 AI 赋能",
        "image_html": image(url="https://assets.ubuntu.com/v1/c9594f95-duo_yun_shu_ju_yu_ai_fu_neng.jpg",
            alt="",
            width="852",
            height="1278",
            hi_def=True,
            attrs={"class": "p-image-container__image"},
            loading="lazy"),
        "description_html": "<p>借力 Canonical 的多云数据与人工智能解决方案，专注创新，实现高效运维。</p>",
        "cta_html": "<a href='/ai'>以开源工具部署 AI 项目&nbsp;&rsaquo;</a>"
      },
      {
        "title_text": "为物联网及与边缘计算量身打造",
        "image_html": image(url="https://assets.ubuntu.com/v1/1e760355-wei_wu_lian_wang_ji_yu_bian_yuan_ji_suan_liang_shen_da_zao.jpg",
            alt="",
            width="852",
            height="1278",
            hi_def=True,
            attrs={"class": "p-image-container__image"},
            loading="lazy"),
        "description_html": "<p>出厂即具安全与自动更新能力，让设备始终保持最佳状态。</p>",
        "cta_html": "<a href='/internet-of-things'>物联网中的 Ubuntu&nbsp;&rsaquo;</a>"
      }
    ]
  ) %}
    {% if slot == "description" %}
      <p>
        优先重视可靠度，为降低基础架构成本而设计。
      </p>
    {% endif %}
  {% endcall %}

  {%- call(slot) vf_tiered_list(is_description_full_width_on_desktop=false, is_list_full_width_on_tablet=true) -%}
    {%- if slot == 'title' -%}
      <h2>加速创新</h2>
    {%- endif -%}

    {%- if slot == 'description' -%}
      <p>我们与科技领域的顶级企业合作，共同扩大开源技术的影响力。</p>
    {%- endif -%}

    {%- if slot == 'list_item_title_1' -%}
      <h3 class="p-heading--5">云计算</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_1' -%}
      <p>以 Ubuntu 赋能云端部署，轻松实现高效与可扩展性。</p>

      {% call(slot) vf_logo_section(
        title={"text": ""},
        top_rule_variant="none",
        padding="none",
        mode="minimal",
        blocks=[
          {
            "type": "logo-block",
            "item": {
              "logos": [
                image(url="https://assets.ubuntu.com/v1/37cdf96b-aws_logo.png",
                    alt="AWS",
                    width="151",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
                image(url="https://assets.ubuntu.com/v1/fd400ad4-google_cloud_logo.png",
                    alt="Google Cloud",
                    width="369",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
                image(url="https://assets.ubuntu.com/v1/052a776b-ibm_cloud_logo.png",
                    alt="IBM Cloud",
                    width="292",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
                image(url="https://assets.ubuntu.com/v1/e3c7b0cd-microsoft_azure_logo.png",
                    alt="Microsoft Azure",
                    width="272",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
                image(url="https://assets.ubuntu.com/v1/8cb65738-oracle_new_logo.png",
                    alt="Oracle",
                    width="312",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
              ]
            }
          }
        ]
      ) -%}
      {% endcall -%}

      <div class="p-cta-block">
        <a href="https://canonical.com/partners/public-cloud">公有云合作伙伴&nbsp;&rsaquo;</a>
      </div>
    {%- endif -%}

    {%- if slot == 'list_item_title_2' -%}
      <h3 class="p-heading--5">芯片</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_2' -%}
      <p>借助 Canonical 生态，加速创新，缩短产品上市周期。</p>

      {% call(slot) vf_logo_section(
        title={"text": ""},
        top_rule_variant="none",
        padding="none",
        mode="minimal",
        blocks=[
          {
            "type": "logo-block",
            "item": {
              "logos": [
                image(url="https://assets.ubuntu.com/v1/b8e228a6-nvidia_logo.png",
                    alt="Nvidia",
                    width="308",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
                image(url="https://assets.ubuntu.com/v1/a0eebbf1-intel_new_logo.png",
                    alt="Intel",
                    width="152",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
                  image(url="https://assets.ubuntu.com/v1/c44c5da2-qualcom_logo.png",
                    alt="Qualcomm",
                    width="311",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
                  image(url="https://assets.ubuntu.com/v1/9fbc4875-amd_logo.png",
                    alt="AMD",
                    width="222",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
                  image(url="https://assets.ubuntu.com/v1/c52c8a8e-mediatek_logo.png",
                    alt="Mediatek",
                    width="315",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
                  image(url="https://assets.ubuntu.com/v1/6e1f25e1-arm_logo.png",
                    alt="ARM",
                    width="152",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
              ]
            }
          }
        ]
      ) -%}
      {% endcall -%}

      <div class="p-cta-block">
        <a href="https://canonical.com/partners/silicon">释放芯片潜能&nbsp;&rsaquo;</a>
      </div>
    {%- endif -%}

    {%- if slot == 'list_item_title_3' -%}
      <h3 class="p-heading--5">硬件</h3>
    {%- endif -%}

    {%- if slot == 'list_item_description_3' -%}
      <p>Ubuntu 认证硬件，为您带来卓越性能与无缝体验。</p>

      {% call(slot) vf_logo_section(
        title={"text": ""},
        top_rule_variant="none",
        padding="none",
        mode="minimal",
        blocks=[
          {
            "type": "logo-block",
            "item": {
              "logos": [
                image(url="https://assets.ubuntu.com/v1/fc5b3f54-huawei_logo.png",
                    alt="Huawei",
                    width="308",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
                image(url="https://assets.ubuntu.com/v1/5e7f1d7e-lenovo_logo.png",
                    alt="Lenovo",
                    width="202",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
                image(url="https://assets.ubuntu.com/v1/f7cb4855-hp_logo.png",
                    alt="HP",
                    width="130",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
                image(url="https://assets.ubuntu.com/v1/ff84823c-dell_logo.png",
                    alt="Dell",
                    width="145",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
                image(url="https://assets.ubuntu.com/v1/96739842-ibm_logo.png",
                    alt="IBM",
                    width="152",
                    height="312",
                    hi_def=True,
                    output_mode="attrs",
                    attrs={"class": "p-logo-section__logo"},
                    loading="lazy"),
              ]
            }
          }
        ]
      ) -%}
      {% endcall -%}

      <div class="p-cta-block">
        <a href="/certified">认证硬件合作伙伴&nbsp;&rsaquo;</a>
      </div>
    {%- endif -%}
  {%- endcall -%}

  {% call(slot) vf_equal_heights(
    title_text="研讨会、白皮书及案例分享",
    image_aspect_ratio_medium="2-3",
    image_aspect_ratio_small="2-3",
    attrs={ "class": "p-section--deep" },
    items=[
      {
        "description_html": "<a href='/engage/adlink-funcode-case-study'>加速上市：ADLINK 和 Funcode 联手借力 Ubuntu 打造 AI 驱动工业相机</a>",
        "image_html": image(url="https://assets.ubuntu.com/v1/bd49a858-jia_su_shang_shi.jpg",
            alt="",
            width="852",
            height="1278",
            hi_def=True,
            attrs={"class": "p-image-container__image"},
            loading="lazy"),
      },
      {
        "description_html": "<a href='/engage/pentera-centos-migration-to-ubuntu'>打破大众对于从 CentOS移转的误解：Pentera 的无缝迁移实际案例</a>",
        "image_html": image(url="https://assets.ubuntu.com/v1/eaffe75d-da_po_da_zhong_dui_yu_cong_centosyi_zhuan_de_wu_jie.jpg",
            alt="",
            width="852",
            height="1278",
            hi_def=True,
            attrs={"class": "p-image-container__image"},
            loading="lazy"),
      },
      {
        "description_html": "<a href='/engage/2024-automotive-trends'>视野拓展：汽车行业领导者趋势指南</a>",
        "image_html": image(url="https://assets.ubuntu.com/v1/b032ce21-shi_ye_tuo_zhan.jpg",
            alt="",
            width="852",
            height="1278",
            hi_def=True,
            attrs={"class": "p-image-container__image"},
            loading="lazy"),
      },
    ]
  ) %}
    {% if slot == "description" %}
      <div class="p-cta-block">
        <a href="/engage" class="p-button">阅读更多内容</a>
      </div>
    {% endif %}
  {% endcall %}

  <script>
    function getPrimaryParentLanguage() {
      /**
       * Get the primary parent language
       *
       * Get the user's default language, and if it's a sub-language,
       * infer the parent language - e.g. for "en-GB", infer "en"
       */
      var language = navigator.language || navigator.userLanguage || navigator.browserLanguage || navigator.systemLanguage;

      if (language.indexOf('-') !== -1) {
        language = language.split('-')[0];
      }

      return language
    };

    // get the users language and remove any extra detail suffix (e.g. -gb)
    var primaryParentLanguage = getPrimaryParentLanguage();

    // get notices matching the user language
    var notices = document.querySelectorAll(".notice[lang=" + primaryParentLanguage + "]");

    // display only one matching notice
    if (notices.length > 0) {
      notices[0].classList.remove("u-hide")
    }

    var baseTakeover = document.getElementById('takeover');
    var takeoverAnimation = document.getElementById("takeover-animation");

    if (window.localStorage && baseTakeover) {
      /**
       * Choose a takeover
       * ===
       *
       * From the list of provided takeovers from /.takeovers.json,
       * choose one (that matches the client's language), and replace the
       * base template with it.
       */

      var xhr = new XMLHttpRequest();
      if (window.ActiveXObject) {
        xhr = new ActiveXObject('Microsoft.XMLHTTP');
      }

      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            var selectedTakeovers = JSON.parse(xhr.responseText);

            if (selectedTakeovers && selectedTakeovers.length > 0) {
              var selectedIndex = null;

              if (window.localStorage.getItem('selected_takeover_index') !== null) {
                // If we previously visited a takeover, increment the number to show the next takeover
                var nextIndex = parseInt(window.localStorage.getItem('selected_takeover_index')) + 1
                selectedIndex = nextIndex < selectedTakeovers.length ? nextIndex : 0;
              } else {
                // Otherwise, randomly choose one of the takeovers and store it for next time
                selectedIndex = Math.floor(Math.random() * selectedTakeovers.length);
              }
              showTakeover(selectedTakeovers, selectedIndex);

              // Store the current takeover index
              localStorage.setItem('selected_takeover_index', selectedIndex)
            }
          } else {
            takeoverAnimation.className = takeoverAnimation.className.replace(" is-loading", "");
            takeoverAnimation.className += " is-loaded";
          }
        }
      };

      xhr.open("GET", "/takeovers.json", true);
      xhr.send();
      takeoverAnimation.className += " is-loading";
    }

    function showTakeover(takeovers, index) {
      // Default parameter
      index = typeof index !== 'undefined' ? index : 0;

      // Get HTML elements
      var takeover = document.getElementById("takeover");
      var title = document.getElementById("takeover-title");
      var subtitle = document.getElementById("takeover-subtitle");
      var image = document.getElementById("takeover-image");
      var primaryUrl = document.getElementById("takeover-primary-url");
      var secondaryUrl = document.getElementById("takeover-secondary-url");

      // Set values to homepage takeover
      var selectedTakeover = takeovers[index];

      takeover.removeAttribute("style");

      // Add takeover classes
      var classNameString = " js-takeover p-takeover--" + selectedTakeover.class;
      takeover.className += classNameString;

      // Set takeover content
      title.innerHTML = selectedTakeover.title;
      subtitle.innerHTML = selectedTakeover.subtitle;
      image.src = selectedTakeover.header_image;
      image.srcset = selectedTakeover.header_image;
      image.onload = function() {
        // Remove animation delay
        if (takeoverAnimation) {
          takeoverAnimation.className = takeoverAnimation.className.replace(" is-loading", "");
          takeoverAnimation.className += " is-loaded";
        }
      }

      if (image.getAttribute("src") === "") {
        takeoverAnimation.className = takeoverAnimation.className.replace(" is-loading", "");
        takeoverAnimation.className += " is-loaded";
      }

      image.removeAttribute("style");
      image.width = selectedTakeover.image_width;
      image.height = selectedTakeover.image_height;

      primaryUrl.href = selectedTakeover.primary_url;
      primaryUrl.textContent = selectedTakeover.primary_cta;
      if (selectedTakeover.secondary_url && selectedTakeover.secondary_url !== "") {
        secondaryUrl.href = selectedTakeover.secondary_url;
        secondaryUrl.innerHTML = selectedTakeover.secondary_cta + "&nbsp;&rsaquo;";
      }

      dataLayer.push({
        event: "NonInteractiveGAEvent",
        eventCategory: "cn.ubuntu.com-impression-takeover",
        eventAction: "from:" + window.location.href + " to:" + selectedTakeover.primary_url,
        eventLabel: selectedTakeover.primary_cta,
        eventValue: undefined,
      });
    }
  </script>

  <script src="{{ versioned_static('js/dist/latest-news.js') }}"></script>
  <script>
    canonicalLatestNews.fetchLatestNews({
      imageClasses: ["p-image-container__image"],
      limit: "4",
      articlesContainerSelector: "#articles",
      articleTemplateSelector: "#template",
      excerptLength: 180,
    })
  </script>

{% endblock page_content %}
