{% extends "base_index.html" %}

{% block meta_description %}Canonical旗下Ubuntu Canonical旗下Ubuntu 是世界第三大操作系统，是基于Linux系统的免费开源软件平台。目前Ubuntu中文官网，Ubuntu中文社区，Ubuntu平台等中文Ubuntu网站已全面开放。{% endblock %}
{% block meta_keywords %}Linux操作系统,Linux手机系统,Linux系统,ubuntu官网,ubuntu平台开发,ubuntu系统,ubuntu中文官网,ubuntu中文社区,中文ubuntu,开源操作系统{% endblock %}

{% block extra_body_class %}homepage bq-russia-takeover{% endblock %}

{% block takeover_content %}
	{% include "takeovers/_bq_russia_takeover.html" %}
{% endblock takeover_content %}

{% block footer_content %}
	{% include "takeovers/_footer_homepage.html" %}
{% endblock footer_content %}
