<div class="p-strip p-contextual-footer">
  <div class="row p-divider">      
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--four">下载和安装</h3>
      <p>下载Ubuntu桌面系统和替换您现在的操作系统。在Windows或MacOS上的安装Ubuntu非常简单，或者与之共存运行。</p>
      <p><a href="/download" >现在下载&nbsp;›</a></p>
    </div>      
      
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--four">专业支持</h3>
      <p>获取Canonical的专业支持以管理您的Ubuntu桌面系统，云和服务器部署。</p>
      <p><a class="p-button--neutral" href="/support" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Contextual footer link', 'eventAction' : 'Buy Ubuntu Advantage', 'eventLabel' : 'Buy Ubuntu Advantage-CN', 'eventValue' : undefined });">购买Ubuntu订阅服务</a></p>
    </div>      
      
    <div class="col-4 p-divider__block">
      <h3 class="p-heading--four">Ubuntu风味版本</h3>
      <p>Ubuntu风味版提供了一种特别的方式来体验不同默认应用程序、设置的Ubuntu，其由Ubuntu归档（Ubuntu Archive）提供软件包和更新。</p>
      <p><a class="p-link--external" href="https://ubuntu.com/download/flavours" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Contextual footer link', 'eventAction' : '/download/ubuntu-flavours-CN', 'eventLabel' : 'Ubuntu flavours', 'eventValue' : undefined });">了解更多关于Ubuntu风味版本的内容</a></p>
    </div>       
  </div>
</div>