<section class="{% if strip %}{{ strip }}{% else %}p-strip{% endif %}--light is-deep" id="education">
    <div class="row u-equal-height">
      <div class="col-4 u-hide--medium u-hide--small u-align--center u-vertically-center">
        {{
          image(
              url="https://assets.ubuntu.com/v1/a22613fc-train-with-ubuntu_AW.svg",
              alt="",
              width="200",
              height="200",
              hi_def=True,
              loading="auto",
          ) | safe
        }}
      </div>
      <div class="col-8">
        <h2>
          教育折扣
        </h2>        
        <p>为了支持那些在学校、研究机构和学术界使用Ubuntu的用户，Canonical很高兴为获得批准的机构提供折扣计划。请在与我们团队的联系中介绍您对该计划的兴趣。</p>
        <p>
          <a class="p-button" href="/contact">联系我们</a>
        </p>
      </div>
    </div>
  </section>