<section class="p-strip">
    <div class="row">
      <div class="col-7">
        <h2>{% if heading %}{{ heading }}{% else %}SoC, 开发板和设备适配{% endif %}</h2>
        <p class="p-heading--four">为您的SoC、开发板或设备提供一个经验证且与公共Ubuntu LTS内核兼容的定制内核，以实现广泛的应用程序的兼容性和开发者生产力。</p>
      </div>
    </div>
  
    <div class="row p-divider" style="padding-top: 1.9rem;">
      <div class="col-6 p-divider__block">
        <h3 class="p-heading--five">BSP之外</h3>
        <p>Ubuntu应用程序依赖于各种各样的内核功能，如安全模块、文件系统和容器基元。通过使用Canonical构建的定制内核可确保您的设备内核满足Ubuntu应用程序的要求。使能的费用从$25k到$200k不等，作为一次性费用，具体取决于定制的主板或芯片组。Canonical提供与标准Ubuntu LTS版本匹配或通向下一个LTS的过渡版本的定制内核。</p>
      </div>
  
      <div class="col-6 p-divider__block">
        <h3 class="p-heading--five">持续的测试和安全更新</h3>
        <p>关于每年$25k费用的收取，Canonical将会为您的主板执行持续的安全维护和测试。当在Ubuntu中安全问题得到修复时，补丁也将在您的主板上进行测试。这些安全更新将会发布到Snap商店使得在您的设备上可用。更新控制可用于在更新自动应用前进行额外的测试和验证。测试将涵盖内核和基本系统deb和snap，以及指定的任何特定的开发板和应用的测试。</p>
      </div>
    </div>
  </section>
  
  <section class="p-strip--light">
    <div class="row u-vertically-center">
      <div class="col-8">
        <h2>开发板和设备的认证</h2>
        <p class="p-heading--four">适用于企业级设备的Ubuntu认证标志可保证长期安全性、应用程序兼容性、支持和操作一致性。</p>
        <p>Canonical对每个更新和安全补丁的长期自动化测试可确保设备在认证的Ubuntu LTS版本的整个生命周期内可靠地运行。认证的设备必须运行Canonical内核。我们需要4台认证的开发板或设备以进行连续测试。对于使用现有认证的板子来开发的设备，运行着标准认证的内核，我们将此要求减少到2台。</p>
        <p>对预装snap的设备的认证可包括这些snap应用的完整性验证。</p>
      </div>
    
      <div class="col-2 col-start-large-10 u-hide--small">
        {{
          image(
          url="https://assets.ubuntu.com/v1/706b259a-ubuntu_certified_hex.svg",
          alt="Ubuntu Certified",
          width="127",
          height="159",
          hi_def=True,
          loading="lazy",
          attrs={"class": "col-2 col-start-large-10 u-hide--small"},
          ) | safe
        }}
      </div>
  
    </div>
    <div class="u-fixed-width">
      <a href="/contact" class="p-button--positive js-invoke-modal">联系我们以认证您的开发板或设备</a>
    </div>
  </section>