<div class="u-fixed-width">
    <h2>通过 Ubuntu Pro 桌面版让企业管理<br>更安全</h2>
    <p>Ubuntu Pro 桌面版订阅是一项综合的订阅，为开发人员和组织提供企业级安全性、管理工具和扩展的支持。 个人可在最多五台机器上免费供使用 Ubuntu Pro 桌面版订阅。</p>
</div>
<div class="row u-vertically-center">
    <div class="col-6">
        <ul class="p-list">
            <li class="p-list__item is-ticked"><a href="/support/esm">完整开源堆栈</a>的安全更新</li>
            <li class="p-list__item is-ticked">高级的<a href="https://ubuntu.com/engage/microsoft-active-directory">Active Directory</a> 和 LDAP 集成</li>
            <li class="p-list__item is-ticked">资产<a href="https://landscape.canonical.com/landscape-features">监控和管理</a></li>
            <li class="p-list__item is-ticked"><a href="https://ubuntu.com/security/certifications#fips">FIPS 140-2 认证模块</a>和<a href="https://ubuntu.com/security/certifications#cis">CIS 加固</a></li>
            <li class="p-list__item is-ticked">通过<a href="https://ubuntu.com/livepatch">内核实时补丁</a>最大限度地减少滚动重启</li>
            <li class="p-list__item is-ticked">可选的工作日或7x24小级别支持</li>
        </u
        l>
   </div>
    <div class="col-5 u-align--center u-hide--medium u-hide--small">
        {{
          image(
            url="https://assets.ubuntu.com/v1/71baccc3-ubuntu-advantage-circular.svg",
            alt="",
            height="250",
            width="250",
            hi_def=True,
            loading="lazy"
          ) | safe
        }}
    </div>
</div>
