<section class="p-strip--light is-deep is-bordered">
    <div class="row u-equal-height">
      <div class="col-8 p-card">
        <h2>公有云上的Ubuntu Pro</h2>
        <ul class="p-list">
          <li class="p-list__item is-ticked">Ubuntu Pro提供10年的软件包更新和安全维护</li>
          <li class="p-list__item is-ticked">内核<a href="https://ubuntu.com/livepatch" class="p-link--external">Livepatch</a>允许在不重启的情况下应用内核安全更新，从而实现持续的安全修复和更长的正常运行时间和更高的可用性</li>
          <li class="p-list__item is-ticked">定制的FIPS和通用标准EAL合规组件以用于在FedRAMP、PCI、HIPAA和ISO等合规制度下的环境中</li>
          <li class="p-list__item is-ticked">Ubuntu基础架构和应用程序仓库的补丁覆盖数百个开源工作负载，包括Apache Kafka、MongoDB、Node.js、RabbitMQ、Redis等</li>
        </ul>
        <div class="row">
          <div class="col-4">
            <a class="p-button--positive p-link--external" href="https://ubuntu.com/aws/pro">了解更多AWS上的Ubuntu Pro的内容</a>
          </div>
          <div class="col-4">
  
            <a class="p-button--positive p-link--external" href="https://ubuntu.com/azure/pro">了解更多Azure上的Ubuntu Pro的内容</a>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
              <a class="p-button--positive p-link--external" href="https://ubuntu.com/gcp/pro">了解更多GCP上的Ubuntu Pro的内容</a>
          </div>
        </div>
      </div>
      <div class="col-4 p-card">
        <h3>Ubuntu Server</h3>
        <ul class="p-list">
          <li class="p-list__item is-ticked">Ubuntu LTS提供5年的维护和安全更新</li>
          <li class="p-list__item is-ticked">Canonical直接提供企业级支持和管理工具</li>
          <li class="p-list__item is-ticked">适用于所有领先公有云上的不同企业规模的工作负载</li>
          <li class="p-list__item is-ticked">免许可费，无论您运行多少镜像</li>
        </ul>
        <a class="p-button p-link--external" href="https://aws.amazon.com/marketplace/pp/B087QQNGF1?qid=1591613411512&sr=0-2&ref_=srh_res_product_title">AWS上的Ubuntu Server</a>
        <a class="p-button p-link--external" href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/canonical.0001-com-ubuntu-server-focal?tab=Overview">Azure上的Ubuntu Server</a>
        <a class="p-button p-link--external" href="https://console.cloud.google.com/marketplace/browse?q=ubuntu%20canonical">GCP上的Ubuntu Server</a>
      </div>
    </div>
  </section>