{% extends "templates/base.html" %}

{% if title %}{% block title %}下载Ubuntu桌面系统{{ title }}{% endblock %}{% endif %}
{% if meta_description %}{% block meta_description %}Ubuntu {{ releases.lts.short_version }}下载, Ubuntu {{ releases.latest.full_version }}下载, Ubuntu系统下载，Ubuntu 18.04下载，Ubuntu 16.04下载，Ubuntu 14.04下载{{ meta_description }}{% endblock %}{% endif %}
{% block meta_copydoc %}https://docs.google.com/document/d/1-rYu9BV4mN04yXn01QhBillOyHQOeuCbuGKiJQpJjYs/edit{% endblock meta_copydoc %}
{% block content %}

{% include "download/secondary-nav.html" %}

<section class="p-strip--suru-topped">
    <div class="u-fixed-width">
      <h1 class="u-no-margin--bottom">
        下载Ubuntu桌面系统
      </h1>
    </div>
  </section>
  <section class="p-strip--light">
    <div class="u-fixed-width">
      <h2>Ubuntu {{ releases.lts.full_version_desktop }} LTS</h2>
      <div class="row u-equal-height p-divider u-no-padding--left u-no-padding--right"> 
        <div class="col-8 p-divider__block">
          <p class="u-no-padding--top">下载专为桌面PC和笔记本精心打造的Ubuntu长期支持(<abbr title="Long-term support">LTS</abbr>)版本。LTS意为“长期支持”，一般为5年。LTS版本将提供免费安全和维护更新至 {{ releases.lts.eol }}。</p>
          <p><a href="{{ releases.lts.release_notes_url }}" class="p-link--external">Ubuntu {{ releases.lts.short_version }} LTS发布说明</a></p>
          <p>推荐的系统配置要求：</p>
          <ul class="p-list is-split">
            <li class="p-list__item is-ticked">双核2 GHz处理器或更高</li>
            <li class="p-list__item is-ticked">4 GB系统内存</li>
            <li class="p-list__item is-ticked">25 GB磁盘存储空间</li>
            <li class="p-list__item is-ticked">可访问的互联网</li>
            <li class="p-list__item is-ticked">光驱或USB安装介质</li>
          </ul>
        </div>
        <div class="col-4">
          <p>
            <a class="p-button--positive is-wide" href="https://releases.ubuntu.com/{{ releases.lts.short_version }}/ubuntu-{{ releases.lts.full_version_desktop }}-desktop-amd64.iso" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Download', 'eventAction' : 'Desktop', 'eventLabel' : '{{ releases.lts.short_version }}', 'eventValue' : undefined });">下载</a>
            <script>performance.mark("Download (Desktop) button rendered")</script>
          </p>
          <p><small>如需其他版本的Ubuntu，包括BT下载，网络安装器，本地镜像站和历史版本，请访问 <a href="/download/alternative-downloads">其他下载</a>。</small></p>
        </div>
      </div>
    </div>
  
    {% if releases.latest.short_version > releases.lts.short_version %}
    <div class="p-strip is-shallow">
      <div class="u-fixed-width">
        <hr>
      </div>
    </div>
  
    <div class="u-fixed-width">
      <h2>Ubuntu {{ releases.latest.full_version }}</h2>
      <div class="row u-equal-height p-divider u-no-padding--left u-no-padding--right">
        <div class="col-8 p-divider__block">
          <p class="u-no-padding--top">专为桌面PC和笔记本精心打造的最新版Ubuntu操作系统，Ubuntu {{ releases.latest.full_version }}拥有9个月安全和维护更新支持至{{ releases.latest.eol }}。</p>
          <p>推荐的系统配置和要求与Ubuntu {{ releases.lts.short_version }} <abbr title="Long-term support">LTS</abbr>一致。</p>
          <p><a href="{{ releases.latest.release_notes_url }}" class="p-link--external">Ubuntu {{ releases.latest.short_version }} 发布说明</a></p>
        </div>
        <div class="col-4">
          <p>
            <a class="p-button--positive is-wide js-latest-download" href="https://releases.ubuntu.com/{{ releases.latest.full_version }}/ubuntu-{{ releases.latest.full_version }}-desktop-amd64.iso" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Download', 'eventAction' : 'Desktop', 'eventLabel' : '{{ releases.latest.short_version }}', 'eventValue' : undefined });">下载</a>
          </p>
          <p>
            <small><a href="/download/alternative-downloads">其他下载和BT&nbsp;&rsaquo;</a></small>
          </p>
        </div>
      </div>
    </div>
    {% endif %}
  </section>
  
  {% include '/shared/_everywhere.html' %}
  
  <section class="p-strip--light">
    <div class="u-fixed-width">
      <h2>切换到Ubuntu的简单方法</h2>
    </div>
  
    <div class="row u-equal-height">
      <div class="col-4 p-card">
        <div class="p-heading-icon--small">
          <div class="p-heading-icon__header">
            {{
              image(
                  url="https://assets.ubuntu.com/v1/cb3ecebb-picto-ubuntu.svg",
                  alt="",
                  width="60",
                  height="60",
                  hi_def=True,
                  loading="lazy",
                  attrs={"class": "p-heading-icon__img"},
                ) | safe
            }}
            <h3 class="p-heading-icon__title">从旧版本</h3>
          </div>
        </div>
        <p>如您正在使用Ubuntu，您可以通过<a class="p-link--external" href="https://ubuntu.com/tutorials/tutorial-upgrading-ubuntu-desktop">软件更新器</a>进行升级。</p>
        <ul class="p-list">
          <li class="p-list__item"><a class="p-link--external" href="https://ubuntu.com/tutorials/tutorial-burn-a-dvd-on-ubuntu">如何在Ubuntu上刻录DVD</a></li>
          <li class="p-list__item"><a class="p-link--external" href="https://ubuntu.com/tutorials/tutorial-create-a-usb-stick-on-ubuntu">如何在Ubuntu上创建一个启动U盘</a></li>
        </ul>
      </div>
  
      <div class="col-4 p-card">
        <div class="p-heading-icon--small">
          <div class="p-heading-icon__header">
            {{
              image(
                  url="https://assets.ubuntu.com/v1/08563efa-picto-windows.svg",
                  alt="",
                  width="60",
                  height="60",
                  hi_def=True,
                  loading="lazy",
                  attrs={"class": "p-heading-icon__img"},
                  ) | safe
            }}
            <h3 class="p-heading-icon__title">从Windows</h3>
          </div>
        </div>
        <p>如您正在使用Windows 10或其他配有64位处理器的电脑，我们推荐下载64位镜像。</p>
        <ul class="p-list">
          <li class="p-list__item"><a class="p-link--external" href="https://ubuntu.com/tutorials/tutorial-burn-a-dvd-on-windows">如何在Windows上刻录DVD</a></li>
          <li class="p-list__item"><a class="p-link--external" href="https://ubuntu.com/tutorials/tutorial-create-a-usb-stick-on-windows">如何在Windows上创建一个启动U盘</a></li>
        </ul>
      </div>
  
      <div class="col-4 p-card">
        <div class="p-heading-icon--small">
          <div class="p-heading-icon__header">
            {{
              image(
                  url="https://assets.ubuntu.com/v1/4239507e-picto-mac.svg",
                  alt="",
                  width="60",
                  height="60",
                  hi_def=True,
                  loading="lazy",
                  attrs={"class": "p-heading-icon__img"},
                ) | safe
            }}
            <h3 class="p-heading-icon__title">从macOS</h3>
          </div>
        </div>
        <p>大多数配备英特尔处理器的Mac都可以使用64位或Mac镜像。如果64位镜像不能工作，请尝试使用Mac镜像。</p>
        <ul class="p-list">
          <li class="p-list__item"><a class="p-link--external" href="https://ubuntu.com/tutorials/tutorial-burn-a-dvd-on-macos">如何在macOS上刻录DVD</a></li>
          <li class="p-list__item"><a class="p-link--external" href="https://ubuntu.com/tutorials/tutorial-create-a-usb-stick-on-macos">如何在macOS上创建一个启动U盘</a></li>
        </ul>
      </div>
    </div>
  </section>

  {% with first_item="_download_desktop_installation",
  first_item_class="",
  second_item="_download_try_desktop",
  second_item_class="",
  third_item="_download_helping_hands",
  third_item_class="" %}
  {% include "shared/contextual_footers/_contextual_footer.html" %}
  {% endwith %}

{% endblock %}
