{% extends "templates/base.html" %}

{% if title %}{% block title %}Ubuntu系统下载{{ title }}{% endblock %}{% endif %}
{% if meta_description %}{% block meta_description %}Ubuntu {{ releases.lts.short_version }}下载, Ubuntu {{ releases.latest.full_version }}下载, Ubuntu 服务器下载， Ubuntu系统下载， Ubuntu官网系统下载， Ubuntu OpenStack{{ meta_description }}{% endblock %}{% endif %}
{% block meta_copydoc %}https://docs.google.com/document/d/1-rYu9BV4mN04yXn01QhBillOyHQOeuCbuGKiJQpJjYs/edit{% endblock meta_copydoc %}
{% block content %}

{% include "download/secondary-nav.html" %}

<section class="p-strip--suru-shape-light is-deep">
  <div class="row u-vertically-center u-pull-up--large">
    <div class="col-6">
      <h1 class="p-heading--2 u-no-margin--bottom"><strong>Ubuntu下载</strong></h1>
      <h2 class="u-no-padding--top u-text--muted">Ubuntu桌面</h2>
      <p>
        快速、免费且充满新功能。最新版本的 Ubuntu桌面版 为开发人员、创作者、游戏玩家和系统管理员提供了新工具和增强功能。
      </p>
      <p>
        下载 Ubuntu桌面 并替换您当前的操作系统或与之同时运行Ubuntu。
      </p>
      <p><a href="/download/desktop" class="p-button--positive">下载Ubuntu桌面版</a></p>
      <p>
        <strong>想要升级系统吗？</strong> <a href="https://ubuntu.com/tutorials/tutorial-upgrading-ubuntu-desktop">参考我们的简易指南</a>
      </p>
    </div>
    <div class="col-6 u-hide--medium u-hide--small u-align--center">
      {{ image (
        url="https://assets.ubuntu.com/v1/95ef22cd-mascots-lobster+jj.png",
        alt="",
        width="540",
        height="230",
        hi_def=True,
        loading="auto"
        ) | safe
      }}
    </div>
  </div>
</section>

<section class="p-strip--light">
    <div class="row u-equal-height">
      <div class="col-1 u-hide--small u-vertically-center u-align--center">
        {{
        image(
        url="https://assets.ubuntu.com/v1/ea34f006-Multipass+logomark_rgb.svg",
        alt="Ubuntu",
        width="40",
        height="40",
        hi_def=True,
        loading="auto",
        ) | safe
        }}
      </div>
      <div class="col-5 u-vertically-center">
        <span>在虚拟机里面使用Ubuntu？适用于Linux，Windows或者macOS上的Ubuntu VM即时迷你云。<br />
          <a href="https://multipass.run/">试试Multipass</a>
        </span>
      </div>
      <div class="col-1 u-hide--small u-vertically-center u-align--center">
        {{
        image(
        url="https://assets.ubuntu.com/v1/08563efa-picto-windows.svg",
        alt="Windows",
        width="40",
        height="40",
        hi_def=True,
        loading="auto",
        ) | safe
        }}
      </div>
      <div class="col-5 u-vertically-center">
        <span>在Windows上使用Ubuntu终端和运行Linux应用程序。<br />
          <a href="https://ubuntu.com/wsl">在适用于Linux的Windows子系统（WSL）上启用Ubuntu</a>
        </span>
      </div>
    </div>
</section>


<section class="p-strip">
  <div class="row">
    <div class="col-6 u-sv3">
      <h3>
        <a href="/download/server/step1">
          Ubuntu服务器版&nbsp;&rsaquo;
        </a>
      </h3>
      <p>无论您是想配置一个简单的文件服务器还是构建一个5万节点的云，您都可以依靠Ubuntu Server版本及其免费的5年升级保证。</p>
    </div>
    <div class="col-6 u-sv3">
      <h3>
        <a href="/download/cloud">
          云上的Ubuntu&nbsp;&rsaquo;
        </a>
      </h3>
      <p>Ubuntu是OpenStack的参考操作系统。在单机上试用Canonical的OpenStack或者在集群上以开始构建生产云（只需添加服务器）。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 u-sv3">
      <h3>
        <a href="https://ubuntu.com/download/ubuntu-flavours">
          Ubuntu风味版
        </a>
      </h3>
      <p>Ubuntu风味版提供了一种特别的方式来体验不同默认应用程序、设置的Ubuntu，其由Ubuntu归档（Ubuntu Archive）提供软件包和更新。</p>
    </div>
    <div class="col-6 u-sv3">
      <h3>
        <a href="/download/iot">
          Ubuntu IoT版&nbsp;&rsaquo;
        </a>
      </h3>
      <p>您是一个想要尝试Ubuntu Core的开发者吗？Ubuntu Core是适用于云和物联网设备，重新设计的，安全的，事务化更新的，轻量级的Ubuntu。
      </p>
    </div>
  </div>
</section>

<section class="p-strip--light">
  <div class="u-fixed-width">
    <h2>其他下载</h2>
    <p>还有其他几种获取Ubuntu系统镜像的方法，包括BT下载，其可能会有更快的下载速度，用于旧系统和特殊配置的网络安装器以及旧（和新）版本的区域镜像的链接。</p>
    <p>
      <a href="/download/alternative-downloads" class="p-button">其他下载</a>
    </p>
  </div>
</section>

{% with first_item="_download_enterprise_support", second_item="_download_documentation", third_item="_download_helping_hands" %}{% include "shared/contextual_footers/_contextual_footer.html" %}{% endwith %}

{% endblock %}