<section class="row strip strip-dark row-hero">
    <div class="strip-inner-wrapper">
        <h1 class="row-hero__heading">Ubuntu 16.10 来了</h1>
        <div class="devices devices--small">
            <img src="{{ STATIC_URL }}img/homepage/takeovers/1610/mobile_devices.svg" alt="Ubuntu on desktop, tablet and phone" class="devices__image" />
        </div>
        <div class="six-col">
            <p class="intro">开始使用snap格式的应用， 并看看Unity 8的真面目</p>
        </div>
        <div class="six-col">
            <p><a href="/download" onclick="_gaq.push(['_trackEvent', 'Homepage Link', '16.10 release takeover', 'Get Ubuntu Desktop']);" class="link-cta-inverted">下载Ubuntu 16.10版本</a></p>
        </div>
        <div class="twelve-col devices devices--medium">
            <img src="{{ STATIC_URL }}img/homepage/takeovers/1610/tablet_devices.svg" alt="Ubuntu on desktop, tablet and phone" class="devices__image" />
        </div>
        <div class="device-animation">
            <ul class="device-animation__list">
                <li class="device-animation__list-item--laptop">
                    <img src="{{ STATIC_URL }}img/homepage/takeovers/1610/Laptop.svg" alt="" />
                </li>
                <li class="device-animation__list-item--tablet">
                    <img src="{{ STATIC_URL }}img/homepage/takeovers/1610/Tablet.svg" alt="" />
                </li>
                <li class="device-animation__list-item--phone">
                    <img src="{{ STATIC_URL }}img/homepage/takeovers/1610/Mobile.svg" alt="" />
                </li>
            </ul>
            <img src="{{ STATIC_URL }}img/homepage/takeovers/1610/logo-ubuntu_cof-white_orange-hex.svg" class="device-animation__cof" />
        </div>
    </div>
</section>
