{% with title="想了解Ubuntu 20.04 LTS的新功能？",
subtitle="了解为什么20.04是一个用于安全云、边缘计算和桌面的新参考平台。",
class="",
header_image="https://assets.ubuntu.com/v1/6d623607-Focal+Fossa_orange_RGB.svg",
image_style="",
image_height="290",
image_width="380",
image_hide_small=true,
equal_cols=true,
primary_url="/download",
primary_cta="获取Ubuntu 20.04 LTS",
primary_cta_class="",
secondary_url="https://live.polyv.cn/watch/1280807",
secondary_cta="参加Ubuntu 20.04 LTS线上发布活动",
lang="en",
locale="" %}
{% include "takeovers/shared/_template.html" %}
{% endwith %}
