{% with title="想了解Ubuntu 20.04 LTS的新功能？",
subtitle="了解为什么20.04是一个用于安全云、边缘计算和桌面的新参考平台。",
class="",
header_image="https://assets.ubuntu.com/v1/6d623607-Focal+Fossa_orange_RGB.svg",
image_style="",
image_height="290",
image_width="380",
image_hide_small=true,
equal_cols=true,
primary_url="/engage/ff-release-party?utm_source=Takeover&utm_medium=Takeover&utm_campaign=CY20_DC_EVT_2004Release_CN",
primary_cta="参加Ubuntu 20.04 LTS线上发布活动",
primary_cta_class="",
secondary_url="/download",
secondary_cta="获取Ubuntu 20.04 LTS",
lang="en",
locale="" %}
{% include "takeovers/shared/_template.html" %}
{% endwith %}
