<section class="row row-hero strip no-border">
    <div class="strip-inner-wrapper strip-dark">
        <div class="twelve-col for-small">
            <img src="{{ STATIC_URL }}img/homepage/takeovers/bq-ru-takeover-small.jpg" />
        </div>
        <div class="five-col">
            <h1>最新抵达俄罗斯的新产品</h1>
            <p class="intro">装有 Ubuntu 的 BQ Aquaris 手机现供购买</p>
            <p><a href="http://insights.ubuntu.com/2015/11/17/bq-aquaris-ubuntu-edition-phones-land-in-russia/" onclick="_gaq.push(['_trackEvent', 'Homepage Link', 'BQ Russian takeover China - 2015-11-17', 'More information link']);" class="link-cta-ubuntu">More information</a></p>
        </div>
    </div>
</section>
