<section class="row strip row-aux">
	<div class="strip-inner-wrapper">
		<div class="seven-col">
			<h2>Ubuntu Kylin/优麒麟</h2>
			<p>Ubuntu Kylin/优麒麟是一款在中国创建的个人电脑操作系统，针对中国用户的需求量身定制&#12290;</p>
			<p><a href="">进一步了解 Ubuntu Kylin/优麒麟&nbsp;&rsaquo;</a></p>
			<p><a href="">下载 Ubuntu Kylin/优麒麟&nbsp;&rsaquo;</a></p>
		</div>
		<div class="five-col text-center last-col">
			<img src="{{ STATIC_URL }}img/desktop/image-kylin.svg" alt="" width="300" height="300" />
		</div>
	</div><!-- /.strip-inner-wrapper -->
</section><!-- /.row -->


<section class="row strip row-aux no-border">
		<div class="strip-inner-wrapper">
	{# ================ A better smartphone experience ================ #}
		<a href="/phone">
			<div class="five-col text-center">
				<img alt="" src="{{ STATIC_URL }}img/homepage/image-phone.png" />
			</div>
			<div class="seven-col last-col">
					<h2>更佳智能手机体验&nbsp;&rsaquo;</h2>
					<p>Ubuntu 使所有人能更容易地找到和使用自己的移动内容&#12290;</p>
			</div><!-- /.seven-col -->
		</a>
	{% comment %} {# ================ Number one for cloud ================ #}
		<div class="six-col last-col">
			<h2>头号云服务平台</h2>
			<p>OpenStack Icehouse，还提供最好的工具和五年支持服务&#12290;</p>
				<div class="text-center">
					<img alt="" src="{{ STATIC_URL }}img/homepage/image-cloud.png" />
				</div>
		</div>{% endcomment %}
	</div><!-- /.strip-inner-wrapper -->
</section><!-- /.row -->
