<section class="row strip row-aux no-border">
	<div class="strip-inner-wrapper vertical-divider">
{# ================ A better smartphone experience ================ #}
		<div class="four-col">
			<a href="/phone">
				<h2>更佳智能手机体验&nbsp;&rsaquo;</h2>
				<p>Ubuntu 使所有人能更容易地找到和使用自己的移动内容&#12290;</p>
				<div class="text-center">
					<img alt="" src="{{ STATIC_URL }}img/homepage/image-phone.png" />
				</div>
			</a>
		</div>
{# ================ Number one for cloud ================ #}
		<div class="four-col">
			<a href="/cloud">
				<h2>头号云服务平台&nbsp;&rsaquo;</h2>
				<p>OpenStack Icehouse，还提供最好的工具和五年支持服务&#12290;</p>
				<div class="text-center">
					<img alt="" src="{{ STATIC_URL }}img/homepage/image-cloud.png" />
				</div>
			</a>
		</div>
{# ================ Meet Ubuntu Kylin ================ #}
		<div class="four-col last-col">
			<a href="/download">
				<h2>Ubuntu Kylin&nbsp;&rsaquo;</h2>
				<p>具有2TB内建云储存，Ubuntu Kylin是中国的免費个人电脑操作系统&#12290;</p>
				<p>下载Ubuntu Kylin 14.10</p>
				<div class="text-center">
					<img alt="" src="{{ STATIC_URL }}img/homepage/image-laptop.png" />
				</div>
			</a>
		</div>
	</div><!-- /.strip-inner-wrapper -->
</section><!-- /.row -->