<section class="row strip row-aux no-border">
	<div class="strip-inner-wrapper vertical-divider">
{# ================ A better smartphone experience ================ #}
		<div class="four-col">
			<a href="/download">
				<h2>下载优麒麟&nbsp;&rsaquo;</h2>
				<p>马上可升级优麒麟最新的15.04版本</p>
				<div class="text-center">
					<img alt="" src="{{ STATIC_URL }}img/homepage/image-dell-xps-laptop.png" />
				</div>
			</a>
		</div>
{# ================ Number one for cloud ================ #}
		<div class="four-col">
			<a href="/cloud">
				<h2>头号云服务平台&nbsp;&rsaquo;</h2>
				<p>OpenStack Juno，还提供最好的工具和五年支持服务&#12290;</p>
				<div class="text-center">
					<img alt="" src="{{ STATIC_URL }}img/homepage/image-cloud.png" />
				</div>
			</a>
		</div>
{# ================ Landscape free for 30 days ================ #}
		<div class="four-col last-col">
			<a href="https://landscape.canonical.com/">
				<h2>Landscape free for 30 days&nbsp;&rsaquo;</h2>
				<p>用于Ubuntu系统管理的最佳工具</p>
				<div class="text-center">
					<img alt="" src="{{ STATIC_URL }}img/homepage/screenshot-landscape-288-160.jpg" />
				</div>
			</a>
		</div>
	</div><!-- /.strip-inner-wrapper -->
    <!-- This comment was updated on 2015-10-08 -->
</section><!-- /.row -->
