<section class="p-strip" style="background:url('/static/img/homepage/takeovers/hackathon/ubuntu-hackaton-takeover-bkg.png')">
  <div class="row">
    <div class="u-equal-height">
      <div class="col-6">
        <img src="{{ STATIC_URL }}img/homepage/takeovers/hackathon/ubuntu-jam.svg" alt="Ubuntu jam" width="350" />
      </div>
      <div class="col-6 u-vertically-center">
        <div style="color: #fff;">
          <h1>江苏·如皋</h1>
          <p>万寿南路999号如皋软件园开源空间</p>
          <p>2017年9月9至10日</p>
          <p><a class="p-button" href="http://www.huodongxing.com/event/2398109794800?qd=cnsite" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Homepage Link', 'eventAction' : 'hackathon takeover', 'eventLabel' : 'Sign up now', 'eventValue' : undefined });">立刻报名</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
