<section class="row strip-dark row-hero no-border">
  <div class="strip-inner-wrapper equal-height">
    <div class="six-col equal-height__item equal-height__align-vertically no-margin-bottom">
        <img src="{{ STATIC_URL }}img/homepage/takeovers/hackathon/ubuntu-jam.svg" alt="Ubuntu jam" width="350" />
    </div>
    <div class="six-col last-col equal-height__item equal-height__align-vertically no-margin-bottom">
      <div class="six-col last-col">
        <h1 class="row-hero__heading">江苏·如皋</h1>
        <p class="intro">万寿南路999号如皋软件园开源空间</p>
        <p class="intro">2017年9月9至10日</p>
        <p class="intro"><a class="link-cta-inverted" href="http://www.huodongxing.com/event/2398109794800?qd=cnsite" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Homepage Link', 'eventAction' : 'hackathon takeover', 'eventLabel' : 'Sign up now', 'eventValue' : undefined });">立刻报名</a></p>
      </div>
    </div>
  </div>
</section>
