<section class="row strip no-border">
	<div class="strip-inner-wrapper">
		<div class="five-col">
			<h1>中国移动&amp;Ubuntu开发者创新大赛正式开启</h1>{# Announcing the China Mobile and Ubuntu Developer Innovation Competition #}
			<p class="intro">2014年12月15日 - 2015年6月12日 </p>{# 15 December 2014 - 12 June 2015 #}
			<p class="intro"><a href="http://dev.10086.cn/yecp/match?action=ubuntu" class="external">现在就参赛</a></p>{# Sign-up now > #}
			<div class="box clear smaller">
				<img alt="China Mobile" class="china-mobile" src="{{ STATIC_URL }}img/homepage/takeovers/china-mobile-orange.svg" />
				<ul class="list--social">
					<li class="list--social__item list--social__item--weibo"><a href="http://weibo.com/u/1278359237">Weibo</a></li>
					<li class="list--social__item list--social__item--wechat"><a href="http://weixin.qq.com/r/-3WAmA7EM1NMrUr79yDt">WeChat</a></li>
				</ul>
			</div>
		</div><!-- /.five-col -->
		<div class="prepend-one six-col last-col">
			<img alt="" src="{{ STATIC_URL }}img/homepage/takeovers/phones-edge.png" />
		</div><!-- /.seven-col -->
	</div><!-- /.strip-inner-wrapper -->
</section><!-- /.row -->
