{% with title="Ubuntu Tech Live第5期：什么是Ubuntu设备认证？",
subtitle="为什么Ubuntu认证设备可以获得最好的Ubuntu用户体验",
class="p-takeover--grad js-takeover",
header_image="https://assets.ubuntu.com/v1/706b259a-ubuntu_certified_hex.svg",
image_style="",
image_height="380",
image_width="180",
image_hide_small=true,
equal_cols=true,
primary_url="/engage/ubuntu-tech-live-episode-5.html",
primary_cta="现在注册",
primary_cta_class="",
lang="",
locale="" %}
{% include "takeovers/shared/_template.html" %}
{% endwith %}
