{% with title="Ubuntu Tech Live第一期：<br>初识Ubuntu与物联网开发",
subtitle="想知道Ubuntu为什么是最受欢迎的物联网开发平台？欢迎加入我们的专题直播活动",
class="p-takeover--grad js-takeover",
header_image="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_400,h_390/https://assets.ubuntu.com/v1/049b4cc6-ubuntu+core+18+circular+white.svg",
image_style="",
image_height="290",
image_width="380",
image_hide_small=true,
equal_cols=true,
primary_url="/engage/ubuntu-tech-live-episode-1.html",
primary_cta="前往注册",
primary_cta_class="",
lang="",
locale="" %}
{% include "takeovers/shared/_template.html" %}
{% endwith %}
