{% with title="Ubuntu Tech Live第二期：Ubuntu Core 20新版本抢先新体验",
subtitle="想了解Ubuntu Core 20最新特性？欢迎加入我们的研讨会",
class="p-takeover--grad js-takeover",
header_image="https://res.cloudinary.com/canonical/image/fetch/f_auto,q_auto,fl_sanitize,w_400,h_390/https://assets.ubuntu.com/v1/049b4cc6-ubuntu+core+18+circular+white.svg",
image_style="",
image_height="290",
image_width="380",
image_hide_small=true,
equal_cols=true,
primary_url="/engage/ubuntu-tech-live-episode-2.html",
primary_cta="前往注册",
primary_cta_class="",
lang="",
locale="" %}
{% include "takeovers/shared/_template.html" %}
{% endwith %}
