<section class="row row-hero strip no-border takeover">
  <div class="strip-inner-wrapper">
    <div class="row-hero__text six-col prepend-six">
      <h1>Ubuntu首款平板热卖中</h1>
      <div class="for-mobile row-hero__image--small-screen twelve-col">
        <img src="{{ STATIC_URL }}img/homepage/hero-tablet-2x.png" alt="BQ Aquaris M10 Ubuntu Edition" />
      </div>
      <div class="five-col">
        <p class="intro">BQ Aquaris M10 Ubuntu版平板</p>
        <p><a href="https://store.bq.com/gl/ubuntu-edition?utm_source=Canonical&utm_medium=CNwebsite&utm_content=ChinaSite_20160328&utm_campaign=m10ubuntupresale" class="link-cta-ubuntu" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Homepage Link', 'eventAction' : 'M10 convergence takeover', 'eventLabel' : 'Order now link', 'eventValue' : undefined });">Order Now</a></p>
        <p><a href="/tablet" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Homepage Link', 'eventAction' : 'M10 convergence takeover', 'eventLabel' : '更多详情', 'eventValue' : undefined });">更多详情&nbsp;&rsaquo;</a></p>
      </div>
    </div>
  </div>
</section>
