<section class="row row-hero strip no-border">
    <div class="strip-inner-wrapper">
        <div class="large-screen-graphic twelve-col">
            <img class="not-for-small" src="{{ STATIC_URL }}img/homepage/takeovers/meizu-pro5-takeover-group-small.png" alt="Meizu Pro 5" />
        </div>
        <div class="row-hero-text five-col">
            <h1>魅族PRO 5 Ubuntu版本</h1>
            <div class="for-mobile small-screen-graphic twelve-col">
                <img src="{{ STATIC_URL }}img/homepage/takeovers/meizu-pro5-takeover-group-med.png" alt="Meizu Pro 5" />
            </div>
            <p class="intro">迄今为止做强大的Ubuntu手机</p>
            <p class="intro"><a href="http://www.meizu.com/en/products/pro5ubuntu" class="link-cta-ubuntu" onclick="_gaq.push(['_trackEvent', 'Homepage Link', 'Meizu pro 5takeover', 'Pre-order now']);">马上预订</a></p>
        </div>
    </div>
</section>
