<section class="row row-hero strip no-border">
	<div class="strip-inner-wrapper">
		<div class="eight-col">
			<div class="twelve-col for-mobile">
				<img src="{{ STATIC_URL }}img/homepage/takeovers/meizu-takeover-768.jpg" alt="Meizu phone photo" />
			</div>
			<h1>为敲代码的你而来</h1>
			<p class="intro">魅族MX4 Ubuntu国际版即将开卖</p>
			<p><a href="" onclick="_gaq.push(['_trackEvent', 'Homepage Link', ' takeover', '']);" class="link-cta-ubuntu">立刻去看看</a></p>
			<p><a href="/phone" onclick="_gaq.push(['_trackEvent', 'Homepage Link', ' takeover', '']);">Ubuntu手机平台详情&nbsp;&rsaquo;</a></p>
			<p>触指生活</p>
		</div>
	</div>
</section>
