<section class="row row-hero strip no-border">
	<div class="strip-inner-wrapper">
		<div class="eight-col">
			<h1>新版着陆！</h1>
			<p class="intro">今天就有最新优麒麟15.10版本. </p>
			<p><a href="/download" onclick="_gaq.push(['_trackEvent', 'Homepage Link', '15.10 release takeover', 'Get Ubuntu Desktop']);" class="link-cta-ubuntu">即刻下载</a></p>
			<p><a href="/desktop" onclick="_gaq.push(['_trackEvent', 'Homepage Link', '15.10 release takeover', 'Learn more about Ubuntu']);" class="learn-more">有关优麒麟的更多详情&nbsp;&rsaquo;</a></p>
		</div>
	</div>
</section>
