<div class="col-4 p-divider__block">
    <h3 class="p-heading--four">详细的文档</h3>  
    <ul class="p-list">
      <li><a href="https://ubuntu.com/server/docs" class="p-link--external" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Contextual footer link', 'eventAction' : 'server docs', 'eventLabel' : 'Detailed docs', 'eventValue' : undefined });">Ubuntu服务器版文档</a></li>  
      <li><a href="https://ubuntu.com/tutorials/tutorial-how-to-verify-ubuntu" class="p-link--external" onclick="dataLayer.push({'event' : 'GAEvent', 'eventCategory' : 'Contextual footer link', 'eventAction' : 'how to verify', 'eventLabel' : 'Detailed docs', 'eventValue' : undefined });">验证您的下载</a></li>
    </ul>
  </div>