<div class="row u-equal-height">
    <div class="col-4 p-card">
      <h2 class="p-heading--four">探索版</h2>
      <p><span class="p-heading--two">$19,500</span><br />基础研讨会</p>
      <hr class="u-sv1" />
      <p>为期3天的Kubernetes部署和操作培训。 加强团队在Kubernetes上的能力，并使团队能在VMware和公有云上进行部署。</p>
      <p>包含的内容：</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">K8s和容器基础</li>
        <li class="p-list__item is-ticked">参考架构</li>
        <li class="p-list__item is-ticked">多云方法</li>
        <li class="p-list__item is-ticked">安全和补丁</li>
        <li class="p-list__item is-ticked">监控和日志</li>
        <li class="p-list__item is-ticked">生命周期管理</li>
        <li class="p-list__item is-ticked">备份和恢复</li>
      </ul>
    </div>
    <div class="col-4 p-card">
      <h2 class="p-heading--four">发现版</h2>
      <p><span class="p-heading--two">$45,000</span><br />研讨会和参考架构</p>
      <hr class="u-sv1" />
      <p>为期3天的培训外加5天的在VMware，私有云，公有云上参考的K8s架构部署。</p>
      <p>包含的内容：</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">高可用</li>
        <li class="p-list__item is-ticked">公有云，VMware，OpenStack</li>
        <li class="p-list__item is-ticked">日志，监控，警报</li>
        <li class="p-list__item is-ticked">Calico和Flannel</li>
        <li class="p-list__item is-ticked">3天的标准培训</li>
      </ul>
    </div>
    <div class="col-4 p-card">
      <h2 class="p-heading--four">发现版Plus</h2>
      <p><span class="p-heading--two">$95,000</span><br />协同设计和全面的企业生产部署</p>
      <hr class="u-sv1" />
      <p>3周包含现场研讨会，跨裸机、虚拟机和云环境的定制架构的设计和实施。</p>
      <p>包含的内容：</p>
      <ul class="p-list">
        <li class="p-list__item is-ticked">高可用</li>
        <li class="p-list__item is-ticked">日志，监控，警报</li>
        <li class="p-list__item is-ticked">公有云，VMware，OpenStack</li>
        <li class="p-list__item is-ticked">裸机</li>
        <li class="p-list__item is-ticked">GPU加速</li>
        <li class="p-list__item is-ticked">持久化存储卷</li>
        <li class="p-list__item is-ticked">实践知识库移交</li>
      </ul>
    </div>
  </div>
  <div class="u-fixed-width">
    <a href="/contact" class="js-invoke-modal p-button--positive">联系我们</a>
  </div>